NET "IFCLK" TNM_NET = "IFCLK";
TIMESPEC "TS_IFCLK" = PERIOD "IFCLK" 20 ns HIGH 50 %;
NET "IFCLK"  LOC = "J14" | IOSTANDARD = LVCMOS33 ;

NET "RESET" LOC = "R11" | IOSTANDARD = LVCMOS33 ;			# PA0
NET "CONT"  LOC = "T10" | IOSTANDARD = LVCMOS33 ;			# PA1
NET "SLOE"  LOC = "H13" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# PA2
#NET "PA<3>"	LOC = "T3" | IOSTANDARD = LVCMOS33 ;		# PA3/WU2
NET "FIFOADR0"  LOC = "T11" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;	# PA4
NET "FIFOADR1"  LOC = "N11" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;	# PA5
NET "PKTEND"  LOC = "T5" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# PA6
#NET "PA<7>"	LOC = "R3" | IOSTANDARD = LVCMOS33 ;		# PA7/FLAGD/SLCS#

NET "FD<0>"	LOC = "D16" | IOSTANDARD = LVCMOS33 ;		# PB0/FD0
NET "FD<1>"	LOC = "F15" | IOSTANDARD = LVCMOS33 ;		# PB1/FD1
NET "FD<2>"	LOC = "E15" | IOSTANDARD = LVCMOS33 ;		# PB2/FD2
NET "FD<3>"	LOC = "D14" | IOSTANDARD = LVCMOS33 ;		# PB3/FD3
NET "FD<4>"	LOC = "F13" | IOSTANDARD = LVCMOS33 ;		# PB4/FD4
NET "FD<5>"	LOC = "E12" | IOSTANDARD = LVCMOS33 ;		# PB5/FD5
NET "FD<6>"	LOC = "F12" | IOSTANDARD = LVCMOS33 ;		# PB6/FD6
NET "FD<7>"	LOC = "G12" | IOSTANDARD = LVCMOS33 ;		# PB7/FD7
NET "FD<8>"	LOC = "H14" | IOSTANDARD = LVCMOS33 ;		# PD0/FD8
NET "FD<9>"	LOC = "J11" | IOSTANDARD = LVCMOS33 ;		# PD1/FD9
NET "FD<10>"	LOC = "J12" | IOSTANDARD = LVCMOS33 ;		# PD2/FD10
NET "FD<11>"	LOC = "J13" | IOSTANDARD = LVCMOS33 ;		# PD3/FD11
NET "FD<12>"	LOC = "K12" | IOSTANDARD = LVCMOS33 ;		# PD4/FD12
NET "FD<13>"	LOC = "K15" | IOSTANDARD = LVCMOS33 ;		# PD5/FD13
NET "FD<14>"	LOC = "K16" | IOSTANDARD = LVCMOS33 ;		# PD6/FD14
NET "FD<15>"	LOC = "M14" | IOSTANDARD = LVCMOS33 ;		# PD7/FD15

NET "FLAGB"	LOC = "G16" | IOSTANDARD = LVCMOS33 ;		# CTL1/FLAGB

NET "SLRD"	LOC = "H16" | IOSTANDARD = LVCMOS33 ;		# RDY0/SLRD
NET "SLWR"	LOC = "H15" | IOSTANDARD = LVCMOS33 ;		# RDY1/SLWR
