CONFIG VCCAUX=3.3;
NET "Clk" TNM_NET = Clk;
#TIMESPEC TS_Clk = PERIOD "Clk" 6.000 ns HIGH 50%;  #Virtex 5 LXT after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 15 ns HIGH 50%;     #Spartan II after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.755 ns HIGH 50%;  #Spartan 3AN before removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.091 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
TIMESPEC TS_Clk = PERIOD "Clk" 10.000 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.500 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.375 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.250 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.150 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
NET "MemTyp<0>" IOSTANDARD = "LVTTL";
NET "MemTyp<1>" IOSTANDARD = "LVTTL";
NET "MC<0>" IOSTANDARD = "LVTTL";
NET "MC<1>" IOSTANDARD = "LVTTL";
NET "uLen<0>" IOSTANDARD = "LVTTL";
NET "uLen<1>" IOSTANDARD = "LVTTL";
NET "xIRQ" IOSTANDARD = "LVTTL";
NET "SC" IOSTANDARD = "LVTTL";
NET "Vector<0>" IOSTANDARD = "LVTTL";
NET "Vector<1>" IOSTANDARD = "LVTTL";
NET "Vector<2>" IOSTANDARD = "LVTTL";
NET "Vector<3>" IOSTANDARD = "LVTTL";
NET "Vector<4>" IOSTANDARD = "LVTTL";
NET "Vector<5>" IOSTANDARD = "LVTTL";
NET "Vector<6>" IOSTANDARD = "LVTTL";
NET "Vector<7>" IOSTANDARD = "LVTTL";
NET "Vector<8>" IOSTANDARD = "LVTTL";
NET "Vector<9>" IOSTANDARD = "LVTTL";
NET "Vector<10>" IOSTANDARD = "LVTTL";
NET "Vector<11>" IOSTANDARD = "LVTTL";
NET "Vector<12>" IOSTANDARD = "LVTTL";
NET "Vector<13>" IOSTANDARD = "LVTTL";
NET "Vector<14>" IOSTANDARD = "LVTTL";
NET "Vector<15>" IOSTANDARD = "LVTTL";
NET "A<0>" IOSTANDARD = "LVTTL";
NET "A<1>" IOSTANDARD = "LVTTL";
NET "A<2>" IOSTANDARD = "LVTTL";
NET "A<3>" IOSTANDARD = "LVTTL";
NET "A<4>" IOSTANDARD = "LVTTL";
NET "A<5>" IOSTANDARD = "LVTTL";
NET "A<6>" IOSTANDARD = "LVTTL";
NET "A<7>" IOSTANDARD = "LVTTL";
NET "Wait" IOSTANDARD = "LVTTL";
NET "Clk" IOSTANDARD = "LVTTL";
NET "IR<0>" IOSTANDARD = "LVTTL";
NET "IR<1>" IOSTANDARD = "LVTTL";
NET "IR<2>" IOSTANDARD = "LVTTL";
NET "IR<3>" IOSTANDARD = "LVTTL";
NET "IR<4>" IOSTANDARD = "LVTTL";
NET "IR<5>" IOSTANDARD = "LVTTL";
NET "IR<6>" IOSTANDARD = "LVTTL";
NET "IR<7>" IOSTANDARD = "LVTTL";
NET "Int" IOSTANDARD = "LVTTL";
NET "OP1<0>" IOSTANDARD = "LVTTL";
NET "OP1<1>" IOSTANDARD = "LVTTL";
NET "OP1<2>" IOSTANDARD = "LVTTL";
NET "OP1<3>" IOSTANDARD = "LVTTL";
NET "OP1<4>" IOSTANDARD = "LVTTL";
NET "OP1<5>" IOSTANDARD = "LVTTL";
NET "OP1<6>" IOSTANDARD = "LVTTL";
NET "OP1<7>" IOSTANDARD = "LVTTL";
NET "OP2<0>" IOSTANDARD = "LVTTL";
NET "OP2<1>" IOSTANDARD = "LVTTL";
NET "OP2<2>" IOSTANDARD = "LVTTL";
NET "OP2<3>" IOSTANDARD = "LVTTL";
NET "OP2<4>" IOSTANDARD = "LVTTL";
NET "OP2<5>" IOSTANDARD = "LVTTL";
NET "OP2<6>" IOSTANDARD = "LVTTL";
NET "OP2<7>" IOSTANDARD = "LVTTL";
NET "P<0>" IOSTANDARD = "LVTTL";
NET "P<1>" IOSTANDARD = "LVTTL";
NET "P<2>" IOSTANDARD = "LVTTL";
NET "P<3>" IOSTANDARD = "LVTTL";
NET "P<4>" IOSTANDARD = "LVTTL";
NET "P<5>" IOSTANDARD = "LVTTL";
NET "P<6>" IOSTANDARD = "LVTTL";
NET "P<7>" IOSTANDARD = "LVTTL";
NET "PC<0>" IOSTANDARD = "LVTTL";
NET "PC<1>" IOSTANDARD = "LVTTL";
NET "PC<2>" IOSTANDARD = "LVTTL";
NET "PC<3>" IOSTANDARD = "LVTTL";
NET "PC<4>" IOSTANDARD = "LVTTL";
NET "PC<5>" IOSTANDARD = "LVTTL";
NET "PC<6>" IOSTANDARD = "LVTTL";
NET "PC<7>" IOSTANDARD = "LVTTL";
NET "PC<8>" IOSTANDARD = "LVTTL";
NET "PC<9>" IOSTANDARD = "LVTTL";
NET "PC<10>" IOSTANDARD = "LVTTL";
NET "PC<11>" IOSTANDARD = "LVTTL";
NET "PC<12>" IOSTANDARD = "LVTTL";
NET "PC<13>" IOSTANDARD = "LVTTL";
NET "PC<14>" IOSTANDARD = "LVTTL";
NET "PC<15>" IOSTANDARD = "LVTTL";
NET "Rst" IOSTANDARD = "LVTTL";
NET "S<0>" IOSTANDARD = "LVTTL";
NET "S<1>" IOSTANDARD = "LVTTL";
NET "S<2>" IOSTANDARD = "LVTTL";
NET "S<3>" IOSTANDARD = "LVTTL";
NET "S<4>" IOSTANDARD = "LVTTL";
NET "S<5>" IOSTANDARD = "LVTTL";
NET "S<6>" IOSTANDARD = "LVTTL";
NET "S<7>" IOSTANDARD = "LVTTL";
NET "X<0>" IOSTANDARD = "LVTTL";
NET "X<1>" IOSTANDARD = "LVTTL";
NET "X<2>" IOSTANDARD = "LVTTL";
NET "X<3>" IOSTANDARD = "LVTTL";
NET "X<4>" IOSTANDARD = "LVTTL";
NET "X<5>" IOSTANDARD = "LVTTL";
NET "X<6>" IOSTANDARD = "LVTTL";
NET "X<7>" IOSTANDARD = "LVTTL";
NET "AO<0>" IOSTANDARD = "LVTTL";
NET "AO<1>" IOSTANDARD = "LVTTL";
NET "AO<2>" IOSTANDARD = "LVTTL";
NET "AO<3>" IOSTANDARD = "LVTTL";
NET "AO<4>" IOSTANDARD = "LVTTL";
NET "AO<5>" IOSTANDARD = "LVTTL";
NET "AO<6>" IOSTANDARD = "LVTTL";
NET "AO<7>" IOSTANDARD = "LVTTL";
NET "AO<8>" IOSTANDARD = "LVTTL";
NET "AO<9>" IOSTANDARD = "LVTTL";
NET "AO<10>" IOSTANDARD = "LVTTL";
NET "AO<11>" IOSTANDARD = "LVTTL";
NET "AO<12>" IOSTANDARD = "LVTTL";
NET "AO<13>" IOSTANDARD = "LVTTL";
NET "AO<14>" IOSTANDARD = "LVTTL";
NET "AO<15>" IOSTANDARD = "LVTTL";
NET "DI<0>" IOSTANDARD = "LVTTL";
NET "DI<1>" IOSTANDARD = "LVTTL";
NET "DI<2>" IOSTANDARD = "LVTTL";
NET "DI<3>" IOSTANDARD = "LVTTL";
NET "DI<4>" IOSTANDARD = "LVTTL";
NET "DI<5>" IOSTANDARD = "LVTTL";
NET "DI<6>" IOSTANDARD = "LVTTL";
NET "DI<7>" IOSTANDARD = "LVTTL";
NET "DO<0>" IOSTANDARD = "LVTTL";
NET "DO<1>" IOSTANDARD = "LVTTL";
NET "DO<2>" IOSTANDARD = "LVTTL";
NET "DO<3>" IOSTANDARD = "LVTTL";
NET "DO<4>" IOSTANDARD = "LVTTL";
NET "DO<5>" IOSTANDARD = "LVTTL";
NET "DO<6>" IOSTANDARD = "LVTTL";
NET "DO<7>" IOSTANDARD = "LVTTL";
NET "Y<0>" IOSTANDARD = "LVTTL";
NET "Y<1>" IOSTANDARD = "LVTTL";
NET "Y<2>" IOSTANDARD = "LVTTL";
NET "Y<3>" IOSTANDARD = "LVTTL";
NET "Y<4>" IOSTANDARD = "LVTTL";
NET "Y<5>" IOSTANDARD = "LVTTL";
NET "Y<6>" IOSTANDARD = "LVTTL";
NET "Y<7>" IOSTANDARD = "LVTTL";
NET "RMW" IOSTANDARD = "LVTTL";
NET "IRQ_Msk" IOSTANDARD = "LVTTL";
NET "Mode<0>" IOSTANDARD = "LVTTL";
NET "Mode<1>" IOSTANDARD = "LVTTL";
NET "Mode<2>" IOSTANDARD = "LVTTL";
NET "Done" IOSTANDARD = "LVTTL";
NET "IO_Op<0>" IOSTANDARD = "LVTTL";
NET "IO_Op<1>" IOSTANDARD = "LVTTL";
NET "SC" SLEW = FAST;
NET "Y<7>" SLEW = FAST;
NET "Y<6>" SLEW = FAST;
NET "Y<5>" SLEW = FAST;
NET "Y<4>" SLEW = FAST;
NET "Y<3>" SLEW = FAST;
NET "Y<2>" SLEW = FAST;
NET "Y<1>" SLEW = FAST;
NET "Y<0>" SLEW = FAST;
NET "DO<7>" SLEW = FAST;
NET "DO<6>" SLEW = FAST;
NET "DO<5>" SLEW = FAST;
NET "DO<4>" SLEW = FAST;
NET "DO<3>" SLEW = FAST;
NET "DO<2>" SLEW = FAST;
NET "DO<1>" SLEW = FAST;
NET "DO<0>" SLEW = FAST;
NET "DO<0>" DRIVE = 24;
NET "DO<1>" DRIVE = 24;
NET "DO<2>" DRIVE = 24;
NET "DO<3>" DRIVE = 24;
NET "DO<4>" DRIVE = 24;
NET "DO<5>" DRIVE = 24;
NET "DO<6>" DRIVE = 24;
NET "DO<7>" DRIVE = 24;
NET "AO<15>" SLEW = FAST;
NET "AO<14>" SLEW = FAST;
NET "AO<15>" DRIVE = 12;
NET "AO<14>" DRIVE = 12;
NET "AO<13>" DRIVE = 12;
NET "AO<13>" SLEW = FAST;
NET "AO<12>" DRIVE = 12;
NET "AO<11>" DRIVE = 12;
NET "AO<10>" DRIVE = 12;
NET "AO<9>" DRIVE = 12;
NET "AO<8>" DRIVE = 12;
NET "AO<7>" DRIVE = 12;
NET "AO<12>" SLEW = FAST;
NET "AO<11>" SLEW = FAST;
NET "AO<10>" SLEW = FAST;
NET "AO<9>" SLEW = FAST;
NET "AO<8>" SLEW = FAST;
NET "AO<7>" SLEW = FAST;
NET "AO<6>" DRIVE = 12;
NET "AO<5>" DRIVE = 12;
NET "AO<4>" DRIVE = 12;
NET "AO<3>" DRIVE = 12;
NET "AO<2>" DRIVE = 12;
NET "AO<1>" DRIVE = 12;
NET "AO<2>" SLEW = FAST;
NET "AO<1>" SLEW = FAST;
NET "AO<3>" SLEW = FAST;
NET "AO<4>" SLEW = FAST;
NET "AO<5>" SLEW = FAST;
NET "AO<6>" SLEW = FAST;
NET "X<1>" DRIVE = 4;
NET "X<2>" DRIVE = 4;
NET "X<3>" DRIVE = 4;
NET "X<4>" DRIVE = 4;
NET "X<5>" DRIVE = 4;
NET "X<6>" DRIVE = 4;
NET "X<7>" DRIVE = 4;
NET "AO<0>" DRIVE = 12;
NET "AO<0>" SLEW = FAST;
NET "X<7>" SLEW = FAST;
NET "X<6>" SLEW = FAST;
NET "X<5>" SLEW = FAST;
NET "X<4>" SLEW = FAST;
NET "X<3>" SLEW = FAST;
NET "X<2>" SLEW = FAST;
NET "X<1>" SLEW = FAST;
NET "Y<0>" DRIVE = 4;
NET "Y<1>" DRIVE = 4;
NET "Y<2>" DRIVE = 4;
NET "Y<3>" DRIVE = 4;
NET "Y<4>" DRIVE = 4;
NET "Y<5>" DRIVE = 4;
NET "Y<6>" DRIVE = 4;
NET "Y<7>" DRIVE = 4;
NET "X<0>" DRIVE = 4;
NET "X<0>" SLEW = FAST;
NET "S<0>" DRIVE = 4;
NET "S<1>" DRIVE = 4;
NET "S<2>" DRIVE = 4;
NET "S<3>" DRIVE = 4;
NET "S<4>" DRIVE = 4;
NET "S<5>" DRIVE = 4;
NET "S<6>" DRIVE = 4;
NET "S<7>" DRIVE = 4;
NET "S<0>" SLEW = FAST;
NET "S<1>" SLEW = FAST;
NET "S<2>" SLEW = FAST;
NET "S<3>" SLEW = FAST;
NET "S<4>" SLEW = FAST;
NET "S<5>" SLEW = FAST;
NET "S<6>" SLEW = FAST;
NET "S<7>" SLEW = FAST;
NET "PC<7>" DRIVE = 4;
NET "PC<8>" DRIVE = 4;
NET "PC<9>" DRIVE = 4;
NET "PC<10>" DRIVE = 4;
NET "PC<11>" DRIVE = 4;
NET "PC<12>" DRIVE = 4;
NET "PC<13>" DRIVE = 4;
NET "PC<14>" DRIVE = 4;
NET "PC<15>" DRIVE = 4;
NET "PC<15>" SLEW = FAST;
NET "PC<14>" SLEW = FAST;
NET "PC<13>" SLEW = FAST;
NET "PC<12>" SLEW = FAST;
NET "PC<11>" SLEW = FAST;
NET "PC<10>" SLEW = FAST;
NET "PC<9>" SLEW = FAST;
NET "PC<8>" SLEW = FAST;
NET "PC<7>" SLEW = FAST;
NET "PC<0>" DRIVE = 4;
NET "PC<1>" DRIVE = 4;
NET "PC<2>" DRIVE = 4;
NET "PC<3>" DRIVE = 4;
NET "PC<4>" DRIVE = 4;
NET "PC<5>" DRIVE = 4;
NET "PC<6>" DRIVE = 4;
NET "PC<0>" SLEW = FAST;
NET "PC<1>" SLEW = FAST;
NET "PC<2>" SLEW = FAST;
NET "PC<3>" SLEW = FAST;
NET "PC<4>" SLEW = FAST;
NET "PC<5>" SLEW = FAST;
NET "PC<6>" SLEW = FAST;
NET "P<7>" DRIVE = 4;
NET "P<6>" DRIVE = 4;
NET "P<5>" DRIVE = 4;
NET "P<4>" DRIVE = 4;
NET "P<3>" DRIVE = 4;
NET "P<2>" DRIVE = 4;
NET "P<1>" DRIVE = 4;
NET "P<0>" DRIVE = 4;
NET "P<0>" SLEW = FAST;
NET "P<1>" SLEW = FAST;
NET "P<2>" SLEW = FAST;
NET "P<3>" SLEW = FAST;
NET "P<4>" SLEW = FAST;
NET "P<5>" SLEW = FAST;
NET "P<6>" SLEW = FAST;
NET "P<7>" SLEW = FAST;
NET "OP2<7>" DRIVE = 4;
NET "OP2<6>" DRIVE = 4;
NET "OP2<5>" DRIVE = 4;
NET "OP2<4>" DRIVE = 4;
NET "OP2<3>" DRIVE = 4;
NET "OP2<2>" DRIVE = 4;
NET "OP2<1>" DRIVE = 4;
NET "OP2<1>" SLEW = FAST;
NET "OP2<2>" SLEW = FAST;
NET "OP2<3>" SLEW = FAST;
NET "OP2<4>" SLEW = FAST;
NET "OP2<5>" SLEW = FAST;
NET "OP2<6>" SLEW = FAST;
NET "OP2<7>" SLEW = FAST;
NET "OP2<0>" DRIVE = 4;
NET "OP1<7>" DRIVE = 4;
NET "OP1<6>" DRIVE = 4;
NET "OP1<5>" DRIVE = 4;
NET "OP1<4>" DRIVE = 4;
NET "OP1<3>" DRIVE = 4;
NET "OP1<2>" DRIVE = 4;
NET "OP1<1>" DRIVE = 4;
NET "OP1<0>" DRIVE = 4;
NET "OP1<0>" SLEW = FAST;
NET "OP1<1>" SLEW = FAST;
NET "OP1<2>" SLEW = FAST;
NET "OP1<3>" SLEW = FAST;
NET "OP1<4>" SLEW = FAST;
NET "OP1<5>" SLEW = FAST;
NET "OP1<6>" SLEW = FAST;
NET "OP1<7>" SLEW = FAST;
NET "OP2<0>" SLEW = FAST;
NET "IR<7>" DRIVE = 4;
NET "IR<6>" DRIVE = 4;
NET "IR<5>" DRIVE = 4;
NET "IR<4>" DRIVE = 4;
NET "IR<3>" DRIVE = 4;
NET "IR<2>" DRIVE = 4;
NET "IR<1>" DRIVE = 4;
NET "IR<0>" DRIVE = 4;
NET "IR<7>" SLEW = FAST;
NET "IR<6>" SLEW = FAST;
NET "IR<5>" SLEW = FAST;
NET "IR<4>" SLEW = FAST;
NET "IR<3>" SLEW = FAST;
NET "IR<2>" SLEW = FAST;
NET "IR<1>" SLEW = FAST;
NET "IR<0>" SLEW = FAST;
NET "A<0>" DRIVE = 4;
NET "A<1>" DRIVE = 4;
NET "A<2>" DRIVE = 4;
NET "A<3>" DRIVE = 4;
NET "A<4>" DRIVE = 4;
NET "A<5>" DRIVE = 4;
NET "A<6>" DRIVE = 4;
NET "A<7>" DRIVE = 4;
NET "A<0>" SLEW = FAST;
NET "A<1>" SLEW = FAST;
NET "A<2>" SLEW = FAST;
NET "A<3>" SLEW = FAST;
NET "A<4>" SLEW = FAST;
NET "A<5>" SLEW = FAST;
NET "A<6>" SLEW = FAST;
NET "SC" DRIVE = 4;
NET "RMW" DRIVE = 4;
NET "RMW" SLEW = FAST;
NET "IRQ_Msk" DRIVE = 4;
NET "Mode<0>" DRIVE = 4;
NET "Mode<1>" DRIVE = 4;
NET "Mode<2>" DRIVE = 4;
NET "IRQ_Msk" SLEW = FAST;
NET "Mode<0>" SLEW = FAST;
NET "Mode<1>" SLEW = FAST;
NET "Mode<2>" SLEW = FAST;
NET "Done" DRIVE = 4;
NET "Done" SLEW = FAST;
NET "IO_Op<0>" DRIVE = 4;
NET "IO_Op<1>" DRIVE = 4;
NET "IO_Op<0>" SLEW = FAST;
NET "IO_Op<1>" SLEW = FAST;
NET "A<7>" SLEW = FAST;
NET "Rdy" IOSTANDARD = "LVTTL";
NET "Rdy" DRIVE = 4;
NET "Rdy" SLEW = FAST;
NET "IntSvc" IOSTANDARD = "LVTTL";
NET "IntSvc" DRIVE = 4;
#pin2ucf - Thu Dec 13 23:31:12 2012
#The following constraints were newly added
NET "IR<6>" LOC = C4;
NET "DI<7>" LOC = L2;
NET "PC<8>" LOC = T10;
NET "Y<1>" LOC = G1;
NET "OP2<3>" LOC = K3;
NET "AO<1>" LOC = L13;
NET "IR<7>" LOC = K14;
NET "Y<2>" LOC = A5;
NET "Clk" LOC = C10;
NET "PC<9>" LOC = R3;
NET "OP2<4>" LOC = P1;
NET "IRQ_Msk" LOC = P11;
NET "AO<2>" LOC = J16;
NET "Y<3>" LOC = H4;
NET "AO<10>" LOC = H15;
NET "OP2<5>" LOC = N3;
NET "RMW" LOC = G2;
NET "AO<3>" LOC = L14;
NET "PC<10>" LOC = T8;
NET "Y<4>" LOC = A6;
NET "MC<0>" LOC = D11;
NET "AO<11>" LOC = M16;
NET "OP2<6>" LOC = T2;
NET "S<0>" LOC = C7;
NET "AO<4>" LOC = J12;
NET "PC<11>" LOC = N9;
NET "Y<5>" LOC = F1;
NET "MC<1>" LOC = A14;
NET "AO<12>" LOC = M14;
NET "OP2<7>" LOC = K4;
NET "S<1>" LOC = B6;
NET "AO<5>" LOC = T11;
NET "PC<12>" LOC = K1;
NET "Y<6>" LOC = C9;
NET "AO<13>" LOC = H16;
NET "S<2>" LOC = B15;
NET "P<0>" LOC = G3;
NET "AO<6>" LOC = J14;
NET "PC<13>" LOC = M4;
NET "Y<7>" LOC = C6;
NET "AO<14>" LOC = E14;
NET "S<3>" LOC = A12;
NET "P<1>" LOC = G4;
NET "AO<7>" LOC = K15;
NET "PC<14>" LOC = N2;
NET "AO<15>" LOC = F14;
NET "S<4>" LOC = D15;
NET "P<2>" LOC = C11;
NET "Rst" LOC = L6;
NET "AO<8>" LOC = M15;
NET "PC<15>" LOC = K16;
NET "S<5>" LOC = B10;
NET "P<3>" LOC = C12;
NET "AO<9>" LOC = J13;
NET "Wait" LOC = J6;
NET "S<6>" LOC = A10;
NET "P<4>" LOC = H5;
NET "S<7>" LOC = B12;
NET "P<5>" LOC = C13;
NET "OP1<0>" LOC = C2;
NET "P<6>" LOC = C8;
NET "OP1<1>" LOC = E13;
NET "P<7>" LOC = A8;
NET "X<0>" LOC = E7;
NET "OP1<2>" LOC = D4;
NET "X<1>" LOC = F3;
NET "OP1<3>" LOC = B3;
NET "uLen<0>" LOC = E4;
NET "X<2>" LOC = F8;
NET "OP1<4>" LOC = A3;
NET "uLen<1>" LOC = F4;
NET "X<3>" LOC = B8;
NET "OP1<5>" LOC = B14;
NET "X<4>" LOC = C5;
NET "A<0>" LOC = D7;
NET "OP1<6>" LOC = H6;
NET "X<5>" LOC = D9;
NET "A<1>" LOC = D1;
NET "OP1<7>" LOC = A13;
NET "X<6>" LOC = A11;
NET "A<2>" LOC = F13;
NET "SC" LOC = P7;
NET "X<7>" LOC = B4;
NET "A<3>" LOC = D16;
NET "IO_Op<0>" LOC = R2;
NET "IO_Op<1>" LOC = J3;
NET "A<4>" LOC = A7;
NET "A<5>" LOC = A4;
NET "MemTyp<0>" LOC = R1;
NET "A<6>" LOC = E3;
NET "MemTyp<1>" LOC = P4;
NET "A<7>" LOC = D8;
NET "Vector<10>" LOC = N1;
NET "IntSvc" LOC = D14;
NET "Vector<11>" LOC = L4;
NET "Mode<0>" LOC = T5;
NET "Vector<12>" LOC = L5;
NET "Mode<1>" LOC = N6;
NET "DO<0>" LOC = R11;
NET "Vector<0>" LOC = T7;
NET "Vector<13>" LOC = N10;
NET "xIRQ" LOC = P8;
NET "Mode<2>" LOC = H1;
NET "DO<1>" LOC = H14;
NET "Vector<1>" LOC = P10;
NET "Vector<14>" LOC = K6;
NET "DO<2>" LOC = G13;
NET "Vector<2>" LOC = M10;
NET "Vector<15>" LOC = P9;
NET "DO<3>" LOC = F15;
NET "Vector<3>" LOC = K5;
NET "Done" LOC = P12;
NET "PC<0>" LOC = R7;
NET "DO<4>" LOC = G16;
NET "Vector<4>" LOC = M1;
NET "DI<0>" LOC = G6;
NET "PC<1>" LOC = R9;
NET "DO<5>" LOC = D10;
NET "Vector<5>" LOC = T9;
NET "Rdy" LOC = D3;
NET "IR<0>" LOC = E1;
NET "DI<1>" LOC = G5;
NET "PC<2>" LOC = P5;
NET "DO<6>" LOC = E16;
NET "Vector<6>" LOC = N7;
NET "IR<1>" LOC = E2;
NET "DI<2>" LOC = H7;
NET "PC<3>" LOC = A9;
NET "DO<7>" LOC = H13;
NET "Vector<7>" LOC = L3;
NET "IR<2>" LOC = G14;
NET "DI<3>" LOC = J7;
NET "PC<4>" LOC = L16;
NET "Int" LOC = L7;
NET "Vector<8>" LOC = M3;
NET "IR<3>" LOC = F16;
NET "DI<4>" LOC = N5;
NET "PC<5>" LOC = N8;
NET "OP2<0>" LOC = P2;
NET "Vector<9>" LOC = J4;
NET "IR<4>" LOC = N4;
NET "DI<5>" LOC = J1;
NET "PC<6>" LOC = P6;
NET "OP2<1>" LOC = L1;
NET "IR<5>" LOC = J2;
NET "DI<6>" LOC = D5;
NET "PC<7>" LOC = E10;
NET "Y<0>" LOC = H3;
NET "OP2<2>" LOC = T6;
NET "AO<0>" LOC = K13;
