NET "Clk" TNM_NET = Clk;
#TIMESPEC TS_Clk = PERIOD "Clk" 6.000 ns HIGH 50%;  #Virtex 5 LXT after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 15 ns HIGH 50%;     #Spartan II after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.755 ns HIGH 50%;  #Spartan 3AN before removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.091 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 10.000 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.500 ns HIGH 50%;   #Spartan 3AN after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.375 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
TIMESPEC TS_Clk = PERIOD "Clk" 9.250 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
#TIMESPEC TS_Clk = PERIOD "Clk" 9.150 ns HIGH 50%;  #Spartan 3AN after removal ~|(reg)
#pin2ucf - Sun Dec 09 10:41:51 2012
#The following constraints were newly added
#NET "IR<6>" LOC = A9
NET "IR<6>" LOC = C4 | IOSTANDARD = "LVTTL";
#NET "DI<7>" LOC = E4
NET "DI<7>" LOC = L2 | IOSTANDARD = "LVTTL";
#NET "PC<8>" LOC = A6
NET "PC<8>" LOC = T10 | IOSTANDARD = "LVTTL";
#NET "Y<1>" LOC = H16
NET "Y<1>" LOC = G1 | IOSTANDARD = "LVTTL";
#NET "OP2<3>" LOC = A11
NET "OP2<3>" LOC = K3 | IOSTANDARD = "LVTTL";
#NET "AO<1>" LOC = M1
NET "AO<1>" LOC = L13 | IOSTANDARD = "LVTTL";
#NET "IR<7>" LOC = E1
NET "IR<7>" LOC = K14 | IOSTANDARD = "LVTTL";
#NET "Y<2>" LOC = M10
NET "Y<2>" LOC = A5 | IOSTANDARD = "LVTTL";
#NET "Clk" LOC = D8
NET "Clk" LOC = C10 | IOSTANDARD = "LVTTL";
#NET "PC<9>" LOC = F8
NET "PC<9>" LOC = R3 | IOSTANDARD = "LVTTL";
#NET "OP2<4>" LOC = G4
NET "OP2<4>" LOC = P1 | IOSTANDARD = "LVTTL";
#NET "IRQ_Msk" LOC = A13
NET "IRQ_Msk" LOC = P11 | IOSTANDARD = "LVTTL";
#NET "AO<2>" LOC = N1
NET "AO<2>" LOC = J16 | IOSTANDARD = "LVTTL";
#NET "Y<3>" LOC = P8
NET "Y<3>" LOC = H4 | IOSTANDARD = "LVTTL";
#NET "AO<10>" LOC = T5
NET "AO<10>" LOC = H15 | IOSTANDARD = "LVTTL";
#NET "OP2<5>" LOC = E3
NET "OP2<5>" LOC = N3 | IOSTANDARD = "LVTTL";
#NET "RMW" LOC = C5
NET "RMW" LOC = G2 | IOSTANDARD = "LVTTL";
#NET "AO<3>" LOC = R1
NET "AO<3>" LOC = L14 | IOSTANDARD = "LVTTL";
#NET "PC<10>" LOC = B6
NET "PC<10>" LOC = T8 | IOSTANDARD = "LVTTL";
#NET "Y<4>" LOC = K16
NET "Y<4>" LOC = A6 | IOSTANDARD = "LVTTL";
#NET "AO<11>" LOC = T6
NET "AO<11>" LOC = M16 | IOSTANDARD = "LVTTL";
#NET "OP2<6>" LOC = H6
NET "OP2<6>" LOC = T2 | IOSTANDARD = "LVTTL";
#NET "S<0>" LOC = C12
NET "S<0>" LOC = C7 | IOSTANDARD = "LVTTL";
#NET "AO<4>" LOC = N2
NET "AO<4>" LOC = J12 | IOSTANDARD = "LVTTL";
#NET "PC<11>" LOC = G13
NET "PC<11>" LOC = N9 | IOSTANDARD = "LVTTL";
#NET "Y<5>" LOC = K15
NET "Y<5>" LOC = F1 | IOSTANDARD = "LVTTL";
#NET "AO<12>" LOC = R5
NET "AO<12>" LOC = M14 | IOSTANDARD = "LVTTL";
#NET "OP2<7>" LOC = D3
NET "OP2<7>" LOC = K4 | IOSTANDARD = "LVTTL";
#NET "S<1>" LOC = R11
NET "S<1>" LOC = B6 | IOSTANDARD = "LVTTL";
#NET "AO<5>" LOC = M3
NET "AO<5>" LOC = T11 | IOSTANDARD = "LVTTL";
NET "Ack_In" LOC = G14 | IOSTANDARD = "LVTTL";
#NET "PC<12>" LOC = E14
NET "PC<12>" LOC = K1 | IOSTANDARD = "LVTTL";
#NET "Y<6>" LOC = M15
NET "Y<6>" LOC = C9 | IOSTANDARD = "LVTTL";
#NET "AO<13>" LOC = P4
NET "AO<13>" LOC = H16 | IOSTANDARD = "LVTTL";
#NET "S<2>" LOC = D14
NET "S<2>" LOC = B15 | IOSTANDARD = "LVTTL";
#NET "P<0>" LOC = H13
NET "P<0>" LOC = G3 | IOSTANDARD = "LVTTL";
#NET "AO<6>" LOC = K4
NET "AO<6>" LOC = J14 | IOSTANDARD = "LVTTL";
#NET "PC<13>" LOC = B8
NET "PC<13>" LOC = M4 | IOSTANDARD = "LVTTL";
#NET "Y<7>" LOC = J16
NET "Y<7>" LOC = C6 | IOSTANDARD = "LVTTL";
#NET "AO<14>" LOC = N3
NET "AO<14>" LOC = E14 | IOSTANDARD = "LVTTL";
#NET "S<3>" LOC = D11
NET "S<3>" LOC = A12 | IOSTANDARD = "LVTTL";
#NET "P<1>" LOC = F13
NET "P<1>" LOC = G4 | IOSTANDARD = "LVTTL";
#NET "AO<7>" LOC = L4
NET "AO<7>" LOC = K15 | IOSTANDARD = "LVTTL";
#NET "PC<14>" LOC = A3
NET "PC<14>" LOC = N2 | IOSTANDARD = "LVTTL";
#NET "AO<15>" LOC = P2
NET "AO<15>" LOC = F14 | IOSTANDARD = "LVTTL";
#NET "S<4>" LOC = A12
NET "S<4>" LOC = D15 | IOSTANDARD = "LVTTL";
NET "xNMI" LOC = D10 | IOSTANDARD = "LVTTL";
#NET "P<2>" LOC = A14
NET "P<2>" LOC = C11 | IOSTANDARD = "LVTTL";
#NET "Rst" LOC = A7
NET "Rst" LOC = L6 | IOSTANDARD = "LVTTL";
#NET "AO<8>" LOC = N6
NET "AO<8>" LOC = M15 | IOSTANDARD = "LVTTL";
#NET "PC<15>" LOC = B12
NET "PC<15>" LOC = K16 | IOSTANDARD = "LVTTL";
#NET "S<5>" LOC = M13
NET "S<5>" LOC = B10 | IOSTANDARD = "LVTTL";
#NET "P<3>" LOC = E13
NET "P<3>" LOC = C12 | IOSTANDARD = "LVTTL";
#NET "AO<9>" LOC = M4
NET "AO<9>" LOC = J13 | IOSTANDARD = "LVTTL";
#NET "S<6>" LOC = N10
NET "S<6>" LOC = A10 | IOSTANDARD = "LVTTL";
#NET "P<4>" LOC = C8
NET "P<4>" LOC = H5 | IOSTANDARD = "LVTTL";
#NET "S<7>" LOC = H15
NET "S<7>" LOC = B12 | IOSTANDARD = "LVTTL";
#NET "P<5>" LOC = D13
NET "P<5>" LOC = C13 | IOSTANDARD = "LVTTL";
#NET "OP1<0>" LOC = T4
NET "OP1<0>" LOC = C2 | IOSTANDARD = "LVTTL";
#NET "P<6>" LOC = F15
NET "P<6>" LOC = C8 | IOSTANDARD = "LVTTL";
#NET "OP1<1>" LOC = T13
NET "OP1<1>" LOC = E13 | IOSTANDARD = "LVTTL";
#NET "P<7>" LOC = E16
NET "P<7>" LOC = A8 | IOSTANDARD = "LVTTL";
#NET "X<0>" LOC = K13
NET "X<0>" LOC = E7 | IOSTANDARD = "LVTTL";
#NET "OP1<2>" LOC = J4
NET "OP1<2>" LOC = D4 | IOSTANDARD = "LVTTL";
#NET "X<1>" LOC = M16
NET "X<1>" LOC = F3 | IOSTANDARD = "LVTTL";
#NET "OP1<3>" LOC = P10
NET "OP1<3>" LOC = B3 | IOSTANDARD = "LVTTL";
#NET "X<2>" LOC = L13
NET "X<2>" LOC = F8 | IOSTANDARD = "LVTTL";
#NET "OP1<4>" LOC = N8
NET "OP1<4>" LOC = A3 | IOSTANDARD = "LVTTL";
#NET "X<3>" LOC = T9
NET "X<3>" LOC = B8 | IOSTANDARD = "LVTTL";
#NET "OP1<5>" LOC = T8
NET "OP1<5>" LOC = B14 | IOSTANDARD = "LVTTL";
#NET "X<4>" LOC = L14
NET "X<4>" LOC = C5 | IOSTANDARD = "LVTTL";
#NET "A<0>" LOC = G16
NET "A<0>" LOC = D7 | IOSTANDARD = "LVTTL";
#NET "OP1<6>" LOC = T11
NET "OP1<6>" LOC = H6 | IOSTANDARD = "LVTTL";
#NET "X<5>" LOC = J14
NET "X<5>" LOC = D9 | IOSTANDARD = "LVTTL";
#NET "A<1>" LOC = P6
NET "A<1>" LOC = D1 | IOSTANDARD = "LVTTL";
#NET "OP1<7>" LOC = D15
NET "OP1<7>" LOC = A13 | IOSTANDARD = "LVTTL";
#NET "X<6>" LOC = K14
NET "X<6>" LOC = A11 | IOSTANDARD = "LVTTL";
#NET "A<2>" LOC = J12
NET "A<2>" LOC = F13 | IOSTANDARD = "LVTTL";
#NET "SC" LOC = A5
NET "SC" LOC = P7 | IOSTANDARD = "LVTTL";
#NET "X<7>" LOC = H14
NET "X<7>" LOC = B4 | IOSTANDARD = "LVTTL";
#NET "A<3>" LOC = J13
NET "A<3>" LOC = D16 | IOSTANDARD = "LVTTL";
#NET "IO_Op<0>" LOC = D7
NET "IO_Op<0>" LOC = R2 | IOSTANDARD = "LVTTL";
#NET "IO_Op<1>" LOC = D1
NET "IO_Op<1>" LOC = J3 | IOSTANDARD = "LVTTL";
#NET "A<4>" LOC = N7
NET "A<4>" LOC = A7 | IOSTANDARD = "LVTTL";
#NET "A<5>" LOC = F14
NET "A<5>" LOC = A4 | IOSTANDARD = "LVTTL";
#NET "A<6>" LOC = L16
NET "A<6>" LOC = E3 | IOSTANDARD = "LVTTL";
#NET "A<7>" LOC = F16
NET "A<7>" LOC = D8 | IOSTANDARD = "LVTTL";
#NET "Vector<10>" LOC = J2
NET "Vector<10>" LOC = N1 | IOSTANDARD = "LVTTL";
#NET "IntSvc" LOC = B14
NET "IntSvc" LOC = D14 | IOSTANDARD = "LVTTL";
#NET "Vector<11>" LOC = H5
NET "Vector<11>" LOC = L4 | IOSTANDARD = "LVTTL";
#NET "Mode<0>" LOC = A4
NET "Mode<0>" LOC = T5 | IOSTANDARD = "LVTTL";
#NET "Vector<12>" LOC = H1
NET "Vector<12>" LOC = L5 | IOSTANDARD = "LVTTL";
#NET "Mode<1>" LOC = B4
NET "Mode<1>" LOC = N6 | IOSTANDARD = "LVTTL";
#NET "DO<0>" LOC = R7
NET "DO<0>" LOC = R11 | IOSTANDARD = "LVTTL";
#NET "Vector<0>" LOC = F7
NET "Vector<0>" LOC = T7 | IOSTANDARD = "LVTTL";
#NET "Vector<13>" LOC = F1
NET "Vector<13>" LOC = N10 | IOSTANDARD = "LVTTL";
#NET "xIRQ" LOC = C11
NET "xIRQ" LOC = P8 | IOSTANDARD = "LVTTL";
#NET "Mode<2>" LOC = D4
NET "Mode<2>" LOC = H1 | IOSTANDARD = "LVTTL";
#NET "DO<1>" LOC = K1
NET "DO<1>" LOC = H14 | IOSTANDARD = "LVTTL";
#NET "Vector<1>" LOC = H3
NET "Vector<1>" LOC = P10 | IOSTANDARD = "LVTTL";
#NET "Vector<14>" LOC = G2
NET "Vector<14>" LOC = K6 | IOSTANDARD = "LVTTL";
#NET "DO<2>" LOC = P9
NET "DO<2>" LOC = G13 | IOSTANDARD = "LVTTL";
#NET "Vector<2>" LOC = F4
NET "Vector<2>" LOC = M10 | IOSTANDARD = "LVTTL";
#NET "Vector<15>" LOC = H4
NET "Vector<15>" LOC = P9 | IOSTANDARD = "LVTTL";
#NET "DO<3>" LOC = N9
NET "DO<3>" LOC = F15 | IOSTANDARD = "LVTTL";
#NET "Vector<3>" LOC = F3
NET "Vector<3>" LOC = K5 | IOSTANDARD = "LVTTL";
#NET "Done" LOC = E2
NET "Done" LOC = P12 | IOSTANDARD = "LVTTL";
#NET "PC<0>" LOC = L3
NET "PC<0>" LOC = R7 | IOSTANDARD = "LVTTL";
#NET "DO<4>" LOC = K3
NET "DO<4>" LOC = G16 | IOSTANDARD = "LVTTL";
#NET "Vector<4>" LOC = G6
NET "Vector<4>" LOC = M1 | IOSTANDARD = "LVTTL";
#NET "DI<0>" LOC = B10
NET "DI<0>" LOC = G6 | IOSTANDARD = "LVTTL";
#NET "PC<1>" LOC = R2
NET "PC<1>" LOC = R9 | IOSTANDARD = "LVTTL";
#NET "DO<5>" LOC = T10
NET "DO<5>" LOC = D10 | IOSTANDARD = "LVTTL";
#NET "Vector<5>" LOC = J3
NET "Vector<5>" LOC = T9 | IOSTANDARD = "LVTTL";
#NET "Rdy" LOC = B3
NET "Rdy" LOC = D3 | IOSTANDARD = "LVTTL";
#NET "IR<0>" LOC = A10
NET "IR<0>" LOC = E1 | IOSTANDARD = "LVTTL";
#NET "DI<1>" LOC = F9
NET "DI<1>" LOC = G5 | IOSTANDARD = "LVTTL";
#NET "PC<2>" LOC = R3
NET "PC<2>" LOC = P5 | IOSTANDARD = "LVTTL";
#NET "DO<6>" LOC = R9
NET "DO<6>" LOC = E16 | IOSTANDARD = "LVTTL";
#NET "Vector<6>" LOC = E9
NET "Vector<6>" LOC = N7 | IOSTANDARD = "LVTTL";
#NET "IR<1>" LOC = P7
NET "IR<1>" LOC = E2 | IOSTANDARD = "LVTTL";
#NET "DI<2>" LOC = E6
NET "DI<2>" LOC = H7 | IOSTANDARD = "LVTTL";
#NET "PC<3>" LOC = C6
NET "PC<3>" LOC = A9 | IOSTANDARD = "LVTTL";
#NET "DO<7>" LOC = T7
NET "DO<7>" LOC = H13 | IOSTANDARD = "LVTTL";
#NET "Vector<7>" LOC = G3
NET "Vector<7>" LOC = L3 | IOSTANDARD = "LVTTL";
#NET "IR<2>" LOC = D5
NET "IR<2>" LOC = G14 | IOSTANDARD = "LVTTL";
#NET "DI<3>" LOC = F10
NET "DI<3>" LOC = J7 | IOSTANDARD = "LVTTL";
#NET "PC<4>" LOC = A8
NET "PC<4>" LOC = L16 | IOSTANDARD = "LVTTL";
#NET "Int" LOC = D6
NET "Int" LOC = L7 | IOSTANDARD = "LVTTL";
#NET "Vector<8>" LOC = G1
NET "Vector<8>" LOC = M3 | IOSTANDARD = "LVTTL";
#NET "IR<3>" LOC = E10
NET "IR<3>" LOC = F16 | IOSTANDARD = "LVTTL";
#NET "DI<4>" LOC = C1
NET "DI<4>" LOC = N5 | IOSTANDARD = "LVTTL";
#NET "PC<5>" LOC = L2
NET "PC<5>" LOC = N8 | IOSTANDARD = "LVTTL";
#NET "OP2<0>" LOC = E7
NET "OP2<0>" LOC = P2 | IOSTANDARD = "LVTTL";
#NET "Vector<9>" LOC = H7
NET "Vector<9>" LOC = J4 | IOSTANDARD = "LVTTL";
#NET "IR<4>" LOC = C2
NET "IR<4>" LOC = N4 | IOSTANDARD = "LVTTL";
#NET "DI<5>" LOC = D9
NET "DI<5>" LOC = J1 | IOSTANDARD = "LVTTL";
#NET "PC<6>" LOC = J6
NET "PC<6>" LOC = P6 | IOSTANDARD = "LVTTL";
#NET "OP2<1>" LOC = J1
NET "OP2<1>" LOC = L1 | IOSTANDARD = "LVTTL";
#NET "IR<5>" LOC = C10
NET "IR<5>" LOC = J2 | IOSTANDARD = "LVTTL";
#NET "DI<6>" LOC = C9
NET "DI<6>" LOC = D5 | IOSTANDARD = "LVTTL";
#NET "PC<7>" LOC = C7
NET "PC<7>" LOC = E10 | IOSTANDARD = "LVTTL";
#NET "Y<0>" LOC = D16
NET "Y<0>" LOC = H3 | IOSTANDARD = "LVTTL";
#NET "OP2<2>" LOC = L1
NET "OP2<2>" LOC = T6 | IOSTANDARD = "LVTTL";
#NET "AO<0>" LOC = P1
NET "AO<0>" LOC = K13 | IOSTANDARD = "LVTTL";
#pin2ucf - Thu Dec 13 23:13:32 2012
#The following constraints were newly added
NET "MC<0>" LOC = D11;
NET "MC<1>" LOC = A14;
NET "Wait" LOC = J6;
NET "uLen<0>" LOC = E4;
NET "uLen<1>" LOC = F4;
NET "MemTyp<0>" LOC = R1;
NET "MemTyp<1>" LOC = P4;
