################################################################################
#
# File:   fpga1.ucf
################################################################################
# Define Device, Package, And Speed Grade
################################################################################

################################################################################
#  	LOCAL BUS 32-bit/33 MHz
################################################################################
NET  "LAD<0>"        LOC = "D7"  ;
NET  "LAD<1>"        LOC = "C7"  ;
NET  "LAD<2>"        LOC = "B7"  ;
NET  "LAD<3>"        LOC = "G8"  ;
NET  "LAD<4>"        LOC = "F8"  ;
NET  "LAD<5>"        LOC = "C8"  ;
NET  "LAD<6>"        LOC = "B8"  ;
NET  "LAD<7>"        LOC = "A8"  ;
NET  "LAD<8>"        LOC = "J9"  ;
NET  "LAD<9>"        LOC = "H9"  ;
NET  "LAD<10>"       LOC = "E9"  ;
NET  "LAD<11>"       LOC = "D9"  ;
NET  "LAD<12>"       LOC = "C9"  ;
NET  "LAD<13>"       LOC = "A9"  ;
NET  "LAD<14>"       LOC = "G10"  ;
NET  "LAD<15>"       LOC = "F10"  ;
NET  "LAD<16>"       LOC = "D10"  ;
NET  "LAD<17>"       LOC = "C10"  ;
NET  "LAD<18>"       LOC = "B10"  ;
NET  "LAD<19>"       LOC = "A10"  ;
NET  "LAD<20>"       LOC = "G11"  ;
NET  "LAD<21>"       LOC = "F11"  ;
NET  "LAD<22>"       LOC = "E11"  ;
NET  "LAD<23>"       LOC = "D11"  ;
NET  "LAD<24>"       LOC = "B11"  ;
NET  "LAD<25>"       LOC = "A11"  ;
NET  "LAD<26>"       LOC = "H12"  ;
NET  "LAD<27>"       LOC = "G12"  ;
NET  "LAD<28>"       LOC = "E12"  ;
NET  "LAD<29>"       LOC = "D12"  ;
NET  "LAD<30>"       LOC = "C12"  ;
NET  "LAD<31>"       LOC = "B12"  ;
#
##  Reserved for 64-bit LocalBus   #
#NET  "LAD<32>"	    LOC = "G13"  ;
#NET  "LAD<33>"       LOC = "F13"  ;
#NET  "LAD<34>"       LOC = "E13"  ;
#NET  "LAD<35>"       LOC = "C13"  ;
#NET  "LAD<36>"       LOC = "B13"  ;
#NET  "LAD<37>"       LOC = "A13"  ;
#NET  "LAD<38>"       LOC = "H14"  ;
#NET  "LAD<39>"       LOC = "F14"  ;
#NET  "LAD<40>"       LOC = "E14"  ;
#NET  "LAD<41>"       LOC = "D14"  ;
#NET  "LAD<42>"       LOC = "C14"  ;
#NET  "LAD<43>"       LOC = "A14"  ;
#NET  "LAD<44>"       LOC = "J15"  ;
#NET  "LAD<45>"       LOC = "H15"  ;
#NET  "LAD<46>"       LOC = "G15"  ;
#NET  "LAD<47>"       LOC = "C15"  ;
#NET  "LAD<48>"       LOC = "B15"  ;
#NET  "LAD<49>"       LOC = "A15"  ;
#NET  "LAD<50>"       LOC = "M17"  ;
#NET  "LAD<51>"       LOC = "K17"  ;
#NET  "LAD<52>"       LOC = "G17"  ;
#NET  "LAD<53>"       LOC = "E17"  ;
#NET  "LAD<54>"       LOC = "D17"  ;
#NET  "LAD<55>"       LOC = "C17"  ;
#NET  "LAD<56>"       LOC = "K18"  ;
#NET  "LAD<57>"       LOC = "H18"  ;
#NET  "LAD<58>"       LOC = "G18"  ;
#NET  "LAD<59>"       LOC = "F18"  ;
#NET  "LAD<60>"       LOC = "E18"  ;
#NET  "LAD<61>"       LOC = "C18"  ;
#NET  "LAD<62>"       LOC = "K19"  ;
#NET  "LAD<63>"       LOC = "J19"  ;
#
NET	"LCBE<0>"		LOC = "E19"  ;
NET	"LCBE<1>"		LOC = "D19"  ;
NET	"LCBE<2>"		LOC = "C19"  ;
NET	"LCBE<3>"		LOC = "H20"  ;
#
## Reserved for 64-bit LocalBus  #
#NET	"LCBE<4>"		LOC = "F20"  ;
#NET	"LCBE<5>"		LOC = "D20"  ;
#NET	"LCBE<6>"		LOC = "C20"  ;
#NET	"LCBE<7>"		LOC = "B20"  ;
#
NET	"LCLK"			LOC = "H19" ;
NET   "LCLK"         PERIOD = 30.00 ;
NET	"LRST"			LOC = "A20" ;
NET	"LRST" 			TIG;
NET	"LRNW"			LOC = "G21" ;
NET	"LADD"			LOC = "F21" ;
NET	"LDAT"			LOC = "E21" ;
#NET	"LSERR"			LOC = "D21" ;
NET	"LWAIT"			LOC = "B21" ;
NET	"FPGAS"      	LOC = "A25" ;
NET	"LREADY"			LOC = "A21" ;
NET	"LREADY"			PULLUP ;
#  	FOR PROCCESOR
NET	"SYSCLK"			LOC = "G7" ;
Net 	SYSCLK 			TNM_NET = SYSCLK;
TIMESPEC TS_SYSCLK = PERIOD SYSCLK 20000 ps;
NET	"SYSRST"			LOC = "H7" ;
NET	"SYSRST"			TIG ;
#  	Timing
NET  "sys_clk_s_pin" PERIOD = 10.00 ;

#
################################################################################
#  	LEDS
################################################################################
NET	"LEDS<0>"			LOC = "B28" ; # YELLOW -- 100 MHz
NET	"LEDS<1>"			LOC = "A28" ; # RED    -- 50 MHz
NET	"LEDS<2>"			LOC = "B27" ; # GREEN  -- 33 MHz
#NET	"LED0"			LOC = "B28"  ; # YELLOW -- 100 MHz
#NET	"LED1"			LOC = "A28"  ; # RED    -- 50 MHz
#NET	"LED2"			LOC = "B27"  ; # GREEN  -- 33 MHz

################################################################################
# Control Bus
################################################################################
#NET	"CB0"			   LOC = "F26" ; 
#NET	"CB1"			   LOC = "E26" ; 
################################################################################
# End
################################################################################
# DDR SDRAM
 Net DDR_DQ<0>  LOC=AB5;
 Net DDR_DQ<1>  LOC=AC5;
 Net DDR_DQ<2>  LOC=AC4;
 Net DDR_DQ<3>  LOC=AD5;
 Net DDR_DQ<4>  LOC=AD4;
 Net DDR_DQ<5>  LOC=AE7;
 Net DDR_DQ<6>  LOC=AE4;
 Net DDR_DQ<7>  LOC=AF5;
 Net DDR_DQ<8>  LOC=AE8;
 Net DDR_DQ<9>  LOC=AD7;
 Net DDR_DQ<10> LOC=AE1;
 Net DDR_DQ<11> LOC=AD2;
 Net DDR_DQ<12> LOC=AC7;
 Net DDR_DQ<13> LOC=AC3;
 Net DDR_DQ<14> LOC=AC2;
 Net DDR_DQ<15> LOC=AB6;
 Net DDR_DQ<16> LOC=AH2;
 Net DDR_DQ<17> LOC=AG2;
 Net DDR_DQ<18> LOC=AG3;
 Net DDR_DQ<19> LOC=AJ2;
 Net DDR_DQ<20> LOC=AJ5;
 Net DDR_DQ<21> LOC=AK1;
 Net DDR_DQ<22> LOC=AK3;
 Net DDR_DQ<23> LOC=AK7;
 Net DDR_DQ<24> LOC=AK6;
 Net DDR_DQ<25> LOC=AJ7;
 Net DDR_DQ<26> LOC=AJ6;
 Net DDR_DQ<27> LOC=AJ1;
 Net DDR_DQ<28> LOC=AG7;
 Net DDR_DQ<29> LOC=AG1;
 Net DDR_DQ<30> LOC=AH5;
 Net DDR_DQ<31> LOC=AH3;

 Net DDR_Addr_pin<0>  LOC=AN4;
 Net DDR_Addr_pin<1>  LOC=AP5;
 Net DDR_Addr_pin<2>  LOC=AP4;
 Net DDR_Addr_pin<3>  LOC=AP7;
 Net DDR_Addr_pin<4>  LOC=AP6;
 Net DDR_Addr_pin<5>  LOC=AN8;
 Net DDR_Addr_pin<6>  LOC=AN7;
 Net DDR_Addr_pin<7>  LOC=AN3;
 Net DDR_Addr_pin<8>  LOC=AN2;
 Net DDR_Addr_pin<9>  LOC=AM6;
 Net DDR_Addr_pin<10> LOC=AN5;
 Net DDR_Addr_pin<11> LOC=AM5;
 Net DDR_Addr_pin<12> LOC=AL8;

 Net DDR_BankAddr_pin<0> LOC=AM8;
 Net DDR_BankAddr_pin<1> LOC=AM7;

 Net DDR_CAS_n_pin LOC=AL6;
 Net DDR_CE_pin    LOC=AM1;
 Net DDR_CS_n_pin  LOC=AM3;
 Net DDR_RAS_n_pin LOC=AM2;
 Net DDR_WE_n_pin  LOC=AL3;

 Net DDR_DM_pin<0> LOC=AE2;
 Net DDR_DM_pin<1> LOC=AF3;
 Net DDR_DM_pin<2> LOC=AL1;
 Net DDR_DM_pin<3> LOC=AL4;

 Net DDR_DQS_pin<0> LOC=AF1;
 Net DDR_DQS_pin<1> LOC=AE3;
 Net DDR_DQS_pin<2> LOC=AK2;
 Net DDR_DQS_pin<3> LOC=AL5;

 Net DDR_Clk_pin<0>   LOC=AF6;
 Net DDR_Clk_n_pin<0> LOC=AE6;
 Net DDR_Clk_pin<1>   LOC=AK4;
 Net DDR_Clk_n_pin<1> LOC=AJ4;
#################################################################################################
# Recomendations
#################################################################################################
 Net DDR_DQ<*>           IOSTANDARD = SSTL2_II | PULLDOWN;
 Net DDR_DQS_pin<*>      IOSTANDARD = SSTL2_II | PULLDOWN;

 Net DDR_DM_pin<*>       IOSTANDARD = SSTL2_I;
 Net DDR_Addr_pin<*>     IOSTANDARD = SSTL2_I;
 Net DDR_CAS_n_pin       IOSTANDARD = SSTL2_I;
 Net DDR_RAS_n_pin       IOSTANDARD = SSTL2_I;
 Net DDR_WE_n_pin        IOSTANDARD = SSTL2_I;
 Net DDR_CE_pin          IOSTANDARD = SSTL2_I;
 Net DDR_CS_n_pin        IOSTANDARD = SSTL2_I;
 Net DDR_BankAddr_pin<*> IOSTANDARD = SSTL2_I;

 Net DDR_Clk_pin<0>      IOSTANDARD = DIFF_SSTL2_II;
 Net DDR_Clk_n_pin<0>    IOSTANDARD = DIFF_SSTL2_II;
 Net DDR_Clk_pin<1>      IOSTANDARD = DIFF_SSTL2_II;
 Net DDR_Clk_n_pin<1>    IOSTANDARD = DIFF_SSTL2_II;