NET "clk" LOC = "C9";
NET "clk" PERIOD = 15.0ns HIGH 50%;


NET "vga_h_sync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_v_sync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

#NET "vga_h_sync" LOC = "F9" ;
#NET "vga_v_sync" LOC = "E9" ;

NET "vga_R" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_G" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_B" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "east" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "north" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "south" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "west" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "north" CLOCK_DEDICATED_ROUTE = FALSE ;
NET "east" CLOCK_DEDICATED_ROUTE = FALSE ;
NET "knob" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "RST" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;

NET "pass_led" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "gameover_led" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "thinking_led" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

#NET "test_led" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "TxD" LOC = "M13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
