NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50 %;
NET "CLK"  LOC = "K14" | IOSTANDARD = LVCMOS33 ;

NET "pb<0>"  LOC = "C16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<1>"  LOC = "C15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<2>"  LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<3>"  LOC = "D14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<4>"  LOC = "E13" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<5>"  LOC = "E12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<6>"  LOC = "F16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<7>"  LOC = "F15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;

NET "pc<0>"  LOC = "G12" | IOSTANDARD = LVCMOS33 ;
NET "pc<1>"  LOC = "G11" | IOSTANDARD = LVCMOS33 ;
NET "pc<2>"  LOC = "H15" | IOSTANDARD = LVCMOS33 ;
NET "pc<3>"  LOC = "M14" | IOSTANDARD = LVCMOS33 ;
NET "pc<4>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ;
NET "pc<5>"  LOC = "H14" | IOSTANDARD = LVCMOS33 ;
NET "pc<6>"  LOC = "H11" | IOSTANDARD = LVCMOS33 ;
NET "pc<7>"  LOC = "H13" | IOSTANDARD = LVCMOS33 ;
