NET clk PERIOD = 25.000 ;
OFFSET = OUT : 10.000 : AFTER clk ;
OFFSET = IN : 10.000 : BEFORE clk ;

NET pci_clk PERIOD = 30.000 ;
OFFSET = OUT : 11.000 : AFTER pci_clk ;
OFFSET = IN : 7.000 : BEFORE pci_clk ;
NET pci_gnt OFFSET = IN : 10.000 : BEFORE pci_clk ;
NET pci_req OFFSET = OUT : 12.000 : AFTER pci_clk ;
NET pci_rst TIG ;

NET erx_clk PERIOD = 40.000 ;
OFFSET = IN : 10.000 : BEFORE erx_clk ;
NET etx_clk PERIOD = 40.000 ;
OFFSET = OUT : 20.000 : AFTER etx_clk ;
OFFSET = IN : 7.000 : BEFORE etx_clk ;

INST "clkgen0/xc2v.v/dll0" LOC = DCM_X2Y0;
INST "clkgen0/xc2v.v/sd0.dll1" LOC = DCM_X5Y0;
INST "clkgen0_v_dll0" LOC = DCM_X2Y0;
INST "clkgen0_v_dll1" LOC = DCM_X5Y0;
#INST "clkgen0/c2.v/dll0" LOC = DCM_X2Y0;
#INST "clkgen0/c2.v/sd0.dll1" LOC = DCM_X5Y0;

NET "clk" LOC = "AC13"  ;
NET "pllref" LOC = "AB13"  ;
NET "etx_er" LOC = "J6"  ;
NET "etx_en" LOC = "K5"  ;
NET "etx_clk" LOC = "J5"  ;
NET "etxd(3)" LOC = "H5"  ;
NET "etxd(2)" LOC = "H4"  ;
NET "etxd(1)" LOC = "K3"  ;
NET "etxd(0)" LOC = "K4"  ;
NET "erx_er" LOC = "L7"  ;
NET "erx_dv" LOC = "J3"  ;
NET "erx_crs" LOC = "J7"  ;
NET "erx_col" LOC = "K7"  ;
NET "erx_clk" LOC = "J4"  ;
NET "erxd(3)" LOC = "L5"  ;
NET "erxd(2)" LOC = "L6"  ;
NET "erxd(1)" LOC = "L3"  ;
NET "erxd(0)" LOC = "L4"  ;
NET "emdio" LOC = "L8"  ;
NET "emdc" LOC = "K6"  ;
NET "writen" LOC = "AA13"  ;
NET "wdogn" LOC = "G4"  ;
NET "sdwen" LOC = "Y19"  ;
NET "sdrasn" LOC = "AA20"  ;
NET "sddqm(3)" LOC = "Y17"  ;
NET "sddqm(2)" LOC = "Y18"  ;
NET "sddqm(1)" LOC = "AB18"  ;
NET "sddqm(0)" LOC = "AA18"  ;
NET "sdcsn(1)" LOC = "Y21"  ;
NET "sdcsn(0)" LOC = "W20"  ;
NET "sdclk" LOC = "AC22"  ;
NET "sdcke(1)" LOC = "AD18"  ;
NET "sdcke(0)" LOC = "AC18"  ;
NET "sdcasn" LOC = "AB20"  ;
NET "rwen(3)" LOC = "AD17"  ;
NET "rwen(2)" LOC = "AC17"  ;
NET "rwen(1)" LOC = "AB17"  ;
NET "rwen(0)" LOC = "AA17"  ;
NET "romsn(1)" LOC = "AC11"  ;
NET "romsn(0)" LOC = "AD12"  ;
NET "resetn" LOC = "F4"  ;
NET "read" LOC = "Y13"  ;
NET "ramsn(4)" LOC = "AD15"  ;
NET "ramsn(3)" LOC = "AC15"  ;
NET "ramsn(2)" LOC = "AB15"  ;
NET "ramsn(1)" LOC = "W16"  ;
NET "ramsn(0)" LOC = "W15"  ;
NET "ramoen(4)" LOC = "AD14"  ;
NET "ramoen(3)" LOC = "AB14"  ;
NET "ramoen(2)" LOC = "AA14"  ;
NET "ramoen(1)" LOC = "Y14"  ;
NET "ramoen(0)" LOC = "W14"  ;
NET "power_state(1)" LOC = "P1"  ;
NET "power_state(0)" LOC = "N1"  ;
NET "pme_status" LOC = "J1"  ;
NET "pme_enable" LOC = "H1"  ;
NET "pme_clear" LOC = "L1"  ;
#NET "pio(15)" LOC = "F10"  ;
NET "txd1" LOC = "F10"  ;
#NET "pio(14)" LOC = "C10"  ;
NET "rxd1" LOC = "C10"  ;
NET "pio(13)" LOC = "C9"  ;
NET "pio(12)" LOC = "G9"  ;
NET "pio(11)" LOC = "F9"  ;
NET "pio(10)" LOC = "E9"  ;
NET "pio(9)" LOC = "D9"  ;
NET "pio(8)" LOC = "C8"  ;
NET "pio(7)" LOC = "E7"  ;
NET "pio(6)" LOC = "E6"  ;
NET "pio(5)" LOC = "G7"  ;
NET "pio(4)" LOC = "G6"  ;
NET "pio(3)" LOC = "C7"  ;
NET "pio(2)" LOC = "D7"  ;
NET "pio(1)" LOC = "C6"  ;
NET "pio(0)" LOC = "D6"  ;
#NET "pci_66" LOC = "AB6"  ;
NET "pci_trdy" LOC = "W6"  ;
NET "pci_stop" LOC = "Y6"  ;
NET "pci_serr" LOC = "AB4"  ;
NET "pci_rst" LOC = "N8"  ;
NET "pci_req" LOC = "R7"  ;
NET "pci_perr" LOC = "AB3"  ;
NET "pci_par" LOC = "AC5"  ;
NET "pci_lock" LOC = "AA3"  ;
NET "pci_irdy" LOC = "W7"  ;
NET "pci_intr_status" LOC = "D7"  ;
NET "pci_intr_disable" LOC = "A8"  ;
NET "pci_idsel" LOC = "P8"  ;
NET "pci_host" LOC = "R8"  ;
#NET "pci_host" PULLUP;
NET "pci_gnt" LOC = "P3"  ;
NET "pci_frame" LOC = "W5"  ;
NET "pci_devsel" LOC = "Y5"  ;
NET "pci_clk" LOC = "AC14"  ;
NET "pci_cbe(3)" LOC = "AC6"  ;
NET "pci_cbe(2)" LOC = "AD6"  ;
NET "pci_cbe(1)" LOC = "AA7"  ;
NET "pci_cbe(0)" LOC = "AB7"  ;
NET "pci_arb_req(3)" LOC = "P7"  ;
NET "pci_arb_req(2)" LOC = "P6"  ;
NET "pci_arb_req(1)" LOC = "P5"  ;
NET "pci_arb_req(0)" LOC = "P4"  ;
NET "pci_arb_gnt(3)" LOC = "N4"  ;
NET "pci_arb_gnt(2)" LOC = "N5"  ;
NET "pci_arb_gnt(1)" LOC = "N6"  ;
NET "pci_arb_gnt(0)" LOC = "N7"  ;
NET "pci_ad(31)" LOC = "T8"  ;
NET "pci_ad(30)" LOC = "T6"  ;
NET "pci_ad(29)" LOC = "T5"  ;
NET "pci_ad(28)" LOC = "U5"  ;
NET "pci_ad(27)" LOC = "U6"  ;
NET "pci_ad(26)" LOC = "U3"  ;
NET "pci_ad(25)" LOC = "U4"  ;
NET "pci_ad(24)" LOC = "T7"  ;
NET "pci_ad(23)" LOC = "U7"  ;
NET "pci_ad(22)" LOC = "V3"  ;
NET "pci_ad(21)" LOC = "V4"  ;
NET "pci_ad(20)" LOC = "V5"  ;
NET "pci_ad(19)" LOC = "V7"  ;
NET "pci_ad(18)" LOC = "V6"  ;
NET "pci_ad(17)" LOC = "W3"  ;
NET "pci_ad(16)" LOC = "W4"  ;
NET "pci_ad(15)" LOC = "Y7"  ;
NET "pci_ad(14)" LOC = "Y8"  ;
NET "pci_ad(13)" LOC = "AD7"  ;
NET "pci_ad(12)" LOC = "AC7"  ;
NET "pci_ad(11)" LOC = "AA8"  ;
NET "pci_ad(10)" LOC = "AB8"  ;
NET "pci_ad(9)" LOC = "AC10"  ;
NET "pci_ad(8)" LOC = "AD10"  ;
NET "pci_ad(7)" LOC = "AA10"  ;
NET "pci_ad(6)" LOC = "AB10"  ;
NET "pci_ad(5)" LOC = "AD9"  ;
NET "pci_ad(4)" LOC = "AA11"  ;
NET "pci_ad(3)" LOC = "Y11"  ;
NET "pci_ad(2)" LOC = "Y10"  ;
NET "pci_ad(1)" LOC = "W11"  ;
NET "pci_ad(0)" LOC = "AB11"  ;
NET "oen" LOC = "W13"  ;
NET "master" LOC = "B1"  ;
NET "iosn" LOC = "W12"  ;
NET "errorn" LOC = "G5"  ;
NET "dsutx" LOC = "F3"  ;
NET "dsurx" LOC = "H7"  ;
NET "dsuen" LOC = "E3"  ;
NET "dsubre" LOC = "E4"  ;
NET "dsuact" LOC = "H6"  ;
NET "data(31)" LOC = "P23"  ;
NET "data(30)" LOC = "N23"  ;
NET "data(29)" LOC = "N24"  ;
NET "data(28)" LOC = "N21"  ;
NET "data(27)" LOC = "N22"  ;
NET "data(26)" LOC = "N20"  ;
NET "data(25)" LOC = "M20"  ;
NET "data(24)" LOC = "L21"  ;
NET "data(23)" LOC = "L22"  ;
NET "data(22)" LOC = "K24"  ;
NET "data(21)" LOC = "K23"  ;
NET "data(20)" LOC = "J24"  ;
NET "data(19)" LOC = "L20"  ;
NET "data(18)" LOC = "K20"  ;
NET "data(17)" LOC = "K22"  ;
NET "data(16)" LOC = "K21"  ;
NET "data(15)" LOC = "J23"  ;
NET "data(14)" LOC = "J22"  ;
NET "data(13)" LOC = "J20"  ;
NET "data(12)" LOC = "J21"  ;
NET "data(11)" LOC = "H24"  ;
NET "data(10)" LOC = "H23"  ;
NET "data(9)" LOC = "H21"  ;
NET "data(8)" LOC = "H22"  ;
NET "data(7)" LOC = "F24"  ;
NET "data(6)" LOC = "F23"  ;
NET "data(5)" LOC = "G22"  ;
NET "data(4)" LOC = "G21"  ;
NET "data(3)" LOC = "E24"  ;
NET "data(2)" LOC = "E23"  ;
NET "data(1)" LOC = "H20"  ;
NET "data(0)" LOC = "G20"  ;
NET "cmperrn" LOC = "B4"  ;
NET "cb(7)" LOC = "D19"  ;
NET "cb(6)" LOC = "E19"  ;
NET "cb(5)" LOC = "E20"  ;
NET "cb(4)" LOC = "F20"  ;
NET "cb(3)" LOC = "C21"  ;
NET "cb(2)" LOC = "D21"  ;
NET "cb(1)" LOC = "C20"  ;
NET "cb(0)" LOC = "D20"  ;
NET "brdyn" LOC = "P22"  ;
NET "bexcn" LOC = "P19"  ;
NET "address(27)" LOC = "P21"  ;
NET "address(26)" LOC = "P20"  ;
NET "address(25)" LOC = "T20"  ;
NET "address(24)" LOC = "T19"  ;
NET "address(23)" LOC = "T24"  ;
NET "address(22)" LOC = "T23"  ;
NET "address(21)" LOC = "T22"  ;
NET "address(20)" LOC = "T21"  ;
NET "address(19)" LOC = "U24"  ;
NET "address(18)" LOC = "U23"  ;
NET "address(17)" LOC = "U22"  ;
NET "address(16)" LOC = "U21"  ;
NET "address(15)" LOC = "V24"  ;
NET "address(14)" LOC = "V23"  ;
NET "address(13)" LOC = "V22"  ;
NET "address(12)" LOC = "U20"  ;
NET "address(11)" LOC = "V20"  ;
NET "address(10)" LOC = "W24"  ;
NET "address(9)" LOC = "Y24"  ;
NET "address(8)" LOC = "Y23"  ;
NET "address(7)" LOC = "W22"  ;
NET "address(6)" LOC = "W23"  ;
NET "address(5)" LOC = "AA24"  ;
NET "address(4)" LOC = "AA23"  ;
NET "address(3)" LOC = "AB24"  ;
NET "address(2)" LOC = "AB23"  ;
NET "address(1)" LOC = "Y22"  ;
NET "address(0)" LOC = "AA22"  ;
CONFIG PROHIBIT = M8;
CONFIG PROHIBIT = M7;
CONFIG PROHIBIT = M4;
CONFIG PROHIBIT = M3;
CONFIG PROHIBIT = M6;
CONFIG PROHIBIT = M5;
CONFIG PROHIBIT = M2;
CONFIG PROHIBIT = M1;
CONFIG PROHIBIT = R3;
CONFIG PROHIBIT = R4;
CONFIG PROHIBIT = R5;
CONFIG PROHIBIT = R6;
CONFIG PROHIBIT = T3;
CONFIG PROHIBIT = T4;
CONFIG PROHIBIT = T1;
CONFIG PROHIBIT = T2;
CONFIG PROHIBIT = L19;
CONFIG PROHIBIT = M19;
CONFIG PROHIBIT = L23;
CONFIG PROHIBIT = L24;
CONFIG PROHIBIT = M22;
CONFIG PROHIBIT = M21;
CONFIG PROHIBIT = M23;
CONFIG PROHIBIT = M24;
CONFIG PROHIBIT = R26;
CONFIG PROHIBIT = R25;
CONFIG PROHIBIT = R20;
CONFIG PROHIBIT = R19;
CONFIG PROHIBIT = R24;
CONFIG PROHIBIT = R23;
CONFIG PROHIBIT = R22;
CONFIG PROHIBIT = R21;
CONFIG PROHIBIT = D15;
CONFIG PROHIBIT = E15;
CONFIG PROHIBIT = F15;
CONFIG PROHIBIT = G15;
CONFIG PROHIBIT = G16;
CONFIG PROHIBIT = F16;
CONFIG PROHIBIT = A16;
CONFIG PROHIBIT = A17;
CONFIG PROHIBIT = F11;
CONFIG PROHIBIT = E11;
CONFIG PROHIBIT = G11;
CONFIG PROHIBIT = H11;
CONFIG PROHIBIT = D11;
CONFIG PROHIBIT = C11;
CONFIG PROHIBIT = B11;
CONFIG PROHIBIT = B12;
CONFIG PROHIBIT = AC21;
CONFIG PROHIBIT = Y20;
CONFIG PROHIBIT = Y15;
CONFIG PROHIBIT = AA15;
CONFIG PROHIBIT = AD16;
CONFIG PROHIBIT = AE16;
CONFIG PROHIBIT = AA16;
CONFIG PROHIBIT = Y16;
CONFIG PROHIBIT = AB16;
CONFIG PROHIBIT = AC16;
CONFIG PROHIBIT = AE11;
CONFIG PROHIBIT = AD11;
CONFIG PROHIBIT = AF11;
CONFIG PROHIBIT = AF10;
CONFIG PROHIBIT = AA12;
CONFIG PROHIBIT = Y12;
CONFIG PROHIBIT = AC12;
CONFIG PROHIBIT = AB12;
