
NET "clk" 					TNM_NET = "clk";
TIMESPEC TS_CLK_16MHZ = PERIOD "clk" 62.5 ns HIGH 50 %;
NET "clkouta1_p" 			IOSTANDARD = LVDS_33;
NET "dataouta_p[0]" 		IOSTANDARD = LVDS_33;
NET "dataouta_p[1]" 		IOSTANDARD = LVDS_33;
NET "dataouta_p[2]" 		IOSTANDARD = LVDS_33;
NET "led1" 					IOSTANDARD = LVCMOS33;
NET "led2" 					IOSTANDARD = LVCMOS33;
NET "led3" 					IOSTANDARD = LVCMOS33;
NET "led4" 					IOSTANDARD = LVCMOS33;
NET "TxD" 					IOSTANDARD = LVCMOS33;

//Clock de 16MHz
NET "clk" 					LOC = C10;

//Porta LVDS
//Clock 
NET "clkouta1_p" 			LOC = D7;
NET "clkouta1_n" 			LOC = C6;
//Canal 0
NET "dataouta_p[0]" 		LOC = A5;
NET "dataouta_n[0]" 		LOC = C5;
//Canal 1
NET "dataouta_p[1]" 		LOC = A6;
NET "dataouta_n[1]" 		LOC = B6;
//Canal 2
NET "dataouta_p[2]" 		LOC = A7;
NET "dataouta_n[2]" 		LOC = C7;

//Leds
NET "led1" 					LOC = D14;
NET "led2" 					LOC = C16;
NET "led3" 					LOC = C15;
NET "led4" 					LOC = B15;

//Porta Serial
NET "TxD" 					LOC = B3;
NET "RxD" 					LOC = A3;

//Porta PS2
NET "PS2clk" 				LOC = C4;
NET "PS2data" 				LOC = B14;
