NET "FXCLK" TNM_NET = "FXCLK";
TIMESPEC "TS_FXCLK" = PERIOD "FXCLK" 48 MHz HIGH 50 %;
NET "FXCLK"  LOC = "L22" | IOSTANDARD = LVCMOS33 ;

NET "MM_A<0>"  LOC = "M20" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<1>"  LOC = "M19" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<2>"  LOC = "M18" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<3>"  LOC = "N19" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<4>"  LOC = "T19" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<5>"  LOC = "T21" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<6>"  LOC = "T22" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<7>"  LOC = "R19" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<8>"  LOC = "P20" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<9>"  LOC = "P21" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<10>"  LOC = "P22" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<11>"  LOC = "J22" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<12>"  LOC = "H21" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<13>"  LOC = "H22" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<14>"  LOC = "G22" | IOSTANDARD = LVCMOS33 ;
NET "MM_A<15>"  LOC = "F21" | IOSTANDARD = LVCMOS33 ;

NET "MM_D<0>"  LOC = "D20" | IOSTANDARD = LVCMOS33 | DRIVE = 2;
NET "MM_D<1>"  LOC = "C20" | IOSTANDARD = LVCMOS33 | DRIVE = 2;
NET "MM_D<2>"  LOC = "C19" | IOSTANDARD = LVCMOS33 | DRIVE = 2;
NET "MM_D<3>"  LOC = "B21" | IOSTANDARD = LVCMOS33 | DRIVE = 2;
NET "MM_D<4>"  LOC = "B20" | IOSTANDARD = LVCMOS33 | DRIVE = 2;
NET "MM_D<5>"  LOC = "J19" | IOSTANDARD = LVCMOS33 | DRIVE = 2;
NET "MM_D<6>"  LOC = "K19" | IOSTANDARD = LVCMOS33 | DRIVE = 2;
NET "MM_D<7>"  LOC = "L19" | IOSTANDARD = LVCMOS33 | DRIVE = 2;

NET "MM_WRN"  LOC = "C22" | IOSTANDARD = LVCMOS33 ;
NET "MM_RDN"  LOC = "D21" | IOSTANDARD = LVCMOS33 ;
NET "MM_PSENN"  LOC = "D22" | IOSTANDARD = LVCMOS33 ;
