#
# Logical Preferences generated for Lattice by Synplify maplat, Build 800R.
#

# Period Constraints 
FREQUENCY PORT "clk40_i" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
