

NET "clk" LOC = P55;
NET "TX" LOC = P116;
NET "RX" LOC = P119;
NET "led1" LOC = P124;
NET "led2" LOC = P127;
NET "debug1" LOC = P118;
NET "debug2" LOC = P122;


NET "ATN_in" LOC = P1;
NET "ATN_out" LOC = P2;

NET "DAV_in" LOC = P15;
NET "DAV_out" LOC = P141;

NET "EOI_in" LOC = P8;
NET "EOI_out" LOC = P10;

NET "IFC_in" LOC = P13;
NET "IFC_out" LOC = P14;

NET "NDAC_in" LOC = P11;
NET "NDAC_out" LOC = P12;

NET "NRFD_in" LOC = P140;
NET "NRFD_out" LOC = P137;

NET "REN_in" LOC = P4;
NET "REN_out" LOC = P5;

NET "SRQ_in" LOC = P6;
NET "SRQ_out" LOC = P7;

# PlanAhead Generated physical constraints 

NET "DI[0]" LOC = P132;
NET "DI[1]" LOC = P130;
NET "DI[2]" LOC = P128;
NET "DI[3]" LOC = P107;
NET "DI[4]" LOC = P104;
NET "DI[5]" LOC = P102;
NET "DI[6]" LOC = P99;
NET "DI[7]" LOC = P112;

NET "DO[0]" LOC = P135;
NET "DO[1]" LOC = P131;
NET "DO[2]" LOC = P129;
NET "DO[3]" LOC = P108;
NET "DO[4]" LOC = P105;
NET "DO[5]" LOC = P103;
NET "DO[6]" LOC = P100;
NET "DO[7]" LOC = P98;



