# CLKOUT/FXCLK 
NET "fxclk" TNM_NET = "fxclk";
TIMESPEC "ts_fxclk" = PERIOD "fxclk" 48 MHz HIGH 50 %;
NET "fxclk"  LOC = "J16" | IOSTANDARD = LVCMOS33 ;

# led1
NET "led1<0>"	LOC = "B16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A6 
NET "led1<1>"	LOC = "C16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B6 
NET "led1<2>"	LOC = "B15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A7 
NET "led1<3>"	LOC = "C15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B7 
NET "led1<4>"	LOC = "A14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A8 
NET "led1<5>"	LOC = "B14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B8 
NET "led1<6>"	LOC = "A13" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A9 
NET "led1<7>"	LOC = "C13" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B9 
NET "led1<8>"	LOC = "A12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A10
NET "led1<9>"	LOC = "B12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B10

# sw
NET "sw<0>"	LOC = "D12" | IOSTANDARD = LVCMOS33 | PULLUP ;		# A11
NET "sw<1>"	LOC = "E11" | IOSTANDARD = LVCMOS33 | PULLUP ; 		# B11
NET "sw<2>"	LOC = "D11" | IOSTANDARD = LVCMOS33 | PULLUP ;		# A12
NET "sw<3>"	LOC = "F10" | IOSTANDARD = LVCMOS33 | PULLUP ;		# B12

# led2
NET "led2<0>"	LOC = "D16" | IOSTANDARD = LVCMOS33 ;		# PB0/FD0
NET "led2<1>"	LOC = "F15" | IOSTANDARD = LVCMOS33 ;		# PB1/FD1
NET "led2<2>"	LOC = "E15" | IOSTANDARD = LVCMOS33 ;		# PB2/FD2
NET "led2<3>"	LOC = "D14" | IOSTANDARD = LVCMOS33 ;		# PB3/FD3
NET "led2<4>"	LOC = "F13" | IOSTANDARD = LVCMOS33 ;		# PB4/FD4
NET "led2<5>"	LOC = "E12" | IOSTANDARD = LVCMOS33 ;		# PB5/FD5
NET "led2<6>"	LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C6 
NET "led2<7>"	LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D6 
NET "led2<8>"	LOC = "N16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C7 
NET "led2<9>"	LOC = "P16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D7 
NET "led2<10>"	LOC = "N14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C8 
NET "led2<11>"	LOC = "P15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D8 
NET "led2<12>"	LOC = "T15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C9 
NET "led2<13>"	LOC = "T14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D9 
NET "led2<14>"	LOC = "R14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C10
NET "led2<15>"	LOC = "T13" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D10
NET "led2<16>"	LOC = "R12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C11
NET "led2<17>"	LOC = "T12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D11
NET "led2<18>"	LOC = "L16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C12
NET "led2<19>"	LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D12
