INST "key<0>" TNM = key;
INST "key<1>" TNM = key;
INST "key<2>" TNM = key;
INST "key<3>" TNM = key;
INST "key<4>" TNM = key;
INST "key<5>" TNM = key;
INST "key<6>" TNM = key;
INST "key<7>" TNM = key;
INST "key<8>" TNM = key;
INST "key<9>" TNM = key;
INST "key<10>" TNM = key;
INST "key<11>" TNM = key;
INST "key<12>" TNM = key;
INST "key<13>" TNM = key;
INST "key<14>" TNM = key;
INST "key<15>" TNM = key;
INST "key<16>" TNM = key;
INST "key<17>" TNM = key;
INST "key<18>" TNM = key;
INST "key<19>" TNM = key;
INST "key<20>" TNM = key;
INST "key<21>" TNM = key;
INST "key<22>" TNM = key;
INST "key<23>" TNM = key;
INST "key<24>" TNM = key;
INST "key<25>" TNM = key;
INST "key<26>" TNM = key;
INST "key<27>" TNM = key;
INST "key<28>" TNM = key;
INST "key<29>" TNM = key;
INST "key<30>" TNM = key;
INST "key<31>" TNM = key;
INST "key<32>" TNM = key;
INST "key<33>" TNM = key;
INST "key<34>" TNM = key;
INST "key<35>" TNM = key;
INST "key<36>" TNM = key;
INST "key<37>" TNM = key;
INST "key<38>" TNM = key;
INST "key<39>" TNM = key;
INST "key<40>" TNM = key;
INST "key<41>" TNM = key;
INST "key<42>" TNM = key;
INST "key<43>" TNM = key;
INST "key<44>" TNM = key;
INST "key<45>" TNM = key;
INST "key<46>" TNM = key;
INST "key<47>" TNM = key;
INST "key<48>" TNM = key;
INST "key<49>" TNM = key;
INST "key<50>" TNM = key;
INST "key<51>" TNM = key;
INST "key<52>" TNM = key;
INST "key<53>" TNM = key;
INST "key<54>" TNM = key;
INST "key<55>" TNM = key;
INST "key<56>" TNM = key;
INST "key<57>" TNM = key;
INST "key<58>" TNM = key;
INST "key<59>" TNM = key;
INST "key<60>" TNM = key;
INST "key<61>" TNM = key;
INST "key<62>" TNM = key;
INST "key<63>" TNM = key;
INST "key<64>" TNM = key;
INST "key<65>" TNM = key;
INST "key<66>" TNM = key;
INST "key<67>" TNM = key;
INST "key<68>" TNM = key;
INST "key<69>" TNM = key;
INST "key<70>" TNM = key;
INST "key<71>" TNM = key;
INST "key<72>" TNM = key;
INST "key<73>" TNM = key;
INST "key<74>" TNM = key;
INST "key<75>" TNM = key;
INST "key<76>" TNM = key;
INST "key<77>" TNM = key;
INST "key<78>" TNM = key;
INST "key<79>" TNM = key;
INST "key<80>" TNM = key;
INST "key<81>" TNM = key;
INST "key<82>" TNM = key;
INST "key<83>" TNM = key;
INST "key<84>" TNM = key;
INST "key<85>" TNM = key;
INST "key<86>" TNM = key;
INST "key<87>" TNM = key;
INST "key<88>" TNM = key;
INST "key<89>" TNM = key;
INST "key<90>" TNM = key;
INST "key<91>" TNM = key;
INST "key<92>" TNM = key;
INST "key<93>" TNM = key;
INST "key<94>" TNM = key;
INST "key<95>" TNM = key;
INST "key<96>" TNM = key;
INST "key<97>" TNM = key;
INST "key<98>" TNM = key;
INST "key<99>" TNM = key;
INST "key<100>" TNM = key;
INST "key<101>" TNM = key;
INST "key<102>" TNM = key;
INST "key<103>" TNM = key;
INST "key<104>" TNM = key;
INST "key<105>" TNM = key;
INST "key<106>" TNM = key;
INST "key<107>" TNM = key;
INST "key<108>" TNM = key;
INST "key<109>" TNM = key;
INST "key<110>" TNM = key;
INST "key<111>" TNM = key;
INST "key<112>" TNM = key;
INST "key<113>" TNM = key;
INST "key<114>" TNM = key;
INST "key<115>" TNM = key;
INST "key<116>" TNM = key;
INST "key<117>" TNM = key;
INST "key<118>" TNM = key;
INST "key<119>" TNM = key;
INST "key<120>" TNM = key;
INST "key<121>" TNM = key;
INST "key<122>" TNM = key;
INST "key<123>" TNM = key;
INST "key<124>" TNM = key;
INST "key<125>" TNM = key;
INST "key<126>" TNM = key;
INST "key<127>" TNM = key;

INST "state<0>" TNM = state;
INST "state<1>" TNM = state;
INST "state<2>" TNM = state;
INST "state<3>" TNM = state;
INST "state<4>" TNM = state;
INST "state<5>" TNM = state;
INST "state<6>" TNM = state;
INST "state<7>" TNM = state;
INST "state<8>" TNM = state;
INST "state<9>" TNM = state;
INST "state<10>" TNM = state;
INST "state<11>" TNM = state;
INST "state<12>" TNM = state;
INST "state<13>" TNM = state;
INST "state<14>" TNM = state;
INST "state<15>" TNM = state;
INST "state<16>" TNM = state;
INST "state<17>" TNM = state;
INST "state<18>" TNM = state;
INST "state<19>" TNM = state;
INST "state<20>" TNM = state;
INST "state<21>" TNM = state;
INST "state<22>" TNM = state;
INST "state<23>" TNM = state;
INST "state<24>" TNM = state;
INST "state<25>" TNM = state;
INST "state<26>" TNM = state;
INST "state<27>" TNM = state;
INST "state<28>" TNM = state;
INST "state<29>" TNM = state;
INST "state<30>" TNM = state;
INST "state<31>" TNM = state;
INST "state<32>" TNM = state;
INST "state<33>" TNM = state;
INST "state<34>" TNM = state;
INST "state<35>" TNM = state;
INST "state<36>" TNM = state;
INST "state<37>" TNM = state;
INST "state<38>" TNM = state;
INST "state<39>" TNM = state;
INST "state<40>" TNM = state;
INST "state<41>" TNM = state;
INST "state<42>" TNM = state;
INST "state<43>" TNM = state;
INST "state<44>" TNM = state;
INST "state<45>" TNM = state;
INST "state<46>" TNM = state;
INST "state<47>" TNM = state;
INST "state<48>" TNM = state;
INST "state<49>" TNM = state;
INST "state<50>" TNM = state;
INST "state<51>" TNM = state;
INST "state<52>" TNM = state;
INST "state<53>" TNM = state;
INST "state<54>" TNM = state;
INST "state<55>" TNM = state;
INST "state<56>" TNM = state;
INST "state<57>" TNM = state;
INST "state<58>" TNM = state;
INST "state<59>" TNM = state;
INST "state<60>" TNM = state;
INST "state<61>" TNM = state;
INST "state<62>" TNM = state;
INST "state<63>" TNM = state;
INST "state<64>" TNM = state;
INST "state<65>" TNM = state;
INST "state<66>" TNM = state;
INST "state<67>" TNM = state;
INST "state<68>" TNM = state;
INST "state<69>" TNM = state;
INST "state<70>" TNM = state;
INST "state<71>" TNM = state;
INST "state<72>" TNM = state;
INST "state<73>" TNM = state;
INST "state<74>" TNM = state;
INST "state<75>" TNM = state;
INST "state<76>" TNM = state;
INST "state<77>" TNM = state;
INST "state<78>" TNM = state;
INST "state<79>" TNM = state;
INST "state<80>" TNM = state;
INST "state<81>" TNM = state;
INST "state<82>" TNM = state;
INST "state<83>" TNM = state;
INST "state<84>" TNM = state;
INST "state<85>" TNM = state;
INST "state<86>" TNM = state;
INST "state<87>" TNM = state;
INST "state<88>" TNM = state;
INST "state<89>" TNM = state;
INST "state<90>" TNM = state;
INST "state<91>" TNM = state;
INST "state<92>" TNM = state;
INST "state<93>" TNM = state;
INST "state<94>" TNM = state;
INST "state<95>" TNM = state;
INST "state<96>" TNM = state;
INST "state<97>" TNM = state;
INST "state<98>" TNM = state;
INST "state<99>" TNM = state;
INST "state<100>" TNM = state;
INST "state<101>" TNM = state;
INST "state<102>" TNM = state;
INST "state<103>" TNM = state;
INST "state<104>" TNM = state;
INST "state<105>" TNM = state;
INST "state<106>" TNM = state;
INST "state<107>" TNM = state;
INST "state<108>" TNM = state;
INST "state<109>" TNM = state;
INST "state<110>" TNM = state;
INST "state<111>" TNM = state;
INST "state<112>" TNM = state;
INST "state<113>" TNM = state;
INST "state<114>" TNM = state;
INST "state<115>" TNM = state;
INST "state<116>" TNM = state;
INST "state<117>" TNM = state;
INST "state<118>" TNM = state;
INST "state<119>" TNM = state;
INST "state<120>" TNM = state;
INST "state<121>" TNM = state;
INST "state<122>" TNM = state;
INST "state<123>" TNM = state;
INST "state<124>" TNM = state;
INST "state<125>" TNM = state;
INST "state<126>" TNM = state;
INST "state<127>" TNM = state;

INST "out<0>" TNM = out;
INST "out<1>" TNM = out;
INST "out<2>" TNM = out;
INST "out<3>" TNM = out;
INST "out<4>" TNM = out;
INST "out<5>" TNM = out;
INST "out<6>" TNM = out;
INST "out<7>" TNM = out;
INST "out<8>" TNM = out;
INST "out<9>" TNM = out;
INST "out<10>" TNM = out;
INST "out<11>" TNM = out;
INST "out<12>" TNM = out;
INST "out<13>" TNM = out;
INST "out<14>" TNM = out;
INST "out<15>" TNM = out;
INST "out<16>" TNM = out;
INST "out<17>" TNM = out;
INST "out<18>" TNM = out;
INST "out<19>" TNM = out;
INST "out<20>" TNM = out;
INST "out<21>" TNM = out;
INST "out<22>" TNM = out;
INST "out<23>" TNM = out;
INST "out<24>" TNM = out;
INST "out<25>" TNM = out;
INST "out<26>" TNM = out;
INST "out<27>" TNM = out;
INST "out<28>" TNM = out;
INST "out<29>" TNM = out;
INST "out<30>" TNM = out;
INST "out<31>" TNM = out;
INST "out<32>" TNM = out;
INST "out<33>" TNM = out;
INST "out<34>" TNM = out;
INST "out<35>" TNM = out;
INST "out<36>" TNM = out;
INST "out<37>" TNM = out;
INST "out<38>" TNM = out;
INST "out<39>" TNM = out;
INST "out<40>" TNM = out;
INST "out<41>" TNM = out;
INST "out<42>" TNM = out;
INST "out<43>" TNM = out;
INST "out<44>" TNM = out;
INST "out<45>" TNM = out;
INST "out<46>" TNM = out;
INST "out<47>" TNM = out;
INST "out<48>" TNM = out;
INST "out<49>" TNM = out;
INST "out<50>" TNM = out;
INST "out<51>" TNM = out;
INST "out<52>" TNM = out;
INST "out<53>" TNM = out;
INST "out<54>" TNM = out;
INST "out<55>" TNM = out;
INST "out<56>" TNM = out;
INST "out<57>" TNM = out;
INST "out<58>" TNM = out;
INST "out<59>" TNM = out;
INST "out<60>" TNM = out;
INST "out<61>" TNM = out;
INST "out<62>" TNM = out;
INST "out<63>" TNM = out;
INST "out<64>" TNM = out;
INST "out<65>" TNM = out;
INST "out<66>" TNM = out;
INST "out<67>" TNM = out;
INST "out<68>" TNM = out;
INST "out<69>" TNM = out;
INST "out<70>" TNM = out;
INST "out<71>" TNM = out;
INST "out<72>" TNM = out;
INST "out<73>" TNM = out;
INST "out<74>" TNM = out;
INST "out<75>" TNM = out;
INST "out<76>" TNM = out;
INST "out<77>" TNM = out;
INST "out<78>" TNM = out;
INST "out<79>" TNM = out;
INST "out<80>" TNM = out;
INST "out<81>" TNM = out;
INST "out<82>" TNM = out;
INST "out<83>" TNM = out;
INST "out<84>" TNM = out;
INST "out<85>" TNM = out;
INST "out<86>" TNM = out;
INST "out<87>" TNM = out;
INST "out<88>" TNM = out;
INST "out<89>" TNM = out;
INST "out<90>" TNM = out;
INST "out<91>" TNM = out;
INST "out<92>" TNM = out;
INST "out<93>" TNM = out;
INST "out<94>" TNM = out;
INST "out<95>" TNM = out;
INST "out<96>" TNM = out;
INST "out<97>" TNM = out;
INST "out<98>" TNM = out;
INST "out<99>" TNM = out;
INST "out<100>" TNM = out;
INST "out<101>" TNM = out;
INST "out<102>" TNM = out;
INST "out<103>" TNM = out;
INST "out<104>" TNM = out;
INST "out<105>" TNM = out;
INST "out<106>" TNM = out;
INST "out<107>" TNM = out;
INST "out<108>" TNM = out;
INST "out<109>" TNM = out;
INST "out<110>" TNM = out;
INST "out<111>" TNM = out;
INST "out<112>" TNM = out;
INST "out<113>" TNM = out;
INST "out<114>" TNM = out;
INST "out<115>" TNM = out;
INST "out<116>" TNM = out;
INST "out<117>" TNM = out;
INST "out<118>" TNM = out;
INST "out<119>" TNM = out;
INST "out<120>" TNM = out;
INST "out<121>" TNM = out;
INST "out<122>" TNM = out;
INST "out<123>" TNM = out;
INST "out<124>" TNM = out;
INST "out<125>" TNM = out;
INST "out<126>" TNM = out;
INST "out<127>" TNM = out;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;

TIMEGRP "key" OFFSET = IN 6.4 ns VALID 6 ns AFTER "clk" HIGH;
TIMEGRP "state" OFFSET = IN 6.4 ns VALID 6 ns AFTER "clk" HIGH;
TIMEGRP "out" OFFSET = OUT 2.2 ns BEFORE "clk" HIGH;
