*.bit
*.bgn
*.bld
*.csv
*.drc
_impact.*
*.ipf
log
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
_ngo
*.ngr
*.pad
*.par
par_usage_statistics.html
*.pcf
*.prj
*.ptwx
*.syr
*.txt
*.unroutes
*.ut
*webtalk.*
xlnx_auto_0_xdb
*.xml
_xmsgs
*.xpi
*.xrpt
*.xsl
xst
*.xst
*.xwbt
