CONFIG STEPPING="0";

NET Clocks_K_Clk PERIOD = 30.000 ;
#OFFSET = OUT : 11.000 : AFTER Clocks_K_Clk ;
#OFFSET = IN : 7.000 : BEFORE Clocks_K_Clk ;

NET Clocks_F_Clk PERIOD = 20.000 ;
#OFFSET = OUT : 20.000 : AFTER Clocks_F_Clk ;
#OFFSET = IN : 20.000 : BEFORE Clocks_F_Clk ;

NET  "Clocks_F_Clk"                       LOC=AF14; # Pads.Clocks.F_Clk
NET  "Clocks_M_Clk"                       LOC=AE13; # Pads.Clocks.M_Clk
NET  "Clocks_P_Clk"                       LOC=B14;  # Pads.Clocks.P_Clk
NET  "Clocks_K_Clk"                       LOC=D14;  # Pads.Clocks.K_Clk
NET  "Clocks_IO_Clk"                      LOC=AC13; # Pads.Clocks.IO_Clk

NET  "Clocks_M_Clk_Out_PE"                LOC=AE3;  # Pads.Clocks.M_Clk_Out_PE
NET  "Clocks_M_Clk_Out_CB_Ctrl"           LOC=AE4;  # Pads.Clocks.M_Clk_Out_CB_Ctrl
NET  "Clocks_M_Clk_Out_Left_Mem"          LOC=AD5;  # Pads.Clocks.M_Clk_Out_Left_Mem
NET  "Clocks_M_Clk_Out_Right_Mem"         LOC=AC6;  # Pads.Clocks.M_Clk_Out_Right_Mem
NET  "Clocks_P_Clk_Out_PE"                LOC=AF4;  # Pads.Clocks.P_Clk_Out_PE
NET  "Clocks_P_Clk_Out_CB_Ctrl"           LOC=AC7;  # Pads.Clocks.P_Clk_Out_CB_Ctrl

NET  "Reset_Reset"                        LOC=AE8;  # Pads.Reset
NET  "Audio_Audio"                        LOC=C22;  # Pads.Audio

NET  "LAD_Bus_Addr_Data(0)"               LOC=N25;  # Pads.LAD_Bus.Addr_Data(0)
NET  "LAD_Bus_Addr_Data(1)"               LOC=N24;  # Pads.LAD_Bus.Addr_Data(1)
NET  "LAD_Bus_Addr_Data(2)"               LOC=M26;  # Pads.LAD_Bus.Addr_Data(2)
NET  "LAD_Bus_Addr_Data(3)"               LOC=M25;  # Pads.LAD_Bus.Addr_Data(3)
NET  "LAD_Bus_Addr_Data(4)"               LOC=M24;  # Pads.LAD_Bus.Addr_Data(4)
NET  "LAD_Bus_Addr_Data(5)"               LOC=M23;  # Pads.LAD_Bus.Addr_Data(5)
NET  "LAD_Bus_Addr_Data(6)"               LOC=L26;  # Pads.LAD_Bus.Addr_Data(6)
NET  "LAD_Bus_Addr_Data(7)"               LOC=K25;  # Pads.LAD_Bus.Addr_Data(7)
NET  "LAD_Bus_Addr_Data(8)"               LOC=L24;  # Pads.LAD_Bus.Addr_Data(8)
NET  "LAD_Bus_Addr_Data(9)"               LOC=L23;  # Pads.LAD_Bus.Addr_Data(9)
NET  "LAD_Bus_Addr_Data(10)"              LOC=J26;  # Pads.LAD_Bus.Addr_Data(10)
NET  "LAD_Bus_Addr_Data(11)"              LOC=J25;  # Pads.LAD_Bus.Addr_Data(11)
NET  "LAD_Bus_Addr_Data(12)"              LOC=K24;  # Pads.LAD_Bus.Addr_Data(12)
NET  "LAD_Bus_Addr_Data(13)"              LOC=K23;  # Pads.LAD_Bus.Addr_Data(13)
NET  "LAD_Bus_Addr_Data(14)"              LOC=H25;  # Pads.LAD_Bus.Addr_Data(14)
NET  "LAD_Bus_Addr_Data(15)"              LOC=J23;  # Pads.LAD_Bus.Addr_Data(15)
NET  "LAD_Bus_Addr_Data(16)"              LOC=G26;  # Pads.LAD_Bus.Addr_Data(16)
NET  "LAD_Bus_Addr_Data(17)"              LOC=G25;  # Pads.LAD_Bus.Addr_Data(17)
NET  "LAD_Bus_Addr_Data(18)"              LOC=H24;  # Pads.LAD_Bus.Addr_Data(18)
NET  "LAD_Bus_Addr_Data(19)"              LOC=H23;  # Pads.LAD_Bus.Addr_Data(19)
NET  "LAD_Bus_Addr_Data(20)"              LOC=F26;  # Pads.LAD_Bus.Addr_Data(20)
NET  "LAD_Bus_Addr_Data(21)"              LOC=F25;  # Pads.LAD_Bus.Addr_Data(21)
NET  "LAD_Bus_Addr_Data(22)"              LOC=G24;  # Pads.LAD_Bus.Addr_Data(22)
NET  "LAD_Bus_Addr_Data(23)"              LOC=D26;  # Pads.LAD_Bus.Addr_Data(23)
NET  "LAD_Bus_Addr_Data(24)"              LOC=E25;  # Pads.LAD_Bus.Addr_Data(24)
NET  "LAD_Bus_Addr_Data(25)"              LOC=F24;  # Pads.LAD_Bus.Addr_Data(25)
NET  "LAD_Bus_Addr_Data(26)"              LOC=F23;  # Pads.LAD_Bus.Addr_Data(26)
NET  "LAD_Bus_Addr_Data(27)"              LOC=D25;  # Pads.LAD_Bus.Addr_Data(27)
NET  "LAD_Bus_Addr_Data(28)"              LOC=E24;  # Pads.LAD_Bus.Addr_Data(28)
NET  "LAD_Bus_Addr_Data(29)"              LOC=C26;  # Pads.LAD_Bus.Addr_Data(29)
NET  "LAD_Bus_Addr_Data(30)"              LOC=E23;  # Pads.LAD_Bus.Addr_Data(30)
NET  "LAD_Bus_Addr_Data(31)"              LOC=D24;  # Pads.LAD_Bus.Addr_Data(31)
NET  "LAD_Bus_AS_n"                       LOC=C25;  # Pads.LAD_Bus.AS_n
NET  "LAD_Bus_DS_n"                       LOC=AC22; # Pads.LAD_Bus.DS_n
NET  "LAD_Bus_Ack_n"                      LOC=AF24; # Pads.LAD_Bus.Ack_n
NET  "LAD_Bus_Reg_n"                      LOC=AD22; # Pads.LAD_Bus.Reg_n
NET  "LAD_Bus_WR_n"                       LOC=B23;  # Pads.LAD_Bus.WR_n
NET  "LAD_Bus_CS_n"                       LOC=B24;  # Pads.LAD_Bus.CS_n
NET  "LAD_Bus_Int_Req_n"                  LOC=C23;  # Pads.LAD_Bus.Int_Req_n
NET  "LAD_Bus_DMA_0_Data_OK_n"            LOC=AF9;  # Pads.LAD_Bus.DMA_0_Data_OK_n
NET  "LAD_Bus_DMA_0_Burst_OK"             LOC=AC11; # Pads.LAD_Bus.DMA_0_Burst_OK
NET  "LAD_Bus_DMA_1_Data_OK_n"            LOC=AE10; # Pads.LAD_Bus.DMA_1_Data_OK_n
NET  "LAD_Bus_DMA_1_Burst_OK"             LOC=R1;   # Pads.LAD_Bus.DMA_1_Burst_OK
NET  "LAD_Bus_Reg_Data_OK_n"              LOC=AC21; # Pads.LAD_Bus.Reg_Data_OK_n
NET  "LAD_Bus_Reg_Burst_OK"               LOC=AE23; # Pads.LAD_Bus.Reg_Burst_OK
NET  "LAD_Bus_Force_K_Clk_n"              LOC=D21;  # Pads.LAD_Bus.Force_K_Clk_n
NET  "LAD_Bus_Reserved"                   LOC=D22;  # Pads.LAD_Bus.Reserved

NET  "Left_Mem_Addr(0)"                   LOC=AE12; # Pads.Left_Mem.Addr(0)
NET  "Left_Mem_Addr(1)"                   LOC=AF12; # Pads.Left_Mem.Addr(1)
NET  "Left_Mem_Addr(2)"                   LOC=AD13; # Pads.Left_Mem.Addr(2)
NET  "Left_Mem_Addr(3)"                   LOC=AD10; # Pads.Left_Mem.Addr(3)
NET  "Left_Mem_Addr(4)"                   LOC=AD14; # Pads.Left_Mem.Addr(4)
NET  "Left_Mem_Addr(5)"                   LOC=AF15; # Pads.Left_Mem.Addr(5)
NET  "Left_Mem_Addr(6)"                   LOC=AE15; # Pads.Left_Mem.Addr(6)
NET  "Left_Mem_Addr(7)"                   LOC=AD15; # Pads.Left_Mem.Addr(7)
NET  "Left_Mem_Addr(8)"                   LOC=AC15; # Pads.Left_Mem.Addr(8)
NET  "Left_Mem_Addr(9)"                   LOC=AE16; # Pads.Left_Mem.Addr(9)
NET  "Left_Mem_Addr(10)"                  LOC=AE17; # Pads.Left_Mem.Addr(10)
NET  "Left_Mem_Addr(11)"                  LOC=AD16; # Pads.Left_Mem.Addr(11)
NET  "Left_Mem_Addr(12)"                  LOC=AC16; # Pads.Left_Mem.Addr(12)
NET  "Left_Mem_Addr(13)"                  LOC=AF18; # Pads.Left_Mem.Addr(13)
NET  "Left_Mem_Addr(14)"                  LOC=AE18; # Pads.Left_Mem.Addr(14)
NET  "Left_Mem_Addr(15)"                  LOC=AD17; # Pads.Left_Mem.Addr(15)
NET  "Left_Mem_Addr(16)"                  LOC=AC17; # Pads.Left_Mem.Addr(16)
NET  "Left_Mem_Addr(17)"                  LOC=AD18; # Pads.Left_Mem.Addr(17)
NET  "Left_Mem_Addr(18)"                  LOC=AC18; # Pads.Left_Mem.Addr(18)
NET  "Left_Mem_Data(0)"                   LOC=AD25; # Pads.Left_Mem.Data(0)
NET  "Left_Mem_Data(1)"                   LOC=AB24; # Pads.Left_Mem.Data(1)
NET  "Left_Mem_Data(2)"                   LOC=AA23; # Pads.Left_Mem.Data(2)
NET  "Left_Mem_Data(3)"                   LOC=AC25; # Pads.Left_Mem.Data(3)
NET  "Left_Mem_Data(4)"                   LOC=AD26; # Pads.Left_Mem.Data(4)
NET  "Left_Mem_Data(5)"                   LOC=AC26; # Pads.Left_Mem.Data(5)
NET  "Left_Mem_Data(6)"                   LOC=Y23;  # Pads.Left_Mem.Data(6)
NET  "Left_Mem_Data(7)"                   LOC=AA24; # Pads.Left_Mem.Data(7)
NET  "Left_Mem_Data(8)"                   LOC=AB25; # Pads.Left_Mem.Data(8)
NET  "Left_Mem_Data(9)"                   LOC=AA25; # Pads.Left_Mem.Data(9)
NET  "Left_Mem_Data(10)"                  LOC=Y24;  # Pads.Left_Mem.Data(10)
NET  "Left_Mem_Data(11)"                  LOC=Y25;  # Pads.Left_Mem.Data(11)
NET  "Left_Mem_Data(12)"                  LOC=AA26; # Pads.Left_Mem.Data(12)
NET  "Left_Mem_Data(13)"                  LOC=V23;  # Pads.Left_Mem.Data(13)
NET  "Left_Mem_Data(14)"                  LOC=W24;  # Pads.Left_Mem.Data(14)
NET  "Left_Mem_Data(15)"                  LOC=W25;  # Pads.Left_Mem.Data(15)
NET  "Left_Mem_Data(16)"                  LOC=Y26;  # Pads.Left_Mem.Data(16)
NET  "Left_Mem_Data(17)"                  LOC=U23;  # Pads.Left_Mem.Data(17)
NET  "Left_Mem_Data(18)"                  LOC=V25;  # Pads.Left_Mem.Data(18)
NET  "Left_Mem_Data(19)"                  LOC=U24;  # Pads.Left_Mem.Data(19)
NET  "Left_Mem_Data(20)"                  LOC=V26;  # Pads.Left_Mem.Data(20)
NET  "Left_Mem_Data(21)"                  LOC=T23;  # Pads.Left_Mem.Data(21)
NET  "Left_Mem_Data(22)"                  LOC=U25;  # Pads.Left_Mem.Data(22)
NET  "Left_Mem_Data(23)"                  LOC=T24;  # Pads.Left_Mem.Data(23)
NET  "Left_Mem_Data(24)"                  LOC=T25;  # Pads.Left_Mem.Data(24)
NET  "Left_Mem_Data(25)"                  LOC=T26;  # Pads.Left_Mem.Data(25)
NET  "Left_Mem_Data(26)"                  LOC=R24;  # Pads.Left_Mem.Data(26)
NET  "Left_Mem_Data(27)"                  LOC=R25;  # Pads.Left_Mem.Data(27)
NET  "Left_Mem_Data(28)"                  LOC=R26;  # Pads.Left_Mem.Data(28)
NET  "Left_Mem_Data(29)"                  LOC=P24;  # Pads.Left_Mem.Data(29)
NET  "Left_Mem_Data(30)"                  LOC=P23;  # Pads.Left_Mem.Data(30)
NET  "Left_Mem_Data(31)"                  LOC=N26;  # Pads.Left_Mem.Data(31)
NET  "Left_Mem_Data(32)"                  LOC=AD12; # Pads.Left_Mem.Data(32)
NET  "Left_Mem_Data(33)"                  LOC=AC12; # Pads.Left_Mem.Data(33)
NET  "Left_Mem_Data(34)"                  LOC=AE11; # Pads.Left_Mem.Data(34)
NET  "Left_Mem_Data(35)"                  LOC=AD11; # Pads.Left_Mem.Data(35)
NET  "Left_Mem_Byte_WR_n(0)"              LOC=AC19; # Pads.Left_Mem.Byte_WR_n(0)
NET  "Left_Mem_Byte_WR_n(1)"              LOC=AD19; # Pads.Left_Mem.Byte_WR_n(1)
NET  "Left_Mem_Byte_WR_n(2)"              LOC=AE20; # Pads.Left_Mem.Byte_WR_n(2)
NET  "Left_Mem_Byte_WR_n(3)"              LOC=AF20; # Pads.Left_Mem.Byte_WR_n(3)
NET  "Left_Mem_CS_n"                      LOC=AD20; # Pads.Left_Mem.CS_n
NET  "Left_Mem_CE_n"                      LOC=AE21; # Pads.Left_Mem.CE_n
NET  "Left_Mem_WE_n"                      LOC=AF23; # Pads.Left_Mem.WE_n
NET  "Left_Mem_OE_n"                      LOC=AD21; # Pads.Left_Mem.OE_n
NET  "Left_Mem_Sleep_EN"                  LOC=B10;  # Pads.Left_Mem.Sleep_EN
NET  "Left_Mem_Load_EN_n"                 LOC=AF21; # Pads.Left_Mem.Load_EN_n
NET  "Left_Mem_Burst_Mode"                LOC=AE22; # Pads.Left_Mem.Burst_Mode

NET  "Right_Mem_Addr(0)"                  LOC=A12;  # Pads.Right_Mem.Addr(0)
NET  "Right_Mem_Addr(1)"                  LOC=C13;  # Pads.Right_Mem.Addr(1)
NET  "Right_Mem_Addr(2)"                  LOC=B13;  # Pads.Right_Mem.Addr(2)
NET  "Right_Mem_Addr(3)"                  LOC=A13;  # Pads.Right_Mem.Addr(3)
NET  "Right_Mem_Addr(4)"                  LOC=A15;  # Pads.Right_Mem.Addr(4)
NET  "Right_Mem_Addr(5)"                  LOC=B15;  # Pads.Right_Mem.Addr(5)
NET  "Right_Mem_Addr(6)"                  LOC=C15;  # Pads.Right_Mem.Addr(6)
NET  "Right_Mem_Addr(7)"                  LOC=D15;  # Pads.Right_Mem.Addr(7)
NET  "Right_Mem_Addr(8)"                  LOC=A16;  # Pads.Right_Mem.Addr(8)
NET  "Right_Mem_Addr(9)"                  LOC=C16;  # Pads.Right_Mem.Addr(9)
NET  "Right_Mem_Addr(10)"                 LOC=B17;  # Pads.Right_Mem.Addr(10)
NET  "Right_Mem_Addr(11)"                 LOC=D16;  # Pads.Right_Mem.Addr(11)
NET  "Right_Mem_Addr(12)"                 LOC=A18;  # Pads.Right_Mem.Addr(12)
NET  "Right_Mem_Addr(13)"                 LOC=C17;  # Pads.Right_Mem.Addr(13)
NET  "Right_Mem_Addr(14)"                 LOC=B18;  # Pads.Right_Mem.Addr(14)
NET  "Right_Mem_Addr(15)"                 LOC=C18;  # Pads.Right_Mem.Addr(15)
NET  "Right_Mem_Addr(16)"                 LOC=D17;  # Pads.Right_Mem.Addr(16)
NET  "Right_Mem_Addr(17)"                 LOC=B19;  # Pads.Right_Mem.Addr(17)
NET  "Right_Mem_Addr(18)"                 LOC=C19;  # Pads.Right_Mem.Addr(18)
NET  "Right_Mem_Data(0)"                  LOC=N2;   # Pads.Right_Mem.Data(0)
NET  "Right_Mem_Data(1)"                  LOC=N4;   # Pads.Right_Mem.Data(1)
NET  "Right_Mem_Data(2)"                  LOC=N3;   # Pads.Right_Mem.Data(2)
NET  "Right_Mem_Data(3)"                  LOC=M1;   # Pads.Right_Mem.Data(3)
NET  "Right_Mem_Data(4)"                  LOC=M2;   # Pads.Right_Mem.Data(4)
NET  "Right_Mem_Data(5)"                  LOC=M3;   # Pads.Right_Mem.Data(5)
NET  "Right_Mem_Data(6)"                  LOC=M4;   # Pads.Right_Mem.Data(6)
NET  "Right_Mem_Data(7)"                  LOC=L2;   # Pads.Right_Mem.Data(7)
NET  "Right_Mem_Data(8)"                  LOC=L3;   # Pads.Right_Mem.Data(8)
NET  "Right_Mem_Data(9)"                  LOC=K2;   # Pads.Right_Mem.Data(9)
NET  "Right_Mem_Data(10)"                 LOC=L4;   # Pads.Right_Mem.Data(10)
NET  "Right_Mem_Data(11)"                 LOC=J1;   # Pads.Right_Mem.Data(11)
NET  "Right_Mem_Data(12)"                 LOC=K3;   # Pads.Right_Mem.Data(12)
NET  "Right_Mem_Data(13)"                 LOC=J2;   # Pads.Right_Mem.Data(13)
NET  "Right_Mem_Data(14)"                 LOC=J3;   # Pads.Right_Mem.Data(14)
NET  "Right_Mem_Data(15)"                 LOC=G1;   # Pads.Right_Mem.Data(15)
NET  "Right_Mem_Data(16)"                 LOC=H2;   # Pads.Right_Mem.Data(16)
NET  "Right_Mem_Data(17)"                 LOC=H3;   # Pads.Right_Mem.Data(17)
NET  "Right_Mem_Data(18)"                 LOC=J4;   # Pads.Right_Mem.Data(18)
NET  "Right_Mem_Data(19)"                 LOC=F1;   # Pads.Right_Mem.Data(19)
NET  "Right_Mem_Data(20)"                 LOC=G2;   # Pads.Right_Mem.Data(20)
NET  "Right_Mem_Data(21)"                 LOC=G3;   # Pads.Right_Mem.Data(21)
NET  "Right_Mem_Data(22)"                 LOC=F2;   # Pads.Right_Mem.Data(22)
NET  "Right_Mem_Data(23)"                 LOC=E2;   # Pads.Right_Mem.Data(23)
NET  "Right_Mem_Data(24)"                 LOC=F3;   # Pads.Right_Mem.Data(24)
NET  "Right_Mem_Data(25)"                 LOC=G4;   # Pads.Right_Mem.Data(25)
NET  "Right_Mem_Data(26)"                 LOC=D1;   # Pads.Right_Mem.Data(26)
NET  "Right_Mem_Data(27)"                 LOC=C1;   # Pads.Right_Mem.Data(27)
NET  "Right_Mem_Data(28)"                 LOC=D2;   # Pads.Right_Mem.Data(28)
NET  "Right_Mem_Data(29)"                 LOC=F4;   # Pads.Right_Mem.Data(29)
NET  "Right_Mem_Data(30)"                 LOC=E3;   # Pads.Right_Mem.Data(30)
NET  "Right_Mem_Data(31)"                 LOC=C2;   # Pads.Right_Mem.Data(31)
NET  "Right_Mem_Data(32)"                 LOC=B12;  # Pads.Right_Mem.Data(32)
NET  "Right_Mem_Data(33)"                 LOC=C12;  # Pads.Right_Mem.Data(33)
NET  "Right_Mem_Data(34)"                 LOC=A11;  # Pads.Right_Mem.Data(34)
NET  "Right_Mem_Data(35)"                 LOC=B11;  # Pads.Right_Mem.Data(35)
NET  "Right_Mem_Byte_WR_n(0)"             LOC=C20;  # Pads.Right_Mem.Byte_WR_n(0)
NET  "Right_Mem_Byte_WR_n(1)"             LOC=B20;  # Pads.Right_Mem.Byte_WR_n(1)
NET  "Right_Mem_Byte_WR_n(2)"             LOC=A21;  # Pads.Right_Mem.Byte_WR_n(2)
NET  "Right_Mem_Byte_WR_n(3)"             LOC=D18;  # Pads.Right_Mem.Byte_WR_n(3)
NET  "Right_Mem_CS_n"                     LOC=C21;  # Pads.Right_Mem.CS_n
NET  "Right_Mem_CE_n"                     LOC=B22;  # Pads.Right_Mem.CE_n
NET  "Right_Mem_WE_n"                     LOC=D20;  # Pads.Right_Mem.WE_n
NET  "Right_Mem_OE_n"                     LOC=A24;  # Pads.Right_Mem.OE_n
NET  "Right_Mem_Sleep_EN"                 LOC=C11;  # Pads.Right_Mem.Sleep_EN
NET  "Right_Mem_Load_EN_n"                LOC=B21;  # Pads.Right_Mem.Load_EN_n
NET  "Right_Mem_Burst_Mode"               LOC=A23;  # Pads.Right_Mem.Burst_Mode'

NET  "Left_IO(0)"                         LOC=AC3;  # Pads.Left_IO(0)
NET  "Left_IO(1)"                         LOC=AB4;  # Pads.Left_IO(1)
NET  "Left_IO(2)"                         LOC=AD1;  # Pads.Left_IO(2)
NET  "Left_IO(3)"                         LOC=AB3;  # Pads.Left_IO(3)
NET  "Left_IO(4)"                         LOC=AC2;  # Pads.Left_IO(4)
NET  "Left_IO(5)"                         LOC=AA4;  # Pads.Left_IO(5)
NET  "Left_IO(6)"                         LOC=AA3;  # Pads.Left_IO(6)
NET  "Left_IO(7)"                         LOC=AB2;  # Pads.Left_IO(7)
NET  "Left_IO(8)"                         LOC=AC1;  # Pads.Left_IO(8)
NET  "Left_IO(9)"                         LOC=Y3;   # Pads.Left_IO(9)
NET  "Left_IO(10)"                        LOC=AA2;  # Pads.Left_IO(10)
NET  "Left_IO(11)"                        LOC=AA1;  # Pads.Left_IO(11)
NET  "Left_IO(12)"                        LOC=W4;   # Pads.Left_IO(12)

NET  "Right_IO(0)"                        LOC=W3;   # Pads.Right_IO(0)
NET  "Right_IO(1)"                        LOC=Y2;   # Pads.Right_IO(1)
NET  "Right_IO(2)"                        LOC=Y1;   # Pads.Right_IO(2)
NET  "Right_IO(3)"                        LOC=V4;   # Pads.Right_IO(3)
NET  "Right_IO(4)"                        LOC=V3;   # Pads.Right_IO(4)
NET  "Right_IO(5)"                        LOC=U4;   # Pads.Right_IO(5)
NET  "Right_IO(6)"                        LOC=U3;   # Pads.Right_IO(6)
NET  "Right_IO(7)"                        LOC=V2;   # Pads.Right_IO(7)
NET  "Right_IO(8)"                        LOC=V1;   # Pads.Right_IO(8)
NET  "Right_IO(9)"                        LOC=T4;   # Pads.Right_IO(9)
NET  "Right_IO(10)"                       LOC=T3;   # Pads.Right_IO(10)
NET  "Right_IO(11)"                       LOC=U2;   # Pads.Right_IO(11)
NET  "Right_IO(12)"                       LOC=C4;   # Pads.Right_IO(12)

