NET up2 LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET up1 LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET down2 LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET down1 LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;  
NET rst LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;
NET clk LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET r LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET g LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET b LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET hs LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET vs LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

