#Board PCI and user devices location
#Change extension pins IO level if required


#Board leds

NET LED_OUT<0> LOC="P96"  | IOSTANDARD = LVCMOS33;
NET LED_OUT<1> LOC="P83"  | IOSTANDARD = LVCMOS33;
NET LED_OUT<2> LOC="P82"  | IOSTANDARD = LVCMOS33;

#IO extension connector pin 13 and 14 is 3.3V, pin 19 and 20 is Gnd

NET IO_EXT_1	LOC="P152"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_2	LOC="P153"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_3	LOC="P150"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_4	LOC="P151"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_5	LOC="P146"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_6	LOC="P147"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_7	LOC="P144"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_8	LOC="P145"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_9	LOC="P137"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_10	LOC="P138"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_11	LOC="P128"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_12	LOC="P129"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_15	LOC="P126"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_16	LOC="P127"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_17	LOC="P119"  | IOSTANDARD = LVCMOS33;
NET IO_EXT_18	LOC="P120"  | IOSTANDARD = LVCMOS33;


#TOSLINK fiber optic

NET TOSRX LOC="P106" | DRIVE = 8 | IOSTANDARD = LVCMOS33;
NET TOSTX	LOC="P107" | DRIVE = 8 | IOSTANDARD = LVCMOS33;

#user oscillator

NET CLK_50Mhz LOC="P180" | SLEW = FAST | IOSTANDARD = LVCMOS33;

#PCI bus card edge connector

NET PCI_CLK	LOC="P177" | IOSTANDARD = PCI33_3;
NET PCI_REQ	LOC="P179" | IOSTANDARD = PCI33_3;
NET "PCI_AD<31>"	LOC="P181" | IOSTANDARD = PCI33_3;
NET "PCI_AD<29>"	LOC="P186" | IOSTANDARD = PCI33_3;
NET "PCI_AD<27>"	LOC="P189" | IOSTANDARD = PCI33_3;
NET "PCI_AD<25>"	LOC="P192" | IOSTANDARD = PCI33_3;
NET "PCI_CBE<3>"	LOC="P196" | IOSTANDARD = PCI33_3;
NET "PCI_AD<23>"	LOC="P199" | IOSTANDARD = PCI33_3;
NET "PCI_AD<21>"	LOC="P202" | IOSTANDARD = PCI33_3;
NET "PCI_AD<19>"	LOC="P205" | IOSTANDARD = PCI33_3;
NET "PCI_AD<17>"	LOC="P3" | IOSTANDARD = PCI33_3;
NET "PCI_CBE<2>"	LOC="P5" | IOSTANDARD = PCI33_3;
NET PCI_nIRDY	LOC="P9" | IOSTANDARD = PCI33_3;
NET PCI_nDEVSEL	LOC="P12" | IOSTANDARD = PCI33_3;
NET PCI_nPERR	LOC="P16" | IOSTANDARD = PCI33_3;
NET PCI_nSERR	LOC="P18" | IOSTANDARD = PCI33_3;
NET "PCI_CBE<1>"	LOC="P22" | IOSTANDARD = PCI33_3;
NET "PCI_AD<14>"	LOC="P24" | IOSTANDARD = PCI33_3;
NET "PCI_AD<12>"	LOC="P28" | IOSTANDARD = PCI33_3;
NET "PCI_AD<10>"	LOC="P30" | IOSTANDARD = PCI33_3;
NET "PCI_AD<8>"	LOC="P33" | IOSTANDARD = PCI33_3;
NET "PCI_AD<7>"	LOC="P35" | IOSTANDARD = PCI33_3;
NET "PCI_AD<5>"	LOC="P39" | IOSTANDARD = PCI33_3;
NET "PCI_AD<3>"	LOC="P41" | IOSTANDARD = PCI33_3;
NET "PCI_AD<1>"	LOC="P47" | IOSTANDARD = PCI33_3;

NET PCI_nINT	LOC="P171" | IOSTANDARD = PCI33_3 | SLEW = FAST ;
NET PCI_nRES	LOC="P172" | IOSTANDARD = PCI33_3;
NET PCI_GNT       LOC="P178" | IOSTANDARD = PCI33_3;
NET "PCI_AD<30>"	LOC="P185" | IOSTANDARD = PCI33_3;
NET "PCI_AD<28>"	LOC="P187" | IOSTANDARD = PCI33_3;
NET "PCI_AD<26>"	LOC="P190" | IOSTANDARD = PCI33_3;
NET "PCI_AD<24>"	LOC="P193" | IOSTANDARD = PCI33_3;
NET PCI_IDSEL LOC="P197" | IOSTANDARD = PCI33_3;
NET "PCI_AD<22>"	LOC="P200" | IOSTANDARD = PCI33_3;
NET "PCI_AD<20>"	LOC="P203" | IOSTANDARD = PCI33_3;
NET "PCI_AD<18>"	LOC="P2" | IOSTANDARD = PCI33_3;
NET "PCI_AD<16>"	LOC="P4" | IOSTANDARD = PCI33_3;
NET PCI_nFRAME LOC="P8" | IOSTANDARD = PCI33_3;
NET PCI_nTRDY	LOC="P11" | IOSTANDARD = PCI33_3;
NET PCI_nSTOP	LOC="P15" | IOSTANDARD = PCI33_3;
NET PCI_PAR LOC="P19" | IOSTANDARD = PCI33_3;
NET "PCI_AD<15>"	LOC="P23" | IOSTANDARD = PCI33_3;
NET "PCI_AD<13>"	LOC="P25" | IOSTANDARD = PCI33_3;
NET "PCI_AD<11>"	LOC="P29" | IOSTANDARD = PCI33_3;
NET "PCI_AD<9>"	LOC="P31" | IOSTANDARD = PCI33_3;
NET "PCI_CBE<0>"	LOC="P34" | IOSTANDARD = PCI33_3;
NET "PCI_AD<6>"	LOC="P36" | IOSTANDARD = PCI33_3;
NET "PCI_AD<4>"	LOC="P40" | IOSTANDARD = PCI33_3;
NET "PCI_AD<2>"	LOC="P42" | IOSTANDARD = PCI33_3;
NET "PCI_AD<0>"	LOC="P48" | IOSTANDARD = PCI33_3;

