NET clock LOC = P181;
NET clock PERIOD = 40; # 40ns = 25MHz
NET QuadA LOC = P8;
NET QuadB LOC = P9;
NET QuadA PULLUP;
NET QuadB PULLUP;
NET CounterValue<0> LOC=P55;
NET CounterValue<1> LOC=P56;
NET CounterValue<2> LOC=P57;
NET CounterValue<3> LOC=P58;
NET CounterValue<4> LOC=P59;
NET CounterValue<5> LOC=P60;
NET CounterValue<6> LOC=P61;
NET CounterValue<7> LOC=P62;
NET CounterValue<8> LOC=P64;
NET CounterValue<9> LOC=P65;
NET CounterValue<10> LOC=P66;
NET CounterValue<11> LOC=P67;
NET CounterValue<12> LOC=P68;
NET CounterValue<13> LOC=P69;
NET CounterValue<12> LOC=P70;
NET CounterValue<13> LOC=P71;
