NET clock LOC = P181;
NET clock PERIOD = 40; # 40ns = 25MHz
NET stepdrive<0> LOC = P25;
NET stepdrive<1> LOC = P26;
NET stepdrive<2> LOC = P27;
NET stepdrive<3> LOC = P28;
NET Direction LOC = P29;
NET Direction PULLUP;
NET StepEnable LOC = P31;
NET StepEnable PULLUP;
NET ProvideStaticHolding LOC = P33;
NET ProvideStaticHolding PULLUP;



