NET "CLK_ADC" LOC = "A13";
NET "ADC_DATA<0>" LOC = "D5";
NET "ADC_DATA<1>" LOC = "C5";
NET "ADC_DATA<2>" LOC = "D6";
NET "ADC_DATA<3>" LOC = "C6";
NET "ADC_DATA<4>" LOC = "E7";
NET "ADC_DATA<5>" LOC = "C7";
NET "ADC_DATA<6>" LOC = "D7";
NET "ADC_DATA<7>" LOC = "C8";
NET "ADC_DATA<8>" LOC = "D8";
NET "CLK_50MHZ_IN" LOC = "T9";
NET "H_SYNC" LOC = "R9";
NET "MASTER_RST" LOC = "L14";
NET "PS2C" LOC = "M16";
NET "PS2D" LOC = "M15";
NET "VGA_OUTPUT<1>" LOC = "T12";
NET "VGA_OUTPUT<2>" LOC = "R11";
NET "VGA_RAM_ADDR<0>" LOC = "L5";
NET "VGA_RAM_ADDR<1>" LOC = "N3";
NET "VGA_RAM_ADDR<2>" LOC = "M4";
NET "VGA_RAM_ADDR<3>" LOC = "M3";
NET "VGA_RAM_ADDR<4>" LOC = "L4";
NET "VGA_RAM_ADDR<5>" LOC = "G4";
NET "VGA_RAM_ADDR<6>" LOC = "F3";
NET "VGA_RAM_ADDR<7>" LOC = "F4";
NET "VGA_RAM_ADDR<8>" LOC = "E3";
NET "VGA_RAM_ADDR<9>" LOC = "E4";
NET "VGA_RAM_ADDR<10>" LOC = "G5";
NET "VGA_RAM_ADDR<11>" LOC = "H3";
NET "VGA_RAM_ADDR<12>" LOC = "H4";
NET "VGA_RAM_ADDR<13>" LOC = "J4";
NET "VGA_RAM_ADDR<14>" LOC = "J3";
NET "VGA_RAM_ADDR<15>" LOC = "K3";
NET "VGA_RAM_ADDR<16>" LOC = "K5";
NET "VGA_RAM_ADDR<17>" LOC = "L3";
NET "VGA_RAM_CS" LOC = "P7";
NET "VGA_RAM_DATA<0>" LOC = "N7";
NET "VGA_RAM_DATA<1>" LOC = "T8";
NET "VGA_RAM_DATA<2>" LOC = "R6";
NET "VGA_RAM_DATA<3>" LOC = "T5";
NET "VGA_RAM_DATA<4>" LOC = "R5";
NET "VGA_RAM_DATA<5>" LOC = "C2";
NET "VGA_RAM_DATA<6>" LOC = "C1";
NET "VGA_RAM_DATA<7>" LOC = "B1";
NET "VGA_RAM_DATA<8>" LOC = "D3";
NET "VGA_RAM_DATA<9>" LOC = "P8";
NET "VGA_RAM_DATA<10>" LOC = "F2";
NET "VGA_RAM_DATA<11>" LOC = "H1";
NET "VGA_RAM_DATA<12>" LOC = "J2";
NET "VGA_RAM_DATA<13>" LOC = "L2";
NET "VGA_RAM_DATA<14>" LOC = "P1";
NET "VGA_RAM_DATA<15>" LOC = "R1";
NET "VGA_RAM_OE" LOC = "K4";
NET "VGA_RAM_WE" LOC = "G3";
NET "V_SYNC" LOC = "T10";
NET "VGA_OUTPUT<0>" LOC = "R12";
NET "leds<0>" LOC = "K12";
NET "leds<1>" LOC = "P14";
NET "leds<2>" LOC = "L12";
NET "leds<3>" LOC = "N14";
NET "leds<4>" LOC = "P13";
NET "leds<5>" LOC = "N12";
NET "leds<6>" LOC = "P12";
NET "leds<7>" LOC = "P11";
NET "SEG_OUT<0>" LOC = "E14";
NET "SEG_OUT<1>" LOC = "G13";
NET "SEG_OUT<2>" LOC = "N15";
NET "SEG_OUT<3>" LOC = "P15";
NET "SEG_OUT<4>" LOC = "R16";
NET "SEG_OUT<5>" LOC = "F13";
NET "SEG_OUT<6>" LOC = "N16";
NET "SEG_SEL<0>" LOC = "D14";
NET "SEG_SEL<1>" LOC = "G14";
NET "SEG_SEL<2>" LOC = "F14";
NET "SEG_SEL<3>" LOC = "E13";
NET "SHOW_LEVELS_BUTTON" LOC = "K13";
