#########################################
# File : UB_Clock_UCF.ucf
# Autor : UB
#
# Constraint-File fuer die externen Clock-Quellen
# auf dem Spartan-3A Board
#
# CLK_50MHZ_IN = 50 MHz
# CLK_AUX_IN = 133,33 MHz
# CLK_SMA_IN = nicht belegt
# 
#
# unbenutzte Netze per '#' deaktivieren
#
#########################################

#NET "CLK_50MHZ_IN" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "CLK_AUX_IN" LOC = "V12"| IOSTANDARD = LVCMOS33 ;
#NET "CLK_SMA_IN" LOC = "U12"| IOSTANDARD = LVCMOS33 ;


#########################################
# Port-Zuweisungen
#########################################
#
#
# CLK_50MHZ_IN : in std_logic;
# CLK_AUX_IN : in std_logic;
# CLK_SMA_IN : in std_logic;
# 
#########################################