#########################################
# File : UB_Schalter_UCF.ucf
# Autor : UB
#
# Constraint-File fuer die 4 Schalter
# auf dem Spartan-3A Board
#
# als 4bit BUS
#
# Signal ist Hi oder Lo je nach Position
#
# unbenutzte Netze per '#' deaktivieren
#
#########################################

NET "SW_IN<0>" LOC = "V8" | IOSTANDARD = LVCMOS33 ;
NET "SW_IN<1>" LOC = "U10"| IOSTANDARD = LVCMOS33 ;
NET "SW_IN<2>" LOC = "U8" | IOSTANDARD = LVCMOS33 ;
NET "SW_IN<3>" LOC = "T9" | IOSTANDARD = LVCMOS33 ;


#########################################
# Port-Zuweisungen
#########################################
#
#
# SW_IN : in std_logic_vector(3 downto 0);
# 
#########################################