#########################################
# File : UB_Taster_BUS_UCF.ucf
# Autor : UB
#
# Constraint-File fuer die 4 Buttons
# auf dem Spartan-3A Board
#
# als 4bit BUS
#
# Signal ist bei gedruecktem Taster = Hi
#
# unbenutzte Netze per '#' deaktivieren
#
#########################################

NET "BTN_IN<0>" LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_IN<1>" LOC = "T14" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_IN<2>" LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_IN<3>" LOC = "U15" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

#########################################
# Port-Zuweisungen
#########################################
#
#
# BTN_IN : in std_logic_vector(3 downto 0);
# 
#########################################