#########################################
# File : UB_Y-LED_UCF.ucf
# Autor : UB
#
# Constraint-File fuer die Gelbe LED
# (AWAKE) auf dem Spartan-3A Board
#
#
# LED leuchtet bei HI
#
# unbenutzte Netze per '#' deaktivieren
#
#########################################

# um die LED zu nutzen, muss der Suspend-Mode
# ausgeschaltet werden

CONFIG ENABLE_SUSPEND = NO ;
NET "LED_YELLOW_OUT" LOC = "AB15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;


#########################################
# Port-Zuweisungen
#########################################
#
#
# LED_YELLOW_OUT : out std_logic;
# 
#########################################