//! **************************************************************************
// Written by: Map O.40d on Tue May 17 19:22:00 2011
//! **************************************************************************

SCHEMATIC START;
COMP "Segments<0>" LOCATE = SITE "E14" LEVEL 1;
COMP "Segments<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "Segments<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "Segments<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "Segments<4>" LOCATE = SITE "R16" LEVEL 1;
COMP "Segments<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "Segments<6>" LOCATE = SITE "N16" LEVEL 1;
COMP "B" LOCATE = SITE "R11" LEVEL 1;
COMP "G" LOCATE = SITE "T12" LEVEL 1;
COMP "R" LOCATE = SITE "R12" LEVEL 1;
COMP "HS" LOCATE = SITE "R9" LEVEL 1;
COMP "VS" LOCATE = SITE "T10" LEVEL 1;
COMP "LED" LOCATE = SITE "K12" LEVEL 1;
COMP "Clk" LOCATE = SITE "T9" LEVEL 1;
COMP "reset" LOCATE = SITE "L14" LEVEL 1;
COMP "MoveLeft" LOCATE = SITE "J13" LEVEL 1;
COMP "MoveDown" LOCATE = SITE "K14" LEVEL 1;
COMP "inColor<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "inColor<1>" LOCATE = SITE "H14" LEVEL 1;
COMP "inColor<2>" LOCATE = SITE "G12" LEVEL 1;
COMP "MoveP1" LOCATE = SITE "M13" LEVEL 1;
COMP "MoveP2" LOCATE = SITE "M14" LEVEL 1;
COMP "MoveUp" LOCATE = SITE "K13" LEVEL 1;
COMP "button" LOCATE = SITE "L13" LEVEL 1;
COMP "MoveRight" LOCATE = SITE "J14" LEVEL 1;
COMP "Enables<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "Enables<1>" LOCATE = SITE "F14" LEVEL 1;
COMP "Enables<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "Enables<3>" LOCATE = SITE "D14" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

