NET "Clk" LOC = "T9";
NET "R" LOC = "R12";
NET "G" LOC = "T12";
NET "B" LOC = "R11";
NET "HS" LOC = "R9";
NET "VS" LOC = "T10";
NET "button" LOC = "L13";
NET "reset" LOC = "L14";
NET "Enables<0>" LOC = "E13"; 
NET "Enables<1>" LOC = "F14"; 
NET "Enables<2>" LOC = "G14"; 
NET "Enables<3>" LOC = "D14"; 
NET "Segments<0>" LOC = "E14"; 
NET "Segments<1>" LOC = "G13"; 
NET "Segments<2>" LOC = "N15"; 
NET "Segments<3>" LOC = "P15"; 
NET "Segments<4>" LOC = "R16"; 
NET "Segments<5>" LOC = "F13"; 
NET "Segments<6>" LOC = "N16"; 
NET "LED" LOC = "K12";
NET "MoveUp" LOC = "K13";
NET "MoveDown" LOC = "K14";
NET "MoveLeft" LOC = "J13";
NET "MoveRight" LOC = "J14";
NET "MoveP1" LOC = "M13";
NET "MoveP2" LOC = "M14";
NET "inColor<0>"  LOC = "F12";
NET "inColor<1>"  LOC = "H14";
NET "inColor<2>"  LOC = "G12";