# Copyright (C) 2004 DSP&FPGA
# Author: SaVa <s.valach@dspfpga.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the OpenIPCore Hardware General Public
# License as published by the OpenIPCore Organization; either version
# 0.20-15092000 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# OpenIPCore Hardware General Public License for more details.
#
# You should have received a copy of the OpenIPCore Hardware Public
# License along with this program; if not, download it from
# OpenCores.org (http://www.opencores.org/OIPC/OHGPL.shtml).

TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 20 ns;
NET "SDRCLKF" TNM_NET = "SDRCLKF";

TIMESPEC "TS_SDRCLKF" = PERIOD "SDRCLKF" 20 ns HIGH 50 %;

#NET "CLKETRF" TNM_NET = "CLKETRF"
#TIMESPEC "TS_CLKETRF" = PERIOD "CLKETRF" 10 ns HIGH 50 %
#NET "CLKETRF"     LOC   = "AA12"


#FPGA SDRAM signals Group
#Address & control
NET "SA<*>"       IOSTANDARD = LVTTL;

NET "SA<0>"       LOC = "D13";
NET "SA<1>"       LOC = "A18";
NET "SA<2>"       LOC = "D14";
NET "SA<3>"       LOC = "D15";
NET "SA<4>"       LOC = "E16";
NET "SA<5>"       LOC = "D17";
NET "SA<6>"       LOC = "D18";
NET "SA<7>"       LOC = "C19";
NET "SA<8>"       LOC = "B20";
NET "SA<9>"       LOC = "B19";
NET "SA<10>"      LOC = "A19";
NET "SA<11>"      LOC = "B18";
NET "SA<12>"      LOC = "C13";
NET "SA<13>"      LOC = "C18";
NET "SA<14>"      LOC = "B17";

NET "SCAS"        LOC = "A15"    | IOSTANDARD = LVTTL;
NET "SRAS"        LOC = "B15"    | IOSTANDARD = LVTTL;
NET "SCS"         LOC = "C17"    | IOSTANDARD = LVTTL;

NET "SCKE"        LOC = "B13"    | IOSTANDARD = LVTTL;
NET "SDQMH"       LOC = "A12"    | IOSTANDARD = LVTTL;
NET "SDQML"       LOC = "A14"    | IOSTANDARD = LVTTL;
NET "SWE"         LOC = "B14"    | IOSTANDARD = LVTTL;

# Clock
NET "SCLK"        LOC = "A13"    | IOSTANDARD = LVTTL;
NET "SCLK_FB"     LOC = "B12"    | IOSTANDARD = LVTTL;

# Data
NET "SD<*>"       IOSTANDARD = LVTTL;

NET "SD<0>"       LOC = "A3";
NET "SD<1>"       LOC = "A4";
NET "SD<2>"       LOC = "B4";
NET "SD<3>"       LOC = "A5";
NET "SD<4>"       LOC = "B5";
NET "SD<5>"       LOC = "A8";
NET "SD<6>"       LOC = "A9";
NET "SD<7>"       LOC = "A10";
NET "SD<8>"       LOC = "B10";
NET "SD<9>"       LOC = "B9";
NET "SD<10>"      LOC = "B8";
NET "SD<11>"      LOC = "B6";
NET "SD<12>"      LOC = "C7";
NET "SD<13>"      LOC = "C6";
NET "SD<14>"      LOC = "C5";
NET "SD<15>"      LOC = "D5";


NET "X<88>" LOC = "Y22";
NET "X<89>" LOC = "Y21";

# Etrax Section

# Bus 
# Data Bus
NET  "D<*>"       IOSTANDARD = LVTTL;

NET  "D<0>"       LOC = "AA14" ; 
NET  "D<1>"       LOC = "AB14" ;
NET  "D<2>"       LOC = "U12"  ;
NET  "D<3>"       LOC = "V12"  ; 
NET  "D<4>"       LOC = "W11"  ; 
NET  "D<5>"       LOC = "V11"  ; 
NET  "D<6>"       LOC = "AB9"  ; 
NET  "D<7>"       LOC = "AA9"  ; 
NET  "D<8>"       LOC = "W10"  ; 
NET  "D<9>"	  LOC = "W13"  ; 
NET  "D<10>"      LOC = "W14"  ; 
NET  "D<11>"      LOC = "V14"  ; 
NET  "D<12>"      LOC = "U14"  ; 
NET  "D<13>"      LOC = "U16"  ; 
NET  "D<14>"      LOC = "W16"  ; 
NET  "D<15>"      LOC = "V16"  ; 
NET  "D<16>"      LOC = "U2"   ; 
NET  "D<17>"      LOC = "U5"   ; 
NET  "D<18>"      LOC = "T6"   ; 
NET  "D<19>"      LOC = "T1"   ;
NET  "D<20>"      LOC = "T2"   ; 
NET  "D<21>"      LOC = "V4"   ; 
NET  "D<22>"      LOC = "N3"   ; 
NET  "D<23>"      LOC = "N1"   ; 
NET  "D<24>"      LOC = "U3"   ; 
NET  "D<25>"      LOC = "U4"   ; 
NET  "D<26>"      LOC = "N2"   ; 
NET  "D<27>"      LOC = "V3"   ; 
NET  "D<28>"      LOC = "T5"   ; 
NET  "D<29>"      LOC = "V5"   ; 
NET  "D<30>"      LOC = "M1"   ; 
NET  "D<31>"      LOC = "M2"   ; 

# Address bus
NET  "A<*>"	  IOSTANDARD = LVTTL;

NET  "A<1>"       LOC = "AA5"  ;
NET  "A<2>"       LOC = "AA6"  ; 
NET  "A<3>"       LOC = "W8"   ; 
NET  "A<4>"       LOC = "AB8"  ; 
NET  "A<5>"       LOC = "AA8"  ; 
NET  "A<6>"       LOC = "AB10" ; 
NET  "A<7>"       LOC = "AA10" ; 
NET  "A<8>"       LOC = "AB11" ; 
NET  "A<9>"       LOC = "Y17"  ; 
NET  "A<10>"      LOC = "AA17" ; 
NET  "A<11>"      LOC = "AB18" ; 
NET  "A<12>"      LOC = "AA18" ; 
NET  "A<13>"      LOC = "Y18"  ; 
NET  "A<14>"      LOC = "W18"  ; 
NET  "A<15>"      LOC = "AB20" ; 
NET  "A<16>"      LOC = "AA20" ; 
NET  "A<17>"      LOC = "V17"  ; 
NET  "A<18>"      LOC = "AB13" ; 
NET  "A<19>"      LOC = "AA13" ; 
NET  "A<20>"      LOC = "Y16"  ; 
NET  "A<21>"      LOC = "AA15" ; 
NET  "A<22>"      LOC = "AB15" ; 

# Control Bus
NET  "CSP0"       LOC = "W3"     | IOSTANDARD = LVTTL; 
NET  "CSP4"       LOC = "V6"     | IOSTANDARD = LVTTL; 
NET  "CSR0"       LOC = "W4"     | IOSTANDARD = LVTTL; 
NET  "CSR1"       LOC = "Y5"     | IOSTANDARD = LVTTL; 
NET  "CSD<0>"     LOC = "Y1"     | IOSTANDARD = LVTTL; 
NET  "CSD<1>"     LOC = "Y2"     | IOSTANDARD = LVTTL; 
NET  "CSE<0>"     LOC = "W9"     | IOSTANDARD = LVTTL; 
NET  "CSE<1>"     LOC = "V9"     | IOSTANDARD = LVTTL; 

NET  "RAS"        LOC = "W17"    | IOSTANDARD = LVTTL;
NET  "CAS"        LOC = "U17"    | IOSTANDARD = LVTTL;

NET  "WR<0>"      LOC = "Y6"     | IOSTANDARD = LVTTL; 
NET  "WR<1>"      LOC = "W2"     | IOSTANDARD = LVTTL; 
NET  "WR<2>"      LOC = "W5"     | IOSTANDARD = LVTTL; 
NET  "WR<3>"      LOC = "W1"     | IOSTANDARD = LVTTL; 
NET  "RD"         LOC = "Y10"    | IOSTANDARD = LVTTL; 
NET  "SDWE"       LOC = "V18"    | IOSTANDARD = LVTTL;
NET  "DQM<0>"     LOC = "AB4"    | IOSTANDARD = LVTTL;
NET  "DQM<1>"     LOC = "Y3"     | IOSTANDARD = LVTTL;
NET  "DQM<2>"     LOC = "AB5"    | IOSTANDARD = LVTTL;
NET  "DQM<3>"     LOC = "AA4"    | IOSTANDARD = LVTTL;

NET  "DACK0"      LOC = "U7"     | IOSTANDARD = LVTTL; 
NET  "DREQ0"      LOC = "U6"     | IOSTANDARD = LVTTL; 
NET  "DACK1"      LOC = "V7"     | IOSTANDARD = LVTTL;
NET  "DREQ1"      LOC = "W6"     | IOSTANDARD = LVTTL;

NET  "E_WAIT"     LOC = "V2"     | IOSTANDARD = LVTTL;

NET  "INTA"       LOC = "V1"     | IOSTANDARD = LVTTL; 
NET  "NMI"        LOC = "M6"     | IOSTANDARD = LVTTL; 
NET  "IRQ"        LOC = "M5"     | IOSTANDARD = LVTTL; 

NET  "RESET"      LOC = "V8"     | IOSTANDARD = LVTTL; 
NET  "SDRCLKF"    LOC = "AB12"   | IOSTANDARD = LVTTL; 

# User IOs

NET "I2C_CLK"     LOC = "M3"     | IOSTANDARD = LVTTL; 
NET "I2C_DATA"    LOC = "M4"     | IOSTANDARD = LVTTL; 
NET "I2C_RESET"   LOC = "N4"     | IOSTANDARD = LVTTL; 

# X_Bus
NET  "X<*>"	  IOSTANDARD = LVTTL; 

NET  "X<0>"       LOC = "Y19"  ; 
NET  "X<1>"       LOC = "V22"  ; 
NET  "X<2>"       LOC = "D7"   ; 
NET  "X<3>"       LOC = "E6"   ; 
NET  "X<4>"       LOC = "E7"   ; 
NET  "X<5>"       LOC = "F6"   ; 
NET  "X<6>"       LOC = "F7"   ; 
NET  "X<7>"       LOC = "E9"   ; 
NET  "X<8>"       LOC = "F9"   ; 
NET  "X<9>"       LOC = "E10"  ; 
NET  "X<10>"      LOC = "D22"  ; 
NET  "X<11>"      LOC = "E11"  ; 
NET  "X<12>"      LOC = "E22"  ; 
NET  "X<13>"      LOC = "F21"  ; 
NET  "X<14>"      LOC = "F10"  ; 
NET  "X<15>"      LOC = "L20"  ; 
NET  "X<16>"      LOC = "F12"  ; 
NET  "X<17>"      LOC = "L22"  ; 
NET  "X<18>"      LOC = "F20"  ; 
NET  "X<19>"      LOC = "L21"  ; 
NET  "X<20>"      LOC = "W19"  ; 
NET  "X<21>"      LOC = "Y20"  ; 
NET  "X<22>"      LOC = "V20"  ; 
NET  "X<23>"      LOC = "W20"  ; 
NET  "X<24>"      LOC = "V21"  ; 
NET  "X<25>"      LOC = "W22"  ; 
NET  "X<26>"      LOC = "T17"  ; 
NET  "X<27>"      LOC = "U21"  ; 
NET  "X<28>"      LOC = "R18"  ; 
NET  "X<29>"      LOC = "U20"  ; 
NET  "X<30>"      LOC = "N19"  ; 
NET  "X<31>"      LOC = "M18"  ; 
NET  "X<32>"      LOC = "T21"  ; 
NET  "X<33>"      LOC = "T22"  ; 
NET  "X<34>"      LOC = "F16"  ; 
NET  "X<35>"      LOC = "G18"  ; 
NET  "X<36>"      LOC = "D20"  ; 
NET  "X<37>"      LOC = "F17"  ; 
NET  "X<38>"      LOC = "G19"  ; 
NET  "X<39>"      LOC = "K20"  ; 
NET  "X<40>"      LOC = "K21"  ; 
NET  "X<41>"      LOC = "K22"  ; 
NET  "X<42>"      LOC = "E12"  ; 
NET  "X<43>"      LOC = "E13"  ; 
NET  "X<44>"      LOC = "G22"  ; 
NET  "X<45>"      LOC = "C20"  ; 
NET  "X<46>"      LOC = "D11"  ; 
NET  "X<47>"      LOC = "D21"  ; 
NET  "X<48>"      LOC = "C11"  ; 
NET  "X<49>"      LOC = "D9"   ; 
NET  "X<50>"      LOC = "B11"  ; 
NET  "X<51>"      LOC = "E19"  ; 
NET  "X<52>"      LOC = "A11"  ; 
NET  "X<53>"      LOC = "E18"  ; 
NET  "X<54>"      LOC = "C21"  ; 
NET  "X<55>"      LOC = "D19"  ; 
NET  "X<56>"      LOC = "D12"  ; 
NET  "X<57>"      LOC = "E17"  ; 
NET  "X<58>"      LOC = "F11"  ; 
NET  "X<59>"      LOC = "F13"  ; 
NET  "X<60>"      LOC = "F19"  ; 
NET  "X<61>"      LOC = "W21"  ; 
NET  "X<62>"      LOC = "L18"  ; 
NET  "X<63>"      LOC = "K19"  ; 
NET  "X<64>"      LOC = "L19"  ; 
NET  "X<65>"      LOC = "U18"  ; 
NET  "X<66>"      LOC = "U19"  ; 
NET  "X<67>"      LOC = "N20"  ; 
NET  "X<68>"      LOC = "V19"  ; 
NET  "X<69>"      LOC = "T18"  ; 
NET  "X<70>"      LOC = "M17"  ; 
NET  "X<71>"      LOC = "M19"  ; 
NET  "X<72>"      LOC = "M20"  ; 
NET  "X<73>"      LOC = "L17"  ; 
NET  "X<74>"      LOC = "G17"  ; 
NET  "X<75>"      LOC = "N21"  ; 
NET  "X<76>"      LOC = "N22"  ; 
NET  "X<77>"      LOC = "F18"  ; 
NET  "X<78>"      LOC = "E20"  ; 
NET  "X<79>"      LOC = "E21"  ; 
NET  "X<80>"      LOC = "M21"  ; 
NET  "X<81>"      LOC = "M22"  ; 
NET  "X<82>"      LOC = "E14"  ; 
NET  "X<83>"      LOC = "E15"  ; 
NET  "X<84>"      LOC = "G21"  ; 
NET  "X<85>"      LOC = "C22"  ; 
NET  "X<86>"      LOC = "D10"  ; 
NET  "X<87>"      LOC = "C10"  ; 
# Y_Bus			
NET  "Y<*>"       IOSTANDARD = LVTTL; 

NET  "Y<0>"       LOC = "C2"  ; 
NET  "Y<1>"       LOC = "C1"  ; 
NET  "Y<2>"       LOC = "D1"  ; 
NET  "Y<3>"       LOC = "E2"  ; 
NET  "Y<4>"       LOC = "E1"  ; 
NET  "Y<5>"       LOC = "D2"  ; 
NET  "Y<6>"       LOC = "D3"  ; 
NET  "Y<7>"       LOC = "D4"  ; 
NET  "Y<8>"       LOC = "E4"  ; 
NET  "Y<9>"       LOC = "E3"  ; 
NET  "Y<10>"      LOC = "F4"  ; 
NET  "Y<11>"      LOC = "F5"  ; 
NET  "Y<12>"      LOC = "G6"  ; 
NET  "Y<13>"      LOC = "G5"  ; 
NET  "Y<14>"      LOC = "H5"  ; 
NET  "Y<15>"      LOC = "F3"  ; 
NET  "Y<16>"      LOC = "F2"  ; 
NET  "Y<17>"      LOC = "G2"  ; 
NET  "Y<18>"      LOC = "G1"  ; 
NET  "Y<19>"      LOC = "L6"  ; 
NET  "Y<20>"      LOC = "L5"  ; 
NET  "Y<21>"      LOC = "K4"  ; 
NET  "Y<22>"      LOC = "K3"  ; 
NET  "Y<23>"      LOC = "K2"  ; 
NET  "Y<24>"      LOC = "K1"  ; 
NET  "Y<25>"      LOC = "L2"  ; 
NET  "Y<26>"      LOC = "L1"  ; 
NET  "Y<27>"      LOC = "L4"  ; 
NET  "Y<28>"      LOC = "L3"  ; 

NET  "ISAEN"      LOC = "D6"     | IOSTANDARD = LVTTL ; 
NET  "LEDX<0>"    LOC = "Y12"    | IOSTANDARD = LVTTL ; 
NET  "LEDX<1>"    LOC = "Y13"    | IOSTANDARD = LVTTL ;
