#### UCF file created by Project Navigator
#
NET "reset_n"      LOC = "p57" ;
NET "sysclk"       LOC = "p77" ;
#
# I/O Port
# Connector A
#
#NET "timer0_in"    LOC = "P3"  ; #J1-2
#NET "timer0_out"   LOC = "P4"  ; #J1-3
NET "portc<0>"     LOC = "P5"  ; #J1-4
NET "portc<1>"     LOC = "P6"  ; #J1-5
NET "portc<2>"     LOC = "P7"  ; #J1-6
NET "portc<3>"     LOC = "P8"  ; #J1-7
NET "portc<4>"     LOC = "P9"  ; #J1-8
NET "portc<5>"     LOC = "P10" ; #J1-9
NET "portc<6>"     LOC = "P11" ; #J1-10
NET "portc<7>"     LOC = "P15" ; #J1-11
NET "portd<0>"     LOC = "P16" ; #J1-12
NET "portd<1>"     LOC = "P17" ; #J1-13
NET "portd<2>"     LOC = "P18" ; #J1-14
NET "portd<3>"     LOC = "P20" ; #J1-15
NET "portd<4>"     LOC = "P21" ; #J1-16
NET "portd<5>"     LOC = "P22" ; #J1-17
NET "portd<6>"     LOC = "P23" ; #J1-18
NET "portd<7>"     LOC = "P24" ; #J1-19
#
# For B5-Compact-Flash:
# Connector B
#
#NET "cf_a<2>"      LOC = "P33" ; #J2-6
#NET "cf_a<1>"      LOC = "P34" ; #J2-7
#NET "cf_a<0>"      LOC = "P35" ; #J2-8
#NET "cf_d<0>"      LOC = "P36" ; #J2-9
#NET "cf_d<1>"      LOC = "P40" ; #J2-10
#NET "cf_d<2>"      LOC = "P41" ; #J2-11
#NET "cf_cs16_n"    LOC = "P42" ; #J2-12
#NET "cf_d<10>"     LOC = "P43" ; #J2-13
#NET "cf_d<9>"      LOC = "P44" ; #J2-14
#NET "cf_d<8>"      LOC = "P45" ; #J2-15
#NET "cf_pdiag"    LOC = "P46" ; #J2-16
#NET "cf_dase"     LOC = "P47" ; #J2-17
#NET "cf_iordy"    LOC = "P48" ; #J2-18
#NET "cf_rst_n"     LOC = "P49" ; #J2-19
#
# For B5-Peripheral-Connectors
# Connector C
#
#NET "v_drive"     LOC = "p55" ; #pin 3
#NET "h_drive"     LOC = "p56" ; #pin 4
#NET "blue_lo"     LOC = "p58" ; #pin 5
#NET "blue_hi"     LOC = "p59" ; #pin 6
#NET "green_lo"    LOC = "p60" ; #pin 7
#NET "green_hi"    LOC = "p61" ; #pin 8
#NET "red_lo"      LOC = "p62" ; #pin 9
#NET "red_hi"      LOC = "p63" ; #pin 10
#NET "kb_clock"    LOC = "p64" ; #pin 11
#NET "kb_data"     LOC = "p68" ; #pin 12
#NET "mouse-clock" LOC = "p69" ; #pin 13
#NET "mouse_data"  LOC = "p70" ; #pin 14
#NET "buzzer"      LOC = "p71" ; #pin 15
NET "cts_n"        LOC = "p73" ; #pin 16
NET "rxbit"        LOC = "p74" ; #pin 17
NET "txbit"        LOC = "p75" ; #pin 18
NET "rts_n"        LOC = "p81" ; #pin 19
#
# I/O Port A & B
# Connector D
#
#NET "pin2clk"    LOC = "p80" ; #pin 2	(Clock input)
NET "led"         LOC = "p82" ; #pin 3
NET "porta<0>"    LOC = "p83" ; #pin 4
NET "porta<1>"    LOC = "p84" ; #pin 5
NET "porta<2>"    LOC = "p86" ; #pin 6
NET "porta<3>"    LOC = "p87" ; #pin 7
NET "porta<4>"    LOC = "p88" ; #pin 8
NET "porta<5>"    LOC = "p89" ; #pin 9
NET "porta<6>"    LOC = "p93" ; #pin 10
NET "porta<7>"    LOC = "p94" ; #pin 11
NET "portb<0>"    LOC = "p95" ; #pin 12
NET "portb<1>"    LOC = "p96" ; #pin 13
NET "portb<2>"    LOC = "p97" ; #pin 14
NET "portb<3>"    LOC = "p98" ; #pin 15
NET "portb<4>"    LOC = "p99" ; #pin 16
NET "portb<5>"    LOC = "p100"; #pin 17
NET "portb<6>"    LOC = "p101"; #pin 18
NET "portb<7>"    LOC = "p102"; #pin 19
#
# For B5-SRAM
# Connector E
#
NET "ram_csn"      LOC = "p108"; #J1.2
NET "ram_addr<16>" LOC = "p109"; #J1.3
NET "ram_addr<15>" LOC = "p110"; #J1.4
NET "ram_addr<14>" LOC = "p111"; #J1.5
NET "ram_addr<13>" LOC = "p112"; #J1.6
NET "ram_addr<12>" LOC = "p113"; #J1.7
NET "ram_addr<11>" LOC = "p114"; #J1.8
NET "ram_addr<10>" LOC = "p115"; #J1.9
NET "ram_addr<9>"  LOC = "p116"; #J1.10
NET "ram_addr<8>"  LOC = "p120"; #J1.11
NET "ram_addr<7>"  LOC = "p121"; #J1.12
NET "ram_addr<6>"  LOC = "p122"; #J1.13
NET "ram_addr<5>"  LOC = "p123"; #J1.14
NET "ram_addr<4>"  LOC = "p125"; #J1.15
NET "ram_addr<3>"  LOC = "p126"; #J1.16
NET "ram_addr<2>"  LOC = "p127"; #J1.17
NET "ram_addr<1>"  LOC = "p129"; #J1.18
NET "ram_addr<0>"  LOC = "p132"; #J1.19
#
# For B5-SRAM
# Connector F
#
NET "ram_wrun"     LOC = "p133"; #J2.2
NET "ram_wrln"     LOC = "p134"; #J2.3
NET "ram_data<15>" LOC = "p135"; #J2.4
NET "ram_data<14>" LOC = "p136"; #J2.5
NET "ram_data<13>" LOC = "p138"; #J2.6
NET "ram_data<12>" LOC = "p139"; #J2.7
NET "ram_data<11>" LOC = "p140"; #J2.8
NET "ram_data<10>" LOC = "p141"; #J2.9
NET "ram_data<9>"  LOC = "p145"; #J2.10
NET "ram_data<8>"  LOC = "p146"; #J2.11
NET "ram_data<7>"  LOC = "p147"; #J2.12
NET "ram_data<6>"  LOC = "p148"; #J2.13
NET "ram_data<5>"  LOC = "p149"; #J2.14
NET "ram_data<4>"  LOC = "p150"; #J2.15
NET "ram_data<3>"  LOC = "p151"; #J2.16
NET "ram_data<2>"  LOC = "p152"; #J2.17
NET "ram_data<1>"  LOC = "p153"; #J2.18
NET "ram_data<0>"  LOC = "p154"; #J2.19
#
# Connector G
#
#NET "pin2"         LOC = "p182"; #pin 2 (clk input)
NET "bus_addr<0>"  LOC = "p160"; #pin 3
NET "bus_addr<1>"  LOC = "p161"; #pin 4
NET "bus_addr<2>"  LOC = "p162"; #pin 5
NET "bus_addr<3>"  LOC = "p163"; #pin 6
NET "bus_addr<4>"  LOC = "p164"; #pin 7
NET "bus_addr<5>"  LOC = "p165"; #pin 8
NET "bus_addr<6>"  LOC = "p166"; #pin 9
NET "bus_addr<7>"  LOC = "p167"; #pin 10
NET "bus_addr<8>"  LOC = "p168"; #pin 11
NET "bus_addr<9>"  LOC = "p169"; #pin 12
NET "bus_addr<10>" LOC = "p173"; #pin 13
NET "bus_addr<11>" LOC = "p174"; #pin 14
NET "bus_addr<12>" LOC = "p175"; #pin 15
NET "bus_addr<13>" LOC = "p176"; #pin 16
NET "bus_addr<14>" LOC = "p178"; #pin 17
NET "bus_addr<15>" LOC = "p179"; #pin 18
NET "bus_cs"       LOC = "p180"; #pin 19
#
# Connector H
#
#NET "pin2"        LOC = "p185"; #pin 2 (clk input)
NET "bus_clk"      LOC = "p181"; #pin 3
NET "bus_reset"    LOC = "p187"; #pin 4
#NET "pin5"        LOC = "p188"; #pin 5
#NET "pin6"        LOC = "p189"; #pin 6
#NET "pin7"        LOC = "p191"; #pin 7
#NET "pin8"        LOC = "p192"; #pin 8
NET "timer0_out"    LOC = "p193"; #pin 9
NET "timer1_out"    LOC = "p194"; #pin 10
NET "bus_data<0>"   LOC = "p198"; #pin 11
NET "bus_data<1>"   LOC = "p199"; #pin 12
NET "bus_data<2>"   LOC = "p200"; #pin 13
NET "bus_data<3>"   LOC = "p201"; #pin 14
NET "bus_data<4>"   LOC = "p202"; #pin 15
NET "bus_data<5>"   LOC = "p203"; #pin 16
NET "bus_data<6>"   LOC = "p204"; #pin 17
NET "bus_data<7>"   LOC = "p205"; #pin 18
NET "bus_rw"        LOC = "p206"; #pin 19
#
# Timing Groups
#
INST "ram_addr<0>" TNM = "gram_addr";
INST "ram_addr<1>" TNM = "gram_addr";
INST "ram_addr<2>" TNM = "gram_addr";
INST "ram_addr<3>" TNM = "gram_addr";
INST "ram_addr<4>" TNM = "gram_addr";
INST "ram_addr<5>" TNM = "gram_addr";
INST "ram_addr<6>" TNM = "gram_addr";
INST "ram_addr<7>" TNM = "gram_addr";
INST "ram_addr<8>" TNM = "gram_addr";
INST "ram_addr<9>" TNM = "gram_addr";
INST "ram_addr<10>" TNM = "gram_addr";
INST "ram_addr<11>" TNM = "gram_addr";
INST "ram_addr<12>" TNM = "gram_addr";
INST "ram_addr<13>" TNM = "gram_addr";
INST "ram_addr<14>" TNM = "gram_addr";
INST "ram_addr<15>" TNM = "gram_addr";
INST "ram_addr<16>" TNM = "gram_addr";
INST "ram_data<0>" TNM = "gram_data";
INST "ram_data<1>" TNM = "gram_data";
INST "ram_data<2>" TNM = "gram_data";
INST "ram_data<3>" TNM = "gram_data";
INST "ram_data<4>" TNM = "gram_data";
INST "ram_data<5>" TNM = "gram_data";
INST "ram_data<6>" TNM = "gram_data";
INST "ram_data<7>" TNM = "gram_data";
INST "ram_data<8>" TNM = "gram_data";
INST "ram_data<9>" TNM = "gram_data";
INST "ram_data<10>" TNM = "gram_data";
INST "ram_data<11>" TNM = "gram_data";
INST "ram_data<12>" TNM = "gram_data";
INST "ram_data<13>" TNM = "gram_data";
INST "ram_data<14>" TNM = "gram_data";
INST "ram_data<15>" TNM = "gram_data";
INST "ram_wrln" TNM = "gram_wr";
INST "ram_wrun" TNM = "gram_wr";
INST "ram_csn" TNM = "gram_cs";
#
# Timing Constraints
#
#TIMEGRP "gram_cs"   OFFSET = OUT 40 ns AFTER "sysclk";
#TIMEGRP "gram_wr"   OFFSET = OUT 40 ns AFTER "sysclk";
#TIMEGRP "gram_addr" OFFSET = OUT 40 ns AFTER "sysclk";
#TIMEGRP "gram_data" OFFSET = OUT 40 ns AFTER "sysclk";
#TIMEGRP "gram_data" OFFSET = IN 15 ns BEFORE "sysclk";
#TIMEGRP "gtest_alu" OFFSET = OUT 90 ns AFTER "sysclk";
#TIMEGRP "gtest_cc"  OFFSET = OUT 95 ns AFTER "sysclk";
NET "sysclk" TNM_NET = "sysclk";
TIMESPEC "TS_sysclk" = PERIOD "sysclk" 100 ns LOW 50 %;
#
# Fast I/O Pins
#
NET "ram_csn" FAST;
NET "ram_wrln" FAST;
NET "ram_wrun" FAST;
