NET "CLK_50M_I" LOC = P124; # On board oscillator
NET "LEDS_O<0>" LOC = P31;  # On board LED
NET "LEDS_O<1>" LOC = P32;  # On board LED

NET "XB_SERIAL_I" LOC = P125; # Expansion board USB <-> UART
NET "XB_SERIAL_O" LOC = P127; # Expansion board USB <-> UART

NET "XB_LEDS_O[0]" LOC = P10; # Expansion board LED
NET "XB_LEDS_O[1]" LOC = P12; # Expansion board LED
NET "XB_LEDS_O[2]" LOC = P13; # Expansion board LED

NET "XB_DIPSW_I<0>" LOC = P20 | PULLUP; # Expansion board Dip switch
NET "XB_DIPSW_I<1>" LOC = P21 | PULLUP; # Expansion board Dip switch
NET "XB_DIPSW_I<2>" LOC = P24 | PULLUP; # Expansion board Dip switch
NET "XB_DIPSW_I<3>" LOC = P25 | PULLUP; # Expansion board Dip switch


NET "BB_LEDS_O<0>"	LOC = P48;  # Bottom connector pin 12
NET "BB_LEDS_O<1>"	LOC = P47;  # Bottom connector pin 13
NET "BB_LEDS_O<2>"	LOC = P55;  # Bottom connector pin 14
NET "BB_LEDS_O<3>"	LOC = P45;  # Bottom connector pin 15
NET "BB_LEDS_O<4>"	LOC = P44;  # Bottom connector pin 16
NET "BB_LEDS_O<5>"	LOC = P43;  # Bottom connector pin 17
NET "BB_LEDS_O<6>"	LOC = P42;  # Bottom connector pin 18
NET "BB_LEDS_O<7>"	LOC = P30;  # Bottom connector pin 19

NET "BB_OUT_O<0>"    LOC = P60;  # Bottom connector pin 1
NET "BB_OUT_O<1>"    LOC = P59;  # Bottom connector pin 2
NET "BB_OUT_O<2>"    LOC = P58;  # Bottom connector pin 3
