## $Id: nexys2_pins_pmb0_rs232.ucf 297 2010-05-30 20:10:16Z mueller $
##
## Revision History: 
## Date         Rev Version  Comment
## 2010-05-28   295   1.0    Initial version 
##
## Pmod connector B top / usage RS232 for FTDI USB serport -------------------
##
NET "O_FUSP_RTS_N" LOC = "m13"  | IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
NET "I_FUSP_CTS_N" LOC = "r18"  | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET "I_FUSP_RXD"   LOC = "r15"  | IOSTANDARD=LVCMOS33 | PULLUP;
NET "O_FUSP_TXD"   LOC = "t17"  | IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
