set_attribute lib_search_path {. /usr/local/synlibs/TSMG13F210D3_1.1/lib}
set_attribute library {"tsmg13f210t3_wc_108V_125C.lib" "/home/jiri/ibm/vhdl/temic/atc18/allmem.lib" } /
include leon3mp.rc
include atc18cond.rc
define_clock -period 5000 -name clock1 clk
synthesize -to_mapped
report_area
report_timing
