NET "FLASH_CE_B"                    LOC = "L17"; ## 14 on U10
NET "FLASH_OE_B"                    LOC = "L18"; ## 54 on U10
NET "FLASH_WE_B"                    LOC = "M16"; ## 55 on U10
NET "GPIO_LED<0>"                    LOC = "E13"; ## 2 on DS11 LED
NET "GPIO_LED<1>"                    LOC = "C14"; ## 2 on DS12 LED
NET "GPIO_LED<2>"                    LOC = "C4";  ## 2 on DS13 LED
NET "GPIO_LED<3>"                    LOC = "A4";  ## 2 on DS14 LED

NET "SWITCHES<0>"                    LOC = "D14";
NET "SWITCHES<1>"                    LOC = "E12";
NET "SWITCHES<2>"                    LOC = "F12";
NET "SWITCHES<3>"                    LOC = "V13";

##
NET "CPU_RESET"                     LOC = "N4"; ## 2 on SW9 pushbutton
##
NET "PHY_COL"                       LOC = "L14"; ## 114 on U3
NET "PHY_CRS"                       LOC = "M13"; ## 115 on U3
NET "PHY_INT"                       LOC = "J13"; ## 32 on U3
NET "PHY_MDC"                       LOC = "N14"; ## 35 on U3
NET "PHY_MDIO"                      LOC = "P16"; ## 33 on U3
NET "PHY_RESET"                     LOC = "L13"; ## 36 on U3
NET "PHY_RXCLK"                     LOC = "L16"; ## 7 on U3
NET "PHY_RXCTL_RXDV"                LOC = "N18"; ## 4 on U3
NET "PHY_RXD<0>"                      LOC = "M14"; ## 3 on U3
NET "PHY_RXD<1>"                      LOC = "U18"; ## 128 on U3
NET "PHY_RXD<2>"                      LOC = "U17"; ## 126 on U3
NET "PHY_RXD<3>"                      LOC = "T18"; ## 125 on U3
NET "PHY_RXD<4>"                      LOC = "T17"; ## 124 on U3
NET "PHY_RXD<5>"                      LOC = "N16"; ## 123 on U3
NET "PHY_RXD<6>"                      LOC = "N15"; ## 121 on U3
NET "PHY_RXD<7>"                      LOC = "P18"; ## 120 on U3
NET "PHY_RXER"                      LOC = "P17"; ## 8 on U3
NET "PHY_TXCLK"                     LOC = "B9";  ## 10 on U3
NET "PHY_TXCTL_TXEN"                LOC = "B8";  ## 16 on U3
NET "PHY_TXC_GTXCLK"                LOC = "A9";  ## 14 on U3
NET "PHY_TXD<0>"                      LOC = "F8";  ## 18 on U3
NET "PHY_TXD<1>"                      LOC = "G8";  ## 19 on U3
NET "PHY_TXD<2>"                      LOC = "A6";  ## 20 on U3
NET "PHY_TXD<3>"                      LOC = "B6";  ## 24 on U3
NET "PHY_TXD<4>"                      LOC = "E6";  ## 25 on U3
NET "PHY_TXD<5>"                      LOC = "F7";  ## 26 on U3
NET "PHY_TXD<6>"                      LOC = "A5";  ## 28 on U3
NET "PHY_TXD<7>"                      LOC = "C5";  ## 29 on U3
NET "PHY_TXER"                      LOC = "A8";  ## 13 on U3
##
NET "SYSCLK_N"                      LOC = "K16"; ## 5 on U5 EG2121CA, 5 of U20 SI500D (DNP)
NET "SYSCLK_P"                      LOC = "K15"; ## 6 on U5 EG2121CA, 4 of U20 SI500D (DNP)
##
#NET "FMC_LA28_N"                    LOC = "V11"; ## H32 on J1
#NET "FMC_LA28_P"                    LOC = "U11"; ## H31 on J1
#NET "FMC_LA29_N"                    LOC = "N8";  ## G31 on J1
#NET "FMC_LA29_P"                    LOC = "M8";  ## G30 on J1
#NET "FMC_LA30_N"                    LOC = "V12"; ## H35 on J1
#NET "FMC_LA30_P"                    LOC = "T12"; ## H34 on J1
#NET "FMC_LA31_N"                    LOC = "V6";  ## G34 on J1
#NET "FMC_LA31_P"                    LOC = "T6";  ## G33 on J1
#
NET "GPIO_HDR0"                     LOC = "N17"; ## 1 on J13 (thru series R100 200 ohm)
NET "GPIO_HDR1"                     LOC = "M18"; ## 3 on J13 (thru series R102 200 ohm)
NET "GPIO_HDR2"                     LOC = "A3";  ## 5 on J13 (thru series R101 200 ohm)
NET "GPIO_HDR3"                     LOC = "L15"; ## 7 on J13 (thru series R103 200 ohm)
NET "GPIO_HDR4"                     LOC = "F15"; ## 2 on J13 (thru series R99 200 ohm)
NET "GPIO_HDR5"                     LOC = "B4";  ## 4 on J13 (thru series R98 200 ohm)
NET "GPIO_HDR6"                     LOC = "F13"; ## 6 on J13 (thru series R97 200 ohm)
NET "GPIO_HDR7"                     LOC = "P12"; ## 8 on J13 (thru series R96 200 ohm)
#
NET "IIC_SCL_MAIN"                  LOC = "P11"; ## 6 on U7 (thru series R203 0 ohm), C30 on J1, 2 on J16
NET "IIC_SDA_MAIN"                  LOC = "N10"; ## 5 on U7 (thru series R204 0 ohm), C31 on J1, 1 on J16
#
PIN "dcm1_1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

#Created by Constraints Editor (xc6slx16-csg324-2) - 2010/08/04
NET "sysclk_p" TNM_NET = sysclk_p;
TIMESPEC TS_sysclk_p = PERIOD "sysclk_p" 5 ns HIGH 50%;
NET "sysclk_n" TNM_NET = sysclk_n;
TIMESPEC TS_sysclk_n = PERIOD "sysclk_n" 5 ns HIGH 50%;
#Created by Constraints Editor (xc6slx16-csg324-2) - 2012/04/30
NET "phy_rxclk" TNM_NET = phy_rxclk;
TIMESPEC TS_phy_rxclk = PERIOD "phy_rxclk" 8 ns HIGH 50%;
NET "phy_txclk" TNM_NET = phy_txclk;
TIMESPEC TS_phy_txclk = PERIOD "phy_txclk" 40 ns HIGH 50%;
NET "phy_txc_gtxclk" TNM_NET = phy_txc_gtxclk;
TIMESPEC TS_phy_txc_gtxclk = PERIOD "phy_txc_gtx_clk" 8 ns HIGH 50%;
