#Spartan-3 Evaluation Board Constraints File

#Clocks
NET "clk_66mhz"  LOC = "A11";  #OSC1 (66MHZ)
NET "clk_socket" LOC = "AB12"; #OSC2 (SOCKET)

#LEDs
NET "leds(0)" LOC = "U12";
NET "leds(1)" LOC = "V12";
NET "leds(2)" LOC = "Y12";
NET "leds(3)" LOC = "Y13";
NET "leds(4)" LOC = "AB13";
NET "leds(5)" LOC = "AA13";
NET "leds(6)" LOC = "V13";
NET "leds(7)" LOC = "AB14";

#Switches (DIP switches (4) and Pushbuttons (2))
NET "switches(0)" LOC = "W4"; # SWITCH(0) (SW2:1)
NET "switches(1)" LOC = "W3"; # SWITCH(1) (SW2:2)
NET "switches(2)" LOC = "Y3"; # SWITCH(2) (SW2:3)
NET "switches(3)" LOC = "Y2"; # SWITCH(3) (SW2:4)
NET "switches(4)" LOC = "Y1"; # SWITCH_PB1 (SW3)
NET "switches(5)" LOC = "W2"; # SWITCH_PB2 (SW4)

# PS2 Ports (Mouse and Keyboard)
NET "MSCLK"	 LOC = "W14"; # JS2
NET "MSDATA" LOC = "W13";
NET "MSCLK"	 PULLUP;
NET "MSDATA" PULLUP;

NET "KBCLK"	 LOC = "U17"; # JS1
NET "KBDATA" LOC = "U16";
NET "KBCLK"	 PULLUP;
NET "KBDATA" PULLUP;

#SRAM
NET "sram_a(0)" LOC = "E22"; #ADDR0
NET "sram_a(1)" LOC = "E21";
NET "sram_a(2)" LOC = "D21";
NET "sram_a(3)" LOC = "E20";
NET "sram_a(4)" LOC = "D22";
NET "sram_a(5)" LOC = "D20";
NET "sram_a(6)" LOC = "C22";
NET "sram_a(7)" LOC = "D19";
NET "sram_a(8)" LOC = "C20";
NET "sram_a(9)" LOC = "C21";
NET "sram_a(10)" LOC = "F18";
NET "sram_a(11)" LOC = "G18";
NET "sram_a(12)" LOC = "G19";
NET "sram_a(13)" LOC = "E18";
NET "sram_a(14)" LOC = "F19";
NET "sram_a(15)" LOC = "F20";
NET "sram_a(16)" LOC = "E19";
NET "sram_a(17)" LOC = "F21";  #ADDR17

NET "sram_ben_l(0)" LOC = "K21"; #BE0
NET "sram_ben_l(1)" LOC = "K22";
NET "sram_ben_l(2)" LOC = "G22";
NET "sram_ben_l(3)" LOC = "K20"; #BE3
 
NET "sram_cs_l" LOC = "G21"; 
NET "sram_oe_l" LOC = "G17";
NET "sram_we_l" LOC = "K19";

NET "sram_dq(0)" LOC = "U19"; #DATA0 
NET "sram_dq(1)" LOC = "T21";
NET "sram_dq(2)" LOC = "U20";
NET "sram_dq(3)" LOC = "U21";
NET "sram_dq(4)" LOC = "V21";
NET "sram_dq(5)" LOC = "V22";
NET "sram_dq(6)" LOC = "W22";
NET "sram_dq(7)" LOC = "V20";
NET "sram_dq(8)" LOC = "Y19";
NET "sram_dq(9)" LOC = "W19";
NET "sram_dq(10)" LOC = "V19";
NET "sram_dq(11)" LOC = "Y20";
NET "sram_dq(12)" LOC = "Y21";
NET "sram_dq(13)" LOC = "Y22";
NET "sram_dq(14)" LOC = "W20";
NET "sram_dq(15)" LOC = "W21";
NET "sram_dq(16)" LOC = "M17";
NET "sram_dq(17)" LOC = "L17";
NET "sram_dq(18)" LOC = "M19";
NET "sram_dq(19)" LOC = "M18";
NET "sram_dq(20)" LOC = "M20";
NET "sram_dq(21)" LOC = "N19";
NET "sram_dq(22)" LOC = "M21";
NET "sram_dq(23)" LOC = "N20";
NET "sram_dq(24)" LOC = "T22";
NET "sram_dq(25)" LOC = "U18";
NET "sram_dq(26)" LOC = "T18";
NET "sram_dq(27)" LOC = "R18";
NET "sram_dq(28)" LOC = "T17";
NET "sram_dq(29)" LOC = "N21";
NET "sram_dq(30)" LOC = "N22";
NET "sram_dq(31)" LOC = "M22"; #DATA31

# UART
NET "tx" LOC = "C3";
NET "rx" LOC = "C4";

# Ethernet PHY
NET "phy_txck" 		TNM_NET = "phy_txck";
TIMESPEC "TS_phy_txck" = PERIOD "phy_txck" 25 MHz HIGH 50 %;

NET "phy_rxck" 		TNM_NET = "phy_rxck";
TIMESPEC "TS_phy_rxck" = PERIOD "phy_rxck" 25 MHz HIGH 50 %;

NET "phy_txck"    LOC = "C12"; 
NET "phy_rxck"    LOC = "B12";
NET "phy_crs"     LOC = "E12";
NET "phy_rxdv"    LOC = "B14"; 
NET "phy_rxd(0)"  LOC = "B15";
NET "phy_rxd(1)"  LOC = "A15";
NET "phy_rxd(2)"  LOC = "D15";
NET "phy_rxd(3)"  LOC = "E15";
NET "phy_col"     LOC = "D13";
NET "phy_rxer"    LOC = "A14"; 
NET "phy_txen"    LOC = "E14"; 
NET "phy_txd(0)"  LOC = "B13";
NET "phy_txd(1)"  LOC = "A13";
NET "phy_txd(2)"  LOC = "C13";
NET "phy_txd(3)"  LOC = "D12";
NET "phy_reset_l" LOC = "E4";
NET "phy_mdc"     LOC = "C17";
NET "phy_mdio"    LOC = "B17";
NET "phy_txer"    LOC = "D14";

# Video DAC
NET "video_clk"     LOC = "B11"; 
NET "horiz_sync"    LOC = "E11";  
NET "vert_sync"     LOC = "D11";  
NET "comp_sync"     LOC = "A3";
NET "blank"         LOC = "A4";
NET "video_out(0)"  LOC = "E9";	# Blue(0)
NET "video_out(1)"  LOC = "F9";	# Blue(1)
NET "video_out(2)"  LOC = "D7";	# Blue(2)
NET "video_out(3)"  LOC = "C7";	# Blue(3)
NET "video_out(4)"  LOC = "E7";	# Blue(4)
NET "video_out(5)"  LOC = "F7";	# Blue(5)
NET "video_out(6)"  LOC = "E6";	# Blue(6)
NET "video_out(7)"  LOC = "F6";	# Blue(7)
NET "video_out(8)"  LOC = "F10";	# Greeen(0)
NET "video_out(9)"  LOC = "D10";
NET "video_out(10)" LOC = "A10";
NET "video_out(11)" LOC = "D9";
NET "video_out(12)" LOC = "A9";
NET "video_out(13)" LOC = "B9";
NET "video_out(14)" LOC = "A8";
NET "video_out(15)" LOC = "B8";	# Green(7)
NET "video_out(16)" LOC = "D6";	# Red(0)
NET "video_out(17)" LOC = "C6";
NET "video_out(18)" LOC = "B6";
NET "video_out(19)" LOC = "D5";
NET "video_out(20)" LOC = "A5";
NET "video_out(21)" LOC = "B5";
NET "video_out(22)" LOC = "C5";
NET "video_out(23)" LOC = "B4";	# Red(7)

# Comparator
NET "ADC_CMP_OUT" LOC = "V18";
NET "ADC_ANA_REF" LOC = "U13";
NET "ADC_ANA_OUT" LOC = "Y16";

# EEPROM
NET "sda" LOC = "AA14"; # FPGA_D0
NET "scl" LOC = "W12";  # FPGA_INIT#

# Dual 7 Segment LED 
NET "DISP_SEG1(7)" LOC = "AB15";	#0
NET "DISP_SEG1(6)" LOC = "AB18";	#1
NET "DISP_SEG1(5)" LOC = "V17";	#2
NET "DISP_SEG1(4)" LOC = "U14";	#3
NET "DISP_SEG1(3)" LOC = "V14";	#4
NET "DISP_SEG1(2)" LOC = "AA15";	#5
NET "DISP_SEG1(1)" LOC = "Y18";	#6
NET "DISP_SEG1(0)" LOC = "AA18";	#7

NET "DISP_SEG2(7)" LOC = "W17";	#0
NET "DISP_SEG2(6)" LOC = "Y17";	#1
NET "DISP_SEG2(5)" LOC = "W18";	#2
NET "DISP_SEG2(4)" LOC = "V16";	#3
NET "DISP_SEG2(3)" LOC = "W16";	#4
NET "DISP_SEG2(2)" LOC = "AA17";	#5
NET "DISP_SEG2(1)" LOC = "AA20";	#6
NET "DISP_SEG2(0)" LOC = "AB20";	#7

# PCI 32-bit
NET  "PCLK"               LOC = "AA12";
NET  "PCI_CORE/RST_I"     LOC = "E4"  ;
#
NET  "PCI_CORE/AD_IO(31)" LOC = "D2"  ;
NET  "PCI_CORE/AD_IO(30)" LOC = "D3"  ;
NET  "PCI_CORE/AD_IO(29)" LOC = "E3"  ;
NET  "PCI_CORE/AD_IO(28)" LOC = "F4"  ;
NET  "PCI_CORE/AD_IO(27)" LOC = "E2"  ;
NET  "PCI_CORE/AD_IO(26)" LOC = "E1"  ;
NET  "PCI_CORE/AD_IO(25)" LOC = "F5"  ;
NET  "PCI_CORE/AD_IO(24)" LOC = "G6"  ;
NET  "PCI_CORE/AD_IO(23)" LOC = "F3"  ;
NET  "PCI_CORE/AD_IO(22)" LOC = "F2"  ;
NET  "PCI_CORE/AD_IO(21)" LOC = "G5"  ;
NET  "PCI_CORE/AD_IO(20)" LOC = "H5"  ;
NET  "PCI_CORE/AD_IO(19)" LOC = "G2"  ;
NET  "PCI_CORE/AD_IO(18)" LOC = "G1"  ;
NET  "PCI_CORE/AD_IO(17)" LOC = "K4"  ;
NET  "PCI_CORE/AD_IO(16)" LOC = "K3"  ;
NET  "PCI_CORE/CBE_IO(3)" LOC = "K2"  ;
NET  "PCI_CORE/CBE_IO(2)" LOC = "K1"  ;
#
NET  "PCI_CORE/REQ_O"     LOC = "L6"  ;
NET  "PCI_CORE/GNT_I"     LOC = "L5"  ;
NET  "PCI_CORE/PAR_IO"    LOC = "L4"  ;
NET  "PCI_CORE/IDSEL_I"   LOC = "L3"  ;
NET  "PCI_CORE/FRAME_IO"  LOC = "L2"  ;
NET  "PCI_CORE/IRDY_IO"   LOC = "L1"  ;
NET  "PCI_CORE/TRDY_IO"   LOC = "M1"  ;
NET  "PCI_CORE/DEVSEL_IO" LOC = "M2"  ;
NET  "PCI_CORE/STOP_IO"   LOC = "M3"  ;
NET  "PCI_CORE/PERR_IO"   LOC = "M4"  ;
NET  "PCI_CORE/SERR_IO"   LOC = "M5"  ;
NET  "PCI_CORE/INTA_O"    LOC = "M6"  ;
#
NET  "PCI_CORE/CBE_IO(1)" LOC = "N1"  ;
NET  "PCI_CORE/CBE_IO(0)" LOC = "N2"  ;
NET  "PCI_CORE/AD_IO(15)" LOC = "N3"  ;
NET  "PCI_CORE/AD_IO(14)" LOC = "N4"  ;
NET  "PCI_CORE/AD_IO(13)" LOC = "T1"  ;
NET  "PCI_CORE/AD_IO(12)" LOC = "T2"  ;
NET  "PCI_CORE/AD_IO(11)" LOC = "U2"  ;
NET  "PCI_CORE/AD_IO(10)" LOC = "U3"  ;
NET  "PCI_CORE/AD_IO(9)"  LOC = "T4"  ;
NET  "PCI_CORE/AD_IO(8)"  LOC = "U4"  ;
NET  "PCI_CORE/AD_IO(7)"  LOC = "T5"  ;
NET  "PCI_CORE/AD_IO(6)"  LOC = "T6"  ;
NET  "PCI_CORE/AD_IO(5)"  LOC = "V1"  ;
NET  "PCI_CORE/AD_IO(4)"  LOC = "V2"  ;
NET  "PCI_CORE/AD_IO(3)"  LOC = "V3"  ;
NET  "PCI_CORE/AD_IO(2)"  LOC = "V4"  ;
NET  "PCI_CORE/AD_IO(1)"  LOC = "U5"  ;
NET  "PCI_CORE/AD_IO(0)"  LOC = "V5"  ;


# Note: Almost all I/O pins are re-used for the AvBus Connectors.
# Care must be taken to disable devices when using AvBus I/O
# to avoid contention.

# AvBus - P5 Pins 
NET    "p5io_group1(0)"          LOC = "E22";  #NET  	 "ADDR0"        
NET	 "p5io_group1(1)"          LOC = "E20";  #NET	 "ADDR3"       
NET	 "p5io_group1(2)"          LOC = "D22";  #NET	 "ADDR4"       
NET	 "p5io_group1(3)"          LOC = "D19";  #NET	 "ADDR7"       
NET	 "p5io_group1(4)"          LOC = "C20";  #NET	 "ADDR8"       
NET	 "p5io_group1(5)"          LOC = "G18";  #NET	 "ADDR11"      
NET	 "p5io_group1(6)"          LOC = "G19";  #NET	 "ADDR12"      
NET	 "p5io_group1(7)"          LOC = "F20";  #NET	 "ADDR15"      
NET	 "p5io_group1(8)"          LOC = "E19";  #NET	 "ADDR16"      
NET	 "p5io_group1(9)"          LOC = "F16";  #NET	 "GPIO_B1_3"      
NET	 "p5io_group1(10)"         LOC = "E16";  #NET	 "GPIO_B1_4"      
NET	 "p5io_group1(11)"         LOC = "A12";  #NET	 "GPIO_B1_5"      
NET	 "p5io_group1(12)"         LOC = "F12";  #NET	 "GPIO_B1_6"      
NET	 "p5io_group1(13)"         LOC = "F11";  #NET	 "GPIO_B0_4"      
NET	 "p5io_group1(14)"         LOC = "C11";  #NET	 "GPIO_B0_5"      
NET	 "p5io_group1(15)"         LOC = "B10";  #NET	 "GPIO_B0_6"      
NET	 "p5io_group1(16)"         LOC = "U19";  #NET	 "DATA0"       
NET	 "p5io_group1(17)"         LOC = "U21";  #NET	 "DATA3"       
NET	 "p5io_group1(18)"         LOC = "V21";  #NET	 "DATA4"       
NET	 "p5io_group1(19)"         LOC = "V20";  #NET	 "DATA7"       
NET	 "p5io_group1(20)"         LOC = "Y19";  #NET	 "DATA8"       
NET	 "p5io_group1(21)"         LOC = "Y20";  #NET	 "DATA11"      
NET	 "p5io_group1(22)"         LOC = "Y21";  #NET	 "DATA12"      
NET	 "p5io_group1(23)"         LOC = "W21";  #NET	 "DATA15"      
NET	 "p5io_group1(24)"         LOC = "M17";  #NET	 "DATA16"      
NET	 "p5io_group1(25)"         LOC = "M18";  #NET	 "DATA19"      
NET	 "p5io_group1(26)"         LOC = "M20";  #NET	 "DATA20"      
NET	 "p5io_group1(27)"         LOC = "N20";  #NET	 "DATA23"      
NET	 "p5io_group1(28)"         LOC = "T22";  #NET	 "DATA24"      
NET	 "p5io_group1(29)"         LOC = "R18";  #NET	 "DATA27"      
NET	 "p5io_group1(30)"         LOC = "T17";  #NET	 "DATA28"      
NET	 "p5io_group1(31)"         LOC = "M22";  #NET	 "DATA31"      

NET	 "p5io_group2(0)"          LOC = "E21";  #NET	 "ADDR1"       
NET	 "p5io_group2(1)"          LOC = "D21";  #NET	 "ADDR2"       
NET	 "p5io_group2(2)"          LOC = "D20";  #NET	 "ADDR5"       
NET	 "p5io_group2(3)"          LOC = "C22";  #NET	 "ADDR6"       
NET	 "p5io_group2(4)"          LOC = "C21";  #NET	 "ADDR9"       
NET	 "p5io_group2(5)"          LOC = "F18";  #NET	 "ADDR10"      
NET	 "p5io_group2(6)"          LOC = "E18";  #NET	 "ADDR13"      
NET	 "p5io_group2(7)"          LOC = "F19";  #NET	 "ADDR14"      
NET	 "p5io_group2(8)"          LOC = "F21";  #NET	 "ADDR17"      
NET	 "p5io_group2(9)"          LOC = "F17";  #NET	 "GPIO_B1_0"       
NET	 "p5io_group2(10)"         LOC = "E13";  #NET	 "GPIO_B1_1"       
NET	 "p5io_group2(11)"         LOC = "F13";  #NET	 "GPIO_B1_2"       
NET	 "p5io_group2(12)"         LOC = "D11";  #NET	 "GPIO_B0_0"/"vert_sync"       
NET	 "p5io_group2(13)"         LOC = "E11";  #NET	 "GPIO_B0_1"/"horiz_sync"       
NET	 "p5io_group2(14)"         LOC = "E10";  #NET	 "GPIO_B0_2"/"AV_GPIO"       
NET	 "p5io_group2(15)"         LOC = "C10";  #NET	 "GPIO_B0_3"       
NET	 "p5io_group2(16)"         LOC = "T21";  #NET	 "DATA1"       
NET	 "p5io_group2(17)"         LOC = "U20";  #NET	 "DATA2"       
NET	 "p5io_group2(18)"         LOC = "V22";  #NET	 "DATA5"       
NET	 "p5io_group2(19)"         LOC = "W22";  #NET	 "DATA6"       
NET	 "p5io_group2(20)"         LOC = "W19";  #NET	 "DATA9"       
NET	 "p5io_group2(21)"         LOC = "V19";  #NET	 "DATA10"      
NET	 "p5io_group2(22)"         LOC = "Y22";  #NET	 "DATA13"      
NET	 "p5io_group2(23)"         LOC = "W20";  #NET	 "DATA14"      
NET	 "p5io_group2(24)"         LOC = "L17";  #NET	 "DATA17"      
NET	 "p5io_group2(25)"         LOC = "M19";  #NET	 "DATA18"      
NET	 "p5io_group2(26)"         LOC = "N19";  #NET	 "DATA21"      
NET	 "p5io_group2(27)"         LOC = "M21";  #NET	 "DATA22"      
NET	 "p5io_group2(28)"         LOC = "U18";  #NET	 "DATA25"      
NET	 "p5io_group2(29)"         LOC = "T18";  #NET	 "DATA26"      
NET	 "p5io_group2(30)"         LOC = "N21";  #NET	 "DATA29"      
NET	 "p5io_group2(31)"         LOC = "N22";  #NET	 "DATA30"      

NET	 "p5io_group3(0)"          LOC = "L18";  #NET	 "GPIO_B2_0"      
NET	 "p5io_group3(1)"          LOC = "K19";  #NET	 "R_W#"      
NET	 "p5io_group3(2)"          LOC = "L19";  #NET	 "GPIO_B2_1"     
NET	 "p5io_group3(3)"          LOC = "L20";  #NET	 "GPIO_B2_2"      
NET	 "p5io_group3(4)"          LOC = "L21";  #NET	 "GPIO_B2_3"       
NET	 "p5io_group3(5)"          LOC = "K21";  #NET	 "BE#_0"      
NET	 "p5io_group3(6)"          LOC = "K22";  #NET	 "BE#_1"      
NET	 "p5io_group3(7)"          LOC = "L22";  #NET	 "GPIO_B2_4"      
NET	 "p5io_group3(8)"          LOC = "A18";  #NET	 "GPIO_B1_13"      
NET	 "p5io_group3(9)"          LOC = "B18";  #NET	 "GPIO_B1_14"       
NET	 "p5io_group3(10)"         LOC = "D17";  #NET	 "GPIO_B1_15"   
NET	 "p5io_group3(11)"         LOC = "A11";  #NET	 "CLK_IN"      

NET	 "p5io_group4(0)"          LOC = "G21";  #NET	 "SRAM_CS#"        
NET	 "p5io_group4(1)"          LOC = "G17";  #NET	 "OE#"           
NET	 "p5io_group4(2)"          LOC = "B20";  #NET	 "GPIO_B1_7"        
NET	 "p5io_group4(3)"          LOC = "C19";  #NET	 "GPIO_B1_8"        
NET	 "p5io_group4(4)"          LOC = "B19";  #NET	 "GPIO_B1_9"        
NET	 "p5io_group4(5)"          LOC = "A19";  #NET	 "GPIO_B1_10"           
NET	 "p5io_group4(6)"          LOC = "G22";  #NET	 "BE#_2"           
NET	 "p5io_group4(7)"          LOC = "K20";  #NET	 "BE#_3"        
NET	 "p5io_group4(8)"          LOC = "D18";  #NET	 "GPIO_B1_11"       
NET	 "p5io_group4(9)"          LOC = "C18";  #NET	 "GPIO_B1_12"       
NET	 "p5io_group4(10)"         LOC = "F17";  #NET	 "CLK_OUT"       
NET	 "p5io_group4(11)"         LOC = "AB12"; #NET	 "CLK_FB"           

# Note: Almost all I/O pins are re-used for the AvBus Connectors (the pins.
# Care must be taken to disable devices when using AvBus I/O
# to avoid contention.

# AvBus - P4 Pins 
NET	 "p4io_group1(0)"        LOC = "F10";  #NET	 "DVD_G0"      
NET	 "p4io_group1(1)"        LOC = "D10";  #NET	 "DVD_G1"      
NET	 "p4io_group1(2)"        LOC = "A10";  #NET	 "DVD_G2"      
NET	 "p4io_group1(3)"        LOC = "D9";   #NET	 "DVD_G3"      
NET	 "p4io_group1(4)"        LOC = "A9";   #NET	 "DVD_G4"       
NET	 "p4io_group1(5)"        LOC = "B9";   #NET	 "DVD_G5"       
NET	 "p4io_group1(6)"        LOC = "A8";   #NET	 "DVD_G6"       
NET	 "p4io_group1(7)"        LOC = "B8";   #NET	 "DVD_G7"       
NET	 "p4io_group1(8)"        LOC = "D6";   #NET	 "DVD_R0"      
NET	 "p4io_group1(9)"        LOC = "C6";   #NET	 "DVD_R1"      
NET	 "p4io_group1(10)"       LOC = "B6";   #NET	 "DVD_R2"      
NET	 "p4io_group1(11)"       LOC = "D5";   #NET	 "DVD_R3"      
NET	 "p4io_group1(12)"       LOC = "A5";   #NET	 "DVD_R4"      
NET	 "p4io_group1(13)"       LOC = "B5";   #NET	 "DVD_R5"     
NET	 "p4io_group1(14)"       LOC = "C5";   #NET	 "DVD_R6"     
NET	 "p4io_group1(15)"       LOC = "B4";   #NET	 "DVD_R7"     
NET	 "p4io_group1(16)"       LOC = "U6";   #NET	 "GPIO_B5_0"     
NET	 "p4io_group1(17)"       LOC = "Y6";   #NET	 "GPIO_B5_14"      
NET	 "p4io_group1(18)"       LOC = "AA6";  #NET	 "GPIO_B5_3"    
NET	 "p4io_group1(19)"       LOC = "U7";   #NET	 "GPIO_B5_4"    
NET	 "p4io_group1(20)"       LOC = "V7";   #NET	 "GPIO_B5_5"      
NET	 "p4io_group1(21)"       LOC = "W8";   #NET	 "GPIO_B5_13"      
NET	 "p4io_group1(22)"       LOC = "AA8";  #NET	 "GPIO_B5_6"      
NET	 "p4io_group1(23)"       LOC = "AB8";  #NET	 "GPIO_B5_17"      
NET	 "p4io_group1(24)"       LOC = "V8";   #NET	 "GPIO_B5_18"     
NET	 "p4io_group1(25)"       LOC = "AA9";  #NET	 "GPIO_B5_19"     
NET	 "p4io_group1(26)"       LOC = "AB9";  #NET	 "GPIO_B5_20"     
NET	 "p4io_group1(27)"       LOC = "W9";   #NET	 "GPIO_B5_21"     
NET	 "p4io_group1(28)"       LOC = "V9";   #NET	 "GPIO_B5_22"     
NET	 "p4io_group1(29)"       LOC = "AB11"; #NET	 "GPIO_B5_23"     
NET	 "p4io_group1(30)"       LOC = "AB10"; #NET	 "GPIO_B5_24"     
NET	 "p4io_group1(31)"       LOC = "AA11"; #NET	 "GPIO_B5_25"     

NET	 "p4io_group2(0)"        LOC = "E9";   #NET	 "DVD_B0"      
NET	 "p4io_group2(1)"        LOC = "F9";   #NET	 "DVD_B1"      
NET	 "p4io_group2(2)"        LOC = "D7";   #NET	 "DVD_B2"      
NET	 "p4io_group2(3)"        LOC = "C7";   #NET	 "DVD_B3"      
NET	 "p4io_group2(4)"        LOC = "E7";   #NET	 "DVD_B4"      
NET	 "p4io_group2(5)"        LOC = "F7";   #NET	 "DVD_B5"      
NET	 "p4io_group2(6)"        LOC = "E6";   #NET	 "DVD_B6"      
NET	 "p4io_group2(7)"        LOC = "F6";   #NET	 "DVD_B7"      
NET	 "p4io_group2(8)"        LOC = "A4";   #NET	 "DVD_BLANK"      
NET	 "p4io_group2(9)"        LOC = "A3";   #NET	 "DVD_CSYNC"      
NET	 "p4io_group2(10)"       LOC = "AA18"; #NET	 "SEG1_A"      
NET	 "p4io_group2(11)"       LOC = "Y18";  #NET	 "SEG1_B"      
NET	 "p4io_group2(12)"       LOC = "AA15"; #NET	 "SEG1_C"     
NET	 "p4io_group2(13)"       LOC = "V14";  #NET	 "SEG1_D"     
NET	 "p4io_group2(14)"       LOC = "U14";  #NET	 "SEG1_E"    
NET	 "p4io_group2(15)"       LOC = "V17";  #NET	 "SEG1_F"    
NET	 "p4io_group2(16)"       LOC = "AB18"; #NET	 "SEG1_G"    
NET	 "p4io_group2(17)"       LOC = "AB15"; #NET	 "SEG1_Dp"    
NET	 "p4io_group2(18)"       LOC = "AB20"; #NET	 "SEG2_A"      
NET	 "p4io_group2(19)"       LOC = "AA20"; #NET	 "SEG2_B"      
NET	 "p4io_group2(20)"       LOC = "AA17"; #NET	 "SEG2_C"      
NET	 "p4io_group2(21)"       LOC = "W16";  #NET	 "SEG2_D"      
NET	 "p4io_group2(22)"       LOC = "V16";  #NET	 "SEG2_E"      
NET	 "p4io_group2(23)"       LOC = "W18";  #NET	 "SEG2_F"      
NET	 "p4io_group2(24)"       LOC = "Y17";  #NET	 "SEG2_G"      
NET	 "p4io_group2(25)"       LOC = "W17";  #NET	 "SEG2_Dp"     
NET	 "p4io_group2(26)"       LOC = "U12";  #NET	 "LED0"     
NET	 "p4io_group2(27)"       LOC = "V12";  #NET	 "LED1"     
NET	 "p4io_group2(28)"       LOC = "Y12";  #NET	 "LED2"     
NET	 "p4io_group2(29)"       LOC = "Y13";  #NET	 "LED3"     
NET	 "p4io_group2(30)"       LOC = "AB13"; #NET	 "LED4"     
NET	 "p4io_group2(31)"       LOC = "AA13"; #NET	 "LED5"     

NET	 "p4io_group3(0)"        LOC = "AA10"; #NET	 "GPIO_B5_26"    
NET	 "p4io_group3(1)"        LOC = "Y11";  #NET	 "GPIO_B5_27"     
NET	 "p4io_group3(2)"        LOC = "Y10";  #NET	 "GPIO_B5_28"  
NET	 "p4io_group3(3)"        LOC = "W11";  #NET	 "GPIO_B5_29"    
NET	 "p4io_group3(4)"        LOC = "W10";  #NET	 "GPIO_B5_30"    
NET	 "p4io_group3(5)"        LOC = "V11";  #NET	 "GPIO_B5_31"    
NET	 "p4io_group3(6)"        LOC = "V10";  #NET	 "GPIO_B5_32"    
NET	 "p4io_group3(7)"        LOC = "U11";  #NET	 "GPIO_B5_33"    
NET	 "p4io_group3(8)"        LOC = "U10";  #NET	 "GPIO_B5_34"      
NET	 "p4io_group3(9)"        LOC = "W13";  #NET	 "MSDATA"      
NET	 "p4io_group3(10)"       LOC = "W14";  #NET	 "MSCLK"     
NET	 "p4io_group3(11)"       LOC = "E10";  #NET	 "AV_GPIO"     
#NET	 "p4io_group3(12)"       LOC = "";  #NET	 N/C     
#NET	 "p4io_group3(13)"       LOC = "";  #NET	 N/C     
#NET	 "p4io_group3(14)"       LOC = "";  #NET	 N/C     

NET	 "p4io_group4(0)"        LOC = "V13";  #NET	 "LED6"     
NET	 "p4io_group4(1)"        LOC = "AB14"; #NET	 "LED7"     
NET	 "p4io_group4(2)"        LOC = "W1";   #NET	 "GPIO_B7_0"     
NET	 "p4io_group4(3)"        LOC = "D1";   #NET	 "GPIO_B7_1"     
NET	 "p4io_group4(4)"        LOC = "D4";   #NET	 "GPIO_B7_2"     
NET	 "p4io_group4(5)"        LOC = "C1";   #NET	 "GPIO_B7_3"     
NET	 "p4io_group4(6)"        LOC = "C2";   #NET	 "GPIO_B7_4"     
NET	 "p4io_group4(7)"        LOC = "U13";  #NET	 "ANA_REF"     
NET	 "p4io_group4(8)"        LOC = "Y16";  #NET	 "ANA_OUT"     
NET	 "p4io_group4(9)"        LOC = "V18";  #NET	 "CMP_OUT"     
NET	 "p4io_group4(10)"       LOC = "U17";  #NET	 "KBCLK"     
NET	 "p4io_group4(11)"       LOC = "U16";  #NET	 "KBDATA"     
NET	 "p4io_group4(12)"       LOC = "C3";   #NET	 "RS232TX"     
NET	 "p4io_group4(13)"       LOC = "C4";   #NET	 "RS232RX"     

