# 200 MHz external oscillator
NET "ip_sysclk_p" TNM_NET=ip_sysclk;
TIMESPEC TS_ip_sysclk = PERIOD "ip_sysclk" 5 ns HIGH 50%;

NET "ip_sysclk_p"       LOC = "K15";
NET "ip_sysclk_n"       LOC = "K16";
NET "op_usb_1_rx"       LOC = "L12"     | IOSTANDARD = "LVCMOS25";
