Body {font-family: verdana,tahoma,arial; font-size: 9pt; color: #000000;}
Td {font-family: verdana,tahoma,arial; font-size: 9pt; color: #000000;}
TextArea {border-style: solid; border-width: 1px; font-family: verdana,tahoma,arial; color: #000000; font-size: 9pt;}
Select {border-style: solid; border-width: 1px; font-family: verdana,tahoma,arial; color: #000000; font-size: 9pt;}
Input {border-style: solid; border-width: 1px; font-family: verdana,tahoma,arial; color: #000000; background: #ffffff; font-size: 9pt;}
A:Link {color: #550000; text-decoration: underline;}
A:Visited {color: #550000; text-decoration: underline;}
A:Active {color: #550000; text-decoration: none;}
A:Hover {color: #550000; text-decoration: none;}
H1 {font-size: 16pt; color: #336699;}
H2 {font-size: 13pt; color: #000055;}
H3 {font-size: 12pt; color: #005500;}
H4 {font-size: 12pt; color: #550000;}