
 
NET "clk" PERIOD = 14.000 ;
NET "clk"  LOC = "A11";  

NET "resetn" LOC = "Y1"; # SW3 active high!!

NET "dsutx" LOC = "C3";
NET "dsurx" LOC = "C4";

NET "sysled"	LOC = U12; # LED.0

INST "mem1_aram0_u0_r0" LOC = "RAMB16_X0Y0" ;
INST "mem1_aram1_u0_r0" LOC = "RAMB16_X0Y1" ;
INST "mem1_aram2_u0_r0" LOC = "RAMB16_X0Y2" ;
INST "mem1_aram3_u0_r0" LOC = "RAMB16_X0Y3" ;

##########################
#NET "txd1" LOC = "F10"  ;
#NET "rxd1" LOC = "C10"  ;

#NET "dip(0)"	LOC = D8;
#NET "dip(1)"	LOC = R13;
#NET "dip(2)"	LOC = T14;
#NET "dip(3)"	LOC = P16;
#NET "dip(4)"	LOC = N16;
#NET "dip(5)"	LOC = M13;
#NET "dip(6)"	LOC = J16;
#NET "dip(7)"	LOC = J15;
#NET "dip(*)"	PULLUP;



