#modified version for gr-xc3s-1550-fg456 board

CONFIG stepping="0";

NET clk period = 20.000 ;
OFFSET = out : 20.000 : AFTER clk ;
OFFSET = in : 8.000 : BEFORE clk ;

NET video_clk period = 15.000 ;
#OFFSET = out : 25.000 : AFTER video_clk;

NET "clkm" 		TNM_NET = "clkm";
NET "video_clk" 	TNM_NET = "video_clk";
TIMESPEC "TS_clkm_vidclk" = FROM "clkm" TO "video_clk" TIG;
TIMESPEC "TS_vidclk_clkm" = FROM "video_clk" TO "clkm" TIG;

NET "address(10)" LOC = "E3" | IOSTANDARD = LVTTL; 
NET "address(11)" LOC = "E4" | IOSTANDARD = LVTTL; 
NET "address(12)" LOC = "G5" | IOSTANDARD = LVTTL;
NET "address(13)" LOC = "H3" | IOSTANDARD = LVTTL;
NET "address(14)" LOC = "H4" | IOSTANDARD = LVTTL;
NET "address(15)" LOC = "J4" | IOSTANDARD = LVTTL; 
NET "address(16)" LOC = "J3" | IOSTANDARD = LVTTL;
NET "address(17)" LOC = "K3" | IOSTANDARD = LVTTL;
NET "address(18)" LOC = "K5" | IOSTANDARD = LVTTL; 
NET "address(19)" LOC = "L3" | IOSTANDARD = LVTTL; 
NET "address(2)" LOC = "L5" | IOSTANDARD = LVTTL;
NET "address(3)" LOC = "N3" | IOSTANDARD = LVTTL;
NET "address(4)" LOC = "M4" | IOSTANDARD = LVTTL; 
NET "address(5)" LOC = "M3" | IOSTANDARD = LVTTL; 
NET "address(6)" LOC = "L4" | IOSTANDARD = LVTTL; 
NET "address(7)" LOC = "G4" | IOSTANDARD = LVTTL; 
NET "address(8)" LOC = "F3" | IOSTANDARD = LVTTL;
NET "address(9)" LOC = "F4" | IOSTANDARD = LVTTL;

NET "clk" LOC = "T9" | IOSTANDARD = LVTTL; 

NET "data(0)" LOC = "P2" | IOSTANDARD = LVTTL;
NET "data(1)" LOC = "N2" | IOSTANDARD = LVTTL;
NET "data(2)" LOC = "M2" | IOSTANDARD = LVTTL;
NET "data(3)" LOC = "K1" | IOSTANDARD = LVTTL;
NET "data(4)" LOC = "J1" | IOSTANDARD = LVTTL;
NET "data(5)" LOC = "G2" | IOSTANDARD = LVTTL;
NET "data(6)" LOC = "E1" | IOSTANDARD = LVTTL;
NET "data(7)" LOC = "D1" | IOSTANDARD = LVTTL;
NET "data(8)" LOC = "D2" | IOSTANDARD = LVTTL;
NET "data(9)" LOC = "E2" | IOSTANDARD = LVTTL;
NET "data(10)" LOC = "G1" | IOSTANDARD = LVTTL; 
NET "data(11)" LOC = "F5" | IOSTANDARD = LVTTL;
NET "data(12)" LOC = "C3" | IOSTANDARD = LVTTL;
NET "data(13)" LOC = "K2" | IOSTANDARD = LVTTL;
NET "data(14)" LOC = "M1" | IOSTANDARD = LVTTL;
NET "data(15)" LOC = "N1" | IOSTANDARD = LVTTL;
NET "data(16)" LOC = "N7" | IOSTANDARD = LVTTL;
NET "data(17)" LOC = "T8" | IOSTANDARD = LVTTL;
NET "data(18)" LOC = "R6" | IOSTANDARD = LVTTL;
NET "data(19)" LOC = "T5" | IOSTANDARD = LVTTL;
NET "data(20)" LOC = "R5" | IOSTANDARD = LVTTL;
NET "data(21)" LOC = "C2" | IOSTANDARD = LVTTL;
NET "data(22)" LOC = "C1" | IOSTANDARD = LVTTL;
NET "data(23)" LOC = "B1" | IOSTANDARD = LVTTL;
NET "data(24)" LOC = "D3" | IOSTANDARD = LVTTL;
NET "data(25)" LOC = "P8" | IOSTANDARD = LVTTL;
NET "data(26)" LOC = "F2" | IOSTANDARD = LVTTL;
NET "data(27)" LOC = "H1" | IOSTANDARD = LVTTL;
NET "data(28)" LOC = "J2" | IOSTANDARD = LVTTL;
NET "data(29)" LOC = "L2" | IOSTANDARD = LVTTL;
NET "data(30)" LOC = "P1" | IOSTANDARD = LVTTL;
NET "data(31)" LOC = "R1" | IOSTANDARD = LVTTL;

NET "ps2clk" LOC = "M16" | IOSTANDARD = LVTTL;
NET "ps2data" LOC = "M15" | IOSTANDARD = LVTTL;

NET "ramsn(0)" LOC = "P7" | IOSTANDARD = LVTTL;
NET "ramsn(1)" LOC = "N5" | IOSTANDARD = LVTTL;
NET "mben(0)" LOC = "T4" | IOSTANDARD = LVTTL;
NET "mben(1)" LOC = "P6" | IOSTANDARD = LVTTL;
NET "mben(2)" LOC = "R4" | IOSTANDARD = LVTTL;
NET "mben(3)" LOC = "P5" | IOSTANDARD = LVTTL;
NET "writen" LOC = "G3" | IOSTANDARD = LVTTL;
NET "oen" LOC = "K4" | IOSTANDARD = LVTTL;
NET "reset" LOC = "L14" | IOSTANDARD = LVTTL; #button(3)
NET "rxd1" LOC = "T13" | IOSTANDARD = LVTTL;
NET "txd1" LOC = "R13" | IOSTANDARD = LVTTL;

#NET "switch(0)" LOC = "F12" | IOSTANDARD = LVTTL;
#NET "switch(1)" LOC = "G12" | IOSTANDARD = LVTTL;
#NET "switch(2)" LOC = "H14" | IOSTANDARD = LVTTL;
#NET "switch(3)" LOC = "H13" | IOSTANDARD = LVTTL;
#NET "switch(4)" LOC = "J14" | IOSTANDARD = LVTTL;
#NET "switch(5)" LOC = "J13" | IOSTANDARD = LVTTL;
#NET "switch(6)" LOC = "K14" | IOSTANDARD = LVTTL;
#NET "switch(7)" LOC = "K13" | IOSTANDARD = LVTTL;
NET "vid_b" LOC = "R11" | IOSTANDARD = LVTTL;
NET "vid_g" LOC = "T12" | IOSTANDARD = LVTTL;
NET "vid_hsync" LOC = "R9" | IOSTANDARD = LVTTL;
NET "vid_r" LOC = "R12" | IOSTANDARD = LVTTL;
NET "vid_vsync" LOC = "T10" | IOSTANDARD = LVTTL;

NET "dsubre" LOC = "L13"  | IOSTANDARD = LVTTL ;#button(2)
NET "dsuact" LOC = "P14"  | IOSTANDARD = LVTTL ;#led(1)
NET "error"  LOC = "K12" | IOSTANDARD = LVTTL  ; #led(0)


NET "pio(0)" LOC = "D14" | IOSTANDARD = LVTTL; #AN0
NET "pio(1)" LOC = "G14" | IOSTANDARD = LVTTL; #AN1
NET "pio(2)" LOC = "F14" | IOSTANDARD = LVTTL; #AN2
NET "pio(3)" LOC = "E13" | IOSTANDARD = LVTTL; #AN3

NET "pio(8)" LOC = "E14" | IOSTANDARD = LVTTL; # DISP A
NET "pio(9)" LOC = "G13" | IOSTANDARD = LVTTL; # DISP B
NET "pio(10)" LOC = "N15" | IOSTANDARD = LVTTL; # DISP C
NET "pio(11)" LOC = "P15" | IOSTANDARD = LVTTL; # DISP D
NET "pio(12)" LOC = "R16" | IOSTANDARD = LVTTL; # DISP E
NET "pio(13)" LOC = "F13" | IOSTANDARD = LVTTL; # DISP F
NET "pio(14)" LOC = "N16" | IOSTANDARD = LVTTL; # DISP G
