
# PlanAhead Generated physical constraints 
NET "one_o" LOC = A2;
NET "zero_o" LOC = A3;
#Created by Constraints Editor (xc3s700an-fgg484-4) - 2015/02/16
NET "wb_clk_i" TNM_NET = wb_clk_i;
TIMESPEC TS_wb_clk_i = PERIOD "wb_clk_i" 20 ns HIGH 50%;
