NET "clk" PERIOD = 20.0ns HIGH 40%;
NET "clk" LOC = "E12"| IOSTANDARD = LVCMOS33;

NET "rs232_rxd" LOC = "E16" | IOSTANDARD = LVTTL ;
NET "rs232_txd" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;

NET "reset" LOC = "U15" | IOSTANDARD = LVTTL | PULLDOWN ;

