#
# PDP8.ucf
# For Nexys2 Card
#
#
# Clock Interface
#

NET "clk"                       LOC = "B8";
NET "clk"                       TNM_NET = clk;
NET "clk"                       IOSTANDARD = LVCMOS33;
TIMESPEC                        TS_clk = PERIOD "clk" 18 ns HIGH 50%;

#
# Clock Interface
#

NET "iPDP8/iCPU/rdb"            TNM_NET = iPDP8/iCPU/rdb;
TIMESPEC                        TS_iPDP8_iCPU_rdb = PERIOD "iPDP8/iCPU/rdb" 18 ns HIGH 50%;

#
# Buttons
#

NET "rstIN"                     LOC = "B18" | IOSTANDARD = LVCMOS33;            # BTN0
#NET "btn[2]"                   LOC = "D18" | IOSTANDARD = LVCMOS33;            # BTN1
#NET "btn[1]"                   LOC = "E18" | IOSTANDARD = LVCMOS33;            # BTN2
#NET "btn[0]"                   LOC = "H13" | IOSTANDARD = LVCMOS33;            # BTN3

#
# Switches
#

NET "sw[7]"                     LOC = "G18" | IOSTANDARD = LVCMOS33;            # SW0
NET "sw[6]"                     LOC = "H18" | IOSTANDARD = LVCMOS33;            # SW1
NET "sw[5]"                     LOC = "K18" | IOSTANDARD = LVCMOS33;            # SW2
NET "sw[4]"                     LOC = "K17" | IOSTANDARD = LVCMOS33;            # SW3
NET "sw[3]"                     LOC = "L14" | IOSTANDARD = LVCMOS33;            # SW4
NET "sw[2]"                     LOC = "L13" | IOSTANDARD = LVCMOS33;            # SW5
NET "sw[1]"                     LOC = "N17" | IOSTANDARD = LVCMOS33;            # SW6
NET "sw[0]"                     LOC = "R17" | IOSTANDARD = LVCMOS33;            # SW7

#
# LEDS
#

NET "led[7]"                    LOC = "J14" | IOSTANDARD = LVCMOS33;
NET "led[6]"                    LOC = "J15" | IOSTANDARD = LVCMOS33;
NET "led[5]"                    LOC = "K15" | IOSTANDARD = LVCMOS33;
NET "led[4]"                    LOC = "K14" | IOSTANDARD = LVCMOS33;
NET "led[3]"                    LOC = "E16" | IOSTANDARD = LVCMOS33;
NET "led[2]"                    LOC = "P16" | IOSTANDARD = LVCMOS33;
NET "led[1]"                    LOC = "E4"  | IOSTANDARD = LVCMOS33;
NET "led[0]"                    LOC = "P4"  | IOSTANDARD = LVCMOS33;

#
# Display Segment Interface
#

NET "dispSeg_L[0]"              LOC = "L18" | IOSTANDARD = LVCMOS33;
NET "dispSeg_L[1]"              LOC = "F18" | IOSTANDARD = LVCMOS33;
NET "dispSeg_L[2]"              LOC = "D17" | IOSTANDARD = LVCMOS33;
NET "dispSeg_L[3]"              LOC = "D16" | IOSTANDARD = LVCMOS33;
NET "dispSeg_L[4]"              LOC = "G14" | IOSTANDARD = LVCMOS33;
NET "dispSeg_L[5]"              LOC = "J17" | IOSTANDARD = LVCMOS33;
NET "dispSeg_L[6]"              LOC = "H14" | IOSTANDARD = LVCMOS33;
NET "dispSeg_L[7]"              LOC = "C17" | IOSTANDARD = LVCMOS33;

#
# Display Digit Interface
#

NET "dispDig_L[0]"              LOC = "F15" | IOSTANDARD = LVCMOS33;
NET "dispDig_L[1]"              LOC = "C18" | IOSTANDARD = LVCMOS33;
NET "dispDig_L[2]"              LOC = "H17" | IOSTANDARD = LVCMOS33;
NET "dispDig_L[3]"              LOC = "F17" | IOSTANDARD = LVCMOS33;

#
# IO Interface
#

NET "ioDATA[0]"                 LOC = "B14" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[1]"                 LOC = "D14" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[2]"                 LOC = "C14" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[3]"                 LOC = "A14" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[4]"                 LOC = "E13" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[5]"                 LOC = "B13" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[6]"                 LOC = "A13" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[7]"                 LOC = "F12" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[8]"                 LOC = "B11" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[9]"                 LOC = "D11" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[10]"                LOC = "B10" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[11]"                LOC = "D10" | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[12]"                LOC = "G9"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[13]"                LOC = "C9"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[14]"                LOC = "E8"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[15]"                LOC = "F8"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[16]"                LOC = "F7"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[17]"                LOC = "C5"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[18]"                LOC = "D5"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[19]"                LOC = "B6"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[20]"                LOC = "C4"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[21]"                LOC = "C3"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[22]"                LOC = "A4"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "ioDATA[23]"                LOC = "B4"  | IOSTANDARD = LVCMOS33 | KEEPER;
NET "inOEA_L"                   LOC = "A16" | IOSTANDARD = LVCMOS33;
NET "inOEB_L"                   LOC = "E11" | IOSTANDARD = LVCMOS33;
NET "outLEA"                    LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "outLEB"                    LOC = "E7"  | IOSTANDARD = LVCMOS33;

#
# IDE Interface
#

NET "sdCS"                      LOC = "G16" | IOSTANDARD = LVCMOS33;            # JC9
NET "sdMOSI"                    LOC = "J16" | IOSTANDARD = LVCMOS33;            # JC2
NET "sdMISO"                    LOC = "J12" | IOSTANDARD = LVCMOS33;            # JC10
NET "sdSCLK"                    LOC = "G13" | IOSTANDARD = LVCMOS33;            # JC3
NET "sdCD"                      LOC = "H16" | IOSTANDARD = LVCMOS33 | PULLUP;   # JC4
NET "sdWP"                      LOC = "G15" | IOSTANDARD = LVCMOS33 | PULLUP;   # JC1

#
# RS232
#

#NET "ptrTXD"
#NET "ptrRXD"

NET "lprTXD"			LOC = "L15" | IOSTANDARD = LVCMOS33;		# JA1
NET "lprRXD"                 	LOC = "K13" | IOSTANDARD = LVCMOS33 | PULLUP;  	# JA7
NET "tty2TXD"                 	LOC = "L16" | IOSTANDARD = LVCMOS33;           	# JA8
NET "tty2RXD"                 	LOC = "K12" | IOSTANDARD = LVCMOS33 | PULLUP;  	# JA2
NET "tty1TXD"                 	LOC = "L17" | IOSTANDARD = LVCMOS33;       	# JA3
NET "tty1RXD"                 	LOC = "M14" | IOSTANDARD = LVCMOS33 | PULLUP;   # JA9
