#modified version for gr-xc3s-1550-fg456 board

CONFIG stepping="0";

NET clk period = 20.000 ;
OFFSET = out : 20.000 : AFTER clk ;
OFFSET = in : 8.000 : BEFORE clk ;

NET clk3 period = 40.000 ;

NET erx_clk PERIOD = 40.000 ;
OFFSET = in : 10.000 : BEFORE erx_clk ;
NET etx_clk PERIOD = 40.000 ;
OFFSET = out : 20.000 : AFTER etx_clk ;
OFFSET = in : 10.000 : BEFORE etx_clk ;

NET usb_clkout period = 16.000;

INST "clkgen0_xc3s_v_dll0" LOC = DCM_X1Y0;
INST "clkgen0_xc3s_v_sd0_dll1" LOC = DCM_X0Y0;
INST "clkgen0_v_dll0" LOC = DCM_X1Y0;
INST "clkgen0_v_dll1" LOC = DCM_X0Y0;
INST "clkgen0/v/dll0" LOC = DCM_X1Y0;
INST "clkgen0/v/dll1" LOC = DCM_X0Y0;
INST "clkgen0/xc3s.v/dll0" LOC = DCM_X1Y0;
INST "clkgen0/xc3s.v/sd0.dll1" LOC = DCM_X0Y0;

INST "spw.swloop.0.sw0/grspwc0/rxclko" LOC = "SLICE_X0Y62";
INST "spw.swloop.1.sw0/grspwc0/rxclko" LOC = "SLICE_X0Y48";
INST "spw.swloop.2.sw0/grspwc0/rxclko" LOC = "SLICE_X0Y24";
INST "sw00/grspwc0/rxclko" LOC = SLICE_X0Y62;
INST "sw01/grspwc0/rxclko" LOC = SLICE_X0Y48;
INST "sw02/grspwc0/rxclko" LOC = SLICE_X0Y24;

NET "address(0)" LOC = "u16" | IOSTANDARD = LVTTL;
NET "address(1)" LOC = "u17" | IOSTANDARD = LVTTL;
NET "address(10)" LOC = "y22" | IOSTANDARD = LVTTL; 
NET "address(11)" LOC = "v19" | IOSTANDARD = LVTTL; 
NET "address(12)" LOC = "w19" | IOSTANDARD = LVTTL;
NET "address(13)" LOC = "w21" | IOSTANDARD = LVTTL;
NET "address(14)" LOC = "w20" | IOSTANDARD = LVTTL;
NET "address(15)" LOC = "u19" | IOSTANDARD = LVTTL; 
NET "address(16)" LOC = "v20" | IOSTANDARD = LVTTL;
NET "address(17)" LOC = "v22" | IOSTANDARD = LVTTL;
NET "address(18)" LOC = "v21" | IOSTANDARD = LVTTL; 
NET "address(19)" LOC = "t17" | IOSTANDARD = LVTTL; 
NET "address(2)" LOC = "aa20" | IOSTANDARD = LVTTL;
NET "address(20)" LOC = "u18" | IOSTANDARD = LVTTL;
NET "address(21)" LOC = "w13" | IOSTANDARD = LVTTL;
NET "address(22)" LOC = "w14" | IOSTANDARD = LVTTL; 
NET "address(23)" LOC = "u14" | IOSTANDARD = LVTTL; 
NET "address(24)" LOC = "v14" | IOSTANDARD = LVTTL;
NET "address(25)" LOC = "u13" | IOSTANDARD = LVTTL;
NET "address(26)" LOC = "v13" | IOSTANDARD = LVTTL;
NET "address(27)" LOC = "y13" | IOSTANDARD = LVTTL;
NET "address(3)" LOC = "ab20" | IOSTANDARD = LVTTL;
NET "address(4)" LOC = "aa19" | IOSTANDARD = LVTTL; 
NET "address(5)" LOC = "ab19" | IOSTANDARD = LVTTL; 
NET "address(6)" LOC = "y21" | IOSTANDARD = LVTTL; 
NET "address(7)" LOC = "y20" | IOSTANDARD = LVTTL; 
NET "address(8)" LOC = "y19" | IOSTANDARD = LVTTL;
NET "address(9)" LOC = "w22" | IOSTANDARD = LVTTL;
NET "bexcn" LOC = "aa7" | IOSTANDARD = LVTTL;
NET "brdyn" LOC = "ab7" | IOSTANDARD = LVTTL; 
NET "clk" LOC = "aa12" | IOSTANDARD = LVTTL; 
NET "clk2" LOC = "ab12" | IOSTANDARD = LVTTL; 
NET "clk3" LOC = "a11" | IOSTANDARD = LVTTL;
NET "ctsn1" LOC = "l5" | IOSTANDARD = LVTTL;
NET "ctsn2" LOC = "k3" | IOSTANDARD = LVTTL;
NET "data(0)" LOC = "n18" | IOSTANDARD = LVTTL;
NET "data(1)" LOC = "p21" | IOSTANDARD = LVTTL;
NET "data(10)" LOC = "t22" | IOSTANDARD = LVTTL; 
NET "data(11)" LOC = "t19" | IOSTANDARD = LVTTL;
NET "data(12)" LOC = "t20" | IOSTANDARD = LVTTL;
NET "data(13)" LOC = "t18" | IOSTANDARD = LVTTL;
NET "data(14)" LOC = "r18" | IOSTANDARD = LVTTL;
NET "data(15)" LOC = "u20" | IOSTANDARD = LVTTL;
NET "data(16)" LOC = "aa18" | IOSTANDARD = LVTTL;
NET "data(17)" LOC = "ab18" | IOSTANDARD = LVTTL;
NET "data(18)" LOC = "ab16" | IOSTANDARD = LVTTL;
NET "data(19)" LOC = "aa15" | IOSTANDARD = LVTTL;
NET "data(2)" LOC = "p22" | IOSTANDARD = LVTTL;
NET "data(20)" LOC = "ab15" | IOSTANDARD = LVTTL;
NET "data(21)" LOC = "ab14" | IOSTANDARD = LVTTL;
NET "data(22)" LOC = "aa13" | IOSTANDARD = LVTTL;
NET "data(23)" LOC = "ab13" | IOSTANDARD = LVTTL;
NET "data(24)" LOC = "aa16" | IOSTANDARD = LVTTL;
NET "data(25)" LOC = "w16" | IOSTANDARD = LVTTL;
NET "data(26)" LOC = "v16" | IOSTANDARD = LVTTL;
NET "data(27)" LOC = "aa17" | IOSTANDARD = LVTTL;
NET "data(28)" LOC = "w17" | IOSTANDARD = LVTTL;
NET "data(29)" LOC = "v17" | IOSTANDARD = LVTTL;
NET "data(3)" LOC = "p17" | IOSTANDARD = LVTTL;
NET "data(30)" LOC = "w18" | IOSTANDARD = LVTTL;
NET "data(31)" LOC = "y18" | IOSTANDARD = LVTTL;
NET "data(4)" LOC = "p18" | IOSTANDARD = LVTTL;
NET "data(5)" LOC = "r19" | IOSTANDARD = LVTTL;
NET "data(6)" LOC = "p19" | IOSTANDARD = LVTTL;
NET "data(7)" LOC = "r21" | IOSTANDARD = LVTTL;
NET "data(8)" LOC = "r22" | IOSTANDARD = LVTTL;
NET "data(9)" LOC = "t21" | IOSTANDARD = LVTTL;
NET "emdint" LOC = "c2" | IOSTANDARD = LVTTL;
NET "emdio" LOC = "c4" | IOSTANDARD = LVTTL;
NET "erx_clk" LOC = "y11" | IOSTANDARD = LVTTL;
NET "erx_col" LOC = "f3" | IOSTANDARD = LVTTL;
NET "erx_crs" LOC = "f4" | IOSTANDARD = LVTTL;
NET "erx_dv" LOC = "e3" | IOSTANDARD = LVTTL;
NET "erx_er" LOC = "f2" | IOSTANDARD = LVTTL;
NET "erxd(0)" LOC = "e4" | IOSTANDARD = LVTTL;
NET "erxd(1)" LOC = "d4" | IOSTANDARD = LVTTL;
NET "erxd(2)" LOC = "d3" | IOSTANDARD = LVTTL;
NET "erxd(3)" LOC = "d2" | IOSTANDARD = LVTTL;
NET "emdc" LOC = "c3" | IOSTANDARD = LVTTL;
NET "etx_clk" LOC = "aa11" | IOSTANDARD = LVTTL; 
NET "etx_en" LOC = "f5" | IOSTANDARD = LVTTL;
NET "etx_er" LOC = "g6" | IOSTANDARD = LVTTL;
NET "etxd(0)" LOC = "e1" | IOSTANDARD = LVTTL;
NET "etxd(1)" LOC = "e2" | IOSTANDARD = LVTTL;
NET "etxd(2)" LOC = "d1" | IOSTANDARD = LVTTL;
NET "etxd(3)" LOC = "c1" | IOSTANDARD = LVTTL;
NET "genio(0)" LOC = "m6" | IOSTANDARD = LVTTL;
NET "genio(1)"  LOC = "m5" | IOSTANDARD = LVTTL;
NET "genio(10)" LOC = "t6" | IOSTANDARD = LVTTL;
NET "genio(11)" LOC = "t5" | IOSTANDARD = LVTTL;
NET "genio(12)" LOC = "v5" | IOSTANDARD = LVTTL;
NET "genio(13)" LOC = "u5" | IOSTANDARD = LVTTL;
NET "genio(14)" LOC = "w4" | IOSTANDARD = LVTTL;
NET "genio(15)" LOC = "w3" | IOSTANDARD = LVTTL;
NET "genio(16)" LOC = "y3" | IOSTANDARD = LVTTL;
NET "genio(17)" LOC = "y2" | IOSTANDARD = LVTTL;
NET "genio(18)" LOC = "y1" | IOSTANDARD = LVTTL;
NET "genio(19)" LOC = "u6" | IOSTANDARD = LVTTL;
NET "genio(2)" LOC = "n6" | IOSTANDARD = LVTTL;
NET "genio(20)" LOC = "d22" | IOSTANDARD = LVTTL;
NET "genio(21)" LOC = "g17" | IOSTANDARD = LVTTL;
NET "genio(22)" LOC = "e21" | IOSTANDARD = LVTTL;
NET "genio(23)" LOC = "g22" | IOSTANDARD = LVTTL;
NET "genio(24)" LOC = "g21" | IOSTANDARD = LVTTL;
NET "genio(25)" LOC = "g19" | IOSTANDARD = LVTTL;
NET "genio(26)" LOC = "h22" | IOSTANDARD = LVTTL;
NET "genio(27)" LOC = "g18" | IOSTANDARD = LVTTL;
NET "genio(28)" LOC = "j18" | IOSTANDARD = LVTTL;
NET "genio(29)" LOC = "j21" | IOSTANDARD = LVTTL;
NET "genio(3)" LOC = "n5" | IOSTANDARD = LVTTL;
NET "genio(30)" LOC = "j22" | IOSTANDARD = LVTTL;
NET "genio(31)" LOC = "h21" | IOSTANDARD = LVTTL;
NET "genio(32)" LOC = "k22" | IOSTANDARD = LVTTL;
NET "genio(33)" LOC = "k21" | IOSTANDARD = LVTTL;
NET "genio(34)" LOC = "k18" | IOSTANDARD = LVTTL;
NET "genio(35)" LOC = "l19" | IOSTANDARD = LVTTL;
NET "genio(36)" LOC = "l18" | IOSTANDARD = LVTTL;
NET "genio(37)" LOC = "k17" | IOSTANDARD = LVTTL;
NET "genio(38)" LOC = "l17" | IOSTANDARD = LVTTL; 
NET "genio(39)" LOC = "j17" | IOSTANDARD = LVTTL;
NET "genio(4)" LOC = "r5" | IOSTANDARD = LVTTL;
NET "genio(40)" LOC = "e19" | IOSTANDARD = LVTTL;
NET "genio(41)" LOC = "f18" | IOSTANDARD = LVTTL;
NET "genio(42)" LOC = "e20" | IOSTANDARD = LVTTL;
NET "genio(43)" LOC = "f19" | IOSTANDARD = LVTTL;
NET "genio(44)" LOC = "f20" | IOSTANDARD = LVTTL;
NET "genio(45)" LOC = "f21" | IOSTANDARD = LVTTL;
NET "genio(46)" LOC = "e22" | IOSTANDARD = LVTTL;
NET "genio(47)" LOC = "e18" | IOSTANDARD = LVTTL;
NET "genio(48)" LOC = "g20" | IOSTANDARD = LVTTL;
NET "genio(49)" LOC = "h19" | IOSTANDARD = LVTTL;
NET "genio(5)" LOC = "p6" | IOSTANDARD = LVTTL;
NET "genio(50)" LOC = "h18" | IOSTANDARD = LVTTL;
NET "genio(51)" LOC = "j19" | IOSTANDARD = LVTTL;
NET "genio(52)" LOC = "k20" | IOSTANDARD = LVTTL;
NET "genio(53)" LOC = "k19" | IOSTANDARD = LVTTL;
NET "genio(54)" LOC = "l20" | IOSTANDARD = LVTTL;
NET "genio(55)" LOC = "l21" | IOSTANDARD = LVTTL;
NET "genio(56)" LOC = "m20" | IOSTANDARD = LVTTL;
NET "genio(57)" LOC = "m19" | IOSTANDARD = LVTTL;
NET "genio(58)" LOC = "m22" | IOSTANDARD = LVTTL;
NET "genio(59)" LOC = "m21" | IOSTANDARD = LVTTL;
NET "genio(6)" LOC = "t2" | IOSTANDARD = LVTTL;
NET "genio(7)" LOC = "t1" | IOSTANDARD = LVTTL;
NET "genio(8)" LOC = "u4" | IOSTANDARD = LVTTL;
NET "genio(9)" LOC = "t4" | IOSTANDARD = LVTTL;
NET "iosn" LOC = "u12" | IOSTANDARD = LVTTL;
#NET "led(0)" LOC = "f11" | IOSTANDARD = LVTTL;
#NET "led(1)" LOC = "e11" | IOSTANDARD = LVTTL;
#NET "led(2)" LOC = "d11" | IOSTANDARD = LVTTL;
#NET "led(3)" LOC = "c11" | IOSTANDARD = LVTTL;
#NET "lvdsion(0)" LOC = "m2" | IOSTANDARD = LVTTL;
#NET "lvdsion(1)" LOC = "m1" | IOSTANDARD = LVTTL;
#NET "lvdsion(10)" LOC = "w2" | IOSTANDARD = LVTTL;
#NET "lvdsion(11)" LOC = "w1" | IOSTANDARD = LVTTL;
#NET "lvdsion(2)" LOC = "v4" | IOSTANDARD = LVTTL;
#NET "lvdsion(3)" LOC = "v3" | IOSTANDARD = LVTTL;
#NET "lvdsion(4)" LOC = "m4"  | IOSTANDARD = LVTTL;
#NET "lvdsion(5)" LOC = "m3" | IOSTANDARD = LVTTL;
#NET "lvdsion(6)" LOC = "n2" | IOSTANDARD = LVTTL;
#NET "lvdsion(7)" LOC = "n1" | IOSTANDARD = LVTTL;
#NET "lvdsion(8)" LOC = "n4" | IOSTANDARD = LVTTL;
#NET "lvdsion(9)" LOC = "n3" | IOSTANDARD = LVTTL;
#NET "lvdsiop(0)" LOC = "p2" | IOSTANDARD = LVTTL;
#NET "lvdsiop(1)" LOC = "p1" | IOSTANDARD = LVTTL;
#NET "lvdsiop(10)" LOC = "p5" | IOSTANDARD = LVTTL;
#NET "lvdsiop(11)" LOC = "p4" | IOSTANDARD = LVTTL;
#NET "lvdsiop(2)" LOC = "r2" | IOSTANDARD = LVTTL;
#NET "lvdsiop(3)" LOC = "r1" | IOSTANDARD = LVTTL;
#NET "lvdsiop(4)" LOC = "t3" | IOSTANDARD = LVTTL;
#NET "lvdsiop(5)" LOC = "r4" | IOSTANDARD = LVTTL;
#NET "lvdsiop(6)" LOC = "v2" | IOSTANDARD = LVTTL;
#NET "lvdsiop(7)" LOC = "v1" | IOSTANDARD = LVTTL;
#NET "lvdsiop(8)" LOC = "u3" | IOSTANDARD = LVTTL;
#NET "lvdsiop(9)" LOC = "u2" | IOSTANDARD = LVTTL;
NET "oen" LOC = "ab4" | IOSTANDARD = LVTTL; 
NET "pio(0)" LOC = "h5" | IOSTANDARD = LVTTL;
NET "pio(1)" LOC = "g5" | IOSTANDARD = LVTTL;
NET "pio(10)" LOC = "j5" | IOSTANDARD = LVTTL;
NET "pio(11)" LOC = "j6" | IOSTANDARD = LVTTL;
NET "pio(12)" LOC = "j1" | IOSTANDARD = LVTTL;
NET "pio(13)" LOC = "j2" | IOSTANDARD = LVTTL;
NET "pio(14)" LOC = "k5" | IOSTANDARD = LVTTL;
NET "pio(15)" LOC = "k6" | IOSTANDARD = LVTTL;
NET "pio(2)" LOC = "g3" | IOSTANDARD = LVTTL;
NET "pio(3)" LOC = "g4"  | IOSTANDARD = LVTTL;
NET "pio(4)" LOC = "g1" | IOSTANDARD = LVTTL;
NET "pio(5)" LOC = "g2"  | IOSTANDARD = LVTTL;
NET "pio(6)" LOC = "h1" | IOSTANDARD = LVTTL;
NET "pio(7)" LOC = "h2" | IOSTANDARD = LVTTL;
NET "pio(8)" LOC = "j4" | IOSTANDARD = LVTTL;
NET "pio(9)" LOC = "h4"  | IOSTANDARD = LVTTL;
NET "pllref"  LOC = "v8"  | IOSTANDARD = LVTTL;# sdclkfb
NET "ps2clk(0)" LOC = "b10" | IOSTANDARD = LVTTL;
NET "ps2clk(1)" LOC = "e10" | IOSTANDARD = LVTTL;
NET "ps2data(0)" LOC = "c10" | IOSTANDARD = LVTTL;
NET "ps2data(1)" LOC = "f10" | IOSTANDARD = LVTTL;
NET "ramoen(0)" LOC = "u10" | IOSTANDARD = LVTTL;
NET "ramoen(1)" LOC = "u11" | IOSTANDARD = LVTTL;
NET "ramoen(2)" LOC = "v10" | IOSTANDARD = LVTTL;
NET "ramoen(3)" LOC = "u9" | IOSTANDARD = LVTTL;
NET "ramoen(4)" LOC = "u7" | IOSTANDARD = LVTTL;
NET "ramsn(0)" LOC = "aa4" | IOSTANDARD = LVTTL;
NET "ramsn(1)" LOC = "y5" | IOSTANDARD = LVTTL;
NET "ramsn(2)" LOC = "w5" | IOSTANDARD = LVTTL;
NET "ramsn(3)" LOC = "ab5" | IOSTANDARD = LVTTL;
NET "ramsn(4)" LOC = "aa5" | IOSTANDARD = LVTTL;
NET "read" LOC = "v12" | IOSTANDARD = LVTTL;
NET "resetn" LOC = "l2" | IOSTANDARD = LVTTL;
NET "romsn(0)" LOC = "y4" | IOSTANDARD = LVTTL;
NET "romsn(1)" LOC = "v7" | IOSTANDARD = LVTTL;
NET "rtsn1" LOC = "l6" | IOSTANDARD = LVTTL;
NET "rtsn2" LOC = "k4" | IOSTANDARD = LVTTL;
NET "rwen(0)" LOC = "aa6" | IOSTANDARD = LVTTL;
NET "rwen(1)" LOC = "y7" | IOSTANDARD = LVTTL;
NET "rwen(2)" LOC = "y6" | IOSTANDARD = LVTTL;
NET "rwen(3)" LOC = "w7" | IOSTANDARD = LVTTL;
NET "rxd1" LOC = "l3" | IOSTANDARD = LVTTL;
NET "rxd2" LOC = "k1" | IOSTANDARD = LVTTL;
NET "sdcasn" LOC = "ab9" | IOSTANDARD = LVTTL;
NET "sdclk" LOC = "w8" | IOSTANDARD = LVTTL;
NET "sdcsn(0)" LOC = "ab8" | IOSTANDARD = LVTTL;
NET "sdcsn(1)" LOC = "w9" | IOSTANDARD = LVTTL;
NET "sddqm(0)" LOC = "aa8" | IOSTANDARD = LVTTL;
NET "sddqm(1)" LOC = "v11" | IOSTANDARD = LVTTL;
NET "sddqm(2)" LOC = "ab10" | IOSTANDARD = LVTTL;
NET "sddqm(3)" LOC = "w10" | IOSTANDARD = LVTTL;
NET "sdrasn" LOC = "aa9" | IOSTANDARD = LVTTL;
NET "sdwen" LOC = "aa10" | IOSTANDARD = LVTTL;

NET "spw_rxdp(0)" LOC = "m1" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(0)" LOC = "m2" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(0)" LOC = "m3" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(0)" LOC = "m4"  | IOSTANDARD = LVDS_25;
NET "spw_txdp(0)" LOC = "n1" | IOSTANDARD = LVDS_25;
NET "spw_txdn(0)" LOC = "n2" | IOSTANDARD = LVDS_25;
NET "spw_txsp(0)" LOC = "n3" | IOSTANDARD = LVDS_25;
NET "spw_txsn(0)" LOC = "n4" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(1)" LOC = "p1" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(1)" LOC = "p2" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(1)" LOC = "p4" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(1)" LOC = "p5"  | IOSTANDARD = LVDS_25;
NET "spw_txdp(1)" LOC = "r1" | IOSTANDARD = LVDS_25;
NET "spw_txdn(1)" LOC = "r2" | IOSTANDARD = LVDS_25;
NET "spw_txsp(1)" LOC = "r4" | IOSTANDARD = LVDS_25;
NET "spw_txsn(1)" LOC = "t3" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(2)" LOC = "v1" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(2)" LOC = "v2" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(2)" LOC = "u2" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(2)" LOC = "u3"  | IOSTANDARD = LVDS_25;
NET "spw_txdp(2)" LOC = "w1" | IOSTANDARD = LVDS_25;
NET "spw_txdn(2)" LOC = "w2" | IOSTANDARD = LVDS_25;
NET "spw_txsp(2)" LOC = "v3" | IOSTANDARD = LVDS_25;
NET "spw_txsn(2)" LOC = "v4" | IOSTANDARD = LVDS_25;

NET "switch(0)" LOC = "f16" | IOSTANDARD = LVTTL;
NET "switch(1)" LOC = "f13" | IOSTANDARD = LVTTL;
#NET "pio(0)" LOC = "f16" | IOSTANDARD = LVTTL;
#NET "pio(1)" LOC = "f13" | IOSTANDARD = LVTTL;
NET "switch(2)" LOC = "f12" | IOSTANDARD = LVTTL;
NET "switch(3)" LOC = "e16" | IOSTANDARD = LVTTL;
NET "switch(4)" LOC = "c22" | IOSTANDARD = LVTTL;
NET "switch(5)" LOC = "c20" | IOSTANDARD = LVTTL;
NET "switch(6)" LOC = "c21" | IOSTANDARD = LVTTL;
#NET "switch(7)" LOC = "d20" | IOSTANDARD = LVTTL;
NET "switch(8)" LOC = "d19" | IOSTANDARD = LVTTL;
#NET "switch(9)" LOC = "d21" | IOSTANDARD = LVTTL;
NET "txd1" LOC = "l4" | IOSTANDARD = LVTTL;
NET "txd2" LOC = "k2" | IOSTANDARD = LVTTL;
NET "usb_clkout" LOC = "c12" | IOSTANDARD = LVTTL;
NET "usb_clock" LOC = "b12" | IOSTANDARD = LVTTL;
NET "usb_d(0)" LOC = "c13" | IOSTANDARD = LVTTL;
NET "usb_d(1)" LOC = "b14" | IOSTANDARD = LVTTL;
NET "usb_d(10)" LOC = "a16" | IOSTANDARD = LVTTL;
NET "usb_d(11)" LOC = "d16" | IOSTANDARD = LVTTL;
NET "usb_d(12)" LOC = "c16" | IOSTANDARD = LVTTL;
NET "usb_d(13)" LOC = "c17" | IOSTANDARD = LVTTL;
NET "usb_d(14)" LOC = "b17" | IOSTANDARD = LVTTL;
NET "usb_d(15)" LOC = "e17" | IOSTANDARD = LVTTL;
NET "usb_d(2)" LOC = "a14" | IOSTANDARD = LVTTL;
NET "usb_d(3)" LOC = "e14" | IOSTANDARD = LVTTL;
NET "usb_d(4)" LOC = "d14" | IOSTANDARD = LVTTL;
NET "usb_d(5)" LOC = "a15" | IOSTANDARD = LVTTL;
NET "usb_d(6)" LOC = "b15" | IOSTANDARD = LVTTL;
NET "usb_d(7)" LOC = "e15" | IOSTANDARD = LVTTL;
NET "usb_d(8)" LOC = "d15" | IOSTANDARD = LVTTL;
NET "usb_d(9)" LOC = "b16" | IOSTANDARD = LVTTL;
NET "usb_enablen" LOC = "b18" | IOSTANDARD = LVTTL;
NET "usb_faultn" LOC = "c19" | IOSTANDARD = LVTTL;
NET "usb_linestate(0)" LOC = "a19" | IOSTANDARD = LVTTL;
NET "usb_linestate(1)" LOC = "b19" | IOSTANDARD = LVTTL;
NET "usb_opmode(0)" LOC = "d18" | IOSTANDARD = LVTTL;
NET "usb_opmode(1)" LOC = "c18" | IOSTANDARD = LVTTL;
NET "usb_reset" LOC = "b20" | IOSTANDARD = LVTTL;
NET "usb_rxactive" LOC = "b13" | IOSTANDARD = LVTTL;
NET "usb_rxerror" LOC = "a13" | IOSTANDARD = LVTTL;
NET "usb_rxvalid" LOC = "f17" | IOSTANDARD = LVTTL;
NET "usb_suspend" LOC = "a18" | IOSTANDARD = LVTTL;
NET "usb_termsel" LOC = "d13" | IOSTANDARD = LVTTL;
NET "usb_txready" LOC = "e13" | IOSTANDARD = LVTTL;
NET "usb_txvalid" LOC = "f14" | IOSTANDARD = LVTTL;
NET "usb_validh" LOC = "e12" | IOSTANDARD = LVTTL;
NET "usb_vbus" LOC = "a12" | IOSTANDARD = LVTTL;
NET "usb_xcvrsel" LOC = "d12" | IOSTANDARD = LVTTL;
NET "vid_b(0)" LOC = "a7" | IOSTANDARD = LVTTL;
NET "vid_b(1)" LOC = "e8" | IOSTANDARD = LVTTL;
NET "vid_b(2)" LOC = "d8" | IOSTANDARD = LVTTL;
NET "vid_b(3)" LOC = "b8" | IOSTANDARD = LVTTL;
NET "vid_b(4)" LOC = "a8" | IOSTANDARD = LVTTL;
NET "vid_b(5)" LOC = "f9" | IOSTANDARD = LVTTL;
NET "vid_b(6)" LOC = "e9" | IOSTANDARD = LVTTL;
NET "vid_b(7)" LOC = "b9" | IOSTANDARD = LVTTL;
NET "vid_blankn" LOC = "b7" | IOSTANDARD = LVTTL;
NET "vid_clock" LOC = "b11" | IOSTANDARD = LVTTL;
NET "vid_g(0)" LOC = "b5" | IOSTANDARD = LVTTL;
NET "vid_g(1)" LOC = "a5" | IOSTANDARD = LVTTL;
NET "vid_g(2)" LOC = "e6" | IOSTANDARD = LVTTL;
NET "vid_g(3)" LOC = "d6" | IOSTANDARD = LVTTL;
NET "vid_g(4)" LOC = "c6" | IOSTANDARD = LVTTL;
NET "vid_g(5)" LOC = "b6" | IOSTANDARD = LVTTL;
NET "vid_g(6)" LOC = "e7" | IOSTANDARD = LVTTL;
NET "vid_g(7)" LOC = "d7" | IOSTANDARD = LVTTL;
NET "vid_hsync" LOC = "c7" | IOSTANDARD = LVTTL;
NET "vid_r(0)" LOC = "a10" | IOSTANDARD = LVTTL;
NET "vid_r(1)" LOC = "d10" | IOSTANDARD = LVTTL;
NET "vid_r(2)" LOC = "d9" | IOSTANDARD = LVTTL;
NET "vid_r(3)" LOC = "f6"  | IOSTANDARD = LVTTL;
NET "vid_r(4)" LOC = "b4" | IOSTANDARD = LVTTL;
NET "vid_r(5)" LOC = "a4" | IOSTANDARD = LVTTL;
NET "vid_r(6)" LOC = "d5" | IOSTANDARD = LVTTL;
NET "vid_r(7)" LOC = "c5" | IOSTANDARD = LVTTL;
NET "vid_sda" LOC = "a3" | IOSTANDARD = LVTTL;
NET "vid_sdc" LOC = "a9" | IOSTANDARD = LVTTL;
NET "vid_syncn" LOC = "f7" | IOSTANDARD = LVTTL;
NET "vid_vsync" LOC = "e5" | IOSTANDARD = LVTTL;
NET "wdogn" LOC = "l1" | IOSTANDARD = LVTTL;
NET "writen" LOC = "aa3" | IOSTANDARD = LVTTL;

#NET "dsutx" LOC = "l4"  | IOSTANDARD = LVTTL ;#txd1
#NET "dsurx" LOC = "l3"  | IOSTANDARD = LVTTL ;#rxd1
NET "dsuen" LOC = "d20"  | IOSTANDARD = LVTTL ;#switch(7)
NET "dsubre" LOC = "d21"  | IOSTANDARD = LVTTL ;#switch(9)
NET "dsuact" LOC = "e11"  | IOSTANDARD = LVTTL ;#led(1)
NET "errorn" LOC = "f11" | IOSTANDARD = LVTTL  ; #led(0)
NET "pio(16)" LOC = "d11" | IOSTANDARD = LVTTL;  # led(2)
NET "pio(17)" LOC = "c11" | IOSTANDARD = LVTTL;  # led(3)

#NET "can_stb(2)" LOC = "h5" | IOSTANDARD = LVTTL; #pio(0)
#NET "can_rxd(2)" LOC = "g5" | IOSTANDARD = LVTTL; #pio(1)
#NET "can_txd(2)" LOC = "g3" | IOSTANDARD = LVTTL; #pio(2)
#NET "can_stb(1)" LOC = "g4" | IOSTANDARD = LVTTL; #pio(3)
#NET "can_rxd(1)" LOC = "g1" | IOSTANDARD = LVTTL; #pio(4)
#NET "can_txd(1)" LOC = "g2" | IOSTANDARD = LVTTL; #pio(5) 

NET "ata_rstn"     LOC = "d22" | IOSTANDARD = LVTTL; #genio(20)
NET "ata_data(7)"  LOC = "g17" | IOSTANDARD = LVTTL; #genio(21)
NET "ata_data(6)"  LOC = "e21" | IOSTANDARD = LVTTL; #genio(22)
NET "ata_data(5)"  LOC = "g22" | IOSTANDARD = LVTTL; #genio(23)
NET "ata_data(4)"  LOC = "g21" | IOSTANDARD = LVTTL; #genio(24)
NET "ata_data(3)"  LOC = "g19" | IOSTANDARD = LVTTL; #genio(25)
NET "ata_data(2)"  LOC = "h22" | IOSTANDARD = LVTTL; #genio(26)
NET "ata_data(1)"  LOC = "g18" | IOSTANDARD = LVTTL; #genio(27)
NET "ata_data(0)"  LOC = "j18" | IOSTANDARD = LVTTL; #genio(28)
#NET "genio(29)"   LOC = "j21" | IOSTANDARD = LVTTL; #genio(29) / not used
NET "ata_dmarq"    LOC = "j22" | IOSTANDARD = LVTTL | PULLDOWN; #genio(30) / DMARQ
NET "ata_diow"     LOC = "h21" | IOSTANDARD = LVTTL; #genio(31) / nDIOW
NET "ata_dior"     LOC = "k22" | IOSTANDARD = LVTTL; #genio(32) / DIOR
NET "ata_iordy"    LOC = "k21" | IOSTANDARD = LVTTL | PULLUP; #genio(33) / IORDY
NET "ata_dmack"    LOC = "k18" | IOSTANDARD = LVTTL; #genio(34) / nDMACK
NET "ata_intrq"    LOC = "l19" | IOSTANDARD = LVTTL | PULLDOWN; #genio(35) / INTRQ
NET "ata_da(1)"    LOC = "l18" | IOSTANDARD = LVTTL; #genio(36) / DA1
NET "ata_da(0)"    LOC = "k17" | IOSTANDARD = LVTTL; #genio(37) / DA0
NET "ata_cs0"      LOC = "l17" | IOSTANDARD = LVTTL; #genio(38) / nCS0
NET "ata_dasp"     LOC = "j17" | IOSTANDARD = LVTTL; #genio(39) / nDASP

#NET "genio(40)"   LOC = "e19" | IOSTANDARD = LVTTL; #genio(40) / not used
NET "ata_data(8)"  LOC = "f18" | IOSTANDARD = LVTTL; #genio(41)
NET "ata_data(9)"  LOC = "e20" | IOSTANDARD = LVTTL; #genio(42)
NET "ata_data(10)" LOC = "f19" | IOSTANDARD = LVTTL; #genio(43)
NET "ata_data(11)" LOC = "f20" | IOSTANDARD = LVTTL; #genio(44)
NET "ata_data(12)" LOC = "f21" | IOSTANDARD = LVTTL; #genio(45)
NET "ata_data(13)" LOC = "e22" | IOSTANDARD = LVTTL; #genio(46)
NET "ata_data(14)" LOC = "e18" | IOSTANDARD = LVTTL; #genio(47)
NET "ata_data(15)" LOC = "g20" | IOSTANDARD = LVTTL; #genio(48)
#NET "genio(49)"   LOC = "h19" | IOSTANDARD = LVTTL; #genio(49) / not used
#NET "genio(50)"   LOC = "h18" | IOSTANDARD = LVTTL; #genio(50) / not used
#NET "genio(51)"   LOC = "j19" | IOSTANDARD = LVTTL; #genio(51) / not used
#NET "genio(52)"   LOC = "k20" | IOSTANDARD = LVTTL; #genio(52) / not used
NET "ata_csel"    LOC = "k19" | IOSTANDARD = LVTTL; #genio(53) / Cable SEL
#NET "genio(54)"   LOC = "l20" | IOSTANDARD = LVTTL; #genio(54) / not used
#NET "genio(55)"   LOC = "l21" | IOSTANDARD = LVTTL; #genio(55) / not used
#NET "genio(56)"   LOC = "m20" | IOSTANDARD = LVTTL; #genio(56) / nPDIAG
NET "ata_da(2)"    LOC = "m19" | IOSTANDARD = LVTTL; #genio(57)
NET "ata_cs1"      LOC = "m22" | IOSTANDARD = LVTTL; #genio(58)
#NET "genio(59)"   LOC = "m21" | IOSTANDARD = LVTTL; #genio(59) 


CONFIG PROHIBIT  = "aa14"; #"fpgadata" 
CONFIG PROHIBIT  = "w12"; #"fpgainit"



