<muvium>
	<DEVICE  core="PIC18F8720" adc="All Digital" baud="115200"/>
	<TARGET build="Release" name="COM1" boot= "20" terminal= "None Available"/>
	<CLOCK crystal="10.00" internal="false" osc="HS oscillator, PLL enabled (Clock Frequency = 4 x FOSC1) (6 )" pll="4:1" clock="40.000"  />
	<DEBUGGER enabled="false" port="81" />
</muvium>
