
 
NET "clk" PERIOD = 14.000 ;
NET "clk"  LOC = "AE14";  #OSC1 (75MHZ)

NET resetn LOC = AC25 | PULLUP;

# UART
NET "dsutx" LOC = "B4";
NET "dsurx" LOC = "A3";

Net led(0) LOC = W7;
Net led(1) LOC = R7;
Net led(2) LOC = R6;
Net led(3) LOC = U6;


INST "mem1_aram0_u0_r0" LOC = "RAMB16_X0Y0" ;
INST "mem1_aram1_u0_r0" LOC = "RAMB16_X0Y1" ;
INST "mem1_aram2_u0_r0" LOC = "RAMB16_X0Y2" ;
INST "mem1_aram3_u0_r0" LOC = "RAMB16_X0Y3" ;


NET "led1_a"	LOC = AC17; # 
NET "led1_b"	LOC = AB17; #
NET "led1_c"	LOC = AA16; #
NET "led1_d"	LOC = AB16; #
NET "led1_e"	LOC = AC16; #
NET "led1_f"	LOC = AF20; #
NET "led1_g"	LOC = AE20; # 

NET "led2_a"	LOC = AA14; # 
NET "led2_b"	LOC = Y14;  # 
NET "led2_c"	LOC = AD15; #
NET "led2_d"	LOC = AB15; #
NET "led2_e"	LOC = AA15; #
NET "led2_f"	LOC = W14;  # 
NET "led2_g"	LOC = AD14; #

Net switch(0) LOC = P7  | PULLUP;
Net switch(1) LOC = P6  | PULLUP;
Net switch(2) LOC = P5  | PULLUP;
Net switch(3) LOC = R5  | PULLUP;
Net switch(4) LOC = T5  | PULLUP;
Net switch(5) LOC = U5  | PULLUP;
Net switch(6) LOC = V5  | PULLUP;
Net switch(7) LOC = W6  | PULLUP;

Net push1 LOC = P8 | PULLUP;
Net push2 LOC = T6 | PULLUP;

NET lcd_data(0)           LOC = W5;
NET lcd_data(1)           LOC = W3;
NET lcd_data(2)           LOC = V7;
NET lcd_data(3)           LOC = U7;
NET lcd_data(4)           LOC = T7;
NET lcd_data(5)           LOC = T8;
NET lcd_data(6)           LOC = R8;
NET lcd_data(7)           LOC = V6;
NET lcd_en                LOC = AB3;
NET lcd_rs                LOC = AB4;

NET piezo                 LOC = AC26;





