#NET sys_clk_in_ TNM_NET = "sys_clk_in_";
#TIMESPEC "TSSYSCLK" = PERIOD "sys_clk_in_" 9.9 ns HIGH 50 %;

NET sys_clk_in_ LOC = AE14;
NET sys_clk_in_ IOSTANDARD = LVCMOS33;

NET sram_clk_ LOC = AF7 ;
NET "sram_clk_" IOSTANDARD = LVCMOS33;
NET "sram_clk_" DRIVE = 16;
NET "sram_clk_" SLEW = FAST;

#NET sram_flash_addr_[24] LOC = T21;
#NET sram_flash_addr_[23] LOC = U20;
#NET sram_flash_addr_[22] LOC = T19;
NET sram_flash_addr_[20] LOC = AC5;
NET sram_flash_addr_[19] LOC = AB5;
NET sram_flash_addr_[18] LOC = AC4;
NET sram_flash_addr_[17] LOC = AB4;
NET sram_flash_addr_[16] LOC = AB3;
NET sram_flash_addr_[15] LOC = AA4;
NET sram_flash_addr_[14] LOC = AA3;
NET sram_flash_addr_[13] LOC = W5;
NET sram_flash_addr_[12] LOC = W6;
NET sram_flash_addr_[11] LOC = W3;
NET sram_flash_addr_[10] LOC = AF3;
NET sram_flash_addr_[9] LOC = AE3;
NET sram_flash_addr_[8]  LOC = AD2;
NET sram_flash_addr_[7]  LOC = AD1;
NET sram_flash_addr_[6]  LOC = AC2;
NET sram_flash_addr_[5]  LOC = AC1;
NET sram_flash_addr_[4]  LOC = AB2;
NET sram_flash_addr_[3]  LOC = AB1;
NET sram_flash_addr_[2]  LOC = AA1;
NET sram_flash_addr_[1]  LOC = Y2;
NET sram_flash_addr_[0]  LOC = Y1;
#NET sram_flash_addr_[0]  LOC = T20;

NET "sram_flash_addr_<*>" IOSTANDARD = LVDCI_33;
NET "sram_flash_addr_<*>" SLEW = FAST;
NET "sram_flash_addr_<*>" DRIVE = 8;

NET sram_flash_data_[31] LOC = F14;
NET sram_flash_data_[30] LOC = F13;
NET sram_flash_data_[29] LOC = F12;
NET sram_flash_data_[28] LOC = F11;
NET sram_flash_data_[27] LOC = F16;
NET sram_flash_data_[26] LOC = F15;
NET sram_flash_data_[25] LOC = D14;
NET sram_flash_data_[24] LOC = D13;
NET sram_flash_data_[23] LOC = D15;
NET sram_flash_data_[22] LOC = E14;
NET sram_flash_data_[21] LOC = C11;
NET sram_flash_data_[20] LOC = D11;
NET sram_flash_data_[19] LOC = D16;
NET sram_flash_data_[18] LOC = C16;
NET sram_flash_data_[17] LOC = E13;
NET sram_flash_data_[16] LOC = D12;
NET sram_flash_data_[15] LOC = AA14;
NET sram_flash_data_[14] LOC = AB14;
NET sram_flash_data_[13] LOC = AC12;
NET sram_flash_data_[12] LOC = AC11;
NET sram_flash_data_[11] LOC = AA16;
NET sram_flash_data_[10] LOC = AA15;
NET sram_flash_data_[9]  LOC = AB13;
NET sram_flash_data_[8]  LOC = AA13;
NET sram_flash_data_[7]  LOC = AC14;
NET sram_flash_data_[6]  LOC = AD14;
NET sram_flash_data_[5]  LOC = AA12;
NET sram_flash_data_[4]  LOC = AA11;
NET sram_flash_data_[3]  LOC = AC16;
NET sram_flash_data_[2]  LOC = AC15;
NET sram_flash_data_[1]  LOC = AC13;
NET sram_flash_data_[0]  LOC = AD13;

NET "sram_flash_data_<*>" IOSTANDARD = LVCMOS33;
NET "sram_flash_data_<*>" PULLDOWN;

NET sram_flash_oe_n_     LOC = AC6;
NET "sram_flash_oe_n_" IOSTANDARD = LVDCI_33;
NET "sram_flash_oe_n_" SLEW = FAST;
NET "sram_flash_oe_n_" DRIVE = 8;

NET sram_flash_we_n_     LOC = AB6;
NET "sram_flash_we_n_" IOSTANDARD = LVDCI_33;
NET "sram_flash_we_n_" SLEW = FAST;
NET "sram_flash_we_n_" DRIVE = 8;

NET sram_bw_[3]          LOC = Y3; #Y4;
NET sram_bw_[2]          LOC = Y4; #Y3;
NET sram_bw_[1]          LOC = Y5; #Y6;
NET sram_bw_[0]          LOC = Y6; #Y5;
NET "sram_bw_<*>" IOSTANDARD = LVDCI_33;
NET "sram_bw_<*>" SLEW = FAST;
NET "sram_bw_<*>" DRIVE = 8;

NET sram_cen_            LOC = V7;
NET "sram_cen_" IOSTANDARD = LVDCI_33;
NET "sram_cen_" SLEW = FAST;
NET "sram_cen_" DRIVE = 8;

NET sram_adv_ld_n_       LOC = W4;
NET "sram_adv_ld_n_" IOSTANDARD = LVDCI_33;
NET "sram_adv_ld_n_" SLEW = FAST;
NET "sram_adv_ld_n_" DRIVE = 8;

NET flash_ce2_      LOC = W7;
NET "flash_ce2_" IOSTANDARD = LVDCI_33;
NET "flash_ce2_" SLEW = FAST;
NET "flash_ce2_" DRIVE = 8;

#NET flash_byte_n   LOC = N22;
#NET flash_audio_reset_n LOC = AD10;

NET tft_lcd_clk_   LOC = AF8 | IOSTANDARD = LVCMOS33;
NET tft_lcd_r_[0]  LOC = E5 | SLEW = FAST | DRIVE = 8;  # VGA_R6
NET tft_lcd_r_[1]  LOC = E6 | SLEW = FAST | DRIVE = 8;  # VGA_R7
NET tft_lcd_g_[0]  LOC = H8 | SLEW = FAST | DRIVE = 8;  # VGA_G6
NET tft_lcd_g_[1]  LOC = C1 | SLEW = FAST | DRIVE = 8;  # VGA_G7
NET tft_lcd_b_[0]  LOC = G8 | SLEW = FAST | DRIVE = 8;  # VGA_B6
NET tft_lcd_b_[1]  LOC = F8 | SLEW = FAST | DRIVE = 8;  # VGA_B7
NET tft_lcd_hsync_ LOC = C10;
NET tft_lcd_vsync_ LOC = A8;

NET tft_lcd_clk_  SLEW = FAST;
NET tft_lcd_clk_  DRIVE = 8;

NET tft_lcd_hsync_ SLEW = FAST;
NET tft_lcd_hsync_ DRIVE = 8;

NET tft_lcd_vsync_ SLEW = FAST;
NET tft_lcd_vsync_ DRIVE = 8;

NET e_  LOC = AE13 | IOSTANDARD = LVCMOS33 | TIG; # LCD_E
NET rs_ LOC = AC17 | IOSTANDARD = LVCMOS33 | TIG; # LCD_RS
NET rw_ LOC = AB17 | IOSTANDARD = LVCMOS33 | TIG; # LCD_RW

NET db_[7] LOC = AF12 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB7
NET db_[6] LOC = AE12 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB6
NET db_[5] LOC = AC10 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB5
NET db_[4] LOC = AB10 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB4

#NET butc_ LOC = B6;  # C Button
#NET butw_ LOC = E9;  # W Button
#NET bute_ LOC = F10; # E Button
#NET butn_ LOC = E7;  # N Button
#NET buts_ LOC = A6;  # S Button

NET trx_  LOC = W1 | IOSTANDARD = LVCMOS33;

#NET led_[0]  LOC = G5;  #GPLED0
#NET led_[1]  LOC = G6;  #GPLED1
#NET led_[2]  LOC = A11; #GPLED2
#NET led_[3]  LOC = A12; #GPLED3

# North-East-South-West-Center LEDs
#NET led_[4]  LOC = C6;  # C LED
#NET led_[5]  LOC = F9;  # W LED
#NET led_[6]  LOC = A5;  # S LED
#NET led_[7]  LOC = E10; # E LED
#NET led_[8]  LOC = E2;  # N LED

#Keyboard
NET ps2_clk_  LOC = D2;
NET ps2_clk_  SLEW = SLOW;
NET ps2_clk_  DRIVE = 2;
NET ps2_clk_  TIG;
NET ps2_data_ LOC = G9;
NET ps2_data_ SLEW = SLOW;
NET ps2_data_ DRIVE = 2;
NET ps2_data_ TIG;

# Shared signals
NET "aceusb_a_<1>" LOC = Y10;
NET "aceusb_a_<2>" LOC = AA10;
NET "aceusb_a_<3>" LOC = AC7;
NET "aceusb_a_<4>" LOC = Y7;
NET "aceusb_a_<5>" LOC = AA9;
NET "aceusb_a_<6>" LOC = Y9;
NET "aceusb_a_<*>" IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "aceusb_d_<0>" LOC = AB7;
NET "aceusb_d_<1>" LOC = AC9;
NET "aceusb_d_<2>" LOC = AB9;
NET "aceusb_d_<3>" LOC = AE6;
NET "aceusb_d_<4>" LOC = AD6;
NET "aceusb_d_<5>" LOC = AF9;
NET "aceusb_d_<6>" LOC = AE9;
NET "aceusb_d_<7>" LOC = AD8;
NET "aceusb_d_<8>" LOC = AC8;
NET "aceusb_d_<9>" LOC = AF4;
NET "aceusb_d_<10>" LOC = AE4;
NET "aceusb_d_<11>" LOC = AD3;
NET "aceusb_d_<12>" LOC = AC3;
NET "aceusb_d_<13>" LOC = AF6;
NET "aceusb_d_<14>" LOC = AF5;
NET "aceusb_d_<15>" LOC = AA7;
NET "aceusb_d_<*>" IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 | PULLDOWN;
NET "aceusb_oe_n_" LOC = AA8 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "aceusb_we_n_" LOC = Y8 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

# SystemACE signals
NET "ace_clkin_" LOC = AF11;
NET "ace_clkin_" IOSTANDARD = LVCMOS33;
NET "ace_clkin_" TNM_NET = "ace_clkin_";
TIMESPEC "TSace" = PERIOD "ace_clkin_" 30 ns HIGH 50% INPUT_JITTER 1 ns;

NET "ace_mpce_n_" LOC = AD5 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

# USB signals
NET "usb_cs_n_" LOC = AF10 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "usb_hpi_reset_n_" LOC = A7 | IOSTANDARD = LVCMOS25 | TIG;
