NET "clk_in" LOC = P183;
NET "clk_in" TNM_NET = "clk_in";
TIMESPEC TS_CLK_IN = PERIOD "clk_in" 20000 ps;

#NET "Ethernet_TDm" LOC = P55;
#NET "Ethernet_TDp" LOC = P61;
NET "Ethernet_TDp" DRIVE = 6;
NET "Ethernet_TDm" DRIVE = 6;

NET "Ethernet_TDp" LOC = P82;
NET "Ethernet_TDm" LOC = P83;

NET "Ethernet_RDp" IOSTANDARD = DIFF_HSTL_III_18;
NET "Ethernet_RDp" LOC = P62;
NET "Ethernet_RDm" IOSTANDARD = DIFF_HSTL_III_18;
NET "Ethernet_RDm" LOC = P63;

NET "Ethernet_LED_Link" LOC = P84;
NET "Ethernet_LED_Link" DRIVE = 2;
NET "Ethernet_LED_Act" LOC = P86;
NET "Ethernet_LED_Act" DRIVE = 2;

NET "LED_Test" LOC = P78;

NET "pushbutton" PULLDOWN;
NET "pushbutton" LOC = P26;
