#############################################################
NET clk PERIOD = 40.000 ;
#OFFSET = OUT : 12.000 : AFTER clk ;
#OFFSET = IN : 8.000 : BEFORE clk ;

NET pci_clk PERIOD = 30.000 ;
OFFSET = IN : 7.000 : BEFORE pci_clk ;
OFFSET = OUT : 11.000 : AFTER pci_clk ;
NET pci_gnt OFFSET = IN : 10.000 : BEFORE pci_clk ;
NET pci_req OFFSET = OUT : 12.000 : AFTER pci_clk ;
NET pci_rst TIG ;

NET "clkm" 		TNM_NET = "clkm";
NET "clkml" 		TNM_NET = "clkml";
TIMESPEC "TS_clkm_clkml" = FROM "clkm" TO "clkml" TIG;
TIMESPEC "TS_clkml_clkm" = FROM "clkml" TO "clkm" TIG;
NET "ddrlock"  TIG;
#NET ddr_clk_fb_out FEEDBACK = 1.0 NET ddr_clk_fb;
#NET "ddrsp0.ddr0/ddr_phy0/xc2v.ddr_phy0/rclk270b" TNM_NET = "rclk270b"; 
NET "ddrsp0.ddr0/ddr_phy0/ddr_phy0/xc2v.ddr_phy0/rclk90b" TNM_NET = "rclk90b"; 
#TIMEGRP "rclk270b_rise" = RISING "rclk270b";
TIMEGRP "rclk270b_rise" = FALLING "rclk90b";
TIMEGRP "clkml_rise" = RISING "clkml";
TIMESPEC "TS_rclk270b_clkml_rise" = FROM "rclk270b_rise" TO "clkml_rise" 3.500;


#############################################################
#clk 40 MHz
NET "clk" LOC = "AH17";
#clk 125 MHz
NET "clk125" LOC = "AH16";
#############################################################
# DSU UART
#NET "dsutx" LOC = "D1";
#NET "dsurx" LOC = "K9";
## switch 0
#NET "dsuen" LOC = "AB34";
#NET "dsuen" PULLUP;
# switch 1
#NET "dsubre" LOC = "Y28";
#NET "dsubre" PULLDOWN;
#dsuact on LED 2
#NET "dsuact" LOC = "AC34";
NET  "SWITCH(7)"                  LOC = "AC9"  ;
NET  "SWITCH(6)"                  LOC = "AD9"  ;
NET  "SWITCH(5)"                  LOC = "AD5"  ;
NET  "SWITCH(4)"                  LOC = "AE5"  ;
NET  "SWITCH(3)"                  LOC = "AF4"  ;
#NET  "SWITCH(2)"                  LOC = "AG3"  ;
NET  "resetn"                  LOC = "AG3"  ;
#NET  "SWITCH(1)"                  LOC = "AH1"  ;
NET  "dsubre"                  LOC = "AH1"  ;
#NET  "SWITCH(0)"                  LOC = "AJ1"  ;
NET  "dsuen"                  LOC = "AJ1"  ;

NET  "LED(7)"                  LOC = "J1"  ;
NET  "LED(6)"                  LOC = "J4"  ;
NET  "LED(5)"                  LOC = "K1"  ;
NET  "LED(4)"                  LOC = "K4"  ;
NET  "LED(3)"                  LOC = "L5"  ;
#NET  "LED(2)"                  LOC = "L6"  ;
NET  "wdogn"                  LOC = "L6"  ;
#NET  "LED(1)"                  LOC = "M6"  ;
NET  "errorn"                  LOC = "M6"  ;
#NET  "LED(0)"                  LOC = "L7"  ;
NET  "dsuact"                  LOC = "L7"  ;

#############################################################
NET  "txd1"                  LOC = "H3"  ;
NET  "rxd1"                  LOC = "K7"  ;
#############################################################
NET "flash_rstn" LOC = "J8";
NET "oen" LOC = "H2";
NET "writen" LOC = "G4";
NET "romsn(0)" LOC = "F5";
#############################################################
NET  "data(63)"                  LOC = "AC12"  ;
NET  "data(62)"                  LOC = "AK27"  ;
NET  "data(61)"                  LOC = "AG15"  ;
NET  "data(60)"                  LOC = "AD12"  ;
NET  "data(59)"                  LOC = "AG11"  ;
NET  "data(58)"                  LOC = "AK17"  ;
NET  "data(57)"                  LOC = "AJ17"  ;
NET  "data(56)"                  LOC = "AH11"  ;
NET  "data(55)"                  LOC = "AK10"  ;
NET  "data(54)"                  LOC = "AK18"  ;
NET  "data(53)"                  LOC = "AG16"  ;
NET  "data(52)"                  LOC = "AK11"  ;
NET  "data(51)"                  LOC = "AG12"  ;
NET  "data(50)"                  LOC = "AH19"  ;
NET  "data(49)"                  LOC = "AH20"  ;
NET  "data(48)"                  LOC = "AH12"  ;
NET  "data(47)"                  LOC = "AC13"  ;
NET  "data(46)"                  LOC = "AG17"  ;
NET  "data(45)"                  LOC = "AD15"  ;
NET  "data(44)"                  LOC = "AD13"  ;
NET  "data(43)"                  LOC = "AC14"  ;
NET  "data(42)"                  LOC = "AC15"  ;
NET  "data(41)"                  LOC = "AJ16"  ;
NET  "data(40)"                  LOC = "AG14"  ;
NET  "data(39)"                  LOC = "AK14"  ;
NET  "data(38)"                  LOC = "AD16"  ;
NET  "data(37)"                  LOC = "AC16"  ;
NET  "data(36)"                  LOC = "AJ14"  ;
NET  "data(35)"                  LOC = "AK15"  ;
NET  "data(34)"                  LOC = "AD18"  ;
NET  "data(33)"                  LOC = "AC17"  ;
NET  "data(32)"                  LOC = "AJ15"  ;
NET  "data(31)"                  LOC = "AK4"  ;
NET  "data(30)"                  LOC = "AJ4"  ; #changed ms 9/3/02
NET  "data(29)"                  LOC = "AK5"  ;
NET  "data(28)"                  LOC = "AK6"  ;
NET  "data(27)"                  LOC = "AG6"  ;
NET  "data(26)"                  LOC = "AF7"  ;
NET  "data(25)"                  LOC = "AJ6"  ;
NET  "data(24)"                  LOC = "AH7"  ;
NET  "data(23)"                  LOC = "AG7"  ;
NET  "data(22)"                  LOC = "AK7"  ;
NET  "data(21)"                  LOC = "AJ7"  ;
NET  "data(20)"                  LOC = "AG8"  ;
NET  "data(19)"                  LOC = "AF8"  ;
NET  "data(18)"                  LOC = "AJ8"  ;
NET  "data(17)"                  LOC = "AH9"  ;
NET  "data(16)"                  LOC = "AH8"  ;
NET  "data(15)"                  LOC = "AJ9"  ;
NET  "data(14)"                  LOC = "AK9"  ; #changed ms 9/3/02
NET  "data(13)"                  LOC = "AE10"  ;
NET  "data(12)"                  LOC = "AG9"  ;
NET  "data(11)"                  LOC = "AF10"  ;
NET  "data(10)"                  LOC = "AE9"  ;
NET  "data(9)"                  LOC = "AJ10"  ;
NET  "data(8)"                  LOC = "AJ11"  ;
NET  "data(7)"                  LOC = "AG10"  ;
NET  "data(6)"                  LOC = "AF11"  ;
NET  "data(5)"                  LOC = "AD11"  ;
NET  "data(4)"                  LOC = "AE11"  ;
NET  "data(3)"                  LOC = "AC11"  ;
NET  "data(2)"                  LOC = "AD10"  ;
NET  "data(1)"                  LOC = "AE12"  ;
NET  "data(0)"                  LOC = "AC10"  ;
#
NET  "addr(31)"                  LOC = "AC18"  ;
NET  "addr(30)"                  LOC = "AC19"  ;
NET  "addr(29)"                  LOC = "AG19"  ;
NET  "addr(28)"                  LOC = "AD19"  ;
NET  "addr(27)"                  LOC = "AE19"  ;
NET  "addr(26)"                  LOC = "AE20"  ;
NET  "addr(25)"                  LOC = "AD20"  ;
NET  "addr(24)"                  LOC = "AF20"  ;
NET  "addr(23)"                  LOC = "AJ21"  ;
NET  "addr(22)"                  LOC = "AG20"  ;
NET  "addr(21)"                  LOC = "AF21"  ;
NET  "addr(20)"                  LOC = "AJ20"  ;
NET  "addr(19)"                  LOC = "AE21"  ;
NET  "addr(18)"                  LOC = "AD21"  ;
NET  "addr(17)"                  LOC = "AK22"  ;
NET  "addr(16)"                  LOC = "AG21"  ;
NET  "addr(15)"                  LOC = "AH22"  ;
NET  "addr(14)"                  LOC = "AK21"  ;
NET  "addr(13)"                  LOC = "AJ23"  ;
NET  "addr(12)"                  LOC = "AD22"  ;
NET  "addr(11)"                  LOC = "AG22"  ;
NET  "addr(10)"                  LOC = "AJ22"  ;
NET  "addr(9)"                  LOC = "AH24"  ;
NET  "addr(8)"                  LOC = "AH23"  ;
NET  "addr(7)"                  LOC = "AJ25"  ;
NET  "addr(6)"                  LOC = "AG23"  ;
NET  "addr(5)"                  LOC = "AK25"  ;
NET  "addr(4)"                  LOC = "AF23"  ;
NET  "addr(3)"                  LOC = "AF22"  ;
NET  "addr(2)"                  LOC = "AK24"  ;
NET  "addr(1)"                  LOC = "AF24"  ;
NET  "addr(0)"                  LOC = "AH25"  ;
####################################################
NET "ddr_clk(0)"     LOC = "L25";
NET "ddr_clkb(0)"    LOC = "M25";
NET "ddr_clk(1)"     LOC = "AD27";
NET "ddr_clkb(1)"    LOC = "AC27";
NET "ddr_clk_fb_out" LOC = "AC26";
NET "ddr_clk_fb_in"  LOC = "AE16";
NET "ddr_clk_fb"  LOC = "AE16";
#
NET ddr_cke(0)  LOC = L23;
NET ddr_cke(1)  LOC = V23;
#
NET "ddr_rasb"  LOC = "T23";
NET "ddr_casb"  LOC = "U27";
NET "ddr_web"   LOC = "Y24";
NET ddr_csb(0)  LOC = AA27;
NET ddr_csb(1)  LOC = T27;
#
NET ddr_dm(0)   LOC = H26;
NET ddr_dm(1)   LOC = K26;
NET ddr_dm(2)   LOC = M23;
NET ddr_dm(3)   LOC = T25;
NET ddr_dm(4)   LOC = AA24;
NET ddr_dm(5)   LOC = AB27;
NET ddr_dm(6)   LOC = AD26;
NET ddr_dm(7)   LOC = AE27;
#
NET ddr_ba(0)   LOC = AA23;
NET ddr_ba(1)   LOC = R25;
#
NET ddr_ad(0)   LOC = R24;
NET ddr_ad(1)   LOC = Y23;
NET ddr_ad(2)   LOC = R23;
NET ddr_ad(3)   LOC = W25;
NET ddr_ad(4)   LOC = P23;
NET ddr_ad(5)   LOC = W24;
NET ddr_ad(6)   LOC = K24;
NET ddr_ad(7)   LOC = V24;
NET ddr_ad(8)   LOC = L26;
NET ddr_ad(9)   LOC = W23;
NET ddr_ad(10)  LOC = Y25;
NET ddr_ad(11)  LOC = L24;
NET ddr_ad(12) LOC = U23;
#=================================
# Data Strobe (Bidirectional)
#=================================
NET ddr_dqs(0) LOC = J26;
NET ddr_dqs(1) LOC = K23;
NET ddr_dqs(2) LOC = N23;
NET ddr_dqs(3) LOC = T24;
NET ddr_dqs(4) LOC = AA25;
NET ddr_dqs(5) LOC = AB25;
NET ddr_dqs(6) LOC = AE26;
NET ddr_dqs(7) LOC = AF27;
#
#=================================
# Data bus (Bidirectional)
#=================================
NET ddr_dq(0)  LOC = D28;
NET ddr_dq(1)  LOC = E27;
NET ddr_dq(2)  LOC = F26;
NET ddr_dq(3)  LOC = F28;
NET ddr_dq(4)  LOC = B30;
NET ddr_dq(5)  LOC = C29;
NET ddr_dq(6)  LOC = C30;
NET ddr_dq(7)  LOC = D29;
NET ddr_dq(8)  LOC = F27;
NET ddr_dq(9)  LOC = G27;
NET ddr_dq(10) LOC = H28;
NET ddr_dq(11) LOC = H27;
NET ddr_dq(12) LOC = D30;
NET ddr_dq(13) LOC = E30;
NET ddr_dq(14) LOC = F29;
NET ddr_dq(15) LOC = F30;
NET ddr_dq(16) LOC = J28;
NET ddr_dq(17) LOC = L28;
NET ddr_dq(18) LOC = L29;
NET ddr_dq(19) LOC = M28;
NET ddr_dq(20) LOC = G29;
NET ddr_dq(21) LOC = G30;
NET ddr_dq(22) LOC = H29;
NET ddr_dq(23) LOC = J29;
NET ddr_dq(24) LOC = M29;
NET ddr_dq(25) LOC = M24;
NET ddr_dq(26) LOC = N30;
NET ddr_dq(27) LOC = N24;
NET ddr_dq(28) LOC = J30;
NET ddr_dq(29) LOC = K29;
NET ddr_dq(30) LOC = K30;
NET ddr_dq(31) LOC = L27;
NET ddr_dq(32) LOC = P30;
NET ddr_dq(33) LOC = P27;
NET ddr_dq(34) LOC = P28;
NET ddr_dq(35) LOC = R29;
NET ddr_dq(36) LOC = U30;
NET ddr_dq(37) LOC = Y27;
NET ddr_dq(38) LOC = Y26;
NET ddr_dq(39) LOC = AA26;
NET ddr_dq(40) LOC = R28;
NET ddr_dq(41) LOC = T30;
NET ddr_dq(42) LOC = T29;
NET ddr_dq(43) LOC = T28;
NET ddr_dq(44) LOC = W27;
NET ddr_dq(45) LOC = AA29;
NET ddr_dq(46) LOC = AB29;
NET ddr_dq(47) LOC = AC29;
NET ddr_dq(48) LOC = U28;
NET ddr_dq(49) LOC = V29;
NET ddr_dq(50) LOC = W28;
NET ddr_dq(51) LOC = Y28;
NET ddr_dq(52) LOC = AD30;
NET ddr_dq(53) LOC = AD29;
NET ddr_dq(54) LOC = AE30;
NET ddr_dq(55) LOC = AE29;
NET ddr_dq(56) LOC = AB28;
NET ddr_dq(57) LOC = AC28;
NET ddr_dq(58) LOC = AD28;
NET ddr_dq(59) LOC = AE28;
NET ddr_dq(60) LOC = AG30;
NET ddr_dq(61) LOC = AG29;
NET ddr_dq(62) LOC = AH29;
NET ddr_dq(63) LOC = AJ30;
####################################################
NET  "pci_clk"                      LOC = "F14"  ;	 #
#NET  "XPCI_WRAP/INT_O"                      LOC = "K5"   ;	 #
#NET  "XPCI_WRAP/PME_O"                      LOC = "L2"   ;	 #
NET  "pci_req"                      LOC = "K2"   ;	 #
NET  "pci_gnt"                      LOC = "M8"   ;	 #
NET  "pci_rst"                      LOC = "N8"   ;	 #
NET  "pci_ad(31)"                  LOC = "L4"   ;	 #
NET  "pci_ad(30)"                  LOC = "M4"   ;	 #
NET  "pci_ad(29)"                  LOC = "M1"   ;	 #
NET  "pci_ad(28)"                  LOC = "L1"   ;	 #
NET  "pci_ad(27)"                  LOC = "M7"   ;	 #
NET  "pci_ad(26)"                  LOC = "N7"   ;	 #
NET  "pci_ad(25)"                  LOC = "M3"   ;	 #
NET  "pci_ad(24)"                  LOC = "L3"   ;	 #
NET  "pci_cbe(3)"                  LOC = "R2"   ;	 #
NET  "pci_idsel"                    LOC = "P2"   ;	 #
NET  "pci_ad(23)"                  LOC = "P8"   ;	 #
NET  "pci_ad(22)"                  LOC = "R8"   ;	 #
NET  "pci_ad(21)"                  LOC = "P4"   ;	 #
NET  "pci_ad(20)"                  LOC = "R4"   ;	 #
NET  "pci_ad(19)"                  LOC = "R1"   ;	 #
NET  "pci_ad(18)"                  LOC = "T2"   ;	 #
NET  "pci_ad(17)"                  LOC = "R7"   ;	 #
NET  "pci_ad(16)"                  LOC = "R6"   ;	 #
NET  "pci_cbe(2)"                  LOC = "R3"   ;	 #
NET  "pci_frame"                   LOC = "P3"   ;	 #
NET  "pci_irdy"                    LOC = "T7"   ;	 #
NET  "pci_trdy"                    LOC = "T6"   ;	 #
NET  "pci_devsel"                  LOC = "U1"   ;	 #
NET  "pci_stop"                    LOC = "V1"   ;	 #
NET  "pci_perr"                    LOC = "T3"   ;	 #
NET  "pci_serr"                    LOC = "U3"   ;	 #
NET  "pci_par"                     LOC = "T8"   ;	 #
NET  "pci_cbe(1)"                  LOC = "U8"   ;	 #
NET  "pci_ad(15)"                  LOC = "U2"   ;	 #
NET  "pci_ad(14)"                  LOC = "V2"   ;	 #
NET  "pci_ad(13)"                  LOC = "T4"   ;	 #
NET  "pci_ad(12)"                  LOC = "U4"   ;	 #
NET  "pci_ad(11)"                  LOC = "W7"   ;	 #
NET  "pci_ad(10)"                  LOC = "V7"   ;	 #
NET  "pci_ad(9)"                   LOC = "V5"   ;	 #
NET  "pci_ad(8)"                   LOC = "W6"   ;	 #
NET  "pci_cbe(0)"                  LOC = "W3"   ;	 #
NET  "pci_ad(7)"                   LOC = "Y3"   ;	 #
NET  "pci_ad(6)"                   LOC = "V8"   ;	 #
NET  "pci_ad(5)"                   LOC = "W8"   ;	 #
NET  "pci_ad(4)"                   LOC = "AA1"  ;	 #
NET  "pci_ad(3)"                   LOC = "AB1"  ;	 #
NET  "pci_ad(2)"                   LOC = "Y4"   ;	 #
NET  "pci_ad(1)"                   LOC = "AA4"  ;	 #
NET  "pci_ad(0)"                   LOC = "Y5";		 	# "AA6"  ;	 #
NET  "pci_ack64"                   LOC = "Y6"   ;	 #
NET  "pci_req64"                   LOC = "AD2";		# "AA2"  ;	 #
NET  "pci_cbe(7)"                  LOC = "Y7";		 	# "AB2"  ;	 #
NET  "pci_cbe(6)"                  LOC = "AC2";		# "Y5"   ;	 #
NET  "pci_cbe(5)"                  LOC = "AA6";		# "AA5"  ;	 #
NET  "pci_cbe(4)"                  LOC = "AA2";		# "Y8"   ;	 #

NET  "pci_par64"                   LOC = "AA8"  ;	 #
NET  "pci_ad(63)"                  LOC = "AA7";		# "AC2"  ;	 #
NET  "pci_ad(62)"                  LOC = "AB2";		# "AD2"  ;	 #
NET  "pci_ad(61)"                  LOC = "Y8";		 	# "Y7"   ;	 #
NET  "pci_ad(60)"                  LOC = "AA5";		# "AA7"  ;	 #
NET  "pci_ad(59)"                  LOC = "AB3";		# "AC6"  ;	 #
NET  "pci_ad(58)"                  LOC = "AB6"  ;	 #
NET  "pci_ad(57)"                  LOC = "AC4";		# "AD1"  ;	 #
NET  "pci_ad(56)"                  LOC = "AB5";		# "AE1"  ;	 #
NET  "pci_ad(55)"                  LOC = "AB4";		# "AB3"  ;	 #
NET  "pci_ad(54)"                  LOC = "AC6";		# "AC3"  ;	 #
NET  "pci_ad(53)"                  LOC = "AD1";		# "AB7"  ;	 #
NET  "pci_ad(52)"                  LOC = "AC7"  ;	 #
NET  "pci_ad(51)"                  LOC = "AC5";		# "AB4"  ;	 #
NET  "pci_ad(50)"                  LOC = "AE1";		# "AC4"  ;	 #
NET  "pci_ad(49)"                  LOC = "AB7";		# "AB5"  ;	 #
NET  "pci_ad(48)"                  LOC = "AC3";		# "AC5"  ;	 #
NET  "pci_ad(47)"                  LOC = "AD3";		# "AC8"  ;	 #
NET  "pci_ad(46)"                  LOC = "AB8"  ;	 #
NET  "pci_ad(45)"                  LOC = "AG1";		# "AE2"  ;	 #
NET  "pci_ad(44)"                  LOC = "AD4";		# "AF3"  ;	 #
NET  "pci_ad(43)"                  LOC = "AF1";		# "AD3"  ;	 #
NET  "pci_ad(42)"                  LOC = "AC8";		# "AE3"  ;	 #
NET  "pci_ad(41)"                  LOC = "AE2";		# "AD6"  ;	 #
NET  "pci_ad(40)"                  LOC = "AD7"  ;	 #
NET  "pci_ad(39)"                  LOC = "AE4";		# "AF1"  ;	 #
NET  "pci_ad(38)"                  LOC = "AF3";		# "AG1"  ;	 #
NET  "pci_ad(37)"                  LOC = "AD6";		# "AD4"  ;	 #
NET  "pci_ad(36)"                  LOC = "AE3";		# "AE4"  ;	 #
NET  "pci_ad(35)"                  LOC = "AG2";		# "AD8"  ;	 #
NET  "pci_ad(34)"                  LOC = "AE7"  ;	 #
NET  "pci_ad(33)"                  LOC = "AD8";		# "AG2"  ;	 #
NET  "pci_ad(32)"                  LOC = "AH2"  ;	 #

# unused pins
#NET  "pci_host"         LOC = "AA30";

CONFIG PROHIBIT = "AJ28" ;	#IO_RDWR_B
CONFIG PROHIBIT = "AK29" ;	#IO_CS_B
CONFIG PROHIBIT = "AK2" ;	#IO_DOUT
CONFIG PROHIBIT = "AE8" ;	#IO_D0
CONFIG PROHIBIT = "AF9" ;	#IO_D1
CONFIG PROHIBIT = "AH5" ;	#IO_D2
CONFIG PROHIBIT = "AH6" ;	#IO_D3
CONFIG PROHIBIT = "AH26" ;	#IO_D4
CONFIG PROHIBIT = "AJ27" ;	#IO_D5
CONFIG PROHIBIT = "AE22" ;	#IO_D6
CONFIG PROHIBIT = "AE23" ;	#IO_D7
CONFIG PROHIBIT = "AJ3" ;	#IO_INIT_B

#NET ddr_clk FEEDBACK = 1.0 NET ddr_clk_fb;

