## $Id: nexys3_pins_pmb0_rs232.ucf 534 2013-09-22 21:37:24Z mueller $
##
## Revision History: 
## Date         Rev Version  Comment
## 2011-11-20   430   1.0    Initial version 
##
## Pmod connector B top / usage RS232 for FTDI USB serport -------------------
##
NET "O_FUSP_RTS_N" LOC = "k2"   | IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
NET "I_FUSP_CTS_N" LOC = "k1"   | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET "I_FUSP_RXD"   LOC = "l4"   | IOSTANDARD=LVCMOS33 | PULLUP;
NET "O_FUSP_TXD"   LOC = "l3"   | IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
##
