## $Id: nexys3_pins_fx2.ucf 455 2012-01-24 09:11:25Z mueller $
##
## Revision History: 
## Date         Rev Version  Comment
## 2012-01-23   455   1.2    fix SLOE_N (h4->h6)
## 2012-01-01   448   1.1    use 12/FAST instead of 6/SLOW for _DATA<*>
## 2011-11-27   433   1.0    Initial version 
##
## Cypress EZ-USB FX2 Interface -- in Bank 3 ---------------------------------
##
##
NET "I_FX2_IFCLK" LOC = "h2"     | IOSTANDARD=LVCMOS33;
## 
NET "IO_FX2_DATA<0>" LOC = "e1"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<1>" LOC = "f4"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<2>" LOC = "f3"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<3>" LOC = "d2"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<4>" LOC = "d1"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<5>" LOC = "h7"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<6>" LOC = "g6"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<7>" LOC = "e4"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<*>" DRIVE=12 | SLEW=FAST | KEEPER;
##
NET "O_FX2_SLWR_N" LOC = "c1"    | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
NET "O_FX2_SLRD_N" LOC = "c2"    | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
NET "O_FX2_SLOE_N" LOC = "h6"    | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
##
NET "O_FX2_PKTEND_N" LOC = "d3"  | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
##
NET "O_FX2_FIFO<0>" LOC = "h5"   | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
NET "O_FX2_FIFO<1>" LOC = "e3"   | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
##
## assume that PA.7 is used as FLAGD (and not as SLCS#)
NET "I_FX2_FLAG<0>" LOC = "h1"   | IOSTANDARD=LVCMOS33;   ## flag a (program)
NET "I_FX2_FLAG<1>" LOC = "k4"   | IOSTANDARD=LVCMOS33;   ## flag b (full)
NET "I_FX2_FLAG<2>" LOC = "f5"   | IOSTANDARD=LVCMOS33;   ## flag c (empty)
NET "I_FX2_FLAG<3>" LOC = "f6"   | IOSTANDARD=LVCMOS33;   ## flag d (slcs)
##
