#
# uTosNet_uart Example
#
# uTosNet_uart_xc3s50an.ucf
# File created by:
#	Simon Falsig
#	University of Southern Denmark
#	Copyright 2010
#
# This file is part of the uTosNet_uart Example
#
#	The uTosNet_uart Example is free software: you can redistribute it 
#	and/or modify it under the terms of the GNU Lesser General Public License as
#	published by the Free Software Foundation, either version 3 of the License,
#	or (at your option) any later version.
#
#	The uTosNet_uart Example is distributed in the hope that it will be
#	useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser
#	General Public License for more details.
#
#	You should have received a copy of the GNU Lesser General Public License
#	along with the uTosNet_uart Example. If not, see
#	<http://www.gnu.org/licenses/>.
#



NET "CLK_50M_I" LOC = P124;
NET "CLK_50M_I" IOSTANDARD = LVTTL;
NET "LEDS_O[0]" LOC = P10;
NET "LEDS_O[0]" IOSTANDARD = LVTTL;
NET "LEDS_O[1]" LOC = P12;
NET "LEDS_O[1]" IOSTANDARD = LVTTL;
NET "LEDS_O[2]" LOC = P13;
NET "LEDS_O[2]" IOSTANDARD = LVTTL;
NET "SERIAL_I" LOC = P125;
NET "SERIAL_I" IOSTANDARD = LVTTL;
NET "SERIAL_O" LOC = P127;
NET "SERIAL_O" IOSTANDARD = LVTTL;
#NET "GFX_BLU_O[0]" LOC = P3;
#NET "GFX_BLU_O[0]" IOSTANDARD = LVTTL;
#NET "GFX_BLU_O[1]" LOC = P6;
#NET "GFX_BLU_O[1]" IOSTANDARD = LVTTL;
#NET "GFX_BLU_O[2]" LOC = P5;
#NET "GFX_BLU_O[2]" IOSTANDARD = LVTTL;
#NET "GFX_GRN_O[0]" LOC = P4;
#NET "GFX_GRN_O[0]" IOSTANDARD = LVTTL;
#NET "GFX_GRN_O[1]" LOC = P131;
#NET "GFX_GRN_O[1]" IOSTANDARD = LVTTL;
#NET "GFX_GRN_O[2]" LOC = P8;
#NET "GFX_GRN_O[2]" IOSTANDARD = LVTTL;
#NET "GFX_HS_O" LOC = P126;
#NET "GFX_HS_O" IOSTANDARD = LVTTL;
#NET "GFX_RED_O[0]" LOC = P129;
#NET "GFX_RED_O[0]" IOSTANDARD = LVTTL;
#NET "GFX_RED_O[1]" LOC = P132;
#NET "GFX_RED_O[1]" IOSTANDARD = LVTTL;
#NET "GFX_RED_O[2]" LOC = P7;
#NET "GFX_RED_O[2]" IOSTANDARD = LVTTL;
#NET "GFX_VS_O" LOC = P130;
#NET "GFX_VS_O" IOSTANDARD = LVTTL;
#NET "CLK_50M_I" TNM_NET = CLK_50M_I;
#TIMESPEC TS_CLK_50M_I = PERIOD "CLK_50M_I" 20 ns HIGH 50%;
#NET "dataReg_clk" TNM_NET = dataReg_clk;
#TIMESPEC TS_dataReg_clk = PERIOD "dataReg_clk" TS_CLK_50M_I * 2 HIGH 50%;
#NET "gfxInst/clkdiv1" TNM_NET = gfxInst/clkdiv1;
#TIMESPEC TS_gfxInst_clkdiv1 = PERIOD "gfxInst/clkdiv1" TS_CLK_50M_I * 2 HIGH 50%;
#NET "pseudoTosNet_uartInst/int_dataReg_clk" TNM_NET = pseudoTosNet_uartInst/int_dataReg_clk;
#TIMESPEC TS_pseudoTosNet_uartInst_int_dataReg_clk = PERIOD "pseudoTosNet_uartInst/int_dataReg_clk" TS_CLK_50M_I * 2 HIGH 50%;
