#
# MINIMAL_PDP8.ucf
# For Nexys2 Card

#
# Clock Interface
#

NET "clk"                       LOC = "B8";
NET "clk"                       TNM_NET = clk;
NET "clk"                       IOSTANDARD = LVCMOS33;
TIMESPEC                        TS_clk = PERIOD "clk" 18 ns HIGH 50%;

#
# Clock Interface
#

NET "iPDP8/iCPU/rdb"            TNM_NET = iPDP8/iCPU/rdb;
TIMESPEC                        TS_iPDP8_iCPU_rdb = PERIOD "iPDP8/iCPU/rdb" 18 ns HIGH 50%;

#
# Buttons
#

NET "rst"                       LOC = "B18" | IOSTANDARD = LVCMOS33;            # BTN0

#
# SD Interface
#

NET "sdCS"                      LOC = "G16" | IOSTANDARD = LVCMOS33;            # JC9
NET "sdMOSI"                    LOC = "J16" | IOSTANDARD = LVCMOS33;            # JC2
NET "sdMISO"                    LOC = "J12" | IOSTANDARD = LVCMOS33;            # JC10
NET "sdSCLK"                    LOC = "G13" | IOSTANDARD = LVCMOS33;            # JC3

#
# RS232
#

NET "tty1TXD"                 	LOC = "L17" | IOSTANDARD = LVCMOS33;       	# JA3
NET "tty1RXD"                 	LOC = "M14" | IOSTANDARD = LVCMOS33 | PULLUP;   # JA9
