# Constraint file to point to the right pins on the Spartan3E starter kit
NET "EXTCLK" LOC = "c9"| IOSTANDARD = LVCMOS33 ;

NET "EXTRST" LOC = "n17"| IOSTANDARD = LVCMOS33 ;

NET "byte_out<7>" LOC = "f9"| IOSTANDARD = LVCMOS33 ;
NET "byte_out<6>" LOC = "e9"| IOSTANDARD = LVCMOS33 ;
NET "byte_out<5>" LOC = "d11"| IOSTANDARD = LVCMOS33 ;
NET "byte_out<4>" LOC = "c11"| IOSTANDARD = LVCMOS33 ;
NET "byte_out<3>" LOC = "f11"| IOSTANDARD = LVCMOS33 ;
NET "byte_out<2>" LOC = "e11"| IOSTANDARD = LVCMOS33 ;
NET "byte_out<1>" LOC = "e12"| IOSTANDARD = LVCMOS33 ;
NET "byte_out<0>" LOC = "f12"| IOSTANDARD = LVCMOS33 ;

#NET "data_avaible" LOC = "u17"| IOSTANDARD = LVCMOS33 ;

NET "tx" LOC = "m14"| IOSTANDARD = LVCMOS33 ; #m14

NET "rx" LOC = "r7"| IOSTANDARD = LVCMOS33 ;  #r7
				