# Pin locations for Burched B5-X300E FPGA board

NET "rst_i" LOC = "P57"  ;
NET "ps2_data_io" LOC = "P70"  ;
NET "ps2_clk_io" LOC = "P69"  ;
NET "perr_o" LOC = "P48"  ;
NET "ferr_o" LOC = "P49"  ;
NET "data_o<23>" LOC = "P34"  ;
NET "data_o<22>" LOC = "P33"  ;
NET "data_o<21>" LOC = "P31"  ;
NET "data_o<20>" LOC = "P30"  ;
NET "data_o<19>" LOC = "P29"  ;
NET "data_o<18>" LOC = "P27"  ;
NET "data_o<17>" LOC = "P24"  ;
NET "data_o<16>" LOC = "P23"  ;
NET "data_o<15>" LOC = "P22"  ;
NET "data_o<14>" LOC = "P21"  ;
NET "data_o<13>" LOC = "P20"  ;
NET "data_o<12>" LOC = "P18"  ;
NET "data_o<11>" LOC = "P17"  ;
NET "data_o<10>" LOC = "P16"  ;
NET "data_o<9>" LOC = "P15"  ;
NET "data_o<8>" LOC = "P11"  ;
NET "data_o<7>" LOC = "P10"  ;
NET "data_o<6>" LOC = "P9"  ;
NET "data_o<5>" LOC = "P8"  ;
NET "data_o<4>" LOC = "P7"  ;
NET "data_o<3>" LOC = "P6"  ;
NET "data_o<2>" LOC = "P5"  ;
NET "data_o<1>" LOC = "P4"  ;
NET "data_o<0>" LOC = "P3"  ;
NET "clk_i" LOC = "P77"  ;
NET "beep_o" LOC = "P71"  ;
NET "activity_o" LOC = "P82"  ;
