//! **************************************************************************
// Written by: Map O.40d on Thu Sep 01 13:07:27 2011
//! **************************************************************************

SCHEMATIC START;
COMP "dbg_o<10>" LOCATE = SITE "V13" LEVEL 1;
COMP "dbg_o<11>" LOCATE = SITE "U13" LEVEL 1;
COMP "spi_miso_o" LOCATE = SITE "V15" LEVEL 1;
COMP "spi_mosi_o" LOCATE = SITE "U15" LEVEL 1;
COMP "sw_i<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "sw_i<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "sw_i<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "sw_i<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "sw_i<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "sw_i<5>" LOCATE = SITE "R5" LEVEL 1;
COMP "sw_i<6>" LOCATE = SITE "T5" LEVEL 1;
COMP "sw_i<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "spi_ssel_o" LOCATE = SITE "U16" LEVEL 1;
COMP "m_state_o<0>" LOCATE = SITE "T3" LEVEL 1;
COMP "m_state_o<1>" LOCATE = SITE "R3" LEVEL 1;
COMP "m_state_o<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "m_state_o<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "dbg_o<0>" LOCATE = SITE "N9" LEVEL 1;
COMP "dbg_o<1>" LOCATE = SITE "M10" LEVEL 1;
COMP "dbg_o<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "dbg_o<3>" LOCATE = SITE "N10" LEVEL 1;
COMP "dbg_o<4>" LOCATE = SITE "V12" LEVEL 1;
COMP "dbg_o<5>" LOCATE = SITE "T12" LEVEL 1;
COMP "dbg_o<6>" LOCATE = SITE "T11" LEVEL 1;
COMP "dbg_o<7>" LOCATE = SITE "R11" LEVEL 1;
COMP "dbg_o<8>" LOCATE = SITE "N11" LEVEL 1;
COMP "dbg_o<9>" LOCATE = SITE "M11" LEVEL 1;
COMP "btn_i<0>" LOCATE = SITE "T15" LEVEL 1;
COMP "btn_i<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "btn_i<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "btn_i<3>" LOCATE = SITE "P3" LEVEL 1;
COMP "btn_i<4>" LOCATE = SITE "F6" LEVEL 1;
COMP "btn_i<5>" LOCATE = SITE "F5" LEVEL 1;
COMP "led_o<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "led_o<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "led_o<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "led_o<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "led_o<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "led_o<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "led_o<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "led_o<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "spi_sck_o" LOCATE = SITE "V16" LEVEL 1;
COMP "s_state_o<0>" LOCATE = SITE "V9" LEVEL 1;
COMP "s_state_o<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "s_state_o<2>" LOCATE = SITE "V4" LEVEL 1;
COMP "s_state_o<3>" LOCATE = SITE "T4" LEVEL 1;
SCHEMATIC END;

