NET "I0/clk15M1" TNM_NET = "I0/clk15M1";
TIMESPEC "TS_I0_clk15M1" = PERIOD "I0/clk15M1" 66.666666 ns HIGH 50 %;

NET "clkin" TNM_NET = "clkin";
TIMESPEC "TS_clkin" = PERIOD "clkin" 22.222222 ns HIGH 50 %;


NET "I0/clk60M1" TNM_NET = "I0/clk60M1";
TIMESPEC "TS_I0_clk60M1" = PERIOD "I0/clk60M1" 16.666666 ns HIGH 50 %;

NET "I0/clk45M1" TNM_NET = "I0/clk45M1";
TIMESPEC "TS_I0_clk45M1" = PERIOD "I0/clk45M1" 22.222222 ns HIGH 50 %;

NET "spi_clk" TNM_NET = "spi_clk";
TIMESPEC "TS_spi_clk" = PERIOD "spi_clk" 50 ns HIGH 50 %;

NET "clkin"					LOC =	"P127";
NET "pixelclock"			LOC = 	"P128";
NET "digitalvideo<0>"		LOC = 	"P108";
NET "digitalvideo<1>"		LOC = 	"P107";
NET "digitalvideo<2>"		LOC = 	"P112";
NET "digitalvideo<3>"		LOC = 	"P113";
NET "digitalvideo<4>"		LOC = 	"P116";
NET "digitalvideo<5>"		LOC = 	"P118";
NET "digitalvideo<6>"		LOC = 	"P119";
NET "digitalvideo<7>"		LOC = 	"P122";
NET "digitalvideo<8>"		LOC = 	"P123";
NET "digitalvideo<9>"		LOC = 	"P129";

NET "reset"			LOC = 	"P105";
NET "spi_ss"		LOC = 	"P102";
NET "spi_clk"		LOC = 	"P125";
NET "spi_data"		LOC = 	"P104";
NET "spi_cd"		LOC = 	"P103";

NET "ram_adr<0>"		LOC =		"P77";
NET "ram_adr<1>"		LOC =		"P74";
NET "ram_adr<2>"		LOC =		"P70";
NET "ram_adr<3>"		LOC =		"P68";
NET "ram_adr<4>"		LOC =		"P60";
NET "ram_adr<5>"		LOC =		"P52";
NET "ram_adr<6>"		LOC =		"P50";
NET "ram_adr<7>"		LOC =		"P46";
NET "ram_adr<8>"		LOC =		"P41";
NET "ram_adr<9>"		LOC =		"P40";
NET "ram_adr<10>"		LOC =		"P44";
NET "ram_adr<11>"		LOC =		"P47";
NET "ram_adr<12>"		LOC =		"P51";
NET "ram_adr<13>"		LOC =		"P53";
NET "ram_adr<14>"		LOC =		"P57";
NET "ram_adr<15>"		LOC =		"P63";
NET "ram_adr<16>"		LOC =		"P69";
NET "ram_adr<17>"		LOC =		"P73";
NET "ram_adr<18>"		LOC =		"P76";
			  
NET "ram_data<0>"			LOC = 	"P23";
NET "ram_data<1>"			LOC = 	"P24";
NET "ram_data<2>"			LOC = 	"P25";
NET "ram_data<3>"			LOC = 	"P26";
NET "ram_data<4>"			LOC = 	"P17";
NET "ram_data<5>"			LOC = 	"P18";
NET "ram_data<6>"			LOC = 	"P20";
NET "ram_data<7>"			LOC = 	"P21";
NET "ram_data<8>"			LOC = 	"P32";
NET "ram_data<9>"			LOC = 	"P33";
NET "ram_data<10>"			LOC = 	"P35";
NET "ram_data<11>"			LOC = 	"P36";
NET "ram_data<12>"			LOC = 	"P27";
NET "ram_data<13>"			LOC = 	"P28";
NET "ram_data<14>"			LOC = 	"P30";
NET "ram_data<15>"			LOC = 	"P31";

NET "ram_wr"			LOC = 	"P55";
NET "ram_rd"			LOC = 	"P59";
NET "ram_cs"			LOC = 	"P56";


