#************************** CVS history ***************************#
# $Author: gvozden $
# $Date: 2003-02-28 14:10:54 $
# $Revision: 1.2 $ 
# $Name: not supported by cvs2svn $
#************************** CVS history ***************************#

CONFIG PART = XC2S200-PQ208-5;

NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 30 ns HIGH 50 %;

INST "AD0.PAD"  TNM = "PCI_AD";
INST "AD1.PAD"  TNM = "PCI_AD";
INST "AD2.PAD"  TNM = "PCI_AD";
INST "AD3.PAD"  TNM = "PCI_AD";
INST "AD4.PAD"  TNM = "PCI_AD";
INST "AD5.PAD"  TNM = "PCI_AD";
INST "AD6.PAD"  TNM = "PCI_AD";
INST "AD7.PAD"  TNM = "PCI_AD";
INST "AD8.PAD"  TNM = "PCI_AD";
INST "AD9.PAD"  TNM = "PCI_AD";
INST "AD10.PAD" TNM = "PCI_AD";
INST "AD11.PAD" TNM = "PCI_AD";
INST "AD12.PAD" TNM = "PCI_AD";
INST "AD13.PAD" TNM = "PCI_AD";
INST "AD14.PAD" TNM = "PCI_AD";
INST "AD15.PAD" TNM = "PCI_AD";
INST "AD16.PAD" TNM = "PCI_AD";
INST "AD17.PAD" TNM = "PCI_AD";
INST "AD18.PAD" TNM = "PCI_AD";
INST "AD19.PAD" TNM = "PCI_AD";
INST "AD20.PAD" TNM = "PCI_AD";
INST "AD21.PAD" TNM = "PCI_AD";
INST "AD22.PAD" TNM = "PCI_AD";
INST "AD23.PAD" TNM = "PCI_AD";
INST "AD24.PAD" TNM = "PCI_AD";
INST "AD25.PAD" TNM = "PCI_AD";
INST "AD26.PAD" TNM = "PCI_AD";
INST "AD27.PAD" TNM = "PCI_AD";
INST "AD28.PAD" TNM = "PCI_AD";
INST "AD29.PAD" TNM = "PCI_AD";
INST "AD30.PAD" TNM = "PCI_AD";
INST "AD31.PAD" TNM = "PCI_AD";

TIMEGRP "PCI_AD" OFFSET = IN   7 ns BEFORE "CLK";
TIMEGRP "PCI_AD" OFFSET = OUT 11 ns AFTER  "CLK";

NET "AD0"  IOSTANDARD = PCI33_5;
NET "AD1"  IOSTANDARD = PCI33_5;
NET "AD2"  IOSTANDARD = PCI33_5;
NET "AD3"  IOSTANDARD = PCI33_5;
NET "AD4"  IOSTANDARD = PCI33_5;
NET "AD5"  IOSTANDARD = PCI33_5;
NET "AD6"  IOSTANDARD = PCI33_5;
NET "AD7"  IOSTANDARD = PCI33_5;
NET "AD8"  IOSTANDARD = PCI33_5;
NET "AD9"  IOSTANDARD = PCI33_5;
NET "AD10" IOSTANDARD = PCI33_5;
NET "AD11" IOSTANDARD = PCI33_5;
NET "AD12" IOSTANDARD = PCI33_5;
NET "AD13" IOSTANDARD = PCI33_5;
NET "AD14" IOSTANDARD = PCI33_5;
NET "AD15" IOSTANDARD = PCI33_5;
NET "AD16" IOSTANDARD = PCI33_5;
NET "AD17" IOSTANDARD = PCI33_5;
NET "AD18" IOSTANDARD = PCI33_5;
NET "AD19" IOSTANDARD = PCI33_5;
NET "AD20" IOSTANDARD = PCI33_5;
NET "AD21" IOSTANDARD = PCI33_5;
NET "AD22" IOSTANDARD = PCI33_5;
NET "AD23" IOSTANDARD = PCI33_5;
NET "AD24" IOSTANDARD = PCI33_5;
NET "AD25" IOSTANDARD = PCI33_5;
NET "AD26" IOSTANDARD = PCI33_5;
NET "AD27" IOSTANDARD = PCI33_5;
NET "AD28" IOSTANDARD = PCI33_5;
NET "AD29" IOSTANDARD = PCI33_5;
NET "AD30" IOSTANDARD = PCI33_5;
NET "AD31" IOSTANDARD = PCI33_5;

INST "CBE0.PAD" TNM = "PCI_CBE";
INST "CBE1.PAD" TNM = "PCI_CBE";
INST "CBE2.PAD" TNM = "PCI_CBE";
INST "CBE3.PAD" TNM = "PCI_CBE";

NET "CBE0" IOSTANDARD = PCI33_5;
NET "CBE1" IOSTANDARD = PCI33_5;
NET "CBE2" IOSTANDARD = PCI33_5;
NET "CBE3" IOSTANDARD = PCI33_5;

TIMEGRP "PCI_CBE" OFFSET = IN   7 ns BEFORE "CLK";
TIMEGRP "PCI_CBE" OFFSET = OUT 11 ns AFTER  "CLK";

NET "DEVSEL" IOSTANDARD = PCI33_5;
NET "DEVSEL" OFFSET = IN   7 ns BEFORE "CLK";
NET "DEVSEL" OFFSET = OUT 11 ns AFTER  "CLK";

NET "FRAME"  IOSTANDARD = PCI33_5;
NET "FRAME"  OFFSET = IN   7 ns BEFORE "CLK";
NET "FRAME"  OFFSET = OUT 11 ns AFTER  "CLK";

NET "GNT"    IOSTANDARD = PCI33_5;
NET "GNT"    OFFSET = IN 10 ns BEFORE "CLK";

NET "INTA"   IOSTANDARD = PCI33_5;

NET "RST"    IOSTANDARD = PCI33_5;

NET "IRDY"   IOSTANDARD = PCI33_5;
NET "IRDY"   OFFSET = IN   7 ns BEFORE "CLK";
NET "IRDY"   OFFSET = OUT 11 ns AFTER  "CLK";

NET "PAR"    IOSTANDARD = PCI33_5;
NET "PAR"    OFFSET = IN   7 ns BEFORE "CLK";
NET "PAR"    OFFSET = OUT 11 ns AFTER  "CLK";

NET "PERR"   IOSTANDARD = PCI33_5;
NET "PERR"   OFFSET = IN   7 ns BEFORE "CLK";
NET "PERR"   OFFSET = OUT 11 ns AFTER  "CLK";

NET "REQ"    IOSTANDARD = PCI33_5;
NET "REQ"    OFFSET = OUT 12 ns AFTER  "CLK";

NET "SERR"   IOSTANDARD = PCI33_5;
NET "SERR"   OFFSET = OUT 11 ns AFTER  "CLK";

NET "STOP"   IOSTANDARD = PCI33_5;
NET "STOP"   OFFSET = IN   7 ns BEFORE "CLK";
NET "STOP"   OFFSET = OUT 11 ns AFTER  "CLK";

NET "TRDY"   IOSTANDARD = PCI33_5;
NET "TRDY"   OFFSET = IN   7 ns BEFORE "CLK";
NET "TRDY"   OFFSET = OUT 10 ns AFTER  "CLK";

NET "IDSEL"  IOSTANDARD = PCI33_5;

####################################################################
# Pin locations
####################################################################
NET "CLK"          LOC = "P185";
NET "INTA"         LOC = "P195";
NET "RST"          LOC = "P199";
NET "GNT"          LOC = "P200";
NET "REQ"          LOC = "P201";

NET "AD0"          LOC = "P67";
NET "AD1"          LOC = "P63";
NET "AD2"          LOC = "P62";
NET "AD3"          LOC = "P61";
NET "AD4"          LOC = "P59";
NET "AD5"          LOC = "P58";
NET "AD6"          LOC = "P57";
NET "AD7"          LOC = "P49";
NET "AD8"          LOC = "P47";
NET "AD9"          LOC = "P46";
NET "AD10"         LOC = "P45";
NET "AD11"         LOC = "P43";
NET "AD12"         LOC = "P42";
NET "AD13"         LOC = "P41";
NET "AD14"         LOC = "P37";
NET "AD15"         LOC = "P36";
NET "AD16"         LOC = "P21";
NET "AD17"         LOC = "P20";
NET "AD18"         LOC = "P18";
NET "AD19"         LOC = "P17";
NET "AD20"         LOC = "P16";
NET "AD21"         LOC = "P15";
NET "AD22"         LOC = "P14";
NET "AD23"         LOC = "P10";
NET "AD24"         LOC = "P6";
NET "AD25"         LOC = "P5";
NET "AD26"         LOC = "P4";
NET "AD27"         LOC = "P3";
NET "AD28"         LOC = "P206";
NET "AD29"         LOC = "P205";
NET "AD30"         LOC = "P204";
NET "AD31"         LOC = "P203";

NET "CBE0"         LOC = "P48";
NET "CBE1"         LOC = "P35";
NET "CBE2"         LOC = "P22";
NET "CBE3"         LOC = "P8";

NET "IDSEL"        LOC = "P9";
NET "FRAME"        LOC = "P23";
NET "IRDY"         LOC = "P24";
NET "TRDY"         LOC = "P27";
NET "DEVSEL"       LOC = "P29";
NET "STOP"         LOC = "P30";
NET "PERR"         LOC = "P31";
NET "SERR"         LOC = "P33";
NET "PAR"          LOC = "P34";

NET "DSP_HINT"     LOC = "P127";
NET "DSP_INT2"     LOC = "P115";
NET "DSP_RST"      LOC = "P101";

NET "DSP_HAD[0]"   LOC = "P123";
NET "DSP_HAD[1]"   LOC = "P112";
NET "DSP_HAD[2]"   LOC = "P109";
NET "DSP_HAD[3]"   LOC = "P102";
NET "DSP_HAD[4]"   LOC = "P166";
NET "DSP_HAD[5]"   LOC = "P165";
NET "DSP_HAD[6]"   LOC = "P162";
NET "DSP_HAD[7]"   LOC = "P161";

NET "DSP_HCNTL[0]" LOC = "P147";
NET "DSP_HCNTL[1]" LOC = "P139";
NET "DSP_HBIL"     LOC = "P121";
NET "DSP_HCS"      LOC = "P154";
NET "DSP_HDS1"     LOC = "P164";
NET "DSP_HDS2"     LOC = "P163";
NET "DSP_HRW"      LOC = "P152";
NET "DSP_HRDY"     LOC = "P125";
NET "DSP_HAS"      LOC = "P160";

NET "LED"          LOC = "P202";
