#  Atlys
Net fpga_0_DIP_Switches_8Bits_GPIO_IO_I_pin<0> LOC=E4  |  IOSTANDARD=LVCMOS18;
Net fpga_0_DIP_Switches_8Bits_GPIO_IO_I_pin<1> LOC=T5  |  IOSTANDARD=LVCMOS33;
Net fpga_0_DIP_Switches_8Bits_GPIO_IO_I_pin<2> LOC=R5  |  IOSTANDARD=LVCMOS33;
Net fpga_0_DIP_Switches_8Bits_GPIO_IO_I_pin<3> LOC=P12  |  IOSTANDARD=LVCMOS33;
Net fpga_0_DIP_Switches_8Bits_GPIO_IO_I_pin<4> LOC=P15  |  IOSTANDARD=LVCMOS33;
Net fpga_0_DIP_Switches_8Bits_GPIO_IO_I_pin<5> LOC=C14  |  IOSTANDARD=LVCMOS33;
Net fpga_0_DIP_Switches_8Bits_GPIO_IO_I_pin<6> LOC=D14  |  IOSTANDARD=LVCMOS33;
Net fpga_0_DIP_Switches_8Bits_GPIO_IO_I_pin<7> LOC=A10  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bits_GPIO_IO_O_pin<0> LOC=N12  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bits_GPIO_IO_O_pin<1> LOC=P16  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bits_GPIO_IO_O_pin<2> LOC=D4  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bits_GPIO_IO_O_pin<3> LOC=M13  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bits_GPIO_IO_O_pin<4> LOC=L14  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bits_GPIO_IO_O_pin<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bits_GPIO_IO_O_pin<6> LOC=M14  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bits_GPIO_IO_O_pin<7> LOC=U18  |  IOSTANDARD=LVCMOS33;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<0> LOC=N4  |  IOSTANDARD=LVCMOS18;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<1> LOC=P4  |  IOSTANDARD=LVCMOS18;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<2> LOC=P3  |  IOSTANDARD=LVCMOS18;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<3> LOC=F6  |  IOSTANDARD=LVCMOS18;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<4> LOC=F5  |  IOSTANDARD=LVCMOS18;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC=L15  |  IOSTANDARD=LVCMOS33;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=T15  |  IOSTANDARD=LVCMOS33;

# SPI
NET "spiifc_0_SPI_CLK_pin"  LOC = R10  | IOSTANDARD = LVCMOS33;
NET "spiifc_0_SPI_MISO_pin" LOC = U16  | IOSTANDARD = LVCMOS33;
NET "spiifc_0_SPI_MOSI_pin" LOC = U15  | IOSTANDARD = LVCMOS33;
NET "spiifc_0_SPI_SS_pin"   LOC = M11  | IOSTANDARD = LVCMOS33;
