NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50 %;
NET "CLK"  LOC = "P52" | IOSTANDARD = LVCMOS33 ;

NET "pb<0>"  LOC = "P65" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<1>"  LOC = "P63" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<2>"  LOC = "P60" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<3>"  LOC = "P59" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<4>"  LOC = "P51" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<5>"  LOC = "P50" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<6>"  LOC = "P47" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<7>"  LOC = "P46" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;

NET "pc<0>"  LOC = "P58" | IOSTANDARD = LVCMOS33 ;
NET "pc<1>"  LOC = "P44" | IOSTANDARD = LVCMOS33 ;
NET "pc<2>"  LOC = "P41" | IOSTANDARD = LVCMOS33 ;
NET "pc<3>"  LOC = "P40" | IOSTANDARD = LVCMOS33 ;
NET "pc<4>"  LOC = "P36" | IOSTANDARD = LVCMOS33 ;
NET "pc<5>"  LOC = "P35" | IOSTANDARD = LVCMOS33 ;
NET "pc<6>"  LOC = "P33" | IOSTANDARD = LVCMOS33 ;
NET "pc<7>"  LOC = "P32" | IOSTANDARD = LVCMOS33 ;
