
# Clock and Reset
NET "clock_100Mhz" LOC = AH15 | IOSTANDARD = LVCMOS33; # 100 MHz
NET "clock_100MHz" TNM_NET = "BOARD_CLK";
TIMESPEC "TS_BOARD_CLK" = PERIOD "BOARD_CLK" 10 ns HIGH 50 %;
NET "reset_n"      LOC = E9   | IOSTANDARD = LVCMOS33;

# UART
NET "UART_Rx" LOC = AG15 | IOSTANDARD = LVCMOS33;
NET "UART_Tx" LOC = AG20 | IOSTANDARD = LVCMOS33;

# LCD Screen
NET "lcd[6]"  LOC = T11  | IOSTANDARD = LVCMOS33;   #D_4
NET "lcd[5]"  LOC = G6   | IOSTANDARD = LVCMOS33;   #D_3
NET "lcd[4]"  LOC = G7   | IOSTANDARD = LVCMOS33;   #D_2
NET "lcd[3]"  LOC = T9   | IOSTANDARD = LVCMOS33;   #D_1
NET "lcd[2]"  LOC = AC9  | IOSTANDARD = LVCMOS33;   #E
NET "lcd[1]"  LOC = J17  | IOSTANDARD = LVCMOS25;   #RS
NET "lcd[0]"  LOC = AC10 | IOSTANDARD = LVCMOS33;   #RW

# General-Purpose LEDs
NET "LED[0]"  LOC = AE24 | IOSTANDARD = SSTL18_I;   # LED 7
NET "LED[1]"  LOC = AD24 | IOSTANDARD = SSTL18_I;   # LED 6
NET "LED[2]"  LOC = AD25 | IOSTANDARD = SSTL18_I;   # LED 5
NET "LED[3]"  LOC = G16  | IOSTANDARD = LVCMOS25;   # LED 4
NET "LED[4]"  LOC = AD26 | IOSTANDARD = SSTL18_I;   # LED 3
NET "LED[5]"  LOC = G15  | IOSTANDARD = LVCMOS25;   # LED 2
NET "LED[6]"  LOC = L18  | IOSTANDARD = LVCMOS25;   # LED 1
NET "LED[7]"  LOC = H18  | IOSTANDARD = LVCMOS25;   # LED 0
NET "LED[8]"  LOC = E8   | IOSTANDARD = LVCMOS33;   # LED Center
NET "LED[9]"  LOC = AF23 | IOSTANDARD = LVCMOS33;   # LED West
NET "LED[10]" LOC = AG12 | IOSTANDARD = LVCMOS33;   # LED South
NET "LED[11]" LOC = AG23 | IOSTANDARD = LVCMOS33;   # LED East
NET "LED[12]" LOC = AF13 | IOSTANDARD = LVCMOS33;   # LED North
NET "LED[13]" LOC = F6   | IOSTANDARD = LVCMOS33;   # LED Error 1
NET "LED[14]" LOC = T10  | IOSTANDARD = LVCMOS33;   # LED Error 2

# Piezo Transducer
NET "Piezo" LOC = G30 | IOSTANDARD = SSTL18_I;

# General Purpose Switches
NET "Switch[7]" LOC = U25  | IOSTANDARD = SSTL18_I; # DIP 1
NET "Switch[6]" LOC = AG27 | IOSTANDARD = SSTL18_I; # DIP 2
NET "Switch[5]" LOC = AF25 | IOSTANDARD = SSTL18_I; # DIP 3
NET "Switch[4]" LOC = AF26 | IOSTANDARD = SSTL18_I; # DIP 4
NET "Switch[3]" LOC = AE27 | IOSTANDARD = SSTL18_I; # DIP 5
NET "Switch[2]" LOC = AE26 | IOSTANDARD = SSTL18_I; # DIP 6
NET "Switch[1]" LOC = AC25 | IOSTANDARD = SSTL18_I; # DIP 7
NET "Switch[0]" LOC = AC24 | IOSTANDARD = SSTL18_I; # DIP 8

# Main IIC Bus
NET "i2c_scl" LOC = F9 | IOSTANDARD = LVCMOS33; # IIC_Main SCL
NET "i2c_sda" LOC = F8 | IOSTANDARD = LVCMOS33; # IIC_Main SDA
