INST "reset" TNM = reset;

INST "sel" TNM = input;
INST "addr<0>" TNM = input;
INST "addr<1>" TNM = input;
INST "addr<2>" TNM = input;
INST "addr<3>" TNM = input;
INST "addr<4>" TNM = input;
INST "addr<5>" TNM = input;
INST "w" TNM = input;
INST "update" TNM = input;
INST "ready" TNM = input;
INST "i" TNM = input;

INST "o" TNM = output;
INST "done" TNM = output;

TIMEGRP "reset" OFFSET = IN 21 ns VALID 22 ns BEFORE "clk" HIGH;
TIMEGRP "input" OFFSET = IN 21 ns VALID 22 ns BEFORE "clk" HIGH;
TIMEGRP "output" OFFSET = OUT 8 ns BEFORE "clk" HIGH;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 30 ns HIGH 50%;
