NET "clk_i" TNM_NET = clk_i;
TIMESPEC TS_clk_i_ERROR = PERIOD "clk_i" 1 ns HIGH 50%;
NET "clk_i_cml_1" TNM_NET = clk_i_cml_1;
TIMESPEC TS_clk_i_cml_1_ERROR = PERIOD "clk_i_cml_1" 1 ns HIGH 50%;
NET "clk_i_cml_2" TNM_NET = clk_i_cml_2;
TIMESPEC TS_clk_i_cml_2_ERROR = PERIOD "clk_i_cml_2" 1 ns HIGH 50%;
NET "clk_i_cml_3" TNM_NET = clk_i_cml_3;
TIMESPEC TS_clk_i_cml_3_ERROR = PERIOD "clk_i_cml_3" 1 ns HIGH 50%;

TIMESPEC TS_clk_i_clk_i_cml_2_ERROR = FROM "clk_i" to "clk_i_cml_2" 1 ns DATAPATHONLY;
TIMESPEC TS_clk_i_cml_1_clk_i_cml_3_ERROR = FROM "clk_i_cml_1" to "clk_i_cml_3" 1 ns DATAPATHONLY;
TIMESPEC TS_clk_i_cml_2_clk_i_ERROR = FROM "clk_i_cml_2" to "clk_i" 1 ns DATAPATHONLY;
TIMESPEC TS_clk_i_cml_3_clk_i_cml_1_ERROR = FROM "clk_i_cml_3" to "clk_i_cml_1" 1 ns DATAPATHONLY;

TIMESPEC TS_clk_i_clk_i_cml_3_ERROR = FROM "clk_i" to "clk_i_cml_3" 1 ns DATAPATHONLY;
TIMESPEC TS_clk_i_cml_1_clk_i_ERROR = FROM "clk_i_cml_1" to "clk_i" 1 ns DATAPATHONLY;
TIMESPEC TS_clk_i_cml_2_clk_i_cml_1_ERROR = FROM "clk_i_cml_2" to "clk_i_cml_1" 1 ns DATAPATHONLY;
TIMESPEC TS_clk_i_cml_3_clk_i_cml_2_ERROR = FROM "clk_i_cml_3" to "clk_i_cml_2" 1 ns DATAPATHONLY;
