set_attribute input_pragma_keyword "cadence synopsys get2chip g2c fast ambit pragma"
read_hdl -vhdl -lib grlib ../../lib/grlib/stdlib/version.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/stdlib/stdlib.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/sparc/sparc.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/modgen/multlib.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/modgen/leaves.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/amba/amba.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/amba/devices.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/amba/defmst.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/amba/apbctrl.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/amba/ahbctrl.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/amba/dma2ahb_pkg.vhd
read_hdl -vhdl -lib grlib ../../lib/grlib/amba/dma2ahb.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/gencomp/gencomp.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/gencomp/netcomp.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/inferred/memory_inferred.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/inferred/ddr_inferred.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/inferred/mul_inferred.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/inferred/ddr_phy_inferred.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/dw02/mul_dw_gen.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/allclkgen.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/allddr.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/allmem.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/allpads.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/alltap.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/clkgen.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/clkmux.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/clkand.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/ddr_ireg.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/ddr_oreg.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/ddrphy.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/syncram.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/syncram64.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/syncram_2p.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/syncram_dp.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/syncfifo.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/regfile_3p.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/tap.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/techbuf.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/clkpad.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/clkpad_ds.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/inpad.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/inpad_ds.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/iodpad.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/iopad.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/iopad_ds.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/lvds_combo.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/odpad.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/outpad.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/outpad_ds.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/toutpad.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/skew_outpad.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/grspwc_net.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/grlfpw_net.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/grfpw_net.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/mul_61x61.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/cpu_disas_net.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/grusbhc_net.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/ringosc.vhd
read_hdl -vhdl -lib techmap ../../lib/techmap/maps/ssrctrl_net.vhd
read_hdl -vhdl -lib spw ../../lib/spw/comp/spwcomp.vhd
read_hdl -vhdl -lib spw ../../lib/spw/wrapper/grspw_gen.vhd
read_hdl -vhdl -lib eth ../../lib/eth/comp/ethcomp.vhd
read_hdl -vhdl -lib eth ../../lib/eth/core/greth_pkg.vhd
read_hdl -vhdl -lib eth ../../lib/eth/core/eth_rstgen.vhd
read_hdl -vhdl -lib eth ../../lib/eth/core/eth_ahb_mst.vhd
read_hdl -vhdl -lib eth ../../lib/eth/core/greth_tx.vhd
read_hdl -vhdl -lib eth ../../lib/eth/core/greth_rx.vhd
read_hdl -vhdl -lib eth ../../lib/eth/core/grethc.vhd
read_hdl -vhdl -lib eth ../../lib/eth/wrapper/greth_gen.vhd
read_hdl -vhdl -lib eth ../../lib/eth/wrapper/greth_gbit_gen.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/occomp/occomp.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/can/cancomp.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/can/can_top.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/can/can_top_core_sync.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/i2c/i2c_master_bit_ctrl.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/i2c/i2c_master_byte_ctrl.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/i2c/i2coc.vhd
read_hdl ../../lib/opencores/spi/simple_spi_top.v
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/ud_cnt.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/ro_cnt.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/atahost_dma_fifo.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/atahost_dma_actrl.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/atahost_dma_tctrl.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/atahost_pio_tctrl.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/atahost_pio_actrl.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/atahost_controller.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/atahost_pio_controller.vhd
read_hdl -vhdl -lib opencores ../../lib/opencores/ata/ocidec2_controller.vhd
read_hdl ../../lib/opencores/ac97/ac97_top.v
read_hdl -vhdl -lib gaisler ../../lib/gaisler/arith/arith.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/arith/mul32.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/arith/div32.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/memctrl/memctrl.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/memctrl/sdctrl.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/memctrl/sdmctrl.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/memctrl/srctrl.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/memctrl/spimctrl.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/leon3.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/reg_zero.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmuconfig.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmuiface.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/libmmu.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/libiu.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/libcache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/libproc3.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/cachemem.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmu_icache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmu_dcache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmu_acache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmutlbcam.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmulrue.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmulru.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmutlb.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmutw.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmu.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mmu_cache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/acache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/dcache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/icache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/cache.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/cpu_disasx.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/grfpwx.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/mfpwx.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/grlfpwx.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/tbufmem.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/dsu3x.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/dsu3.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/proc3.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/leon3s.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/leon3cg.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/irqmp.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/grfpwxsh.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/grfpushwx.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/leon3sh.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/my_mux.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/leon3/top.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/can/can.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/can/can_mod.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/can/can_oc.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/can/can_mc.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/can/canmux.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/can/can_rd.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/misc.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/rstgen.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/gptimer.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/ahbram.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/ahbtrace.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/ahbmst.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/grgpio.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/ahbstat.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/logan.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/apbps2.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/charrom_package.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/charrom.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/apbvga.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/ahbdma.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/svgactrl.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/i2cmst.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/spictrl.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/i2cslv.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/wild.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/misc/wild2ahb.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/net/net.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/uart/uart.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/uart/libdcom.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/uart/apbuart.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/uart/dcom.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/uart/dcom_uart.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/uart/ahbuart.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/jtag/jtag.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/jtag/libjtagcom.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/jtag/jtagcom.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/jtag/ahbjtag.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/jtag/ahbjtag_bsd.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/greth/ethernet_mac.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/greth/greth.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/greth/greth_gbit.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/greth/grethm.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/spacewire/spacewire.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/spacewire/grspw.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/spacewire/grspw2.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/spacewire/grspwm.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/usb/grusb.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/ata/ata.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/ata/ata_inf.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/ata/atahost_amba_slave.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/ata/atahost_ahbmst.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/ata/ocidec2_amba_slave.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/ata/atactrl_nodma.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/ata/atactrl_dma.vhd
read_hdl -vhdl -lib gaisler ../../lib/gaisler/ata/atactrl.vhd
read_hdl ../../lib/gaisler/vlog/decode_pipe1.v
read_hdl ../../lib/gaisler/vlog/EXEC_stage.v
read_hdl ../../lib/gaisler/vlog/ulit.v
read_hdl ../../lib/gaisler/vlog/ctl_fsm1.v
read_hdl ../../lib/gaisler/vlog/RF_stage1.v
read_hdl ../../lib/gaisler/vlog/RF_components1.v
read_hdl ../../lib/gaisler/vlog/forward.v
read_hdl ../../lib/gaisler/vlog/mips789_defs.v
read_hdl ../../lib/gaisler/vlog/hazard_unit.v
read_hdl ../../lib/gaisler/vlog/forward.v
read_hdl ../../lib/gaisler/vlog/core1.v
read_hdl -vhdl -lib esa ../../lib/esa/memoryctrl/memoryctrl.vhd
read_hdl -vhdl -lib esa ../../lib/esa/memoryctrl/mctrl.vhd
