set_attribute input_pragma_keyword "cadence synopsys get2chip g2c fast ambit pragma"
include compile.rc

read_hdl -vhdl -lib work config.vhd
read_hdl -vhdl -lib work ahbrom.vhd
read_hdl -vhdl -lib work vga_clkgen.vhd
read_hdl -vhdl -lib work leon3mp.vhd
elaborate leon3mp
