//! **************************************************************************
// Written by: Map I.33 on Sat Nov 18 17:12:05 2006
//! **************************************************************************

SCHEMATIC START;
COMP "b<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "b<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "b<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "g<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "g<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "g<2>" LOCATE = SITE "C3" LEVEL 1;
COMP "r<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "r<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "r<2>" LOCATE = SITE "B1" LEVEL 1;
COMP "inta" LOCATE = SITE "P1" LEVEL 1;
COMP "intr" LOCATE = SITE "M4" LEVEL 1;
COMP "addr<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "addr<1>" LOCATE = SITE "H4" LEVEL 1;
COMP "addr<2>" LOCATE = SITE "H3" LEVEL 1;
COMP "addr<3>" LOCATE = SITE "H1" LEVEL 1;
COMP "addr<4>" LOCATE = SITE "J1" LEVEL 1;
COMP "addr<5>" LOCATE = SITE "J2" LEVEL 1;
COMP "addr<6>" LOCATE = SITE "J3" LEVEL 1;
COMP "addr<7>" LOCATE = SITE "K1" LEVEL 1;
COMP "addr<8>" LOCATE = SITE "L2" LEVEL 1;
COMP "addr<9>" LOCATE = SITE "K5" LEVEL 1;
COMP "data<0>" LOCATE = SITE "E2" LEVEL 1;
COMP "data<1>" LOCATE = SITE "E1" LEVEL 1;
COMP "data<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "data<3>" LOCATE = SITE "G5" LEVEL 1;
COMP "data<4>" LOCATE = SITE "F2" LEVEL 1;
COMP "data<5>" LOCATE = SITE "G4" LEVEL 1;
COMP "data<6>" LOCATE = SITE "G3" LEVEL 1;
COMP "diag<7>" LOCATE = SITE "M3" LEVEL 1;
COMP "data<7>" LOCATE = SITE "G2" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "B16" LEVEL 1;
COMP "clock" LOCATE = SITE "P8" LEVEL 1;
COMP "waitr" LOCATE = SITE "L5" LEVEL 1;
COMP "readmem" LOCATE = SITE "F4" LEVEL 1;
COMP "hsync_n" LOCATE = SITE "B7" LEVEL 1;
COMP "reset_n" LOCATE = SITE "E11" LEVEL 1;
COMP "writeio" LOCATE = SITE "F5" LEVEL 1;
COMP "addr<10>" LOCATE = SITE "L3" LEVEL 1;
COMP "addr<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "addr<12>" LOCATE = SITE "M2" LEVEL 1;
COMP "addr<13>" LOCATE = SITE "L4" LEVEL 1;
COMP "addr<14>" LOCATE = SITE "N1" LEVEL 1;
COMP "vsync_n" LOCATE = SITE "D8" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "E13" LEVEL 1;
COMP "readio" LOCATE = SITE "D2" LEVEL 1;
COMP "writemem" LOCATE = SITE "D1" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "reset_n_BUFGP/IBUFG" BEL "reset_n_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
