NET "Clk" TNM_NET = Clk;
#
#TIMESPEC TS_Clk = PERIOD "Clk" 16.954 ns HIGH 50%;      # 58.9824 MHz
TIMESPEC TS_Clk = PERIOD "Clk" 16.666 ns HIGH 50%;      # 60.0000 MHz
#
#TIMESPEC TS_P2P = FROM "PADS" TO "PADS" 20 ns;
