<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="lcd_display"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value=""/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/home/jose/Escritorio/unison/cores/lcd/wb_lcd_workspace_ramless/workspace/lcd_display/src"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/home/jose/Escritorio/unison/cores/lcd/wb_lcd_workspace_ramless/workspace/lcd_display/src/lcd_display.py"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="/usr/bin/python2.5"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
</launchConfiguration>
