
NET "clk" TNM_NET = "clk" ;
TIMESPEC "TS_clk" = PERIOD "clk" 13 ns ;

NET "fastclk" TNM_NET = "fastclk" ;
TIMESPEC "TS_fastclk" = PERIOD "fastclk" 4 ns ;

TIMESPEC "TS_fast_to_sys" = FROM "fastclk" TO "clk" 4 ns DATAPATHONLY ;
TIMESPEC "TS_sys_to_fast" = FROM "clk" TO "fastclk" 4 ns DATAPATHONLY ;
TIMESPEC "TS_sync" = FROM FFS("*/syncdff_ff1") TO FFS("*/syncdff_ff2") 2 ns ;
