# $Id: 99-retro-usb-permissions.rules 467 2013-01-02 19:49:05Z mueller $
#
# udev rules to make some USB adaptors writable to group plugdev
#
# copy into /etc/udev/rules.d
#
ACTION!="add", GOTO="special_usb_rules_end"
SUBSYSTEM!="usb", GOTO="special_usb_rules_end"
#
# Cypress FX2 based systems ------------------------------------------
# - Digilent Nexys2
ATTR{idVendor}=="1443", ATTR{idProduct}=="0005", MODE="660", GROUP="plugdev"
# - Digilent Nexys3 and Atlys
ATTR{idVendor}=="1443", ATTR{idProduct}=="0007", MODE="660", GROUP="plugdev"
#
# - Cypress - EZ-USB FX2 USB 2.0 default
ATTR{idVendor}=="04b4", ATTR{idProduct}=="8613", MODE="660", GROUP="plugdev"
#
# - ixo.de - USB-JTAG-IF (used by ixo_jtag firmware)
ATTR{idVendor}=="16c0", ATTR{idProduct}=="06ad", MODE="660", GROUP="plugdev"
# - VOTI - free for internal lab use 1007 (used by retro11 firmware; primary)
ATTR{idVendor}=="16c0", ATTR{idProduct}=="03ef", MODE="660", GROUP="plugdev"
# - VOTI - free for internal lab use 1008 (used by retro11 firmware; alternate)
ATTR{idVendor}=="16c0", ATTR{idProduct}=="03f0", MODE="660", GROUP="plugdev"
#
LABEL="special_usb_rules_end"
