# Assign IO_TYPE Attributes
IOBUF PORT "ddr_dqs_0" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dqs_1" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dqs_2" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dqs_3" IO_TYPE=SSTL25_II PULLMODE=NONE ;
#
IOBUF PORT "ddr_dq_0" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_1" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_2" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_3" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_4" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_5" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_6" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_7" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_8" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_9" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_10" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_11" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_12" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_13" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_14" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_15" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_16" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_17" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_18" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_19" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_20" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_21" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_22" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_23" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_24" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_25" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_26" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_27" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_28" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_29" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_30" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dq_31" IO_TYPE=SSTL25_II PULLMODE=NONE ;
#
IOBUF PORT "ddr_ba_0" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ba_1" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_clk0" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_clk0b" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_cke0" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_clk1" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_clk1b" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_cke1" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_rasb" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_casb" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_web" IO_TYPE=SSTL25_II PULLMODE=NONE ;
#
IOBUF PORT "ddr_cs0b" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_cs1b" IO_TYPE=SSTL25_II PULLMODE=NONE ;
#
IOBUF PORT "ddr_ad_0" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_1" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_2" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_3" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_4" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_5" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_6" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_7" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_8" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_9" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_10" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_11" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_12" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_ad_13" IO_TYPE=SSTL25_II PULLMODE=NONE ;
#
IOBUF PORT "ddr_dm_0" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dm_1" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dm_2" IO_TYPE=SSTL25_II PULLMODE=NONE ;
IOBUF PORT "ddr_dm_3" IO_TYPE=SSTL25_II PULLMODE=NONE ;

