NET "CLEAR"  				LOC = "D18" | IOSTANDARD = LVTTL 	| PULLDOWN;
NET "CLOCK"  				LOC = "C9"  | IOSTANDARD = LVCMOS33;
NET "HALT"  				LOC = "D7"  | IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 6;
NET "SCLOCK" 				LOC = "F8"  | IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 6;
NET "MP_Binary_Out<7>" 	LOC = "F9" 	| IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8;
NET "MP_Binary_Out<6>" 	LOC = "E9" 	| IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8;
NET "MP_Binary_Out<5>" 	LOC = "D11" | IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8;
NET "MP_Binary_Out<4>" 	LOC = "C11" | IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8;
NET "MP_Binary_Out<3>" 	LOC = "F11" | IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8;
NET "MP_Binary_Out<2>" 	LOC = "E11" | IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8;
NET "MP_Binary_Out<1>" 	LOC = "E12" | IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8;
NET "MP_Binary_Out<0>" 	LOC = "F12" | IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8;