NET sys_clk_in TNM_NET = "sys_clk_in";
TIMESPEC "TSSYSCLK" = PERIOD "sys_clk_in" 9.9 ns HIGH 50 %;

NET sys_clk_in LOC = AE14;
NET sys_clk_in IOSTANDARD = LVCMOS33;

NET trx LOC = W1;

#NET flash_addr[24] LOC = T21;
#NET flash_addr[23] LOC = U20;
#NET flash_addr[22] LOC = T19;
NET flash_addr[20] LOC = AC5;
NET flash_addr[19] LOC = AB5;
NET flash_addr[18] LOC = AC4;
NET flash_addr[17] LOC = AB4;
NET flash_addr[16] LOC = AB3;
NET flash_addr[15] LOC = AA4;
NET flash_addr[14] LOC = AA3;
NET flash_addr[13] LOC = W5;
NET flash_addr[12] LOC = W6;
NET flash_addr[11] LOC = W3;
NET flash_addr[10] LOC = AF3;
NET flash_addr[9] LOC = AE3;
NET flash_addr[8]  LOC = AD2;
NET flash_addr[7]  LOC = AD1;
NET flash_addr[6]  LOC = AC2;
NET flash_addr[5]  LOC = AC1;
NET flash_addr[4]  LOC = AB2;
NET flash_addr[3]  LOC = AB1;
NET flash_addr[2]  LOC = AA1;
NET flash_addr[1]  LOC = Y2;
NET flash_addr[0]  LOC = Y1;
#NET flash_addr[0]  LOC = T20;

NET flash_data[15] LOC = AA14;
NET flash_data[14] LOC = AB14;
NET flash_data[13] LOC = AC12;
NET flash_data[12] LOC = AC11;
NET flash_data[11] LOC = AA16;
NET flash_data[10] LOC = AA15;
NET flash_data[9]  LOC = AB13;
NET flash_data[8]  LOC = AA13;
NET flash_data[7]  LOC = AC14;
NET flash_data[6]  LOC = AD14;
NET flash_data[5]  LOC = AA12;
NET flash_data[4]  LOC = AA11;
NET flash_data[3]  LOC = AC16;
NET flash_data[2]  LOC = AC15;
NET flash_data[1]  LOC = AC13;
NET flash_data[0]  LOC = AD13;

NET flash_oe_n     LOC = AC6;
NET flash_we_n     LOC = AB6;
#NET flash_byte_n   LOC = N22;
NET flash_ce2      LOC = W7;
#NET flash_audio_reset_n LOC = AD10;
