NET sys_clk_in TNM_NET = "sys_clk_in";
TIMESPEC "TSSYSCLK" = PERIOD "sys_clk_in" 9.9 ns HIGH 50 %;

NET sys_clk_in LOC = AE14;
NET sys_clk_in IOSTANDARD = LVCMOS33;
#NET sys_rst_in LOC = D6;
#NET sys_rst_in PULLUP;
#NET sys_rst_in TIG;

NET trx LOC = W1;
#NET trx IOSTANDARD = LVCMOS33;
#NET trx TIG;

# GPLED 0-3
#NET gpio[0]  LOC = G5;  #GPLED0
#NET gpio[1]  LOC = G6;  #GPLED1
#NET gpio[2]  LOC = A11; #GPLED2
#NET gpio[3]  LOC = A12; #GPLED3
# North-East-South-West-Center LEDs
#NET gpio[4]  LOC = C6;  # C LED
#NET gpio[5]  LOC = F9;  # W LED
#NET gpio[6]  LOC = A5;  # S LED
#NET gpio[7]  LOC = E10; # E LED 
#NET gpio[8]  LOC = E2;  # N LED

#NET "gpio[*]" PULLDOWN;
#NET "gpio[*]" TIG;
#NET "gpio[*]" SLEW = SLOW;
#NET "gpio[*]" DRIVE = 2;

NET "sram_clk" LOC = "AF7" ; #| IOSTANDARD = LVCMOS33 | DRIVE = 16 | SLEW = FAST;
NET "flash_ce" LOC = "W7"  ; #| IOSTANDARD = LVDCI_33;

#NET sram_clk_fb         LOC = AD17;
#NET flash_a23           LOC = T21;
#NET sram_flash_addr[22] LOC = U20;
#NET sram_flash_addr[21] LOC = T19;
NET sram_flash_addr[20] LOC = AC5;
NET sram_flash_addr[19] LOC = AB5;
NET sram_flash_addr[18] LOC = AC4;
NET sram_flash_addr[17] LOC = AB4;

NET sram_flash_addr[16] LOC = AB3;
NET sram_flash_addr[15] LOC = AA4;
NET sram_flash_addr[14] LOC = AA3;
NET sram_flash_addr[13] LOC = W5;
NET sram_flash_addr[12] LOC = W6;
NET sram_flash_addr[11] LOC = W3;
NET sram_flash_addr[10] LOC = AF3;
NET sram_flash_addr[9]  LOC = AE3;
NET sram_flash_addr[8]  LOC = AD2;
NET sram_flash_addr[7]  LOC = AD1;
NET sram_flash_addr[6]  LOC = AC2;
NET sram_flash_addr[5]  LOC = AC1;
NET sram_flash_addr[4]  LOC = AB2;
NET sram_flash_addr[3]  LOC = AB1;
NET sram_flash_addr[2]  LOC = AA1;
NET sram_flash_addr[1]  LOC = Y2;
NET sram_flash_addr[0]  LOC = Y1;
#NET sram_flash_data[31] LOC = F14;
#NET sram_flash_data[30] LOC = F13;
#NET sram_flash_data[29] LOC = F12;
#NET sram_flash_data[28] LOC = F11;
#NET sram_flash_data[27] LOC = F16;
#NET sram_flash_data[26] LOC = F15;
#NET sram_flash_data[25] LOC = D14;
#NET sram_flash_data[24] LOC = D13;
#NET sram_flash_data[23] LOC = D15;
#NET sram_flash_data[22] LOC = E14;
#NET sram_flash_data[21] LOC = C11;
#NET sram_flash_data[20] LOC = D11;
#NET sram_flash_data[19] LOC = D16;
#NET sram_flash_data[18] LOC = C16;
#NET sram_flash_data[17] LOC = E13;

#NET sram_flash_data[16] LOC = D12;
#NET sram_flash_data[15] LOC = AA14;
#NET sram_flash_data[14] LOC = AB14;
#NET sram_flash_data[13] LOC = AC12;
#NET sram_flash_data[12] LOC = AC11;
#NET sram_flash_data[11] LOC = AA16;
#NET sram_flash_data[10] LOC = AA15;
#NET sram_flash_data[9]  LOC = AB13;

NET sram_flash_data[15] LOC = AA14;
NET sram_flash_data[14] LOC = AB14;
NET sram_flash_data[13] LOC = AC12;
NET sram_flash_data[12] LOC = AC11;
NET sram_flash_data[11] LOC = AA16;
NET sram_flash_data[10] LOC = AA15;
NET sram_flash_data[9]  LOC = AB13;

NET sram_flash_data[8]  LOC = AA13;
NET sram_flash_data[7]  LOC = AC14;
NET sram_flash_data[6]  LOC = AD14;
NET sram_flash_data[5]  LOC = AA12;
NET sram_flash_data[4]  LOC = AA11;
NET sram_flash_data[3]  LOC = AC16;
NET sram_flash_data[2]  LOC = AC15;
NET sram_flash_data[1]  LOC = AC13;
NET sram_flash_data[0]  LOC = AD13;
NET sram_cen            LOC = V7;
NET sram_flash_oe_n     LOC = AC6;
NET sram_flash_we_n     LOC = AB6;
NET sram_bw[3]          LOC = Y3; #Y4; 
NET sram_bw[2]          LOC = Y4; #Y3;
NET sram_bw[1]          LOC = Y5; #Y6;
NET sram_bw[0]          LOC = Y6; #Y5;
#NET sram_adv_ld_n       LOC = W4;
#NET sram_mode           LOC = V26;

#NET sram_clk_fb        IOSTANDARD = LVCMOS33;

#NET flash_a23          IOSTANDARD = LVDCI_33;
#NET sram_mode          IOSTANDARD = LVDCI_33;

#NET sram_flash_addr[*] IOSTANDARD = LVDCI_33;
#NET sram_flash_addr[*]  SLEW = FAST;
#NET sram_flash_addr[*]  DRIVE = 8;

#NET sram_flash_data[*] IOSTANDARD = LVCMOS33;
#NET sram_flash_data[*] DRIVE = 12;
#NET sram_flash_data[*] SLEW = FAST;
#NET sram_flash_data[*] PULLDOWN;

#NET sram_flash_oe_n    IOSTANDARD = LVDCI_33;
#NET sram_flash_oe_n SLEW = FAST;
#NET sram_flash_oe_n DRIVE = 8;

#NET sram_flash_we_n    IOSTANDARD = LVDCI_33;
#NET sram_flash_we_n SLEW = FAST;
#NET sram_flash_we_n DRIVE = 8;

#NET sram_bw[*]         IOSTANDARD = LVDCI_33;
#NET sram_bw[*] SLEW = FAST;
#NET sram_bw[*] DRIVE = 8;

#NET flash_ce SLEW = FAST;
#NET flash_ce DRIVE = 8;

#NET sram_cen SLEW = FAST;
#NET sram_cen DRIVE = 8;

#NET sram_adv_ld_n      IOSTANDARD = LVDCI_33;
#NET sram_adv_ld_n SLEW = FAST;
#NET sram_adv_ld_n DRIVE = 8;
