NET clk_ TNM_NET = "clk_";
TIMESPEC "TSSYSCLK" = PERIOD "clk_" 9.9 ns HIGH 50 %;

NET clk_ LOC = AE14;
NET clk_ IOSTANDARD = LVCMOS33;

NET e_  LOC = AE13 | IOSTANDARD = LVCMOS33 | TIG; # LCD_E
NET rs_ LOC = AC17 | IOSTANDARD = LVCMOS33 | TIG; # LCD_RS
NET rw_ LOC = AB17 | IOSTANDARD = LVCMOS33 | TIG; # LCD_RW

NET db_[3] LOC = AF12 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB7
NET db_[2] LOC = AE12 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB6
NET db_[1] LOC = AC10 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB5
NET db_[0] LOC = AB10 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB4

NET but_ LOC = B6;  # C Button

NET led_[0]  LOC = G5;  #GPLED0
NET led_[1]  LOC = G6;  #GPLED1
NET led_[2]  LOC = A11; #GPLED2
NET led_[3]  LOC = A12; #GPLED3

# North-East-South-West-Center LEDs
NET led_[4]  LOC = C6;  # C LED
NET led_[5]  LOC = F9;  # W LED
#NET led_[6]  LOC = A5;  # S LED
#NET led_[7]  LOC = E10; # E LED
