# Primary clock
NET "CLK" LOC = "C9" |IOSTANDARD = LVCMOS33 |TNM_NET = TNM_clk ;
TIMESPEC TS_clk = PERIOD "TNM_clk" 20 ns HIGH 50% ;

# VGA Connections
NET "VGA_RED"   LOC = "H14" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "VGA_GREEN" LOC = "H15" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "VGA_BLUE"  LOC = "G15" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "VGA_HSYNC" LOC = "F15" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "VGA_VSYNC" LOC = "F14" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
