NET "fxclk_in" TNM_NET = "fxclk_in";
TIMESPEC "TS_fxclk_in" = PERIOD "fxclk_in" 20.3ns HIGH 50 %;
NET "fxclk_in"  LOC = "L22" | IOSTANDARD = LVCMOS33 ;

NET "select"  LOC = "AB11" | IOSTANDARD = LVCMOS33 ;

# input
NET "write<0>"  LOC = "Y17" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB0
NET "write<1>"  LOC = "V13" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB1
NET "write<2>"  LOC = "W13" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB2
NET "write<3>"  LOC = "AA8" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB3
NET "write<4>"  LOC = "AB8" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB4
NET "write<5>"  LOC = "W6" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB5
NET "write<6>"  LOC = "Y6" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB6
NET "write<7>"  LOC = "Y9" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB7

NET "wr_clk"  LOC = "AA22" | IOSTANDARD = LVCMOS33;       # PA0
NET "wr_start" LOC = "AB17" | IOSTANDARD = LVCMOS33 ;     # PA7

# dcm
NET "dcm_progclk"  LOC = "U15" | IOSTANDARD = LVCMOS33 ;  # PA2
NET "dcm_progdata"  LOC = "AB21" | IOSTANDARD = LVCMOS33 ; # PA4
NET "dcm_progen"  LOC = "Y18" | IOSTANDARD = LVCMOS33 ;   # PA5

#output
NET "read<0>"  LOC = "V21" | IOSTANDARD = LVCMOS33 ;  # PD0
NET "read<1>"  LOC = "V22" | IOSTANDARD = LVCMOS33 ;  # PD1
NET "read<2>"  LOC = "U20" | IOSTANDARD = LVCMOS33 ;  # PD2
NET "read<3>"  LOC = "U22" | IOSTANDARD = LVCMOS33 ;  # PD3
NET "read<4>"  LOC = "R20" | IOSTANDARD = LVCMOS33 ;  # PD4
NET "read<5>"  LOC = "R22" | IOSTANDARD = LVCMOS33 ;  # PD5
NET "read<6>"  LOC = "P18" | IOSTANDARD = LVCMOS33 ;  # PD6
NET "read<7>"  LOC = "P19" | IOSTANDARD = LVCMOS33 ;  # PD7

NET "reset"  LOC = "G20" | IOSTANDARD = LVCMOS33 ;     # PC0
NET "rd_clk"  LOC = "H19" | IOSTANDARD = LVCMOS33 ;    # PC6
NET "pll_stop"  LOC = "H20" | IOSTANDARD = LVCMOS33 ;  # PC5
NET "clk_reset"  LOC = "G19" | IOSTANDARD = LVCMOS33 ; # PC4

# unused
#NET ""  LOC = "AB9" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;  # PC3
#NET ""  LOC = "H18" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;  # PC7

# TIG's
NET "inbuf[*]" TIG;
NET "m/golden_nonce[*]" TIG;
NET "select" TIG;
PIN "select" TIG;

