NET "fxclk_in" TNM_NET = "fxclk_in";
TIMESPEC "TS_fxclk_in" = PERIOD "fxclk_in" 20.3ns HIGH 50 %;
NET "fxclk_in"  LOC = "L22" | IOSTANDARD = LVCMOS33 ;

# input
NET "write<0>"  LOC = "Y17" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB0
NET "write<1>"  LOC = "V13" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB1
NET "write<2>"  LOC = "W13" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB2
NET "write<3>"  LOC = "AA8" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB3
NET "write<4>"  LOC = "AB8" | IOSTANDARD = LVCMOS33 | DRIVE = 12; # PB4
NET "write<5>"  LOC = "W6" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB5
NET "write<6>"  LOC = "Y6" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB6
NET "write<7>"  LOC = "Y9" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB7

NET "wr_clk"  LOC = "AB5" | IOSTANDARD = LVCMOS33;        # PA6
NET "wr_start" LOC = "AB17" | IOSTANDARD = LVCMOS33 ;     # PA7

# dcm
NET "dcm_progclk"  LOC = "U15" | IOSTANDARD = LVCMOS33 ;  # PA2
NET "dcm_progdata"  LOC = "W17" | IOSTANDARD = LVCMOS33 ; # PA4
NET "dcm_progen"  LOC = "Y18" | IOSTANDARD = LVCMOS33 ;   # PA5

#output
NET "read<0>"  LOC = "V21" | IOSTANDARD = LVCMOS33 ;  # PD0
NET "read<1>"  LOC = "V22" | IOSTANDARD = LVCMOS33 ;  # PD1
NET "read<2>"  LOC = "U20" | IOSTANDARD = LVCMOS33 ;  # PD2
NET "read<3>"  LOC = "U22" | IOSTANDARD = LVCMOS33 ;  # PD3
NET "read<4>"  LOC = "R20" | IOSTANDARD = LVCMOS33 ;  # PD4
NET "read<5>"  LOC = "R22" | IOSTANDARD = LVCMOS33 ;  # PD5
NET "read<6>"  LOC = "P18" | IOSTANDARD = LVCMOS33 ;  # PD6
NET "read<7>"  LOC = "P19" | IOSTANDARD = LVCMOS33 ;  # PD7

NET "reset"  LOC = "G20" | IOSTANDARD = LVCMOS33 ;     # PC0
NET "rd_clk"  LOC = "T20" | IOSTANDARD = LVCMOS33 ;    # PC1
NET "pll_stop"  LOC = "Y5" | IOSTANDARD = LVCMOS33 ;   # PC2
NET "clk_reset"  LOC = "G19" | IOSTANDARD = LVCMOS33 ;   # PC4

# unused
#NET ""  LOC = "AB9" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;  # PC3
#NET ""  LOC = "G19" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;  # PC4
#NET ""  LOC = "H20" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;  # PC5
#NET ""  LOC = "H19" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;  # PC6
#NET ""  LOC = "H18" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;  # PC7

# debug
#NET "green16<0>"  LOC = "V20" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<1>"  LOC = "Y22" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<2>"  LOC = "AA22" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<3>"  LOC = "Y21" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<4>"  LOC = "W20" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<5>"  LOC = "AA20" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<6>"  LOC = "V19" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<7>"  LOC = "Y19" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<8>"  LOC = "V18" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<9>"  LOC = "Y15" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<10>"  LOC = "W15" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<11>"  LOC = "AA14" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<12>"  LOC = "AB12" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<13>"  LOC = "AA10" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<14>"  LOC = "T14" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "green16<15>"  LOC = "W12" | IOSTANDARD = LVCMOS33 | DRIVE = 12;

# TIG's
NET "inbuf[*]" TIG;
NET "m/golden_nonce[*]" TIG;

############################################################################
# LEDS 
############################################################################
#NET "LED<0>"  LOC = "R1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "LED<1>"  LOC = "T1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "LED<2>"  LOC = "U1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "LED<3>"  LOC = "V1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "LED<4>"  LOC = "W1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "LED<5>"  LOC = "Y1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "LED<6>"  LOC = "AB2" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "LED<7>"  LOC = "AA2" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
