# 200 MHz external oscillator
NET "ip_sysclk_p" TNM_NET=ip_sysclk;
TIMESPEC TS_ip_sysclk = PERIOD "ip_sysclk" 5 ns HIGH 50%;

NET "ip_sysclk_p"       LOC = "K15"     | IOSTANDARD = "LVDS_25";       # sysclk_p
NET "ip_sysclk_n"       LOC = "K16"     | IOSTANDARD = "LVDS_25";       # sysclk_n
NET "op_usb_1_rx"       LOC = "L12"     | IOSTANDARD = "LVCMOS25";      # usb_1_rx (rx from USB UART viewpoint, tx from FPGA)
NET "iop_i2c_scl"       LOC = "N6"      | IOSTANDARD = "LVCMOS25";      # FMC_LA19_P
NET "iop_i2c_sda"       LOC = "P7"      | IOSTANDARD = "LVCMOS25";      # FMC_LA19_N
NET "op_i2c_scl"        LOC = "G11"     | IOSTANDARD = "LVCMOS25";      # FMC_LA09_P
NET "op_i2c_sda"        LOC = "F10"     | IOSTANDARD = "LVCMOS25";      # FMC_LA09_N
