

NET "DRxPRI" LOC = A2;
NET "DRxSEC" LOC = A3;
NET "DTxPRI" LOC = A4;
NET "DTxSEC" LOC = A5;
NET "RSCLKx" LOC = A6;

# PlanAhead Generated physical constraints 
NET "RFSx" LOC = A7;
NET "TFSx" LOC = A8;
#Created by Constraints Editor (xc3s700an-fgg484-4) - 2015/02/20
NET "rxclk" TNM_NET = rxclk;
TIMESPEC TS_rxclk = PERIOD "rxclk" 20 ns HIGH 50%;
NET "txclk" TNM_NET = txclk;
TIMESPEC TS_txclk = PERIOD "txclk" 20 ns HIGH 50%;
NET "wb_clk_i" TNM_NET = wb_clk_i;
TIMESPEC TS_wb_clk_i = PERIOD "wb_clk_i" 10 ns HIGH 50%;
