
NET "clk" TNM_NET = "TS_CPU_GRP";
TIMESPEC "TS_CPU" = PERIOD "TS_CPU_GRP" 10 ns HIGH 50%;

NET "rtc_clk" TNM_NET = "TS_RTC_GRP";
TIMESPEC "TS_RTC" = PERIOD "TS_RTC_GRP" 8 ns HIGH 50%;

NET "rx_gmii_clk" TNM_NET = "TS_RX_GRP";
TIMESPEC "TS_RX" = PERIOD "TS_RX_GRP" 8 ns HIGH 50%;

NET "tx_gmii_clk" TNM_NET = "TS_TX_GRP";
TIMESPEC "TS_TX" = PERIOD "TS_TX_GRP" 8 ns HIGH 50%;

TIMESPEC TS_FALSE_PATH0 = FROM TS_CPU_GRP TO TS_RTC_GRP 10 ns DATAPATHONLY;
TIMESPEC TS_FALSE_PATH1 = FROM TS_RTC_GRP TO TS_CPU_GRP 8 ns DATAPATHONLY;  

					