<!-- $Id: cpldta_style.css,v 1.1.1.1 2006-10-06 20:09:37 samiam95124 Exp $  -->
<!-- Stylesheet for the CPLD HTML Timing Report                  -->

<!-- style for H1 elements  -->
.cpldta_text_report_header {
	font-style: normal;
	font-weight: bold;
	font-size: 25pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;}
<!-- style for H2 elements  -->
.cpldta_text_section_header {
	font-style: normal;
	font-weight: bold;
	font-size: 15pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;}
<!-- style for H3 elements  -->
.cpldta_text_subsection_header {
	font-style: normal;
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;}

<!-- Following used for the header of the notes and warnings table  -->
.cpldta_warnings_header {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #FFFFCC; }

<!-- style for general text value fields  -->
.cpldta_text_normal {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;}
	
<!-- style for general text label fields  -->
.cpldta_text_normal_bold {
	font-style: normal;
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;}

<!-- Following two styles are used for constraint descriptions  -->
.cpldta_constraint_description_normal {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;}
.cpldta_constraint_description_bold {
	font-style: normal;
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;}

<!-- Style for the name of a constraint that is met  -->
.cpldta_constraint_name {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;}

<!-- Style for the name of a constraint that is not met  -->
.cpldta_constraint_name_error {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	background-color: #FFCCCC; }

<!-- Style for the delay of a constraint that is met  -->
.cpldta_time_value {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;}
	
<!-- Style for the delay of a constraint that is not met  -->
.cpldta_time_value_error {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #FFCCCC; }

<!-- Styles for the header of the delay table for a constraint  -->
.cpldta_delaytable_header {
	font-style: normal;
	font-weight: bold;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #FFFFCC; }
.cpldta_constraint_header {
	font-style: normal;
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	background-color: #FFFFCC; }
.cpldta_time_header {
	font-style: normal;
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #FFFFCC; }
.cpldta_text_caption {
	font-style: normal;
	font-weight: Bold;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;}

<!-- Following styles used for the datasheet section of the report  -->
.cpldta_datasheet_pathname {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;}
.cpldta_datasheet_time_value {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;}




