# !!! Constraint files are application specific !!!
# !!!          This is a template only          !!!

# on-board signals

# CLKOUT/FXCLK 
NET "fxclk_in" TNM_NET = "fxclk_in";
TIMESPEC "ts_fxclk_in" = PERIOD "fxclk_in" 48 MHz HIGH 50 %;
NET "fxclk_in"  LOC = "J16" | IOSTANDARD = LVCMOS33 ;

# IFCLK 
NET "ifclk_in" TNM_NET = "ifclk_in";
TIMESPEC "ts_ifclk_in" = PERIOD "ifclk_in" 48 MHz HIGH 50 %;
NET "ifclk_in"  LOC = "J14" | IOSTANDARD = LVCMOS33 ;

NET "PB<0>"	LOC = "D16" | IOSTANDARD = LVCMOS33 ;		# PB0/FD0
NET "PB<1>"	LOC = "F15" | IOSTANDARD = LVCMOS33 ;		# PB1/FD1
NET "PB<2>"	LOC = "E15" | IOSTANDARD = LVCMOS33 ;		# PB2/FD2
NET "PB<3>"	LOC = "D14" | IOSTANDARD = LVCMOS33 ;		# PB3/FD3
NET "PB<4>"	LOC = "F13" | IOSTANDARD = LVCMOS33 ;		# PB4/FD4
NET "PB<5>"	LOC = "E12" | IOSTANDARD = LVCMOS33 ;		# PB5/FD5
NET "PB<6>"	LOC = "F12" | IOSTANDARD = LVCMOS33 ;		# PB6/FD6
NET "PB<7>"	LOC = "G12" | IOSTANDARD = LVCMOS33 ;		# PB7/FD7

NET "PD<0>"	LOC = "H14" | IOSTANDARD = LVCMOS33 ;		# PD0/FD8
NET "PD<1>"	LOC = "J11" | IOSTANDARD = LVCMOS33 ;		# PD1/FD9
NET "PD<2>"	LOC = "J12" | IOSTANDARD = LVCMOS33 ;		# PD2/FD10
NET "PD<3>"	LOC = "J13" | IOSTANDARD = LVCMOS33 ;		# PD3/FD11
NET "PD<4>"	LOC = "K12" | IOSTANDARD = LVCMOS33 ;		# PD4/FD12
NET "PD<5>"	LOC = "K15" | IOSTANDARD = LVCMOS33 ;		# PD5/FD13
NET "PD<6>"	LOC = "K16" | IOSTANDARD = LVCMOS33 ;		# PD6/FD14
NET "PD<7>"	LOC = "M14" | IOSTANDARD = LVCMOS33 ;		# PD7/FD15

NET "PA<0>"	LOC = "R11" | IOSTANDARD = LVCMOS33 ;		# PA0/INT0#
NET "PA<1>"	LOC = "T10" | IOSTANDARD = LVCMOS33 ;		# PA1/INT1#
NET "PA<2>"	LOC = "H13" | IOSTANDARD = LVCMOS33 ;		# PA2/SLOE
NET "PA<3>"	LOC = "T3" | IOSTANDARD = LVCMOS33 ;		# PA3/WU2
NET "PA<4>"	LOC = "T11" | IOSTANDARD = LVCMOS33 ;		# PA4/FIFOADR0
NET "PA<5>"	LOC = "N11" | IOSTANDARD = LVCMOS33 ;		# PA5/FIFOADR1
NET "PA<6>"	LOC = "T5" | IOSTANDARD = LVCMOS33 ;		# PA6/PKTEND
NET "PA<7>"	LOC = "R3" | IOSTANDARD = LVCMOS33 ;		# PA7/FLAGD/SLCS#

NET "PC<0>"	LOC = "P10" | IOSTANDARD = LVCMOS33 ;		# PC0/GPIFADR0
NET "PC<1>"	LOC = "N12" | IOSTANDARD = LVCMOS33 ;		# PC1/GPIFADR1
NET "PC<2>"	LOC = "P12" | IOSTANDARD = LVCMOS33 ;		# PC2/GPIFADR2
NET "PC<3>"	LOC = "N5" | IOSTANDARD = LVCMOS33 ;		# PC3/GPIFADR3
NET "PC<4>"	LOC = "P5" | IOSTANDARD = LVCMOS33 ;		# PC4/GPIFADR4
NET "PC<5>"	LOC = "L8" | IOSTANDARD = LVCMOS33 ;		# PC5/GPIFADR5
NET "PC<6>"	LOC = "L7" | IOSTANDARD = LVCMOS33 ;		# PC6/GPIFADR6
NET "PC<7>"	LOC = "R5" | IOSTANDARD = LVCMOS33 ;		# PC7/GPIFADR7

NET "SLRD"	LOC = "H16" | IOSTANDARD = LVCMOS33 ;		# RDY0/SLRD
NET "SLWR"	LOC = "H15" | IOSTANDARD = LVCMOS33 ;		# RDY1/SLWR

NET "FLAGA"	LOC = "G14" | IOSTANDARD = LVCMOS33 ;		# CTL0/FLAGA
NET "FLAGB"	LOC = "G16" | IOSTANDARD = LVCMOS33 ;		# CTL1/FLAGB
NET "FLAGC"	LOC = "H11" | IOSTANDARD = LVCMOS33 ;		# CTL2/FLAGC
NET "CTL3"	LOC = "G11" | IOSTANDARD = LVCMOS33 ;		# CTL3

NET "SCL"	LOC = "F15" | IOSTANDARD = LVCMOS33 ;		# SCL
NET "SDA"	LOC = "E16" | IOSTANDARD = LVCMOS33 ;		# SDA

NET "RxD1"	LOC = "E13" | IOSTANDARD = LVCMOS33 ;		# RxD1
NET "TxD1"	LOC = "F14" | IOSTANDARD = LVCMOS33 ;		# TxD1

# external I/O

NET "IO_A<0>"	LOC = "B16" | IOSTANDARD = LVCMOS33 ;		# A6 / B16~IO_L29N_A22_M1A14_1
NET "IO_A<1>"	LOC = "B15" | IOSTANDARD = LVCMOS33 ;		# A7 / B15~IO_L29P_A23_M1A13_1
NET "IO_A<2>"	LOC = "A14" | IOSTANDARD = LVCMOS33 ;		# A8 / A14~IO_L65N_SCP2_0
NET "IO_A<3>"	LOC = "A13" | IOSTANDARD = LVCMOS33 ;		# A9 / A13~IO_L63N_SCP6_0
NET "IO_A<4>"	LOC = "A12" | IOSTANDARD = LVCMOS33 ;		# A10 / A12~IO_L62N_VREF_0
NET "IO_A<5>"	LOC = "D12" | IOSTANDARD = LVCMOS33 ;		# A11 / D12~IO_L66N_SCP0_0
NET "IO_A<6>"	LOC = "D11" | IOSTANDARD = LVCMOS33 ;		# A12 / D11~IO_L66P_SCP1_0
NET "IO_A<7>"	LOC = "A11" | IOSTANDARD = LVCMOS33 ;		# A13 / A11~IO_L39N_0
NET "IO_A<8>"	LOC = "A10" | IOSTANDARD = LVCMOS33 ;		# A14 / A10~IO_L35N_GCLK16_0
NET "IO_A<9>"	LOC = "C10" | IOSTANDARD = LVCMOS33 ;		# A18 / C10~IO_L37N_GCLK12_0
NET "IO_A<10>"	LOC = "D9" | IOSTANDARD = LVCMOS33 ;		# A19 / D9~IO_L40N_0
NET "IO_A<11>"	LOC = "A9" | IOSTANDARD = LVCMOS33 ;		# A20 / A9~IO_L34N_GCLK18_0
NET "IO_A<12>"	LOC = "C8" | IOSTANDARD = LVCMOS33 ;		# A21 / C8~IO_L38N_VREF_0
NET "IO_A<13>"	LOC = "A8" | IOSTANDARD = LVCMOS33 ;		# A22 / A8~IO_L33N_0
NET "IO_A<14>"	LOC = "E8" | IOSTANDARD = LVCMOS33 ;		# A23 / E8~IO_L36N_GCLK14_0
NET "IO_A<15>"	LOC = "E7" | IOSTANDARD = LVCMOS33 ;		# A24 / E7~IO_L36P_GCLK15_0
NET "IO_A<16>"	LOC = "A7" | IOSTANDARD = LVCMOS33 ;		# A25 / A7~IO_L6N_0
NET "IO_A<17>"	LOC = "C6" | IOSTANDARD = LVCMOS33 ;		# A26 / C6~IO_L7N_0
NET "IO_A<18>"	LOC = "A6" | IOSTANDARD = LVCMOS33 ;		# A27 / A6~IO_L4N_0
NET "IO_A<19>"	LOC = "A5" | IOSTANDARD = LVCMOS33 ;		# A28 / A5~IO_L2N_0
NET "IO_A<20>"	LOC = "C5" | IOSTANDARD = LVCMOS33 ;		# A29 / C5~IO_L3N_0
NET "IO_A<21>"	LOC = "A4" | IOSTANDARD = LVCMOS33 ;		# A30 / A4~IO_L1N_VREF_0

NET "IO_B<0>"	LOC = "C16" | IOSTANDARD = LVCMOS33 ;		# B6 / C16~IO_L33N_A14_M1A4_1
NET "IO_B<1>"	LOC = "C15" | IOSTANDARD = LVCMOS33 ;		# B7 / C15~IO_L33P_A15_M1A10_1
NET "IO_B<2>"	LOC = "B14" | IOSTANDARD = LVCMOS33 ;		# B8 / B14~IO_L65P_SCP3_0
NET "IO_B<3>"	LOC = "C13" | IOSTANDARD = LVCMOS33 ;		# B9 / C13~IO_L63P_SCP7_0
NET "IO_B<4>"	LOC = "B12" | IOSTANDARD = LVCMOS33 ;		# B10 / B12~IO_L62P_0
NET "IO_B<5>"	LOC = "E11" | IOSTANDARD = LVCMOS33 ;		# B11 / E11~IO_L64N_SCP4_0
NET "IO_B<6>"	LOC = "F10" | IOSTANDARD = LVCMOS33 ;		# B12 / F10~IO_L64P_SCP5_0
NET "IO_B<7>"	LOC = "C11" | IOSTANDARD = LVCMOS33 ;		# B13 / C11~IO_L39P_0
NET "IO_B<8>"	LOC = "B10" | IOSTANDARD = LVCMOS33 ;		# B14 / B10~IO_L35P_GCLK17_0
NET "IO_B<9>"	LOC = "E10" | IOSTANDARD = LVCMOS33 ;		# B18 / E10~IO_L37P_GCLK13_0
NET "IO_B<10>"	LOC = "F9" | IOSTANDARD = LVCMOS33 ;		# B19 / F9~IO_L40P_0
NET "IO_B<11>"	LOC = "C9" | IOSTANDARD = LVCMOS33 ;		# B20 / C9~IO_L34P_GCLK19_0
NET "IO_B<12>"	LOC = "D8" | IOSTANDARD = LVCMOS33 ;		# B21 / D8~IO_L38P_0
NET "IO_B<13>"	LOC = "B8" | IOSTANDARD = LVCMOS33 ;		# B22 / B8~IO_L33P_0
NET "IO_B<14>"	LOC = "F7" | IOSTANDARD = LVCMOS33 ;		# B23 / F7~IO_L5P_0
NET "IO_B<15>"	LOC = "E6" | IOSTANDARD = LVCMOS33 ;		# B24 / E6~IO_L5N_0
NET "IO_B<16>"	LOC = "C7" | IOSTANDARD = LVCMOS33 ;		# B25 / C7~IO_L6P_0
NET "IO_B<17>"	LOC = "D6" | IOSTANDARD = LVCMOS33 ;		# B26 / D6~IO_L7P_0
NET "IO_B<18>"	LOC = "B6" | IOSTANDARD = LVCMOS33 ;		# B27 / B6~IO_L4P_0
NET "IO_B<19>"	LOC = "B5" | IOSTANDARD = LVCMOS33 ;		# B28 / B5~IO_L2P_0
NET "IO_B<20>"	LOC = "D5" | IOSTANDARD = LVCMOS33 ;		# B29 / D5~IO_L3P_0
NET "IO_B<21>"	LOC = "C4" | IOSTANDARD = LVCMOS33 ;		# B30 / C4~IO_L1P_HSWAPEN_0

NET "IO_C<0>"	LOC = "R15" | IOSTANDARD = LVCMOS33 ;		# C6 / R15~IO_L49P_M1DQ10_1
NET "IO_C<1>"	LOC = "N16" | IOSTANDARD = LVCMOS33 ;		# C7 / N16~IO_L45N_A0_M1LDQSN_1
NET "IO_C<2>"	LOC = "N14" | IOSTANDARD = LVCMOS33 ;		# C8 / N14~IO_L45P_A1_M1LDQS_1
NET "IO_C<3>"	LOC = "T15" | IOSTANDARD = LVCMOS33 ;		# C9 / T15~IO_L50N_M1UDQSN_1
NET "IO_C<4>"	LOC = "R14" | IOSTANDARD = LVCMOS33 ;		# C10 / R14~IO_L50P_M1UDQS_1
NET "IO_C<5>"	LOC = "R12" | IOSTANDARD = LVCMOS33 ;		# C11 / R12~IO_L52P_M1DQ14_1
NET "IO_C<6>"	LOC = "L16" | IOSTANDARD = LVCMOS33 ;		# C12 / L16~IO_L47N_LDC_M1DQ1_1
NET "IO_C<7>"	LOC = "L14" | IOSTANDARD = LVCMOS33 ;		# C13 / L14~IO_L47P_FWE_B_M1DQ0_1
NET "IO_C<8>"	LOC = "L13" | IOSTANDARD = LVCMOS33 ;		# C14 / L13~IO_L53N_VREF_1
NET "IO_C<9>"	LOC = "L12" | IOSTANDARD = LVCMOS33 ;		# C15 / L12~IO_L53P_1
NET "IO_C<10>"	LOC = "M11" | IOSTANDARD = LVCMOS33 ;		# C19 / M11~IO_L2N_CMPMOSI_2
NET "IO_C<11>"	LOC = "K11" | IOSTANDARD = LVCMOS33 ;		# C20 / K11~IO_L42N_GCLK6_TRDY1_M1LDM_1
NET "IO_C<12>"	LOC = "L10" | IOSTANDARD = LVCMOS33 ;		# C21 / L10~IO_L16P_2
NET "IO_C<13>"	LOC = "P9" | IOSTANDARD = LVCMOS33 ;		# C22 / P9~IO_L14N_D12_2
NET "IO_C<14>"	LOC = "N9" | IOSTANDARD = LVCMOS33 ;		# C23 / N9~IO_L14P_D11_2
NET "IO_C<15>"	LOC = "M9" | IOSTANDARD = LVCMOS33 ;		# C24 / M9~IO_L29P_GCLK3_2
NET "IO_C<16>"	LOC = "N8" | IOSTANDARD = LVCMOS33 ;		# C25 / N8~IO_L29N_GCLK2_2
NET "IO_C<17>"	LOC = "R7" | IOSTANDARD = LVCMOS33 ;		# C26 / R7~IO_L32P_GCLK29_2
NET "IO_C<18>"	LOC = "M7" | IOSTANDARD = LVCMOS33 ;		# C27 / M7~IO_L31N_GCLK30_D15_2
NET "IO_C<19>"	LOC = "P6" | IOSTANDARD = LVCMOS33 ;		# C28 / P6~IO_L47P_2
NET "IO_C<20>"	LOC = "M6" | IOSTANDARD = LVCMOS33 ;		# C29 / M6~IO_L64P_D8_2
NET "IO_C<21>"	LOC = "P4" | IOSTANDARD = LVCMOS33 ;		# C30 / P4~IO_L63P_2

NET "IO_D<0>"	LOC = "R16" | IOSTANDARD = LVCMOS33 ;		# D6 / R16~IO_L49N_M1DQ11_1
NET "IO_D<1>"	LOC = "P16" | IOSTANDARD = LVCMOS33 ;		# D7 / P16~IO_L48N_M1DQ9_1
NET "IO_D<2>"	LOC = "P15" | IOSTANDARD = LVCMOS33 ;		# D8 / P15~IO_L48P_HDC_M1DQ8_1
NET "IO_D<3>"	LOC = "T14" | IOSTANDARD = LVCMOS33 ;		# D9 / T14~IO_L51P_M1DQ12_1
NET "IO_D<4>"	LOC = "T13" | IOSTANDARD = LVCMOS33 ;		# D10 / T13~IO_L51N_M1DQ13_1
NET "IO_D<5>"	LOC = "T12" | IOSTANDARD = LVCMOS33 ;		# D11 / T12~IO_L52N_M1DQ15_1
NET "IO_D<6>"	LOC = "M16" | IOSTANDARD = LVCMOS33 ;		# D12 / M16~IO_L46N_FOE_B_M1DQ3_1
NET "IO_D<7>"	LOC = "M15" | IOSTANDARD = LVCMOS33 ;		# D13 / M15~IO_L46P_FCS_B_M1DQ2_1
NET "IO_D<8>"	LOC = "K14" | IOSTANDARD = LVCMOS33 ;		# D14 / K14~IO_L41N_GCLK8_M1CASN_1
NET "IO_D<9>"	LOC = "M13" | IOSTANDARD = LVCMOS33 ;		# D15 / M13~IO_L74P_AWAKE_1
NET "IO_D<10>"	LOC = "M12" | IOSTANDARD = LVCMOS33 ;		# D19 / M12~IO_L2P_CMPCLK_2
NET "IO_D<11>"	LOC = "P11" | IOSTANDARD = LVCMOS33 ;		# D20 / P11~IO_L13N_D10_2
NET "IO_D<12>"	LOC = "M10" | IOSTANDARD = LVCMOS33 ;		# D21 / M10~IO_L16N_VREF_2
NET "IO_D<13>"	LOC = "T9" | IOSTANDARD = LVCMOS33 ;		# D22 / T9~IO_L23N_2
NET "IO_D<14>"	LOC = "R9" | IOSTANDARD = LVCMOS33 ;		# D23 / R9~IO_L23P_2
NET "IO_D<15>"	LOC = "T8" | IOSTANDARD = LVCMOS33 ;		# D24 / T8~IO_L30N_GCLK0_USERCCLK_2
NET "IO_D<16>"	LOC = "P8" | IOSTANDARD = LVCMOS33 ;		# D25 / P8~IO_L30P_GCLK1_D13_2
NET "IO_D<17>"	LOC = "T7" | IOSTANDARD = LVCMOS33 ;		# D26 / T7~IO_L32N_GCLK28_2
NET "IO_D<18>"	LOC = "P7" | IOSTANDARD = LVCMOS33 ;		# D27 / P7~IO_L31P_GCLK31_D14_2
NET "IO_D<19>"	LOC = "T6" | IOSTANDARD = LVCMOS33 ;		# D28 / T6~IO_L47N_2
NET "IO_D<20>"	LOC = "N6" | IOSTANDARD = LVCMOS33 ;		# D29 / N6~IO_L64N_D9_2
NET "IO_D<21>"	LOC = "T4" | IOSTANDARD = LVCMOS33 ;		# D30 / T4~IO_L63N_2
