# !!! Constraint files are application specific !!!
# !!!          This is a template only          !!!

# on-board signals

# CLKOUT/FXCLK 
NET "fxclk_in" TNM_NET = "fxclk_in";
TIMESPEC "ts_fxclk_in" = PERIOD "fxclk_in" 48 MHz HIGH 50 %;
NET "fxclk_in"  LOC = "Y18" | IOSTANDARD = LVCMOS33 ;

# IFCLK 
NET "ifclk_in" TNM_NET = "ifclk_in";
TIMESPEC "ts_ifclk_in" = PERIOD "ifclk_in" 48 MHz HIGH 50 %;
NET "ifclk_in"  LOC = "J19" | IOSTANDARD = LVCMOS33 ;

NET "PB<0>"	LOC = "P20" | IOSTANDARD = LVCMOS33 ;		# PB0/FD0
NET "PB<1>"	LOC = "N17" | IOSTANDARD = LVCMOS33 ;		# PB1/FD1
NET "PB<2>"	LOC = "P21" | IOSTANDARD = LVCMOS33 ;		# PB2/FD2
NET "PB<3>"	LOC = "R21" | IOSTANDARD = LVCMOS33 ;		# PB3/FD3
NET "PB<4>"	LOC = "T21" | IOSTANDARD = LVCMOS33 ;		# PB4/FD4
NET "PB<5>"	LOC = "U21" | IOSTANDARD = LVCMOS33 ;		# PB5/FD5
NET "PB<6>"	LOC = "P19" | IOSTANDARD = LVCMOS33 ;		# PB6/FD6
NET "PB<7>"	LOC = "R19" | IOSTANDARD = LVCMOS33 ;		# PB7/FD7

NET "PD<0>"	LOC = "T20" | IOSTANDARD = LVCMOS33 ;		# PD0/FD8
NET "PD<1>"	LOC = "U20" | IOSTANDARD = LVCMOS33 ;		# PD1/FD9
NET "PD<2>"	LOC = "U18" | IOSTANDARD = LVCMOS33 ;		# PD2/FD10
NET "PD<3>"	LOC = "U17" | IOSTANDARD = LVCMOS33 ;		# PD3/FD11
NET "PD<4>"	LOC = "W19" | IOSTANDARD = LVCMOS33 ;		# PD4/FD12
NET "PD<5>"	LOC = "W20" | IOSTANDARD = LVCMOS33 ;		# PD5/FD13
NET "PD<6>"	LOC = "W21" | IOSTANDARD = LVCMOS33 ;		# PD6/FD14
NET "PD<7>"	LOC = "W22" | IOSTANDARD = LVCMOS33 ;		# PD7/FD15

NET "PA<0>"	LOC = "M22" | IOSTANDARD = LVCMOS33 ;		# PA0/INT0#
NET "PA<1>"	LOC = "M21" | IOSTANDARD = LVCMOS33 ;		# PA1/INT1#
NET "PA<2>"	LOC = "M20" | IOSTANDARD = LVCMOS33 ;		# PA2/SLOE
NET "PA<3>"	LOC = "M18" | IOSTANDARD = LVCMOS33 ;		# PA3/WU2
NET "PA<4>"	LOC = "N19" | IOSTANDARD = LVCMOS33 ;		# PA4/FIFOADR0
NET "PA<5>"	LOC = "N18" | IOSTANDARD = LVCMOS33 ;		# PA5/FIFOADR1
NET "PA<6>"	LOC = "P17" | IOSTANDARD = LVCMOS33 ;		# PA6/PKTEND
NET "PA<7>"	LOC = "R18" | IOSTANDARD = LVCMOS33 ;		# PA7/FLAGD/SLCS#

NET "PC<0>"	LOC = "L20" | IOSTANDARD = LVCMOS33 ;		# PC0/GPIFADR0
NET "PC<1>"	LOC = "L19" | IOSTANDARD = LVCMOS33 ;		# PC1/GPIFADR1
NET "PC<2>"	LOC = "L18" | IOSTANDARD = LVCMOS33 ;		# PC2/GPIFADR2
NET "PC<3>"	LOC = "L16" | IOSTANDARD = LVCMOS33 ;		# PC3/GPIFADR3
NET "FLASH_DO"	LOC = "R22" | IOSTANDARD = LVCMOS33 ;		# PC4/GPIFADR4
NET "FLASH_CS"	LOC = "T19" | IOSTANDARD = LVCMOS33 ;		# PC5/GPIFADR5
NET "FLASH_CLK"	LOC = "L12" | IOSTANDARD = LVCMOS33 ;		# PC6/GPIFADR6
NET "FLASH_DI"	LOC = "P22" | IOSTANDARD = LVCMOS33 ;		# PC7/GPIFADR7

NET "PE<0>"	LOC = "G11" | IOSTANDARD = LVCMOS33 ;		# PE0/T0OUT
NET "PE<1>"	LOC = "U12" | IOSTANDARD = LVCMOS33 ;		# PE1/T1OUT
NET "PE<2>"	LOC = "V17" | IOSTANDARD = LVCMOS33 ;		# PE2/T2OUT
NET "PE<5>"	LOC = "AA19" | IOSTANDARD = LVCMOS33 ;		# PE5/INT6
NET "PE<6>"	LOC = "AB20" | IOSTANDARD = LVCMOS33 ;		# PE6/T2EX

NET "SLRD"	LOC = "AB22" | IOSTANDARD = LVCMOS33 ;		# RDY0/SLRD
NET "SLWR"	LOC = "AB21" | IOSTANDARD = LVCMOS33 ;		# RDY1/SLWR
NET "RDY2"	LOC = "AB18" | IOSTANDARD = LVCMOS33 ;		# RDY2
NET "RDY3"	LOC = "AA21" | IOSTANDARD = LVCMOS33 ;		# RDY3
NET "RDY4"	LOC = "AA20" | IOSTANDARD = LVCMOS33 ;		# RDY4
NET "RDY5"	LOC = "AA18" | IOSTANDARD = LVCMOS33 ;		# RDY5

NET "FLAGA"	LOC = "K19" | IOSTANDARD = LVCMOS33 ;		# CTL0/FLAGA
NET "FLAGB"	LOC = "K18" | IOSTANDARD = LVCMOS33 ;		# CTL1/FLAGB
NET "FLAGC"	LOC = "L21" | IOSTANDARD = LVCMOS33 ;		# CTL2/FLAGC
NET "CTL3"	LOC = "K22" | IOSTANDARD = LVCMOS33 ;		# CTL3
NET "CTL4"	LOC = "K21" | IOSTANDARD = LVCMOS33 ;		# CTL4

NET "INT4"	LOC = "G13" | IOSTANDARD = LVCMOS33 ;		# INT4
NET "INT5_N"	LOC = "V18" | IOSTANDARD = LVCMOS33 ;		# INT5#
NET "T0"	LOC = "H22" | IOSTANDARD = LVCMOS33 ;		# T0

NET "SCL"	LOC = "H19" | IOSTANDARD = LVCMOS33 ;		# SCL
NET "SDA"	LOC = "H20" | IOSTANDARD = LVCMOS33 ;		# SDA

NET "RxD0"	LOC = "J16" | IOSTANDARD = LVCMOS33 ;		# RxD0
NET "TxD0"	LOC = "H15" | IOSTANDARD = LVCMOS33 ;		# TxD0

# external I/O

NET "IO_A<0>"	LOC = "E22" | IOSTANDARD = LVCMOS33 ;		# A3 / E22~IO_L22P_T3_16
NET "IO_A<1>"	LOC = "C22" | IOSTANDARD = LVCMOS33 ;		# A4 / C22~IO_L20P_T3_16
NET "IO_A<2>"	LOC = "E21" | IOSTANDARD = LVCMOS33 ;		# A5 / E21~IO_L23P_T3_16
NET "IO_A<3>"	LOC = "B21" | IOSTANDARD = LVCMOS33 ;		# A6 / B21~IO_L21P_T3_DQS_16
NET "IO_A<4>"	LOC = "D20" | IOSTANDARD = LVCMOS33 ;		# A7 / D20~IO_L19P_T3_16
NET "IO_A<5>"	LOC = "B20" | IOSTANDARD = LVCMOS33 ;		# A8 / B20~IO_L16P_T2_16
NET "IO_A<6>"	LOC = "C19" | IOSTANDARD = LVCMOS33 ;		# A9 / C19~IO_L13N_T2_MRCC_16
NET "IO_A<7>"	LOC = "C18" | IOSTANDARD = LVCMOS33 ;		# A10 / C18~IO_L13P_T2_MRCC_16
NET "IO_A<8>"	LOC = "B18" | IOSTANDARD = LVCMOS33 ;		# A11 / B18~IO_L11N_T1_SRCC_16
NET "IO_A<9>"	LOC = "B17" | IOSTANDARD = LVCMOS33 ;		# A12 / B17~IO_L11P_T1_SRCC_16
NET "IO_A<10>"	LOC = "B16" | IOSTANDARD = LVCMOS33 ;		# A13 / B16~IO_L7N_T1_16
NET "IO_A<11>"	LOC = "A16" | IOSTANDARD = LVCMOS33 ;		# A14 / A16~IO_L9N_T1_DQS_16
NET "IO_A<12>"	LOC = "A14" | IOSTANDARD = LVCMOS33 ;		# A18 / A14~IO_L10N_T1_16
NET "IO_A<13>"	LOC = "D15" | IOSTANDARD = LVCMOS33 ;		# A19 / D15~IO_L6N_T0_VREF_16
NET "IO_A<14>"	LOC = "B13" | IOSTANDARD = LVCMOS33 ;		# A20 / B13~IO_L8N_T1_16
NET "IO_A<15>"	LOC = "N3" | IOSTANDARD = LVCMOS33 ;		# A21 / N3~IO_L19N_T3_VREF_35
NET "IO_A<16>"	LOC = "H4" | IOSTANDARD = LVCMOS33 ;		# A22 / H4~IO_L12P_T1_MRCC_35
NET "IO_A<17>"	LOC = "G4" | IOSTANDARD = LVCMOS33 ;		# A23 / G4~IO_L12N_T1_MRCC_35
NET "IO_A<18>"	LOC = "E3" | IOSTANDARD = LVCMOS33 ;		# A24 / E3~IO_L6N_T0_VREF_35
NET "IO_A<19>"	LOC = "B2" | IOSTANDARD = LVCMOS33 ;		# A25 / B2~IO_L2N_T0_AD12N_35
NET "IO_A<20>"	LOC = "D2" | IOSTANDARD = LVCMOS33 ;		# A26 / D2~IO_L4N_T0_35
NET "IO_A<21>"	LOC = "G2" | IOSTANDARD = LVCMOS33 ;		# A27 / G2~IO_L8N_T1_AD14N_35
NET "IO_A<22>"	LOC = "A1" | IOSTANDARD = LVCMOS33 ;		# A28 / A1~IO_L1N_T0_AD4N_35
NET "IO_A<23>"	LOC = "D1" | IOSTANDARD = LVCMOS33 ;		# A29 / D1~IO_L3N_T0_DQS_AD5N_35
NET "IO_A<24>"	LOC = "G1" | IOSTANDARD = LVCMOS33 ;		# A30 / G1~IO_L5P_T0_AD13P_35

NET "IO_B<0>"	LOC = "D22" | IOSTANDARD = LVCMOS33 ;		# B3 / D22~IO_L22N_T3_16
NET "IO_B<1>"	LOC = "B22" | IOSTANDARD = LVCMOS33 ;		# B4 / B22~IO_L20N_T3_16
NET "IO_B<2>"	LOC = "D21" | IOSTANDARD = LVCMOS33 ;		# B5 / D21~IO_L23N_T3_16
NET "IO_B<3>"	LOC = "A21" | IOSTANDARD = LVCMOS33 ;		# B6 / A21~IO_L21N_T3_DQS_16
NET "IO_B<4>"	LOC = "C20" | IOSTANDARD = LVCMOS33 ;		# B7 / C20~IO_L19N_T3_VREF_16
NET "IO_B<5>"	LOC = "A20" | IOSTANDARD = LVCMOS33 ;		# B8 / A20~IO_L16N_T2_16
NET "IO_B<6>"	LOC = "A19" | IOSTANDARD = LVCMOS33 ;		# B9 / A19~IO_L17N_T2_16
NET "IO_B<7>"	LOC = "A18" | IOSTANDARD = LVCMOS33 ;		# B10 / A18~IO_L17P_T2_16
NET "IO_B<8>"	LOC = "D17" | IOSTANDARD = LVCMOS33 ;		# B11 / D17~IO_L12P_T1_MRCC_16
NET "IO_B<9>"	LOC = "C17" | IOSTANDARD = LVCMOS33 ;		# B12 / C17~IO_L12N_T1_MRCC_16
NET "IO_B<10>"	LOC = "B15" | IOSTANDARD = LVCMOS33 ;		# B13 / B15~IO_L7P_T1_16
NET "IO_B<11>"	LOC = "A15" | IOSTANDARD = LVCMOS33 ;		# B14 / A15~IO_L9P_T1_DQS_16
NET "IO_B<12>"	LOC = "A13" | IOSTANDARD = LVCMOS33 ;		# B18 / A13~IO_L10P_T1_16
NET "IO_B<13>"	LOC = "D14" | IOSTANDARD = LVCMOS33 ;		# B19 / D14~IO_L6P_T0_16
NET "IO_B<14>"	LOC = "C13" | IOSTANDARD = LVCMOS33 ;		# B20 / C13~IO_L8P_T1_16
NET "IO_B<15>"	LOC = "H3" | IOSTANDARD = LVCMOS33 ;		# B21 / H3~IO_L11P_T1_SRCC_35
NET "IO_B<16>"	LOC = "G3" | IOSTANDARD = LVCMOS33 ;		# B22 / G3~IO_L11N_T1_SRCC_35
NET "IO_B<17>"	LOC = "F4" | IOSTANDARD = LVCMOS33 ;		# B23 / F4~IO_0_35
NET "IO_B<18>"	LOC = "F3" | IOSTANDARD = LVCMOS33 ;		# B24 / F3~IO_L6P_T0_35
NET "IO_B<19>"	LOC = "C2" | IOSTANDARD = LVCMOS33 ;		# B25 / C2~IO_L2P_T0_AD12P_35
NET "IO_B<20>"	LOC = "E2" | IOSTANDARD = LVCMOS33 ;		# B26 / E2~IO_L4P_T0_35
NET "IO_B<21>"	LOC = "H2" | IOSTANDARD = LVCMOS33 ;		# B27 / H2~IO_L8P_T1_AD14P_35
NET "IO_B<22>"	LOC = "B1" | IOSTANDARD = LVCMOS33 ;		# B28 / B1~IO_L1P_T0_AD4P_35
NET "IO_B<23>"	LOC = "E1" | IOSTANDARD = LVCMOS33 ;		# B29 / E1~IO_L3P_T0_DQS_AD5P_35
NET "IO_B<24>"	LOC = "F1" | IOSTANDARD = LVCMOS33 ;		# B30 / F1~IO_L5N_T0_AD13N_35

NET "IO_C<0>"	LOC = "AB17" | IOSTANDARD = LVCMOS33 ;		# C3 / AB17~IO_L2N_T0_13
NET "IO_C<1>"	LOC = "Y16" | IOSTANDARD = LVCMOS33 ;		# C4 / Y16~IO_L1P_T0_13
NET "IO_C<2>"	LOC = "AA15" | IOSTANDARD = LVCMOS33 ;		# C5 / AA15~IO_L4P_T0_13
NET "IO_C<3>"	LOC = "Y13" | IOSTANDARD = LVCMOS33 ;		# C6 / Y13~IO_L5P_T0_13
NET "IO_C<4>"	LOC = "W14" | IOSTANDARD = LVCMOS33 ;		# C7 / W14~IO_L6P_T0_13
NET "IO_C<5>"	LOC = "AA13" | IOSTANDARD = LVCMOS33 ;		# C8 / AA13~IO_L3P_T0_DQS_13
NET "IO_C<6>"	LOC = "AB12" | IOSTANDARD = LVCMOS33 ;		# C9 / AB12~IO_L7N_T1_13
NET "IO_C<7>"	LOC = "W12" | IOSTANDARD = LVCMOS33 ;		# C10 / W12~IO_L12N_T1_MRCC_13
NET "IO_C<8>"	LOC = "AA11" | IOSTANDARD = LVCMOS33 ;		# C11 / AA11~IO_L9N_T1_DQS_13
NET "IO_C<9>"	LOC = "AA9" | IOSTANDARD = LVCMOS33 ;		# C12 / AA9~IO_L8P_T1_13
NET "IO_C<10>"	LOC = "W9" | IOSTANDARD = LVCMOS33 ;		# C13 / W9~IO_L24P_T3_34
NET "IO_C<11>"	LOC = "AA8" | IOSTANDARD = LVCMOS33 ;		# C14 / AA8~IO_L22P_T3_34
NET "IO_C<12>"	LOC = "V7" | IOSTANDARD = LVCMOS33 ;		# C15 / V7~IO_L19P_T3_34
NET "IO_C<13>"	LOC = "AB6" | IOSTANDARD = LVCMOS33 ;		# C19 / AB6~IO_L20N_T3_34
NET "IO_C<14>"	LOC = "AA5" | IOSTANDARD = LVCMOS33 ;		# C20 / AA5~IO_L10P_T1_34
NET "IO_C<15>"	LOC = "Y4" | IOSTANDARD = LVCMOS33 ;		# C21 / Y4~IO_L11P_T1_SRCC_34
NET "IO_C<16>"	LOC = "V4" | IOSTANDARD = LVCMOS33 ;		# C22 / V4~IO_L12P_T1_MRCC_34
NET "IO_C<17>"	LOC = "Y3" | IOSTANDARD = LVCMOS33 ;		# C23 / Y3~IO_L9P_T1_DQS_34
NET "IO_C<18>"	LOC = "U3" | IOSTANDARD = LVCMOS33 ;		# C24 / U3~IO_L6P_T0_34
NET "IO_C<19>"	LOC = "AB3" | IOSTANDARD = LVCMOS33 ;		# C25 / AB3~IO_L8P_T1_34
NET "IO_C<20>"	LOC = "W2" | IOSTANDARD = LVCMOS33 ;		# C26 / W2~IO_L4P_T0_34
NET "IO_C<21>"	LOC = "U2" | IOSTANDARD = LVCMOS33 ;		# C27 / U2~IO_L2P_T0_34
NET "IO_C<22>"	LOC = "AA1" | IOSTANDARD = LVCMOS33 ;		# C28 / AA1~IO_L7P_T1_34
NET "IO_C<23>"	LOC = "W1" | IOSTANDARD = LVCMOS33 ;		# C29 / W1~IO_L5P_T0_34
NET "IO_C<24>"	LOC = "T1" | IOSTANDARD = LVCMOS33 ;		# C30 / T1~IO_L1P_T0_34

NET "IO_D<0>"	LOC = "AB16" | IOSTANDARD = LVCMOS33 ;		# D3 / AB16~IO_L2P_T0_13
NET "IO_D<1>"	LOC = "AA16" | IOSTANDARD = LVCMOS33 ;		# D4 / AA16~IO_L1N_T0_13
NET "IO_D<2>"	LOC = "AB15" | IOSTANDARD = LVCMOS33 ;		# D5 / AB15~IO_L4N_T0_13
NET "IO_D<3>"	LOC = "AA14" | IOSTANDARD = LVCMOS33 ;		# D6 / AA14~IO_L5N_T0_13
NET "IO_D<4>"	LOC = "Y14" | IOSTANDARD = LVCMOS33 ;		# D7 / Y14~IO_L6N_T0_VREF_13
NET "IO_D<5>"	LOC = "AB13" | IOSTANDARD = LVCMOS33 ;		# D8 / AB13~IO_L3N_T0_DQS_13
NET "IO_D<6>"	LOC = "AB11" | IOSTANDARD = LVCMOS33 ;		# D9 / AB11~IO_L7P_T1_13
NET "IO_D<7>"	LOC = "W11" | IOSTANDARD = LVCMOS33 ;		# D10 / W11~IO_L12P_T1_MRCC_13
NET "IO_D<8>"	LOC = "AA10" | IOSTANDARD = LVCMOS33 ;		# D11 / AA10~IO_L9P_T1_DQS_13
NET "IO_D<9>"	LOC = "AB10" | IOSTANDARD = LVCMOS33 ;		# D12 / AB10~IO_L8N_T1_13
NET "IO_D<10>"	LOC = "Y9" | IOSTANDARD = LVCMOS33 ;		# D13 / Y9~IO_L24N_T3_34
NET "IO_D<11>"	LOC = "AB8" | IOSTANDARD = LVCMOS33 ;		# D14 / AB8~IO_L22N_T3_34
NET "IO_D<12>"	LOC = "W7" | IOSTANDARD = LVCMOS33 ;		# D15 / W7~IO_L19N_T3_VREF_34
NET "IO_D<13>"	LOC = "AB7" | IOSTANDARD = LVCMOS33 ;		# D19 / AB7~IO_L20P_T3_34
NET "IO_D<14>"	LOC = "AB5" | IOSTANDARD = LVCMOS33 ;		# D20 / AB5~IO_L10N_T1_34
NET "IO_D<15>"	LOC = "AA4" | IOSTANDARD = LVCMOS33 ;		# D21 / AA4~IO_L11N_T1_SRCC_34
NET "IO_D<16>"	LOC = "W4" | IOSTANDARD = LVCMOS33 ;		# D22 / W4~IO_L12N_T1_MRCC_34
NET "IO_D<17>"	LOC = "AA3" | IOSTANDARD = LVCMOS33 ;		# D23 / AA3~IO_L9N_T1_DQS_34
NET "IO_D<18>"	LOC = "V3" | IOSTANDARD = LVCMOS33 ;		# D24 / V3~IO_L6N_T0_VREF_34
NET "IO_D<19>"	LOC = "AB2" | IOSTANDARD = LVCMOS33 ;		# D25 / AB2~IO_L8N_T1_34
NET "IO_D<20>"	LOC = "Y2" | IOSTANDARD = LVCMOS33 ;		# D26 / Y2~IO_L4N_T0_34
NET "IO_D<21>"	LOC = "V2" | IOSTANDARD = LVCMOS33 ;		# D27 / V2~IO_L2N_T0_34
NET "IO_D<22>"	LOC = "AB1" | IOSTANDARD = LVCMOS33 ;		# D28 / AB1~IO_L7N_T1_34
NET "IO_D<23>"	LOC = "Y1" | IOSTANDARD = LVCMOS33 ;		# D29 / Y1~IO_L5N_T0_34
NET "IO_D<24>"	LOC = "U1" | IOSTANDARD = LVCMOS33 ;		# D30 / U1~IO_L1N_T0_34
