# !!! Constraint files are application specific !!!
# !!!          This is a template only          !!!

# on-board signals

# CLKOUT/FXCLK 
NET "fxclk_in" TNM_NET = "fxclk_in";
TIMESPEC "ts_fxclk_in" = PERIOD "fxclk_in" 48 MHz HIGH 50 %;
NET "fxclk_in"  LOC = "T7" | IOSTANDARD = LVCMOS33 ;

# IFCLK 
NET "ifclk_in" TNM_NET = "ifclk_in";
TIMESPEC "ts_ifclk_in" = PERIOD "ifclk_in" 48 MHz HIGH 50 %;
NET "ifclk_in"  LOC = "T8" | IOSTANDARD = LVCMOS33 ;

NET "PB<0>"	LOC = "T9" | IOSTANDARD = LVCMOS33 ;		# PB0/FD0
NET "PB<1>"	LOC = "R9" | IOSTANDARD = LVCMOS33 ;		# PB1/FD1
NET "PB<2>"	LOC = "P9" | IOSTANDARD = LVCMOS33 ;		# PB2/FD2
NET "PB<3>"	LOC = "N9" | IOSTANDARD = LVCMOS33 ;		# PB3/FD3
NET "PB<4>"	LOC = "M10" | IOSTANDARD = LVCMOS33 ;		# PB4/FD4
NET "PB<5>"	LOC = "P11" | IOSTANDARD = LVCMOS33 ;		# PB5/FD5
NET "PB<6>"	LOC = "M11" | IOSTANDARD = LVCMOS33 ;		# PB6/FD6
NET "PB<7>"	LOC = "M12" | IOSTANDARD = LVCMOS33 ;		# PB7/FD7

NET "PD<0>"	LOC = "P8" | IOSTANDARD = LVCMOS33 ;		# PD0/FD8
NET "PD<1>"	LOC = "M7" | IOSTANDARD = LVCMOS33 ;		# PD1/FD9
NET "PD<2>"	LOC = "P7" | IOSTANDARD = LVCMOS33 ;		# PD2/FD10
NET "PD<3>"	LOC = "R7" | IOSTANDARD = LVCMOS33 ;		# PD3/FD11
NET "PD<4>"	LOC = "M6" | IOSTANDARD = LVCMOS33 ;		# PD4/FD12
NET "PD<5>"	LOC = "N6" | IOSTANDARD = LVCMOS33 ;		# PD5/FD13
NET "PD<6>"	LOC = "P6" | IOSTANDARD = LVCMOS33 ;		# PD6/FD14
NET "PD<7>"	LOC = "T6" | IOSTANDARD = LVCMOS33 ;		# PD7/FD15

NET "PA<0>"	LOC = "R11" | IOSTANDARD = LVCMOS33 ;		# PA0/INT0#
NET "PA<1>"	LOC = "T10" | IOSTANDARD = LVCMOS33 ;		# PA1/INT1#
NET "PA<2>"	LOC = "B10" | IOSTANDARD = LVCMOS33 ;		# PA2/SLOE
NET "PA<3>"	LOC = "T3" | IOSTANDARD = LVCMOS33 ;		# PA3/WU2
NET "PA<4>"	LOC = "T11" | IOSTANDARD = LVCMOS33 ;		# PA4/FIFOADR0
NET "PA<5>"	LOC = "N11" | IOSTANDARD = LVCMOS33 ;		# PA5/FIFOADR1
NET "PA<6>"	LOC = "T5" | IOSTANDARD = LVCMOS33 ;		# PA6/PKTEND
NET "PA<7>"	LOC = "R3" | IOSTANDARD = LVCMOS33 ;		# PA7/FLAGD/SLCS#

NET "PC<0>"	LOC = "P10" | IOSTANDARD = LVCMOS33 ;		# PC0/GPIFADR0
NET "PC<1>"	LOC = "N12" | IOSTANDARD = LVCMOS33 ;		# PC1/GPIFADR1
NET "PC<2>"	LOC = "P12" | IOSTANDARD = LVCMOS33 ;		# PC2/GPIFADR2
NET "PC<3>"	LOC = "N5" | IOSTANDARD = LVCMOS33 ;		# PC3/GPIFADR3
NET "PC<4>"	LOC = "P5" | IOSTANDARD = LVCMOS33 ;		# PC4/GPIFADR4
NET "PC<5>"	LOC = "L8" | IOSTANDARD = LVCMOS33 ;		# PC5/GPIFADR5
NET "PC<6>"	LOC = "L7" | IOSTANDARD = LVCMOS33 ;		# PC6/GPIFADR6
NET "PC<7>"	LOC = "R5" | IOSTANDARD = LVCMOS33 ;		# PC7/GPIFADR7

NET "PE<0>"	LOC = "A8" | IOSTANDARD = LVCMOS33 ;		# PE0/T0OUT
NET "PE<1>"	LOC = "B8" | IOSTANDARD = LVCMOS33 ;		# PE1/T1OUT
NET "PE<2>"	LOC = "A7" | IOSTANDARD = LVCMOS33 ;		# PE2/T2OUT
NET "PE<3>"	LOC = "A6" | IOSTANDARD = LVCMOS33 ;		# PE3/RXD0OUT
NET "PE<4>"	LOC = "B6" | IOSTANDARD = LVCMOS33 ;		# PE4/RXD1OUT
NET "PE<5>"	LOC = "A5" | IOSTANDARD = LVCMOS33 ;		# PE5/INT6

NET "SLRD"	LOC = "T4" | IOSTANDARD = LVCMOS33 ;		# RDY0/SLRD
NET "SLWR"	LOC = "P4" | IOSTANDARD = LVCMOS33 ;		# RDY1/SLWR
NET "RDY2"	LOC = "A4" | IOSTANDARD = LVCMOS33 ;		# RDY2

NET "FLAGA"	LOC = "L10" | IOSTANDARD = LVCMOS33 ;		# CTL0/FLAGA
NET "FLAGB"	LOC = "M9" | IOSTANDARD = LVCMOS33 ;		# CTL1/FLAGB
NET "FLAGC"	LOC = "N8" | IOSTANDARD = LVCMOS33 ;		# CTL2/FLAGC
NET "CTL3"	LOC = "A10" | IOSTANDARD = LVCMOS33 ;		# CTL3

NET "INT4"	LOC = "A11" | IOSTANDARD = LVCMOS33 ;		# INT4
NET "INT5_N"	LOC = "A9" | IOSTANDARD = LVCMOS33 ;		# INT5#
NET "T0"	LOC = "B12" | IOSTANDARD = LVCMOS33 ;		# T0

NET "SCL"	LOC = "A12" | IOSTANDARD = LVCMOS33 ;		# SCL
NET "SDA"	LOC = "A13" | IOSTANDARD = LVCMOS33 ;		# SDA

NET "RxD0"	LOC = "A14" | IOSTANDARD = LVCMOS33 ;		# RxD0
NET "TxD0"	LOC = "B14" | IOSTANDARD = LVCMOS33 ;		# TxD0

# external I/O

NET "IO_A<0>"	LOC = "T12" | IOSTANDARD = LVCMOS33 ;		# A3 / T12~IO_L52N_M1DQ15_1
NET "IO_A<1>"	LOC = "T14" | IOSTANDARD = LVCMOS33 ;		# A4 / T14~IO_L51P_M1DQ12_1
NET "IO_A<2>"	LOC = "T15" | IOSTANDARD = LVCMOS33 ;		# A5 / T15~IO_L50N_M1UDQSN_1
NET "IO_A<3>"	LOC = "R16" | IOSTANDARD = LVCMOS33 ;		# A6 / R16~IO_L49N_M1DQ11_1
NET "IO_A<4>"	LOC = "P16" | IOSTANDARD = LVCMOS33 ;		# A7 / P16~IO_L48N_M1DQ9_1
NET "IO_A<5>"	LOC = "N16" | IOSTANDARD = LVCMOS33 ;		# A8 / N16~IO_L45N_A0_M1LDQSN_1
NET "IO_A<6>"	LOC = "M16" | IOSTANDARD = LVCMOS33 ;		# A9 / M16~IO_L46N_FOE_B_M1DQ3_1
NET "IO_A<7>"	LOC = "L13" | IOSTANDARD = LVCMOS33 ;		# A10 / L13~IO_L53N_VREF_1
NET "IO_A<8>"	LOC = "L16" | IOSTANDARD = LVCMOS33 ;		# A11 / L16~IO_L47N_LDC_M1DQ1_1
NET "IO_A<9>"	LOC = "M13" | IOSTANDARD = LVCMOS33 ;		# A12 / M13~IO_L74P_AWAKE_1
NET "IO_A<10>"	LOC = "K16" | IOSTANDARD = LVCMOS33 ;		# A13 / K16~IO_L44N_A2_M1DQ7_1
NET "IO_A<11>"	LOC = "K14" | IOSTANDARD = LVCMOS33 ;		# A14 / K14~IO_L41N_GCLK8_M1CASN_1
NET "IO_A<12>"	LOC = "J16" | IOSTANDARD = LVCMOS33 ;		# A18 / J16~IO_L43N_GCLK4_M1DQ5_1
NET "IO_A<13>"	LOC = "H16" | IOSTANDARD = LVCMOS33 ;		# A19 / H16~IO_L37N_A6_M1A1_1
NET "IO_A<14>"	LOC = "J12" | IOSTANDARD = LVCMOS33 ;		# A20 / J12~IO_L40N_GCLK10_M1A6_1
NET "IO_A<15>"	LOC = "H14" | IOSTANDARD = LVCMOS33 ;		# A21 / H14~IO_L39N_M1ODT_1
NET "IO_A<16>"	LOC = "G16" | IOSTANDARD = LVCMOS33 ;		# A22 / G16~IO_L36N_A8_M1BA1_1
NET "IO_A<17>"	LOC = "F12" | IOSTANDARD = LVCMOS33 ;		# A23 / F12~IO_L30P_A21_M1RESET_1
NET "IO_A<18>"	LOC = "F16" | IOSTANDARD = LVCMOS33 ;		# A24 / F16~IO_L35N_A10_M1A2_1
NET "IO_A<19>"	LOC = "F14" | IOSTANDARD = LVCMOS33 ;		# A25 / F14~IO_L32N_A16_M1A9_1
NET "IO_A<20>"	LOC = "E16" | IOSTANDARD = LVCMOS33 ;		# A26 / E16~IO_L34N_A12_M1BA2_1
NET "IO_A<21>"	LOC = "E13" | IOSTANDARD = LVCMOS33 ;		# A27 / E13~IO_L1P_A25_1
NET "IO_A<22>"	LOC = "D16" | IOSTANDARD = LVCMOS33 ;		# A28 / D16~IO_L31N_A18_M1A12_1
NET "IO_A<23>"	LOC = "C16" | IOSTANDARD = LVCMOS33 ;		# A29 / C16~IO_L33N_A14_M1A4_1
NET "IO_A<24>"	LOC = "B16" | IOSTANDARD = LVCMOS33 ;		# A30 / B16~IO_L29N_A22_M1A14_1

NET "IO_B<0>"	LOC = "R12" | IOSTANDARD = LVCMOS33 ;		# B3 / R12~IO_L52P_M1DQ14_1
NET "IO_B<1>"	LOC = "T13" | IOSTANDARD = LVCMOS33 ;		# B4 / T13~IO_L51N_M1DQ13_1
NET "IO_B<2>"	LOC = "R14" | IOSTANDARD = LVCMOS33 ;		# B5 / R14~IO_L50P_M1UDQS_1
NET "IO_B<3>"	LOC = "R15" | IOSTANDARD = LVCMOS33 ;		# B6 / R15~IO_L49P_M1DQ10_1
NET "IO_B<4>"	LOC = "P15" | IOSTANDARD = LVCMOS33 ;		# B7 / P15~IO_L48P_HDC_M1DQ8_1
NET "IO_B<5>"	LOC = "N14" | IOSTANDARD = LVCMOS33 ;		# B8 / N14~IO_L45P_A1_M1LDQS_1
NET "IO_B<6>"	LOC = "M15" | IOSTANDARD = LVCMOS33 ;		# B9 / M15~IO_L46P_FCS_B_M1DQ2_1
NET "IO_B<7>"	LOC = "L12" | IOSTANDARD = LVCMOS33 ;		# B10 / L12~IO_L53P_1
NET "IO_B<8>"	LOC = "L14" | IOSTANDARD = LVCMOS33 ;		# B11 / L14~IO_L47P_FWE_B_M1DQ0_1
NET "IO_B<9>"	LOC = "K12" | IOSTANDARD = LVCMOS33 ;		# B12 / K12~IO_L42P_GCLK7_M1UDM_1
NET "IO_B<10>"	LOC = "K15" | IOSTANDARD = LVCMOS33 ;		# B13 / K15~IO_L44P_A3_M1DQ6_1
NET "IO_B<11>"	LOC = "J13" | IOSTANDARD = LVCMOS33 ;		# B14 / J13~IO_L41P_GCLK9_IRDY1_M1RASN_1
NET "IO_B<12>"	LOC = "J14" | IOSTANDARD = LVCMOS33 ;		# B18 / J14~IO_L43P_GCLK5_M1DQ4_1
NET "IO_B<13>"	LOC = "H15" | IOSTANDARD = LVCMOS33 ;		# B19 / H15~IO_L37P_A7_M1A0_1
NET "IO_B<14>"	LOC = "G12" | IOSTANDARD = LVCMOS33 ;		# B20 / G12~IO_L38P_A5_M1CLK_1
NET "IO_B<15>"	LOC = "H13" | IOSTANDARD = LVCMOS33 ;		# B21 / H13~IO_L39P_M1A3_1
NET "IO_B<16>"	LOC = "G14" | IOSTANDARD = LVCMOS33 ;		# B22 / G14~IO_L36P_A9_M1BA0_1
NET "IO_B<17>"	LOC = "G11" | IOSTANDARD = LVCMOS33 ;		# B23 / G11~IO_L30N_A20_M1A11_1
NET "IO_B<18>"	LOC = "F15" | IOSTANDARD = LVCMOS33 ;		# B24 / F15~IO_L35P_A11_M1A7_1
NET "IO_B<19>"	LOC = "F13" | IOSTANDARD = LVCMOS33 ;		# B25 / F13~IO_L32P_A17_M1A8_1
NET "IO_B<20>"	LOC = "E15" | IOSTANDARD = LVCMOS33 ;		# B26 / E15~IO_L34P_A13_M1WE_1
NET "IO_B<21>"	LOC = "E12" | IOSTANDARD = LVCMOS33 ;		# B27 / E12~IO_L1N_A24_VREF_1
NET "IO_B<22>"	LOC = "D14" | IOSTANDARD = LVCMOS33 ;		# B28 / D14~IO_L31P_A19_M1CKE_1
NET "IO_B<23>"	LOC = "C15" | IOSTANDARD = LVCMOS33 ;		# B29 / C15~IO_L33P_A15_M1A10_1
NET "IO_B<24>"	LOC = "B15" | IOSTANDARD = LVCMOS33 ;		# B30 / B15~IO_L29P_A23_M1A13_1

NET "IO_C<0>"	LOC = "R2" | IOSTANDARD = LVCMOS33 ;		# C3 / R2~IO_L32P_M3DQ14_3
NET "IO_C<1>"	LOC = "P2" | IOSTANDARD = LVCMOS33 ;		# C4 / P2~IO_L33P_M3DQ12_3
NET "IO_C<2>"	LOC = "N3" | IOSTANDARD = LVCMOS33 ;		# C5 / N3~IO_L34P_M3UDQS_3
NET "IO_C<3>"	LOC = "M5" | IOSTANDARD = LVCMOS33 ;		# C6 / M5~IO_L2P_3
NET "IO_C<4>"	LOC = "M4" | IOSTANDARD = LVCMOS33 ;		# C7 / M4~IO_L1P_3
NET "IO_C<5>"	LOC = "M2" | IOSTANDARD = LVCMOS33 ;		# C8 / M2~IO_L35P_M3DQ10_3
NET "IO_C<6>"	LOC = "L5" | IOSTANDARD = LVCMOS33 ;		# C9 / L5~IO_L45N_M3ODT_3
NET "IO_C<7>"	LOC = "L3" | IOSTANDARD = LVCMOS33 ;		# C10 / L3~IO_L36P_M3DQ8_3
NET "IO_C<8>"	LOC = "K2" | IOSTANDARD = LVCMOS33 ;		# C11 / K2~IO_L37P_M3DQ0_3
NET "IO_C<9>"	LOC = "J4" | IOSTANDARD = LVCMOS33 ;		# C12 / J4~IO_L42N_GCLK24_M3LDM_3
NET "IO_C<10>"	LOC = "J3" | IOSTANDARD = LVCMOS33 ;		# C13 / J3~IO_L38P_M3DQ2_3
NET "IO_C<11>"	LOC = "H5" | IOSTANDARD = LVCMOS33 ;		# C14 / H5~IO_L43N_GCLK22_IRDY2_M3CASN_3
NET "IO_C<12>"	LOC = "H4" | IOSTANDARD = LVCMOS33 ;		# C15 / H4~IO_L44P_GCLK21_M3A5_3
NET "IO_C<13>"	LOC = "H2" | IOSTANDARD = LVCMOS33 ;		# C19 / H2~IO_L39P_M3LDQS_3
NET "IO_C<14>"	LOC = "G3" | IOSTANDARD = LVCMOS33 ;		# C20 / G3~IO_L40P_M3DQ6_3
NET "IO_C<15>"	LOC = "F5" | IOSTANDARD = LVCMOS33 ;		# C21 / F5~IO_L55N_M3A14_3
NET "IO_C<16>"	LOC = "F2" | IOSTANDARD = LVCMOS33 ;		# C22 / F2~IO_L41P_GCLK27_M3DQ4_3
NET "IO_C<17>"	LOC = "F4" | IOSTANDARD = LVCMOS33 ;		# C23 / F4~IO_L53P_M3CKE_3
NET "IO_C<18>"	LOC = "E2" | IOSTANDARD = LVCMOS33 ;		# C24 / E2~IO_L46P_M3CLK_3
NET "IO_C<19>"	LOC = "E4" | IOSTANDARD = LVCMOS33 ;		# C25 / E4~IO_L54P_M3RESET_3
NET "IO_C<20>"	LOC = "D3" | IOSTANDARD = LVCMOS33 ;		# C26 / D3~IO_L49P_M3A7_3
NET "IO_C<21>"	LOC = "C3" | IOSTANDARD = LVCMOS33 ;		# C27 / C3~IO_L48P_M3BA0_3
NET "IO_C<22>"	LOC = "C1" | IOSTANDARD = LVCMOS33 ;		# C28 / C1~IO_L50P_M3WE_3
NET "IO_C<23>"	LOC = "B3" | IOSTANDARD = LVCMOS33 ;		# C29 / B3~IO_L83P_3
NET "IO_C<24>"	LOC = "A3" | IOSTANDARD = LVCMOS33 ;		# C30 / A3~IO_L83N_VREF_3

NET "IO_D<0>"	LOC = "R1" | IOSTANDARD = LVCMOS33 ;		# D3 / R1~IO_L32N_M3DQ15_3
NET "IO_D<1>"	LOC = "P1" | IOSTANDARD = LVCMOS33 ;		# D4 / P1~IO_L33N_M3DQ13_3
NET "IO_D<2>"	LOC = "N1" | IOSTANDARD = LVCMOS33 ;		# D5 / N1~IO_L34N_M3UDQSN_3
NET "IO_D<3>"	LOC = "N4" | IOSTANDARD = LVCMOS33 ;		# D6 / N4~IO_L2N_3
NET "IO_D<4>"	LOC = "M3" | IOSTANDARD = LVCMOS33 ;		# D7 / M3~IO_L1N_VREF_3
NET "IO_D<5>"	LOC = "M1" | IOSTANDARD = LVCMOS33 ;		# D8 / M1~IO_L35N_M3DQ11_3
NET "IO_D<6>"	LOC = "L4" | IOSTANDARD = LVCMOS33 ;		# D9 / L4~IO_L45P_M3A3_3
NET "IO_D<7>"	LOC = "L1" | IOSTANDARD = LVCMOS33 ;		# D10 / L1~IO_L36N_M3DQ9_3
NET "IO_D<8>"	LOC = "K1" | IOSTANDARD = LVCMOS33 ;		# D11 / K1~IO_L37N_M3DQ1_3
NET "IO_D<9>"	LOC = "K3" | IOSTANDARD = LVCMOS33 ;		# D12 / K3~IO_L42P_GCLK25_TRDY2_M3UDM_3
NET "IO_D<10>"	LOC = "J1" | IOSTANDARD = LVCMOS33 ;		# D13 / J1~IO_L38N_M3DQ3_3
NET "IO_D<11>"	LOC = "K5" | IOSTANDARD = LVCMOS33 ;		# D14 / K5~IO_L47P_M3A0_3
NET "IO_D<12>"	LOC = "H3" | IOSTANDARD = LVCMOS33 ;		# D15 / H3~IO_L44N_GCLK20_M3A6_3
NET "IO_D<13>"	LOC = "H1" | IOSTANDARD = LVCMOS33 ;		# D19 / H1~IO_L39N_M3LDQSN_3
NET "IO_D<14>"	LOC = "G1" | IOSTANDARD = LVCMOS33 ;		# D20 / G1~IO_L40N_M3DQ7_3
NET "IO_D<15>"	LOC = "G5" | IOSTANDARD = LVCMOS33 ;		# D21 / G5~IO_L51N_M3A4_3
NET "IO_D<16>"	LOC = "F1" | IOSTANDARD = LVCMOS33 ;		# D22 / F1~IO_L41N_GCLK26_M3DQ5_3
NET "IO_D<17>"	LOC = "F3" | IOSTANDARD = LVCMOS33 ;		# D23 / F3~IO_L53N_M3A12_3
NET "IO_D<18>"	LOC = "E1" | IOSTANDARD = LVCMOS33 ;		# D24 / E1~IO_L46N_M3CLKN_3
NET "IO_D<19>"	LOC = "E3" | IOSTANDARD = LVCMOS33 ;		# D25 / E3~IO_L54N_M3A11_3
NET "IO_D<20>"	LOC = "D1" | IOSTANDARD = LVCMOS33 ;		# D26 / D1~IO_L49N_M3A2_3
NET "IO_D<21>"	LOC = "C2" | IOSTANDARD = LVCMOS33 ;		# D27 / C2~IO_L48N_M3BA1_3
NET "IO_D<22>"	LOC = "B1" | IOSTANDARD = LVCMOS33 ;		# D28 / B1~IO_L50N_M3BA2_3
NET "IO_D<23>"	LOC = "B2" | IOSTANDARD = LVCMOS33 ;		# D29 / B2~IO_L52P_M3A8_3
NET "IO_D<24>"	LOC = "A2" | IOSTANDARD = LVCMOS33 ;		# D30 / A2~IO_L52N_M3A9_3
