SCHEMATIC START ;
// created by map version D.19 on Thu Jan 09 22:23:48 2003 
TIMEGRP "WB_CLK_I" = BEL "ReadA_reg/I$1" BEL "LoadA_reg/I$1" BEL "TxData_reg<7>"
 BEL "TxData_reg<6>" BEL "TxData_reg<5>" BEL "TxData_reg<4>" BEL "TxData_reg<3>"
 BEL "TxData_reg<2>" BEL "TxData_reg<1>" BEL "TxData_reg<0>" ;
TS_WB_CLK_I = PERIOD TIMEGRP "WB_CLK_I"  100 nS   HIGH 50.000 % ;
SCHEMATIC END ;
