table {
    border: none;
}

table.ttop {
    border: none;
    width: 100%;
}
th {
    background-color: #e0e0e0;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    text-align: left;
}

th.tpre {
    background-color: #e0e0f0;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    text-align: left;
    width: 33%;
}

th.ttop {
    background-color: #e0e0f0;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    text-align: center;
    width: 34%;
}

th.tnxt {
    background-color: #e0e0f0;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    width: 33%;
    text-align: right;
}

td {
    background-color: #e0e0e0;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
}

pre.cmd {
    width: 60em;
    font-weight: bold;
    color: blue;
    background-color: #e0e0e0;
    padding-left: 1em;
    margin-left: 2em;
    border: ridge black;
    border-width: 4px;
}

pre.vhdl {
    width: 60em;
    font-weight: bold;
    color: #e00080;
    background-color: #e0e0e0;
    padding-left: 1em;
    margin-left: 2em;
    border: ridge black;
    border-width: 4px;
}

pre.filename {
    width: 60em;
    font-weight: bold;
    color: black;
    background-color: #e0e0e0;
    padding-left: 0;
    margin-left: 0;
    border: none;
}

p.toc {
    text-align: center;
}

// example styles (not used, remove when finished.
/*
 *  * Style sheet for the HTML 4.0 specification
 *   * $Id: default.css,v 1.13 1999/03/08 17:25:02 ijacobs Exp $
 *    */

div.example {
    width: 100%;
    color: black;
}
div.dtd-example {
    width: 100%;
    color: black;
}
tt.example {
    color: maroon;
    margin-left: 1em;
}
div.dtd-fragment {
    width: 100%;
    border: none;
    background-color: #eee;
}
pre.dtd-fragment {
    margin-left: 0;
}
pre.dtd {
    color: black;
    margin-left: 0;
}
div.illegal-example {
    width: 100%;
    color: red;
    border: solid red;
}
div.illegal-example p {
    color: black;
}
div.deprecated-example {
    width: 100%;
    color: red;
    border: solid rgb(255,165,0); /* orange */
}
div.deprecated-example p {
    color: black;
}
div.note {
    color: green;
    margin-left: 1em;
}
p.note {
    color: green;
    margin-left: 1em;
}
ul.toc {
    list-style-type: none;
}

a.normref { 
    color : red;
}   

a.informref {
    color : green;
}   

DIV.subtoc {padding: 1em; border: solid thin; margin: 1em 0;
    background: #ddd}


