*.bgn
*.bit
*.bld
*.drc
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.syr
*.unroutes
*.ut
*.xpi
*.xrpt
*.xst
*.xwbt
*_pad.csv
*_pad.txt
*_summary.xml
*_usage.xml
*webtalk*
_impact.*
_ngo
_xmsgs
log
par_usage_statistics.html
xlnx_auto_*_xdb
xst
