## $Id: atlys_pins_fx2.ucf 471 2013-01-05 19:46:38Z mueller $
##
## Revision History: 
## Date         Rev Version  Comment
## 2013-01-05   471   1.0    Initial version 
##
## Cypress EZ-USB FX2 Interface -- in Bank 0 ---------------------------------
##
##
NET "I_FX2_IFCLK" LOC = "c10"    | IOSTANDARD=LVCMOS33;
## 
NET "IO_FX2_DATA<0>" LOC = "a2"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<1>" LOC = "d6"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<2>" LOC = "c6"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<3>" LOC = "b3"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<4>" LOC = "a3"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<5>" LOC = "b4"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<6>" LOC = "a4"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<7>" LOC = "c5"  | IOSTANDARD=LVCMOS33;
NET "IO_FX2_DATA<*>" DRIVE=12 | SLEW=FAST | KEEPER;
##
NET "O_FX2_SLWR_N" LOC = "e13"   | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
NET "O_FX2_SLRD_N" LOC = "f13"   | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
NET "O_FX2_SLOE_N" LOC = "a15"   | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
##
NET "O_FX2_PKTEND_N" LOC = "c4"  | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
##
NET "O_FX2_FIFO<0>" LOC = "a14"  | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
NET "O_FX2_FIFO<1>" LOC = "b14"  | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
##
## assume that PA.7 is used as FLAGD (and not as SLCS#)
NET "I_FX2_FLAG<0>" LOC = "b9"   | IOSTANDARD=LVCMOS33;   ## flag a (program)
NET "I_FX2_FLAG<1>" LOC = "a9"   | IOSTANDARD=LVCMOS33;   ## flag b (full)
NET "I_FX2_FLAG<2>" LOC = "c15"  | IOSTANDARD=LVCMOS33;   ## flag c (empty)
NET "I_FX2_FLAG<3>" LOC = "b2"   | IOSTANDARD=LVCMOS33;   ## flag d (slcs)
##
