## $Id: atlys_pins_pmod.ucf 403 2011-08-06 17:36:22Z mueller $
##
## Revision History: 
## Date         Rev Version  Comment
## 2011-08-06   403   1.0    Initial version 
##
## Pmod connectors -----------------------------------------------------------
##
##   front view (towards PCB edge):
##
##         +-------------------------+
##         | VCC GND P-4 P-3 P-2 P-1 |
##         | VCC GND P10 P-9 P-8 P-7 |
##        =============================
##             < HDMI connector>
##
## Pmod A (top: 0-3; bot: 4-7; all 8 shared with HDMI Type D connector...)
NET "IO_PMODA<0>"    LOC = "t3"  | IOSTANDARD=LVCMOS33;
NET "IO_PMODA<1>"    LOC = "r3"  | IOSTANDARD=LVCMOS33;
NET "IO_PMODA<2>"    LOC = "p6"  | IOSTANDARD=LVCMOS33;
NET "IO_PMODA<3>"    LOC = "n5"  | IOSTANDARD=LVCMOS33;
NET "IO_PMODA<4>"    LOC = "v9"  | IOSTANDARD=LVCMOS33;
NET "IO_PMODA<5>"    LOC = "t9"  | IOSTANDARD=LVCMOS33;
NET "IO_PMODA<6>"    LOC = "v4"  | IOSTANDARD=LVCMOS33;
NET "IO_PMODA<7>"    LOC = "t4"  | IOSTANDARD=LVCMOS33;
