## $Id: atlys_pins_pma0_rs232.ucf 403 2011-08-06 17:36:22Z mueller $
##
## Revision History: 
## Date         Rev Version  Comment
## 2011-08-06   403   1.0    Initial version 
##
## Pmod connector A top / usage RS232 for FTDI USB serport -------------------
##
##   front view (towards PCB edge):
##
##           P-6                 P-1
##           |                   |
##         +-------------------------+
##         | VCC GND TXD RXD CTS RTS |
##         | VCC GND ... ... ... ... |
##        =============================
##             < HDMI connector>
##
##
NET "O_FUSP_RTS_N" LOC = "t3"   | IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
NET "I_FUSP_CTS_N" LOC = "r3"   | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET "I_FUSP_RXD"   LOC = "p6"   | IOSTANDARD=LVCMOS33 | PULLUP;
NET "O_FUSP_TXD"   LOC = "n5"   | IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
