## $Id: atlys_time_fx2_ic.ucf 537 2013-10-06 09:06:23Z mueller $
##
## Revision History: 
## Date         Rev Version  Comment
## 2013-10-05   537   1.1    add VALID for hold time check
## 2013-01-05   471   1.0    Initial version (copied from nexys3)
##
## timing rules for a 30 MHz internal clock design:
##   Period:   30 MHz
##   clk->out: longest setup time in FX2 is t_SRD (clk->SLRD) of 18.7 ns
##               clk->out < 33.3-18.7 = 14.6 ns
##               --> use 10 ns
##

NET "I_FX2_IFCLK" TNM_NET = "I_FX2_IFCLK";
TIMESPEC "TS_I_FX2_IFCLK" = PERIOD "I_FX2_IFCLK" 33.34 ns HIGH 50 %;
OFFSET =  IN  2 ns VALID 33 ns BEFORE "I_FX2_IFCLK";
OFFSET = OUT 10 ns VALID 33 ns  AFTER "I_FX2_IFCLK";
