NET clk_ LOC = AE14;
NET clk_ IOSTANDARD = LVCMOS33;

NET led_[0]  LOC = G5;  #GPLED0
NET led_[1]  LOC = G6;  #GPLED1
NET led_[2]  LOC = A11; #GPLED2
NET led_[3]  LOC = A12; #GPLED3

# North-East-South-West-Center LEDs
NET led_[4]  LOC = C6;  # C LED
NET led_[5]  LOC = F9;  # W LED
NET led_[6]  LOC = A5;  # S LED
NET led_[7]  LOC = E10; # E LED
NET led_[8]  LOC = E2;  # N LED

#Keyboard
NET ps2_clk_  LOC = D2;
NET ps2_clk_  SLEW = SLOW;
NET ps2_clk_  DRIVE = 2;
NET ps2_clk_  TIG;
NET ps2_data_ LOC = G9;
NET ps2_data_ SLEW = SLOW;
NET ps2_data_ DRIVE = 2;
NET ps2_data_ TIG;
