Net Reset    LOC=N4  |  IOSTANDARD=LVCMOS18;
Net SysClk   LOC=L15 |  IOSTANDARD=LVCMOS33;

# SPI Port
Net spi_miso LOC=U16 | IOSTANDARD=LVCMOS33;
Net spi_mosi LOC=U15 | IOSTANDARD=LVCMOS33;
Net spi_clk  LOC=R10 | IOSTANDARD=LVCMOS33;
Net spi_ss   LOC=M11 | IOSTANDARD=LVCMOS33;

# LEDs
Net leds<0>  LOC=U18  | IOSTANDARD=LVCMOS33;
Net leds<1>  LOC=M14  | IOSTANDARD=LVCMOS33;
Net leds<2>  LOC=N14  | IOSTANDARD=LVCMOS33;
Net leds<3>  LOC=L14  | IOSTANDARD=LVCMOS33;
Net leds<4>  LOC=M13  | IOSTANDARD=LVCMOS33;
Net leds<5>  LOC=D4   | IOSTANDARD=LVCMOS33;
Net leds<6>  LOC=P16  | IOSTANDARD=LVCMOS33;
Net leds<7>  LOC=N12  | IOSTANDARD=LVCMOS33;
