#
# uTosNet_spi Example
#
# uTosNet_spi_xc3s50an.ucf
# File created by:
#	Simon Falsig
#	University of Southern Denmark
#	Copyright 2010
#
# This file is part of the uTosNet_spi Example
#
#	The uTosNet_spi Example is free software: you can redistribute it 
#	and/or modify it under the terms of the GNU Lesser General Public License as
#	published by the Free Software Foundation, either version 3 of the License,
#	or (at your option) any later version.
#
#	The uTosNet_spi Example is distributed in the hope that it will be
#	useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser
#	General Public License for more details.
#
#	You should have received a copy of the GNU Lesser General Public License
#	along with the uTosNet_spi Example. If not, see
#	<http://www.gnu.org/licenses/>.
#



NET "CLK_50M_I" LOC = P124;
NET "CLK_50M_I" IOSTANDARD = LVTTL;
NET "LEDS_O[0]" LOC = P10;
NET "LEDS_O[0]" IOSTANDARD = LVTTL;
NET "LEDS_O[1]" LOC = P12;
NET "LEDS_O[1]" IOSTANDARD = LVTTL;
NET "LEDS_O[2]" LOC = P13;
NET "LEDS_O[2]" IOSTANDARD = LVTTL;
NET "SPI_MISO_O" LOC = P16;
NET "SPI_MISO_O" IOSTANDARD = LVTTL;
NET "SPI_MOSI_I" LOC = P15;
NET "SPI_MOSI_I" IOSTANDARD = LVTTL;
NET "SPI_CLK_I" LOC = P18;
NET "SPI_CLK_I" IOSTANDARD = LVTTL;
NET "SPI_EN_I" LOC = P19;
NET "SPI_EN_I" IOSTANDARD = LVTTL;
