NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 4 ns HIGH 50 %;
NET "AES0/clk_counter_c(1)" TNM_NET = "AES0/clk_counter_c(1)";
TIMESPEC "TS_AES0_clk_counter_c_1_" = PERIOD "AES0/clk_counter_c(1)" 16 ns HIGH 50 %;

NET "ip_in(31)"  LOC="G10";
NET "ip_out(31)" LOC="H10";
NET "ip_in(30)"  LOC="D10";
NET "ip_out(30)" LOC="C10";
NET "ip_in(29)"  LOC="F10";
NET "ip_out(29)" LOC="F9";
NET "ip_in(28)"  LOC="H9";
NET "ip_out(28)" LOC="J9";
NET "ip_in(27)"  LOC="F11";
NET "ip_out(27)" LOC="E11";
NET "ip_in(26)"  LOC="D9";
NET "ip_out(26)" LOC="E9";
NET "ip_in(25)"  LOC="D12";
NET "ip_out(25)" LOC="D11";
NET "ip_in(24)"  LOC="C9";
NET "ip_out(24)" LOC="C8";
NET "ip_in(23)"  LOC="C13";
NET "ip_out(23)" LOC="C12";
NET "ip_in(22)"  LOC="E8";
NET "ip_out(22)" LOC="F8";
NET "ip_in(21)"  LOC="J11";
NET "ip_out(21)" LOC="J10";
NET "ip_in(20)"  LOC="G8";
NET "ip_out(20)" LOC="H8";
NET "ip_in(19)"  LOC="G12";
NET "ip_out(19)" LOC="G11";
NET "ip_in(18)"  LOC="J7";
NET "ip_out(18)" LOC="K7";
NET "ip_in(17)"  LOC="K11";
NET "ip_out(17)" LOC="L11";
NET "ip_in(16)"  LOC="G7";
NET "ip_out(16)" LOC="H7";
NET "ip_in(15)"  LOC="J12";
NET "ip_out(15)" LOC="H12";
NET "ip_in(14)"  LOC="E7";
NET "ip_out(14)" LOC="E6";
NET "ip_in(13)"  LOC="E13";
NET "ip_out(13)" LOC="E12";
NET "ip_in(12)"  LOC="K9";
NET "ip_out(12)" LOC="K8";
NET "ip_in(11)"  LOC="E14";
NET "ip_out(11)" LOC="D14";
NET "ip_in(10)"  LOC="C7";
NET "ip_out(10)" LOC="D7";
NET "ip_in(9)"   LOC="C15";
NET "ip_out(9)"  LOC="C14";
NET "ip_in(8)"   LOC="F6";
NET "ip_out(8)"  LOC="G6";
NET "ip_in(7)"   LOC="D16";
NET "ip_out(7)"  LOC="D15";
NET "ip_in(6)"   LOC="D6";
NET "ip_out(6)"  LOC="C5";
NET "ip_in(5)"   LOC="K13";
NET "ip_out(5)"  LOC="K12";
NET "ip_in(5)"   LOC="D5";
NET "ip_out(5)"  LOC="D4";
NET "ip_in(4)"   LOC="M13";
NET "ip_out(4)"  LOC="L13";
NET "ip_in(3)"   LOC="E4";
NET "ip_out(3)"  LOC="E3";
NET "ip_in(2)"   LOC="M12";
NET "ip_out(2)"  LOC="M11";
NET "ip_in(1)"   LOC="C4";
NET "ip_out(1)"  LOC="C3";
NET "ip_in(0)"   LOC="L9";
NET "ip_out(0)"  LOC="L8";



# Start of Constraints extracted by Floorplanner from the Design
INST "AES0/ROUND9" AREA_GROUP = "AG_AES0/ROUND9" ;
AREA_GROUP "AG_AES0/ROUND9" RANGE = SLICE_X60Y219:SLICE_X100Y208 ;
AREA_GROUP "AG_AES0/ROUND9" RANGE = RAMB16_X4Y26:RAMB16_X4Y27, RAMB16_X5Y26:RAMB16_X5Y27, RAMB16_X6Y26:RAMB16_X6Y27, RAMB16_X7Y26:RAMB16_X7Y27 ;
INST "AES0/ROUND_GEN.8.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.8.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.8.ROUND_I" RANGE = SLICE_X60Y207:SLICE_X100Y192 ;
AREA_GROUP "AG_AES0/ROUND_GEN.8.ROUND_I" RANGE = RAMB16_X4Y24:RAMB16_X4Y25, RAMB16_X5Y24:RAMB16_X5Y25, RAMB16_X6Y24:RAMB16_X6Y25, RAMB16_X7Y24:RAMB16_X7Y25 ;
INST "AES0/ROUND_GEN.7.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.7.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.7.ROUND_I" RANGE = SLICE_X60Y191:SLICE_X100Y176 ;
AREA_GROUP "AG_AES0/ROUND_GEN.7.ROUND_I" RANGE = RAMB16_X4Y22:RAMB16_X4Y23, RAMB16_X5Y22:RAMB16_X5Y23, RAMB16_X6Y22:RAMB16_X6Y23, RAMB16_X7Y22:RAMB16_X7Y23 ;
INST "AES0/ROUND_GEN.6.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.6.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.6.ROUND_I" RANGE = SLICE_X60Y175:SLICE_X100Y160 ;
AREA_GROUP "AG_AES0/ROUND_GEN.6.ROUND_I" RANGE = RAMB16_X4Y20:RAMB16_X4Y21, RAMB16_X5Y20:RAMB16_X5Y21, RAMB16_X6Y20:RAMB16_X6Y21, RAMB16_X7Y20:RAMB16_X7Y21 ;
INST "AES0/ROUND_GEN.5.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.5.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.5.ROUND_I" RANGE = SLICE_X60Y159:SLICE_X100Y144 ;
AREA_GROUP "AG_AES0/ROUND_GEN.5.ROUND_I" RANGE = RAMB16_X4Y18:RAMB16_X4Y19, RAMB16_X5Y18:RAMB16_X5Y19, RAMB16_X6Y18:RAMB16_X6Y19, RAMB16_X7Y18:RAMB16_X7Y19 ;
INST "AES0/ROUND_GEN.4.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.4.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.4.ROUND_I" RANGE = SLICE_X60Y143:SLICE_X100Y128 ;
AREA_GROUP "AG_AES0/ROUND_GEN.4.ROUND_I" RANGE = RAMB16_X4Y16:RAMB16_X4Y17, RAMB16_X5Y16:RAMB16_X5Y17, RAMB16_X6Y16:RAMB16_X6Y17, RAMB16_X7Y16:RAMB16_X7Y17 ;
INST "AES0/ROUND_GEN.3.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.3.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.3.ROUND_I" RANGE = SLICE_X60Y127:SLICE_X100Y112 ;
AREA_GROUP "AG_AES0/ROUND_GEN.3.ROUND_I" RANGE = RAMB16_X4Y14:RAMB16_X4Y15, RAMB16_X5Y14:RAMB16_X5Y15, RAMB16_X6Y14:RAMB16_X6Y15, RAMB16_X7Y14:RAMB16_X7Y15 ;
INST "AES0/ROUND_GEN.2.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.2.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.2.ROUND_I" RANGE = SLICE_X60Y111:SLICE_X100Y96 ;
AREA_GROUP "AG_AES0/ROUND_GEN.2.ROUND_I" RANGE = RAMB16_X4Y12:RAMB16_X4Y13, RAMB16_X5Y12:RAMB16_X5Y13, RAMB16_X6Y12:RAMB16_X6Y13, RAMB16_X7Y12:RAMB16_X7Y13 ;
INST "AES0/ROUND_GEN.1.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.1.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.1.ROUND_I" RANGE = SLICE_X60Y95:SLICE_X100Y80 ;
AREA_GROUP "AG_AES0/ROUND_GEN.1.ROUND_I" RANGE = RAMB16_X4Y10:RAMB16_X4Y11, RAMB16_X5Y10:RAMB16_X5Y11, RAMB16_X6Y10:RAMB16_X6Y11, RAMB16_X7Y10:RAMB16_X7Y11 ;
INST "AES0/ROUND_GEN.0.ROUND_I" AREA_GROUP = "AG_AES0/ROUND_GEN.0.ROUND_I" ;
AREA_GROUP "AG_AES0/ROUND_GEN.0.ROUND_I" RANGE = SLICE_X60Y79:SLICE_X100Y64 ;
AREA_GROUP "AG_AES0/ROUND_GEN.0.ROUND_I" RANGE = RAMB16_X4Y8:RAMB16_X4Y9, RAMB16_X5Y8:RAMB16_X5Y9, RAMB16_X6Y8:RAMB16_X6Y9, RAMB16_X7Y8:RAMB16_X7Y9 ;
