NET "LED<0>" LOC = U18;
NET "LED<2>" LOC = N14;
NET "LED<1>" LOC = M14;
NET "LED<3>" LOC = L14;
NET "LED<4>" LOC = M13;
NET "LED<5>" LOC = D4;
NET "LED<6>" LOC = P16;
NET "LED<7>" LOC = N12;

NET "CLK" LOC = L15;
#NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "RESET" CLOCK_DEDICATED_ROUTE = FALSE;

# Reset #
NET "RESET" LOC="F5";  

# USB UART Connector
NET "UART_TXD" LOC = "B16"; # Bank = 0, Pin name = IO_L66P_SCP1, Sch name = USBB-TXD;