(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2008 1 31 20 37 36)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 8.2.03i"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2006 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_has_aset = false ")
       (comment "c_has_d = true ")
       (comment "c_sync_priority = 1 ")
       (comment "c_has_sclr = true ")
       (comment "c_fill_data = 0 ")
       (comment "c_width = 8 ")
       (comment "c_enable_rlocs = true ")
       (comment "c_ainit_val = 00000000 ")
       (comment "c_has_ce = true ")
       (comment "c_family = virtex2p ")
       (comment "InstanceName = jpeg_huffman_input_sr ")
       (comment "c_has_aclr = false ")
       (comment "c_sync_enable = 0 ")
       (comment "c_has_ainit = false ")
       (comment "c_sinit_val = 00000000 ")
       (comment "c_has_sdout = true ")
       (comment "c_has_sset = false ")
       (comment "c_has_sinit = false ")
       (comment "c_has_q = false ")
       (comment "c_shift_type = 0 ")
       (comment "c_has_sdin = false ")
       (comment "c_has_lsb_2_msb = false ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell BUF (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell FDRE (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port D (direction INPUT))
                   (port C (direction INPUT))
                   (port CE (direction INPUT))
                   (port R (direction INPUT))
                   (port Q (direction OUTPUT))
               )
           )
       )
       (cell LUT4 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port I2 (direction INPUT))
                   (port I3 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell jpeg_huffman_input_sr
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( rename CLK "CLK") (direction INPUT))
   (port ( rename P_LOAD "P_LOAD") (direction INPUT))
   (port ( array ( rename D "D<7:0>") 8 ) (direction INPUT))
   (port ( rename CE "CE") (direction INPUT))
   (port ( rename SCLR "SCLR") (direction INPUT))
   (port ( rename SDOUT "SDOUT") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU5
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y4"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "8888"))
   )
   (instance BU6
      (viewRef view_1 (cellRef FDRE (libraryRef xilinxun)))
      (property RLOC (string "x3y4"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU10
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y4"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "caca"))
   )
   (instance BU11
      (viewRef view_1 (cellRef FDRE (libraryRef xilinxun)))
      (property RLOC (string "x3y4"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU15
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y5"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "caca"))
   )
   (instance BU16
      (viewRef view_1 (cellRef FDRE (libraryRef xilinxun)))
      (property RLOC (string "x3y5"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU20
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y5"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "caca"))
   )
   (instance BU21
      (viewRef view_1 (cellRef FDRE (libraryRef xilinxun)))
      (property RLOC (string "x3y5"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU25
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y8"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "caca"))
   )
   (instance BU26
      (viewRef view_1 (cellRef FDRE (libraryRef xilinxun)))
      (property RLOC (string "x3y8"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU30
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y8"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "caca"))
   )
   (instance BU31
      (viewRef view_1 (cellRef FDRE (libraryRef xilinxun)))
      (property RLOC (string "x3y8"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU35
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y9"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "caca"))
   )
   (instance BU36
      (viewRef view_1 (cellRef FDRE (libraryRef xilinxun)))
      (property RLOC (string "x3y9"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU40
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y9"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "caca"))
   )
   (instance BU41
      (viewRef view_1 (cellRef FDRE (libraryRef xilinxun)))
      (property RLOC (string "x3y9"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU42
      (viewRef view_1 (cellRef BUF (libraryRef xilinxun)))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef I2 (instanceRef BU5))
      (portRef I3 (instanceRef BU5))
      (portRef I3 (instanceRef BU10))
      (portRef I3 (instanceRef BU15))
      (portRef I3 (instanceRef BU20))
      (portRef I3 (instanceRef BU25))
      (portRef I3 (instanceRef BU30))
      (portRef I3 (instanceRef BU35))
      (portRef I3 (instanceRef BU40))
    )
   )
   (net N2
    (joined
      (portRef Q (instanceRef BU6))
      (portRef I0 (instanceRef BU10))
    )
   )
   (net N3
    (joined
      (portRef Q (instanceRef BU11))
      (portRef I0 (instanceRef BU15))
    )
   )
   (net N4
    (joined
      (portRef Q (instanceRef BU16))
      (portRef I0 (instanceRef BU20))
    )
   )
   (net N5
    (joined
      (portRef Q (instanceRef BU21))
      (portRef I0 (instanceRef BU25))
    )
   )
   (net N6
    (joined
      (portRef Q (instanceRef BU26))
      (portRef I0 (instanceRef BU30))
    )
   )
   (net N7
    (joined
      (portRef Q (instanceRef BU31))
      (portRef I0 (instanceRef BU35))
    )
   )
   (net N8
    (joined
      (portRef Q (instanceRef BU36))
      (portRef I0 (instanceRef BU40))
    )
   )
   (net N9
    (joined
      (portRef I (instanceRef BU42))
      (portRef Q (instanceRef BU41))
    )
   )
   (net (rename N34 "CLK")
    (joined
      (portRef CLK)
      (portRef C (instanceRef BU6))
      (portRef C (instanceRef BU11))
      (portRef C (instanceRef BU16))
      (portRef C (instanceRef BU21))
      (portRef C (instanceRef BU26))
      (portRef C (instanceRef BU31))
      (portRef C (instanceRef BU36))
      (portRef C (instanceRef BU41))
    )
   )
   (net (rename N35 "SDOUT")
    (joined
      (portRef SDOUT)
      (portRef O (instanceRef BU42))
    )
   )
   (net (rename N36 "P_LOAD")
    (joined
      (portRef P_LOAD)
      (portRef I1 (instanceRef BU5))
      (portRef I2 (instanceRef BU10))
      (portRef I2 (instanceRef BU15))
      (portRef I2 (instanceRef BU20))
      (portRef I2 (instanceRef BU25))
      (portRef I2 (instanceRef BU30))
      (portRef I2 (instanceRef BU35))
      (portRef I2 (instanceRef BU40))
    )
   )
   (net (rename N37 "D<0>")
    (joined
      (portRef (member D 7))
      (portRef I0 (instanceRef BU5))
    )
   )
   (net (rename N38 "D<1>")
    (joined
      (portRef (member D 6))
      (portRef I1 (instanceRef BU10))
    )
   )
   (net (rename N39 "D<2>")
    (joined
      (portRef (member D 5))
      (portRef I1 (instanceRef BU15))
    )
   )
   (net (rename N40 "D<3>")
    (joined
      (portRef (member D 4))
      (portRef I1 (instanceRef BU20))
    )
   )
   (net (rename N41 "D<4>")
    (joined
      (portRef (member D 3))
      (portRef I1 (instanceRef BU25))
    )
   )
   (net (rename N42 "D<5>")
    (joined
      (portRef (member D 2))
      (portRef I1 (instanceRef BU30))
    )
   )
   (net (rename N43 "D<6>")
    (joined
      (portRef (member D 1))
      (portRef I1 (instanceRef BU35))
    )
   )
   (net (rename N44 "D<7>")
    (joined
      (portRef (member D 0))
      (portRef I1 (instanceRef BU40))
    )
   )
   (net (rename N45 "CE")
    (joined
      (portRef CE)
      (portRef CE (instanceRef BU6))
      (portRef CE (instanceRef BU11))
      (portRef CE (instanceRef BU16))
      (portRef CE (instanceRef BU21))
      (portRef CE (instanceRef BU26))
      (portRef CE (instanceRef BU31))
      (portRef CE (instanceRef BU36))
      (portRef CE (instanceRef BU41))
    )
   )
   (net (rename N46 "SCLR")
    (joined
      (portRef SCLR)
      (portRef R (instanceRef BU6))
      (portRef R (instanceRef BU11))
      (portRef R (instanceRef BU16))
      (portRef R (instanceRef BU21))
      (portRef R (instanceRef BU26))
      (portRef R (instanceRef BU31))
      (portRef R (instanceRef BU36))
      (portRef R (instanceRef BU41))
    )
   )
   (net N53
    (joined
      (portRef D (instanceRef BU6))
      (portRef O (instanceRef BU5))
    )
   )
   (net N72
    (joined
      (portRef D (instanceRef BU11))
      (portRef O (instanceRef BU10))
    )
   )
   (net N92
    (joined
      (portRef D (instanceRef BU16))
      (portRef O (instanceRef BU15))
    )
   )
   (net N112
    (joined
      (portRef D (instanceRef BU21))
      (portRef O (instanceRef BU20))
    )
   )
   (net N132
    (joined
      (portRef D (instanceRef BU26))
      (portRef O (instanceRef BU25))
    )
   )
   (net N152
    (joined
      (portRef D (instanceRef BU31))
      (portRef O (instanceRef BU30))
    )
   )
   (net N172
    (joined
      (portRef D (instanceRef BU36))
      (portRef O (instanceRef BU35))
    )
   )
   (net N192
    (joined
      (portRef D (instanceRef BU41))
      (portRef O (instanceRef BU40))
    )
   )
))))
(design jpeg_huffman_input_sr (cellRef jpeg_huffman_input_sr (libraryRef test_lib))
  (property X_CORE_INFO (string "C_SHIFT_FD_V7_0, Coregen 8.2.03i"))
  (property PART (string "xc2vp30-ff896-7") (owner "Xilinx")))
)
