(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2008 1 30 16 51 13)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 8.2.03i"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2006 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_wr_response_latency = 1 ")
       (comment "c_has_rd_data_count = 0 ")
       (comment "c_din_width = 32 ")
       (comment "c_has_wr_data_count = 0 ")
       (comment "InstanceName = jpeg_input_fifo ")
       (comment "c_implementation_type = 2 ")
       (comment "c_family = virtex2p ")
       (comment "c_has_wr_rst = 0 ")
       (comment "c_underflow_low = 0 ")
       (comment "c_has_meminit_file = 0 ")
       (comment "c_has_overflow = 0 ")
       (comment "c_preload_latency = 0 ")
       (comment "c_dout_width = 8 ")
       (comment "c_rd_depth = 2048 ")
       (comment "c_default_value = BlankString ")
       (comment "c_mif_file_name = BlankString ")
       (comment "c_has_underflow = 0 ")
       (comment "c_has_rd_rst = 0 ")
       (comment "c_has_almost_full = 1 ")
       (comment "c_has_rst = 1 ")
       (comment "c_data_count_width = 2 ")
       (comment "c_has_wr_ack = 0 ")
       (comment "c_wr_ack_low = 0 ")
       (comment "c_common_clock = 0 ")
       (comment "c_rd_pntr_width = 11 ")
       (comment "c_has_almost_empty = 0 ")
       (comment "c_rd_data_count_width = 2 ")
       (comment "c_enable_rlocs = 0 ")
       (comment "c_wr_pntr_width = 9 ")
       (comment "c_overflow_low = 0 ")
       (comment "c_prog_empty_type = 0 ")
       (comment "c_optimization_mode = 0 ")
       (comment "c_wr_data_count_width = 2 ")
       (comment "c_preload_regs = 1 ")
       (comment "c_dout_rst_val = 0 ")
       (comment "c_has_data_count = 0 ")
       (comment "c_prog_full_thresh_negate_val = 510 ")
       (comment "c_wr_depth = 512 ")
       (comment "c_prog_empty_thresh_negate_val = 2046 ")
       (comment "c_prog_empty_thresh_assert_val = 2046 ")
       (comment "c_has_valid = 1 ")
       (comment "c_init_wr_pntr_val = 0 ")
       (comment "c_prog_full_thresh_assert_val = 510 ")
       (comment "c_use_fifo16_flags = 0 ")
       (comment "c_has_backup = 0 ")
       (comment "c_valid_low = 0 ")
       (comment "c_prim_fifo_type = 512 ")
       (comment "c_count_type = 0 ")
       (comment "c_prog_full_type = 0 ")
       (comment "c_memory_type = 1 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
   )
   (external jpeg_input_fifo_fifo_generator_v2_3_xst_1_lib (edifLevel 0)
       (technology (numberDefinition))
       (cell jpeg_input_fifo_fifo_generator_v2_3_xst_1 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port clk (direction INPUT))
                   (port backup (direction INPUT))
                   (port backup_marker (direction INPUT))
                   (port ( array ( rename din "din<31:0>") 32 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh "prog_empty_thresh<10:0>") 11 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh_assert "prog_empty_thresh_assert<10:0>") 11 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh_negate "prog_empty_thresh_negate<10:0>") 11 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh "prog_full_thresh<8:0>") 9 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh_assert "prog_full_thresh_assert<8:0>") 9 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh_negate "prog_full_thresh_negate<8:0>") 9 ) (direction INPUT))
                   (port rd_clk (direction INPUT))
                   (port rd_en (direction INPUT))
                   (port rd_rst (direction INPUT))
                   (port rst (direction INPUT))
                   (port wr_clk (direction INPUT))
                   (port wr_en (direction INPUT))
                   (port wr_rst (direction INPUT))
                   (port almost_empty (direction OUTPUT))
                   (port almost_full (direction OUTPUT))
                   (port ( array ( rename data_count "data_count<1:0>") 2 ) (direction OUTPUT))
                   (port ( array ( rename dout "dout<7:0>") 8 ) (direction OUTPUT))
                   (port empty (direction OUTPUT))
                   (port full (direction OUTPUT))
                   (port overflow (direction OUTPUT))
                   (port prog_empty (direction OUTPUT))
                   (port prog_full (direction OUTPUT))
                   (port valid (direction OUTPUT))
                   (port ( array ( rename rd_data_count "rd_data_count<1:0>") 2 ) (direction OUTPUT))
                   (port underflow (direction OUTPUT))
                   (port wr_ack (direction OUTPUT))
                   (port ( array ( rename wr_data_count "wr_data_count<1:0>") 2 ) (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell jpeg_input_fifo
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( array ( rename din "din<31:0>") 32 ) (direction INPUT))
   (port ( rename rd_clk "rd_clk") (direction INPUT))
   (port ( rename rd_en "rd_en") (direction INPUT))
   (port ( rename rst "rst") (direction INPUT))
   (port ( rename wr_clk "wr_clk") (direction INPUT))
   (port ( rename wr_en "wr_en") (direction INPUT))
   (port ( rename almost_full "almost_full") (direction OUTPUT))
   (port ( array ( rename dout "dout<7:0>") 8 ) (direction OUTPUT))
   (port ( rename empty "empty") (direction OUTPUT))
   (port ( rename full "full") (direction OUTPUT))
   (port ( rename valid "valid") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU2
      (viewRef view_1 (cellRef jpeg_input_fifo_fifo_generator_v2_3_xst_1 (libraryRef jpeg_input_fifo_fifo_generator_v2_3_xst_1_lib)))
   )
   (net (rename N5 "din<31>")
    (joined
      (portRef (member din 0))
      (portRef (member din 0) (instanceRef BU2))
    )
   )
   (net (rename N6 "din<30>")
    (joined
      (portRef (member din 1))
      (portRef (member din 1) (instanceRef BU2))
    )
   )
   (net (rename N7 "din<29>")
    (joined
      (portRef (member din 2))
      (portRef (member din 2) (instanceRef BU2))
    )
   )
   (net (rename N8 "din<28>")
    (joined
      (portRef (member din 3))
      (portRef (member din 3) (instanceRef BU2))
    )
   )
   (net (rename N9 "din<27>")
    (joined
      (portRef (member din 4))
      (portRef (member din 4) (instanceRef BU2))
    )
   )
   (net (rename N10 "din<26>")
    (joined
      (portRef (member din 5))
      (portRef (member din 5) (instanceRef BU2))
    )
   )
   (net (rename N11 "din<25>")
    (joined
      (portRef (member din 6))
      (portRef (member din 6) (instanceRef BU2))
    )
   )
   (net (rename N12 "din<24>")
    (joined
      (portRef (member din 7))
      (portRef (member din 7) (instanceRef BU2))
    )
   )
   (net (rename N13 "din<23>")
    (joined
      (portRef (member din 8))
      (portRef (member din 8) (instanceRef BU2))
    )
   )
   (net (rename N14 "din<22>")
    (joined
      (portRef (member din 9))
      (portRef (member din 9) (instanceRef BU2))
    )
   )
   (net (rename N15 "din<21>")
    (joined
      (portRef (member din 10))
      (portRef (member din 10) (instanceRef BU2))
    )
   )
   (net (rename N16 "din<20>")
    (joined
      (portRef (member din 11))
      (portRef (member din 11) (instanceRef BU2))
    )
   )
   (net (rename N17 "din<19>")
    (joined
      (portRef (member din 12))
      (portRef (member din 12) (instanceRef BU2))
    )
   )
   (net (rename N18 "din<18>")
    (joined
      (portRef (member din 13))
      (portRef (member din 13) (instanceRef BU2))
    )
   )
   (net (rename N19 "din<17>")
    (joined
      (portRef (member din 14))
      (portRef (member din 14) (instanceRef BU2))
    )
   )
   (net (rename N20 "din<16>")
    (joined
      (portRef (member din 15))
      (portRef (member din 15) (instanceRef BU2))
    )
   )
   (net (rename N21 "din<15>")
    (joined
      (portRef (member din 16))
      (portRef (member din 16) (instanceRef BU2))
    )
   )
   (net (rename N22 "din<14>")
    (joined
      (portRef (member din 17))
      (portRef (member din 17) (instanceRef BU2))
    )
   )
   (net (rename N23 "din<13>")
    (joined
      (portRef (member din 18))
      (portRef (member din 18) (instanceRef BU2))
    )
   )
   (net (rename N24 "din<12>")
    (joined
      (portRef (member din 19))
      (portRef (member din 19) (instanceRef BU2))
    )
   )
   (net (rename N25 "din<11>")
    (joined
      (portRef (member din 20))
      (portRef (member din 20) (instanceRef BU2))
    )
   )
   (net (rename N26 "din<10>")
    (joined
      (portRef (member din 21))
      (portRef (member din 21) (instanceRef BU2))
    )
   )
   (net (rename N27 "din<9>")
    (joined
      (portRef (member din 22))
      (portRef (member din 22) (instanceRef BU2))
    )
   )
   (net (rename N28 "din<8>")
    (joined
      (portRef (member din 23))
      (portRef (member din 23) (instanceRef BU2))
    )
   )
   (net (rename N29 "din<7>")
    (joined
      (portRef (member din 24))
      (portRef (member din 24) (instanceRef BU2))
    )
   )
   (net (rename N30 "din<6>")
    (joined
      (portRef (member din 25))
      (portRef (member din 25) (instanceRef BU2))
    )
   )
   (net (rename N31 "din<5>")
    (joined
      (portRef (member din 26))
      (portRef (member din 26) (instanceRef BU2))
    )
   )
   (net (rename N32 "din<4>")
    (joined
      (portRef (member din 27))
      (portRef (member din 27) (instanceRef BU2))
    )
   )
   (net (rename N33 "din<3>")
    (joined
      (portRef (member din 28))
      (portRef (member din 28) (instanceRef BU2))
    )
   )
   (net (rename N34 "din<2>")
    (joined
      (portRef (member din 29))
      (portRef (member din 29) (instanceRef BU2))
    )
   )
   (net (rename N35 "din<1>")
    (joined
      (portRef (member din 30))
      (portRef (member din 30) (instanceRef BU2))
    )
   )
   (net (rename N36 "din<0>")
    (joined
      (portRef (member din 31))
      (portRef (member din 31) (instanceRef BU2))
    )
   )
   (net (rename N97 "rd_clk")
    (joined
      (portRef rd_clk)
      (portRef rd_clk (instanceRef BU2))
    )
   )
   (net (rename N98 "rd_en")
    (joined
      (portRef rd_en)
      (portRef rd_en (instanceRef BU2))
    )
   )
   (net (rename N100 "rst")
    (joined
      (portRef rst)
      (portRef rst (instanceRef BU2))
    )
   )
   (net (rename N101 "wr_clk")
    (joined
      (portRef wr_clk)
      (portRef wr_clk (instanceRef BU2))
    )
   )
   (net (rename N102 "wr_en")
    (joined
      (portRef wr_en)
      (portRef wr_en (instanceRef BU2))
    )
   )
   (net (rename N105 "almost_full")
    (joined
      (portRef almost_full)
      (portRef almost_full (instanceRef BU2))
    )
   )
   (net (rename N108 "dout<7>")
    (joined
      (portRef (member dout 0))
      (portRef (member dout 0) (instanceRef BU2))
    )
   )
   (net (rename N109 "dout<6>")
    (joined
      (portRef (member dout 1))
      (portRef (member dout 1) (instanceRef BU2))
    )
   )
   (net (rename N110 "dout<5>")
    (joined
      (portRef (member dout 2))
      (portRef (member dout 2) (instanceRef BU2))
    )
   )
   (net (rename N111 "dout<4>")
    (joined
      (portRef (member dout 3))
      (portRef (member dout 3) (instanceRef BU2))
    )
   )
   (net (rename N112 "dout<3>")
    (joined
      (portRef (member dout 4))
      (portRef (member dout 4) (instanceRef BU2))
    )
   )
   (net (rename N113 "dout<2>")
    (joined
      (portRef (member dout 5))
      (portRef (member dout 5) (instanceRef BU2))
    )
   )
   (net (rename N114 "dout<1>")
    (joined
      (portRef (member dout 6))
      (portRef (member dout 6) (instanceRef BU2))
    )
   )
   (net (rename N115 "dout<0>")
    (joined
      (portRef (member dout 7))
      (portRef (member dout 7) (instanceRef BU2))
    )
   )
   (net (rename N116 "empty")
    (joined
      (portRef empty)
      (portRef empty (instanceRef BU2))
    )
   )
   (net (rename N117 "full")
    (joined
      (portRef full)
      (portRef full (instanceRef BU2))
    )
   )
   (net (rename N121 "valid")
    (joined
      (portRef valid)
      (portRef valid (instanceRef BU2))
    )
   )
))))
(design jpeg_input_fifo (cellRef jpeg_input_fifo (libraryRef test_lib))
  (property X_CORE_INFO (string "fifo_generator_v2_3, Coregen 8.2.03i"))
  (property PART (string "xc2vp30-ff896-7") (owner "Xilinx")))
)
