Simply RISC S1 Core - System Requirements
=========================================

You can run simulation and synthesis of the S1 Core
almost on any machine: all you need is a Unix-like
machine with the following programs installed:

- bash shell;
- sed stream editor;
- for simulations: Icarus Verilog (free software)
  or Synopsys VCS MX (commercial);
- for synthesis: Xilinx XST (commercial, some versions
  are free), Icarus Verilog (free software) or
  Synopsys Design Compiler (commercial).

As you can easily understand, whatever GNU/Linux or
Unix machine should be suitable for your purposes;
we haven't tried on Windows with Cygwin but we suspect
that it could work (please let us know your experience
at support@srisc.com and we'll list it here).

Infact since the only tool you need for simulation and
synthesis is Icarus Verilog, and since it is free
software, you can download its source code and compile
it for your platform.

On some GNU/Linux distributions there's even no need
to compile it since you can install it from Internet
with one command:

- on Debian and similar distros like Ubuntu to install
  Icarus Verilog just use the command:

  apt-get install verilog

- if you are a Gentoo maniac you can use the command:

  emerge iverilog

In both cases you will need an Internet connection and
root privileges to perform the installation (otherwise
go to the official site and compile it from the sources).

Please note that we have been using Icarus version 0.8
without any trouble, but some user reported some compiling
error using the latest version 0.8.2.

Another requirement is related with the SPARC v9 compiler:
there's an x86 to sparc64 GCC cross-compiler available
on the web so you should be able to compile test programs
for the S1 Core using not only a SPARC machine but whatever
GNU/Linux x86 PC; please check on the Download Area of the
Simply RISC website at http://www.srisc.com .


