NET     I_CLK_100       PERIOD = 10 ns;
NET     L_CLK           PERIOD = 35 ns;

NET     I_CLK_100       TNM_NET = I_CLK_100;
NET     L_CLK           TNM_NET = L_CLK;

NET     I_CLK_100       LOC = AA12;
NET     I_RX            LOC = M3;
NET     Q_TX            LOC = M4;

# 7 segment LED display
#
NET     Q_7_SEGMENT<0>  LOC = V3;
NET     Q_7_SEGMENT<1>  LOC = V4;
NET     Q_7_SEGMENT<2>  LOC = W3;
NET     Q_7_SEGMENT<3>  LOC = T4;
NET     Q_7_SEGMENT<4>  LOC = T3;
NET     Q_7_SEGMENT<5>  LOC = U3;
NET     Q_7_SEGMENT<6>  LOC = U4;

# single LEDs
#
NET     Q_LEDS<0>       LOC = N1;
NET     Q_LEDS<1>       LOC = N2;
NET     Q_LEDS<2>       LOC = P1;
NET     Q_LEDS<3>       LOC = P2;

# DIP switch(0 ... 7) and two pushbuttons (8, 9)
#
NET     I_SWITCH<0>     LOC = H2;
NET     I_SWITCH<1>     LOC = H1;
NET     I_SWITCH<2>     LOC = J2;
NET     I_SWITCH<3>     LOC = J1;
NET     I_SWITCH<4>     LOC = K2;
NET     I_SWITCH<5>     LOC = K1;
NET     I_SWITCH<6>     LOC = L2;
NET     I_SWITCH<7>     LOC = L1;
NET     I_SWITCH<8>     LOC = R1;
NET     I_SWITCH<9>     LOC = R2;

NET     I_SWITCH<*>     PULLUP;

