#NET "led(0)" LOC = "A6" | IOSTANDARD = LVCMOS33;	#led(0)
#NET "led(1)" LOC = "D7" | IOSTANDARD = LVCMOS33;	#led(1)
#NET "led(2)" LOC = "F23" | IOSTANDARD = LVCMOS33;	#led(2)
#NET "led(3)" LOC = "F24" | IOSTANDARD = LVCMOS33;	#led(3)
#NET "j_up" LOC = "AD4" | IOSTANDARD = LVCMOS33 | IOBDELAY=NONE; 	#joystick up low active
#NET "j_down" LOC = "AD6" | IOSTANDARD = LVCMOS33 | IOBDELAY=NONE;	#joystick down low active
NET "j_left" LOC = "AE4" | IOSTANDARD = LVCMOS33 | IOBDELAY=NONE;	#joystick left low active
NET "j_right" LOC = "AC6" | IOSTANDARD = LVCMOS33 | IOBDELAY=NONE;	#joystick right low active
NET "rst" LOC = "AA7" | IOSTANDARD = LVCMOS33 | IOBDELAY=NONE;     #joystick push low active

#NET "turn_on" LOC = "AA20" | IOSTANDARD = LVCMOS25;	#dip_sw(0)	#dip switch low active
#NET "clk" LOC = "B13" | IOSTANDARD = LVCMOS33;		#clk

#NET "out_vector(0)" LOC = "A6" | IOSTANDARD = LVCMOS33;        #led(0)
NET "led(0)" LOC = "D7" | IOSTANDARD = LVCMOS33;        #led(1)
NET "led(1)" LOC = "F23" | IOSTANDARD = LVCMOS33;       #led(2)
NET "led(2)" LOC = "F24" | IOSTANDARD = LVCMOS33;       #led(3)
#NET "out_vector(4)" LOC = "G21" | IOSTANDARD = LVCMOS33;       #led(4)
#NET "out_vector(5)" LOC = "G23" | IOSTANDARD = LVCMOS33;       #led(5)
#NET "out_vector(6)" LOC = "H23" | IOSTANDARD = LVCMOS33;       #led(6)
#NET "out_vector(7)" LOC = "J21" | IOSTANDARD = LVCMOS33;       #led(7)

#NET "in_vector(0)" LOC = "AA20" | IOSTANDARD = LVCMOS25;     #dip_sw(0) dip switches are low-active
#NET "in_vector(1)" LOC = "AD15" | IOSTANDARD = LVCMOS25;     #dip_sw(1)
#NET "in_vector(2)" LOC = "AD19" | IOSTANDARD = LVCMOS25;     #dip_sw(2)
#NET "in_vector(3)" LOC = "AD23" | IOSTANDARD = LVCMOS25;     #dip_sw(3)
#NET "in_vector(4)" LOC = "AF21" | IOSTANDARD = LVCMOS25;     #dip_sw(4)
#NET "in_vector(5)" LOC = "AF22" | IOSTANDARD = LVCMOS25;     #dip_sw(5)
#NET "in_vector(6)" LOC = "W15" | IOSTANDARD = LVCMOS25;     #dip_sw(6)
#NET "in_vector(7)" LOC = "W16" | IOSTANDARD = LVCMOS25;     #dip_sw(7)

#NET "enable" LOC = "AD6" | IOSTANDARD = LVCMOS33 | IOBDELAY=NONE;     #joystick down low-active
NET "clk" LOC = "B13" | IOSTANDARD = LVCMOS33;         #clk

