## $Id: s3board_pins.ucf 402 2011-08-05 18:56:44Z mueller $
##
## Pin locks for S3BOARD core functionality:
##  - internal RS232
##  - human I/O (switches, buttons, leds, display)
##  - sram
##
## Revision History: 
## Date         Rev Version  Comment
## 2010-11-06   336   1.1.1  Rename CLK -> I_CLK50
## 2008-05-25   150   1.1    Use DRIVE=6|SLEW=SLOW|KEEPER for memory data lines
## 2008-02-17   101   1.0    Initial version 
##
## Note: default is DRIVE=12 | SLEW=SLOW
##
## clocks --------------------------------------------------------------------
NET "I_CLK50"   LOC = "t9"  | IOSTANDARD=LVCMOS33;
##
## RS232 interface -----------------------------------------------------------
NET "I_RXD"     LOC = "t13" | IOSTANDARD=LVCMOS33;
NET "O_TXD"     LOC = "r13" | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=SLOW;
##
## switches and buttons ------------------------------------------------------
NET "I_SWI<0>"  LOC = "f12" | IOSTANDARD=LVCMOS33;
NET "I_SWI<1>"  LOC = "g12" | IOSTANDARD=LVCMOS33;
NET "I_SWI<2>"  LOC = "h14" | IOSTANDARD=LVCMOS33;
NET "I_SWI<3>"  LOC = "h13" | IOSTANDARD=LVCMOS33;
NET "I_SWI<4>"  LOC = "j14" | IOSTANDARD=LVCMOS33;
NET "I_SWI<5>"  LOC = "j13" | IOSTANDARD=LVCMOS33;
NET "I_SWI<6>"  LOC = "k14" | IOSTANDARD=LVCMOS33;
NET "I_SWI<7>"  LOC = "k13" | IOSTANDARD=LVCMOS33;
##
NET "I_BTN<0>"  LOC = "m13" | IOSTANDARD=LVCMOS33;
NET "I_BTN<1>"  LOC = "m14" | IOSTANDARD=LVCMOS33;
NET "I_BTN<2>"  LOC = "l13" | IOSTANDARD=LVCMOS33;
NET "I_BTN<3>"  LOC = "l14" | IOSTANDARD=LVCMOS33;
##
## LEDs ----------------------------------------------------------------------
NET "O_LED<0>"  LOC = "k12" | IOSTANDARD=LVCMOS33;
NET "O_LED<1>"  LOC = "p14" | IOSTANDARD=LVCMOS33;
NET "O_LED<2>"  LOC = "l12" | IOSTANDARD=LVCMOS33;
NET "O_LED<3>"  LOC = "n14" | IOSTANDARD=LVCMOS33;
NET "O_LED<4>"  LOC = "p13" | IOSTANDARD=LVCMOS33;
NET "O_LED<5>"  LOC = "n12" | IOSTANDARD=LVCMOS33;
NET "O_LED<6>"  LOC = "p12" | IOSTANDARD=LVCMOS33;
NET "O_LED<7>"  LOC = "p11" | IOSTANDARD=LVCMOS33;
NET "O_LED<*>" DRIVE=12 | SLEW=SLOW;
##
## 7 segment display ---------------------------------------------------------
NET "O_ANO_N<0>"  LOC = "d14" | IOSTANDARD=LVCMOS33;
NET "O_ANO_N<1>"  LOC = "g14" | IOSTANDARD=LVCMOS33;
NET "O_ANO_N<2>"  LOC = "f14" | IOSTANDARD=LVCMOS33;
NET "O_ANO_N<3>"  LOC = "e13" | IOSTANDARD=LVCMOS33;
NET "O_ANO_N<*>" DRIVE=12 | SLEW=SLOW;
##
NET "O_SEG_N<0>"  LOC = "e14" | IOSTANDARD=LVCMOS33;
NET "O_SEG_N<1>"  LOC = "g13" | IOSTANDARD=LVCMOS33;
NET "O_SEG_N<2>"  LOC = "n15" | IOSTANDARD=LVCMOS33;
NET "O_SEG_N<3>"  LOC = "p15" | IOSTANDARD=LVCMOS33;
NET "O_SEG_N<4>"  LOC = "r16" | IOSTANDARD=LVCMOS33;
NET "O_SEG_N<5>"  LOC = "f13" | IOSTANDARD=LVCMOS33;
NET "O_SEG_N<6>"  LOC = "n16" | IOSTANDARD=LVCMOS33;
NET "O_SEG_N<7>"  LOC = "p16" | IOSTANDARD=LVCMOS33;
NET "O_SEG_N<*>" DRIVE=12 | SLEW=SLOW;
##
## SRAM ----------------------------------------------------------------------
NET "O_MEM_CE_N<0>"  LOC = "p7" | IOSTANDARD=LVCMOS33;
NET "O_MEM_CE_N<1>"  LOC = "n5" | IOSTANDARD=LVCMOS33;
NET "O_MEM_CE_N<*>" DRIVE=12 | SLEW=FAST;
##
NET "O_MEM_BE_N<0>"  LOC = "p6" | IOSTANDARD=LVCMOS33;
NET "O_MEM_BE_N<1>"  LOC = "t4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_BE_N<2>"  LOC = "p5" | IOSTANDARD=LVCMOS33;
NET "O_MEM_BE_N<3>"  LOC = "r4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_BE_N<*>" DRIVE=12 | SLEW=FAST;
##
NET "O_MEM_WE_N"     LOC = "g3" | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
NET "O_MEM_OE_N"     LOC = "k4" | IOSTANDARD=LVCMOS33 | DRIVE=12 | SLEW=FAST;
##
NET "O_MEM_ADDR<0>"   LOC = "l5" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<1>"   LOC = "n3" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<2>"   LOC = "m4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<3>"   LOC = "m3" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<4>"   LOC = "l4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<5>"   LOC = "g4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<6>"   LOC = "f3" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<7>"   LOC = "f4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<8>"   LOC = "e3" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<9>"   LOC = "e4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<10>"  LOC = "g5" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<11>"  LOC = "h3" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<12>"  LOC = "h4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<13>"  LOC = "j4" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<14>"  LOC = "j3" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<15>"  LOC = "k3" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<16>"  LOC = "k5" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<17>"  LOC = "l3" | IOSTANDARD=LVCMOS33;
NET "O_MEM_ADDR<*>" DRIVE=6 | SLEW=FAST;
##
NET "IO_MEM_DATA<0>"  LOC = "n7" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<1>"  LOC = "t8" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<2>"  LOC = "r6" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<3>"  LOC = "t5" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<4>"  LOC = "r5" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<5>"  LOC = "c2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<6>"  LOC = "c1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<7>"  LOC = "b1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<8>"  LOC = "d3" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<9>"  LOC = "p8" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<10>" LOC = "f2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<11>" LOC = "h1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<12>" LOC = "j2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<13>" LOC = "l2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<14>" LOC = "p1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<15>" LOC = "r1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<16>" LOC = "p2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<17>" LOC = "n2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<18>" LOC = "m2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<19>" LOC = "k1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<20>" LOC = "j1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<21>" LOC = "g2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<22>" LOC = "e1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<23>" LOC = "d1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<24>" LOC = "d2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<25>" LOC = "e2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<26>" LOC = "g1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<27>" LOC = "f5" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<28>" LOC = "c3" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<29>" LOC = "k2" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<30>" LOC = "m1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<31>" LOC = "n1" | IOSTANDARD=LVCMOS33;
NET "IO_MEM_DATA<*>" DRIVE=6 | SLEW=SLOW | KEEPER;
##
