## $Id: s3board_a2_pm1_rs232.ucf 295 2010-05-29 16:58:01Z mueller $
##
## Revision History: 
## Date         Rev Version  Comment
## 2010-05-22   293   1.1    Rename PM1 -> FUSP
## 2010-04-24   281   1.0    Initial version 
##
## expansion connector A2 / slot PMod 1 / usage RS232 for FTDI USB serport ---
##
## PmodRS232: pins: 1 RTS; 2 CTS; 3 RXD; 4 TXD; 5 GND; 6 VCC
##
NET "O_FUSP_RTS_N" LOC = "c6"  | IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
NET "I_FUSP_CTS_N" LOC = "e7"  | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET "I_FUSP_RXD"   LOC = "c7"  | IOSTANDARD=LVCMOS33 | PULLUP;
NET "O_FUSP_TXD"   LOC = "d7"  | IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
