# CLKOUT/FXCLK 
NET "fxclk" TNM_NET = "fxclk";
TIMESPEC "ts_fxclk" = PERIOD "fxclk" 48 MHz HIGH 50 %;
NET "fxclk"  LOC = "T7" | IOSTANDARD = LVCMOS33 ;

# led1
NET "led1<0>"	LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A6 / R16~IO_L49N_M1DQ11_1
NET "led1<1>"	LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B6 / R15~IO_L49P_M1DQ10_1
NET "led1<2>"	LOC = "P16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A7 / P16~IO_L48N_M1DQ9_1
NET "led1<3>"	LOC = "P15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B7 / P15~IO_L48P_HDC_M1DQ8_1
NET "led1<4>"	LOC = "N16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A8 / N16~IO_L45N_A0_M1LDQSN_1
NET "led1<5>"	LOC = "N14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B8 / N14~IO_L45P_A1_M1LDQS_1
NET "led1<6>"	LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A9 / M16~IO_L46N_FOE_B_M1DQ3_1
NET "led1<7>"	LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B9 / M15~IO_L46P_FCS_B_M1DQ2_1
NET "led1<8>"	LOC = "L13" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# A10 / L13~IO_L53N_VREF_1
NET "led1<9>"	LOC = "L12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# B10 / L12~IO_L53P_1

# sw
NET "sw<0>"	LOC = "L16" | IOSTANDARD = LVCMOS33 | PULLUP ;		# A11 / L16~IO_L47N_LDC_M1DQ1_1
NET "sw<1>"	LOC = "L14" | IOSTANDARD = LVCMOS33 | PULLUP ; 		# B11 / L14~IO_L47P_FWE_B_M1DQ0_1
NET "sw<2>"	LOC = "M13" | IOSTANDARD = LVCMOS33 | PULLUP ;		# A12 / M13~IO_L74P_AWAKE_1
NET "sw<3>"	LOC = "K12" | IOSTANDARD = LVCMOS33 | PULLUP ;		# B12 / K12~IO_L42P_GCLK7_M1UDM_1

# led2
NET "led2<0>"	LOC = "R2" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C3 / R2~IO_L32P_M3DQ14_3
NET "led2<1>"	LOC = "R1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D3 / R1~IO_L32N_M3DQ15_3
NET "led2<2>"	LOC = "P2" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C4 / P2~IO_L33P_M3DQ12_3
NET "led2<3>"	LOC = "P1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D4 / P1~IO_L33N_M3DQ13_3
NET "led2<4>"	LOC = "N3" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C5 / N3~IO_L34P_M3UDQS_3
NET "led2<5>"	LOC = "N1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D5 / N1~IO_L34N_M3UDQSN_3
NET "led2<6>"	LOC = "M5" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C6 / M5~IO_L2P_3
NET "led2<7>"	LOC = "N4" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D6 / N4~IO_L2N_3
NET "led2<8>"	LOC = "M4" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C7 / M4~IO_L1P_3
NET "led2<9>"	LOC = "M3" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D7 / M3~IO_L1N_VREF_3
NET "led2<10>"	LOC = "M2" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C8 / M2~IO_L35P_M3DQ10_3
NET "led2<11>"	LOC = "M1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D8 / M1~IO_L35N_M3DQ11_3
NET "led2<12>"	LOC = "L5" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C9 / L5~IO_L45N_M3ODT_3
NET "led2<13>"	LOC = "L4" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D9 / L4~IO_L45P_M3A3_3
NET "led2<14>"	LOC = "L3" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C10 / L3~IO_L36P_M3DQ8_3
NET "led2<15>"	LOC = "L1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D10 / L1~IO_L36N_M3DQ9_3
NET "led2<16>"	LOC = "K2" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C11 / K2~IO_L37P_M3DQ0_3
NET "led2<17>"	LOC = "K1" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D11 / K1~IO_L37N_M3DQ1_3
NET "led2<18>"	LOC = "J4" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# C12 / J4~IO_L42N_GCLK24_M3LDM_3
NET "led2<19>"	LOC = "K3" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# D12 / K3~IO_L42P_GCLK25_TRDY2_M3UDM_3
