# Altera 3c25 board based pinout and definitions.
# This file uses quartus qsf file format for compose final config file.

# RS232 Port
set_location_assignment PIN_12 -to uart_srx
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to uart_srx
set_location_assignment PIN_14 -to uart_stx
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to uart_stx

# 50 Mhz Pin
set_location_assignment PIN_152 -to clk
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to clk

# Reset pin. 
set_location_assignment PIN_200 -to reset
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to reset
