CONFIG STEPPING="0";

NET "clk" PERIOD = 20.000 ;
OFFSET = out : 37.000 : AFTER clk ;
OFFSET = in : 8.000 : BEFORE clk ;

NET "pci_clk" PERIOD = 30.000 ;
OFFSET = OUT : 11.000 : AFTER pci_clk ;
OFFSET = IN : 7.000 : BEFORE pci_clk ;

NET "erx_clk" PERIOD = 8.000 ;
OFFSET = IN : 2.5 : BEFORE erx_clk ;

NET "etx_clk" PERIOD = 40.000 ;
OFFSET = OUT : 15.000 : AFTER etx_clk ;
OFFSET = IN : 8.000 : BEFORE etx_clk ;

NET "usb_clkout" PERIOD = 16.000 ;
OFFSET = OUT : 10.000 AFTER usb_clkout;
OFFSET = IN : 10.000 BEFORE usb_clkout;
NET "usb_resetn" TIG ;

# precision
#INST "clkgen0_xc2v_v_dll0" LOC = DCM_ADV_X0Y8;
#INST "clkgen0_xc2v_v_sd0_dll1" LOC = DCM_ADV_X0Y6;
#INST "clkgen0/xc2v_v_clk2xgen_dll2x" LOC = DCM_ADV_X0Y7;

# synplify
#INST "clkgen0/xc2v.v/dll0" LOC = DCM_ADV_X0Y8;
#INST "clkgen0/xc2v.v/sd0.dll1" LOC = DCM_ADV_X0Y6;
#INST "clkgen0/xc2v.v/clk2xgen.dll2x" LOC = DCM_ADV_X0Y7;

NET "address(27)"  LOC =  "AD24" | IOSTANDARD=LVTTL;
NET "address(26)"  LOC =  "AE22" | IOSTANDARD=LVTTL;
NET "address(25)"  LOC =  "AH28" | IOSTANDARD=LVTTL;
NET "address(24)"  LOC =  "AB25" | IOSTANDARD=LVTTL;
NET "address(23)"  LOC =  "AA28" | IOSTANDARD=LVTTL;
NET "address(22)"  LOC =  "AB27" | IOSTANDARD=LVTTL;
NET "address(21)"  LOC =  "AG25" | IOSTANDARD=LVTTL;
NET "address(20)"  LOC =  "AA25" | IOSTANDARD=LVTTL;
NET "address(19)"  LOC =  "Y24" | IOSTANDARD=LVTTL;
NET "address(18)"  LOC =  "AE24" | IOSTANDARD=LVTTL;
NET "address(17)"  LOC =  "AF23" | IOSTANDARD=LVTTL;
NET "address(16)"  LOC =  "W10" | IOSTANDARD=LVTTL;
NET "address(15)"  LOC =  "AA24" | IOSTANDARD=LVTTL;
NET "address(14)"  LOC =  "AJ25" | IOSTANDARD=LVTTL;
NET "address(13)"  LOC =  "AF24" | IOSTANDARD=LVTTL;
NET "address(12)"  LOC =  "AE26" | IOSTANDARD=LVTTL;
NET "address(11)"  LOC =  "AK28" | IOSTANDARD=LVTTL;
NET "address(10)"  LOC =  "AF28" | IOSTANDARD=LVTTL;
NET "address(9)"  LOC =  "AC28" | IOSTANDARD=LVTTL;
NET "address(8)"  LOC =  "AG27" | IOSTANDARD=LVTTL;
NET "address(7)"  LOC =  "AB26" | IOSTANDARD=LVTTL;
NET "address(6)"  LOC =  "AE27" | IOSTANDARD=LVTTL;
NET "address(5)"  LOC =  "AG28" | IOSTANDARD=LVTTL;
NET "address(4)"  LOC =  "AK27" | IOSTANDARD=LVTTL;
NET "address(3)"  LOC =  "AK29" | IOSTANDARD=LVTTL;
NET "address(2)"  LOC =  "AH27" | IOSTANDARD=LVTTL;
NET "address(1)"  LOC =  "AB28" | IOSTANDARD=LVTTL;
NET "address(0)"  LOC =  "AC24" | IOSTANDARD=LVTTL;
NET "data(31)"  LOC =  "AE16" | IOSTANDARD=LVTTL;
NET "data(30)"  LOC =  "AF16" | IOSTANDARD=LVTTL;
NET "data(29)"  LOC =  "AD19" | IOSTANDARD=LVTTL;
NET "data(28)"  LOC =  "AE19" | IOSTANDARD=LVTTL;
NET "data(27)"  LOC =  "AD16" | IOSTANDARD=LVTTL;
NET "data(26)"  LOC =  "AE17" | IOSTANDARD=LVTTL;
NET "data(25)"  LOC =  "AC19" | IOSTANDARD=LVTTL;
NET "data(24)"  LOC =  "AC20" | IOSTANDARD=LVTTL;
NET "data(23)"  LOC =  "AJ29" | IOSTANDARD=LVTTL;
NET "data(22)"  LOC =  "AD25" | IOSTANDARD=LVTTL;
NET "data(21)"  LOC =  "AG20" | IOSTANDARD=LVTTL;
NET "data(20)"  LOC =  "AE23" | IOSTANDARD=LVTTL;
NET "data(19)"  LOC =  "AH20" | IOSTANDARD=LVTTL;
NET "data(18)"  LOC =  "AC25" | IOSTANDARD=LVTTL;
NET "data(17)"  LOC =  "AC27" | IOSTANDARD=LVTTL;
NET "data(16)"  LOC =  "AD27" | IOSTANDARD=LVTTL;
NET "data(15)"  LOC =  "AE13" | IOSTANDARD=LVTTL;
NET "data(14)"  LOC =  "AF15" | IOSTANDARD=LVTTL;
NET "data(13)"  LOC =  "AE18" | IOSTANDARD=LVTTL;
NET "data(12)"  LOC =  "AK19" | IOSTANDARD=LVTTL;
NET "data(11)"  LOC =  "AJ19" | IOSTANDARD=LVTTL;
NET "data(10)"  LOC =  "AE21" | IOSTANDARD=LVTTL;
NET "data(9)"  LOC =  "AG23" | IOSTANDARD=LVTTL;
NET "data(8)"  LOC =  "AF19" | IOSTANDARD=LVTTL;
NET "data(7)"  LOC =  "AE14" | IOSTANDARD=LVTTL;
NET "data(6)"  LOC =  "AG17" | IOSTANDARD=LVTTL;
NET "data(5)"  LOC =  "AG16" | IOSTANDARD=LVTTL;
NET "data(4)"  LOC =  "AF20" | IOSTANDARD=LVTTL;
NET "data(3)"  LOC =  "AF18" | IOSTANDARD=LVTTL;
NET "data(2)"  LOC =  "AD15" | IOSTANDARD=LVTTL;
NET "data(1)"  LOC =  "AE12" | IOSTANDARD=LVTTL;
NET "data(0)"  LOC =  "AE28" | IOSTANDARD=LVTTL;
NET "erxd(7)"  LOC =  "U7" | IOSTANDARD=LVTTL;
NET "erxd(6)"  LOC =  "U6" | IOSTANDARD=LVTTL;
NET "erxd(5)"  LOC =  "L6" | IOSTANDARD=LVTTL;
NET "erxd(4)"  LOC =  "R6" | IOSTANDARD=LVTTL;
NET "erxd(3)"  LOC =  "P6" | IOSTANDARD=LVTTL;
NET "erxd(2)"  LOC =  "N5" | IOSTANDARD=LVTTL;
NET "erxd(1)"  LOC =  "M6" | IOSTANDARD=LVTTL;
NET "erxd(0)"  LOC =  "L5" | IOSTANDARD=LVTTL;
NET "etxd(7)"  LOC =  "R4" | IOSTANDARD=LVTTL;
NET "etxd(6)"  LOC =  "P4" | IOSTANDARD=LVTTL;
NET "etxd(5)"  LOC =  "N4" | IOSTANDARD=LVTTL;
NET "etxd(4)"  LOC =  "M5" | IOSTANDARD=LVTTL;
NET "etxd(3)"  LOC =  "L4" | IOSTANDARD=LVTTL;
NET "etxd(2)"  LOC =  "K4" | IOSTANDARD=LVTTL;
NET "etxd(1)"  LOC =  "J4" | IOSTANDARD=LVTTL;
NET "etxd(0)"  LOC =  "H4" | IOSTANDARD=LVTTL;
NET "cb(7)"  LOC =  "AM33" | IOSTANDARD=LVTTL;
NET "cb(6)"  LOC =  "AN32" | IOSTANDARD=LVTTL;
NET "cb(5)"  LOC =  "AN33" | IOSTANDARD=LVTTL;
NET "cb(4)"  LOC =  "AP32" | IOSTANDARD=LVTTL;
NET "cb(3)"  LOC =  "AM32" | IOSTANDARD=LVTTL;
NET "cb(2)"  LOC =  "AN34" | IOSTANDARD=LVTTL;
NET "cb(1)"  LOC =  "AL33" | IOSTANDARD=LVTTL;
NET "cb(0)"  LOC =  "AL34" | IOSTANDARD=LVTTL;
#NET "genio(167)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "genio(166)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "genio(165)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "genio(164)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "genio(163)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "genio(162)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "genio(161)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "genio(160)"  LOC =  "" | IOSTANDARD=LVTTL;
NET "genio(159)"  LOC =  "AK32" | IOSTANDARD=LVTTL;
NET "genio(158)"  LOC =  "AJ32" | IOSTANDARD=LVTTL;
NET "genio(157)"  LOC =  "AH32" | IOSTANDARD=LVTTL;
NET "genio(156)"  LOC =  "AG32" | IOSTANDARD=LVTTL;
NET "genio(155)"  LOC =  "AK33" | IOSTANDARD=LVTTL;
NET "genio(154)"  LOC =  "AK34" | IOSTANDARD=LVTTL;
NET "genio(153)"  LOC =  "AH33" | IOSTANDARD=LVTTL;
NET "genio(152)"  LOC =  "AG33" | IOSTANDARD=LVTTL;
NET "genio(151)"  LOC =  "AE32" | IOSTANDARD=LVTTL;
NET "genio(150)"  LOC =  "AD32" | IOSTANDARD=LVTTL;
NET "genio(149)"  LOC =  "AJ34" | IOSTANDARD=LVTTL;
NET "genio(148)"  LOC =  "AH34" | IOSTANDARD=LVTTL;
NET "genio(147)"  LOC =  "AE34" | IOSTANDARD=LVTTL;
NET "genio(146)"  LOC =  "AF34" | IOSTANDARD=LVTTL;
NET "genio(145)"  LOC =  "AE33" | IOSTANDARD=LVTTL;
NET "genio(144)"  LOC =  "AF33" | IOSTANDARD=LVTTL;
NET "genio(143)"  LOC =  "AB33" | IOSTANDARD=LVTTL;
NET "genio(142)"  LOC =  "AC33" | IOSTANDARD=LVTTL;
NET "genio(141)"  LOC =  "AB32" | IOSTANDARD=LVTTL;
NET "genio(140)"  LOC =  "AC32" | IOSTANDARD=LVTTL;
NET "genio(139)"  LOC =  "AD34" | IOSTANDARD=LVTTL;
NET "genio(138)"  LOC =  "AC34" | IOSTANDARD=LVTTL;
NET "genio(137)"  LOC =  "W32" | IOSTANDARD=LVTTL;
NET "genio(136)"  LOC =  "Y32" | IOSTANDARD=LVTTL;
NET "genio(135)"  LOC =  "Y34" | IOSTANDARD=LVTTL;
NET "genio(134)"  LOC =  "AA34" | IOSTANDARD=LVTTL;
NET "genio(133)"  LOC =  "Y33" | IOSTANDARD=LVTTL;
NET "genio(132)"  LOC =  "AA33" | IOSTANDARD=LVTTL;
NET "genio(131)"  LOC =  "V34" | IOSTANDARD=LVTTL;
NET "genio(130)"  LOC =  "W34" | IOSTANDARD=LVTTL;
NET "genio(129)"  LOC =  "V32" | IOSTANDARD=LVTTL;
NET "genio(128)"  LOC =  "V33" | IOSTANDARD=LVTTL;
#NET "genio(127)"  LOC =  "V25" | IOSTANDARD=LVCMOS25;
#NET "genio(126)"  LOC =  "V30" | IOSTANDARD=LVCMOS25;
#NET "genio(125)"  LOC =  "W25" | IOSTANDARD=LVCMOS25;
#NET "genio(124)"  LOC =  "W30" | IOSTANDARD=LVCMOS25;
#NET "genio(123)"  LOC =  "Y29" | IOSTANDARD=LVCMOS25;
#NET "genio(122)"  LOC =  "W27" | IOSTANDARD=LVCMOS25;
#NET "genio(121)"  LOC =  "Y28" | IOSTANDARD=LVCMOS25;
#NET "genio(120)"  LOC =  "Y27" | IOSTANDARD=LVCMOS25;
NET "genio(119)"  LOC =  "W29" | IOSTANDARD=LVCMOS25;
NET "genio(118)"  LOC =  "W24" | IOSTANDARD=LVCMOS25;
NET "genio(117)"  LOC =  "V29" | IOSTANDARD=LVCMOS25;
NET "genio(116)"  LOC =  "V24" | IOSTANDARD=LVCMOS25;
NET "genio(115)"  LOC =  "Y31" | IOSTANDARD=LVCMOS25;
NET "genio(114)"  LOC =  "AA30" | IOSTANDARD=LVCMOS25;
NET "genio(113)"  LOC =  "W31" | IOSTANDARD=LVCMOS25;
NET "genio(112)"  LOC =  "AA29" | IOSTANDARD=LVCMOS25;
NET "genio(111)"  LOC =  "V28" | IOSTANDARD=LVCMOS25;
NET "genio(110)"  LOC =  "AD30" | IOSTANDARD=LVCMOS25;
NET "genio(109)"  LOC =  "V27" | IOSTANDARD=LVCMOS25;
NET "genio(108)"  LOC =  "AC29" | IOSTANDARD=LVCMOS25;
NET "genio(107)"  LOC =  "AB30" | IOSTANDARD=LVCMOS25;
NET "genio(106)"  LOC =  "AD29" | IOSTANDARD=LVCMOS25;
NET "genio(105)"  LOC =  "AC30" | IOSTANDARD=LVCMOS25;
NET "genio(104)"  LOC =  "AE29" | IOSTANDARD=LVCMOS25;
NET "genio(103)"  LOC =  "Y26" | IOSTANDARD=LVCMOS25;
NET "genio(102)"  LOC =  "AH29" | IOSTANDARD=LVCMOS25;
NET "genio(101)"  LOC =  "W26" | IOSTANDARD=LVCMOS25;
NET "genio(100)"  LOC =  "AG30" | IOSTANDARD=LVCMOS25;
NET "genio(99)"  LOC =  "AA31" | IOSTANDARD=LVCMOS25;
NET "genio(98)"  LOC =  "AH30" | IOSTANDARD=LVCMOS25;
NET "genio(97)"  LOC =  "AB31" | IOSTANDARD=LVCMOS25;
NET "genio(96)"  LOC =  "AJ30" | IOSTANDARD=LVCMOS25;
NET "genio(95)"  LOC =  "AF29" | IOSTANDARD=LVCMOS25;
NET "genio(94)"  LOC =  "AJ31" | IOSTANDARD=LVCMOS25;
NET "genio(93)"  LOC =  "AF30" | IOSTANDARD=LVCMOS25;
NET "genio(92)"  LOC =  "AK31" | IOSTANDARD=LVCMOS25;
NET "genio(91)"  LOC =  "AG31" | IOSTANDARD=LVCMOS25;
NET "genio(90)"  LOC =  "H28" | IOSTANDARD=LVTTL;
NET "genio(89)"  LOC =  "AF31" | IOSTANDARD=LVCMOS25;
NET "genio(88)"  LOC =  "K27" | IOSTANDARD=LVTTL;
NET "genio(87)"  LOC =  "L26" | IOSTANDARD=LVTTL;
NET "genio(86)"  LOC =  "N27" | IOSTANDARD=LVTTL;
NET "genio(85)"  LOC =  "G28" | IOSTANDARD=LVTTL;
NET "genio(84)"  LOC =  "L28" | IOSTANDARD=LVTTL;
NET "genio(83)"  LOC =  "J27" | IOSTANDARD=LVTTL;
NET "genio(82)"  LOC =  "M28" | IOSTANDARD=LVTTL;
NET "genio(81)"  LOC =  "H10" | IOSTANDARD=LVTTL;
NET "genio(80)"  LOC =  "N28" | IOSTANDARD=LVTTL;
#NET "genio(79)"  LOC =  "T11" | IOSTANDARD=LVTTL;
#NET "genio(78)"  LOC =  "N8" | IOSTANDARD=LVTTL;
#NET "genio(77)"  LOC =  "P10" | IOSTANDARD=LVTTL;
#NET "genio(76)"  LOC =  "N10" | IOSTANDARD=LVTTL;
#NET "genio(75)"  LOC =  "R11" | IOSTANDARD=LVTTL;
#NET "genio(74)"  LOC =  "T8" | IOSTANDARD=LVTTL;
#NET "genio(73)"  LOC =  "U8" | IOSTANDARD=LVTTL;
#NET "genio(72)"  LOC =  "T6" | IOSTANDARD=LVTTL;
#NET "genio(71)"  LOC =  "R7" | IOSTANDARD=LVTTL;
#NET "genio(70)"  LOC =  "P5" | IOSTANDARD=LVTTL;
#NET "genio(69)"  LOC =  "F5" | IOSTANDARD=LVTTL;
#NET "genio(68)"  LOC =  "N9" | IOSTANDARD=LVTTL;
#NET "genio(67)"  LOC =  "M8" | IOSTANDARD=LVTTL;
#NET "genio(66)"  LOC =  "P9" | IOSTANDARD=LVTTL;
#NET "genio(65)"  LOC =  "K9" | IOSTANDARD=LVTTL;
#NET "genio(64)"  LOC =  "G10" | IOSTANDARD=LVTTL;
NET "genio(63)"  LOC =  "L14" | IOSTANDARD=LVTTL;
NET "genio(62)"  LOC =  "M10" | IOSTANDARD=LVTTL;
NET "genio(61)"  LOC =  "F10" | IOSTANDARD=LVTTL;
NET "genio(60)"  LOC =  "K12" | IOSTANDARD=LVTTL;
NET "genio(59)"  LOC =  "L11" | IOSTANDARD=LVTTL;
NET "genio(58)"  LOC =  "M11" | IOSTANDARD=LVTTL;
NET "genio(57)"  LOC =  "P11" | IOSTANDARD=LVTTL;
NET "genio(56)"  LOC =  "K13" | IOSTANDARD=LVTTL;
NET "genio(55)"  LOC =  "T9" | IOSTANDARD=LVTTL;
NET "genio(54)"  LOC =  "K14" | IOSTANDARD=LVTTL;
NET "genio(53)"  LOC =  "P7" | IOSTANDARD=LVTTL;
NET "genio(52)"  LOC =  "J12" | IOSTANDARD=LVTTL;
NET "genio(51)"  LOC =  "L21" | IOSTANDARD=LVTTL;
NET "genio(50)"  LOC =  "L23" | IOSTANDARD=LVTTL;
NET "genio(49)"  LOC =  "J11" | IOSTANDARD=LVTTL;
NET "genio(48)"  LOC =  "K11" | IOSTANDARD=LVTTL;
NET "genio(47)"  LOC =  "L9" | IOSTANDARD=LVTTL;
NET "genio(46)"  LOC =  "K16" | IOSTANDARD=LVTTL;
NET "genio(45)"  LOC =  "L10" | IOSTANDARD=LVTTL;
NET "genio(44)"  LOC =  "K17" | IOSTANDARD=LVTTL;
NET "genio(43)"  LOC =  "L16" | IOSTANDARD=LVTTL;
NET "genio(42)"  LOC =  "U11" | IOSTANDARD=LVTTL;
NET "genio(41)"  LOC =  "K19" | IOSTANDARD=LVTTL;
NET "genio(40)"  LOC =  "K18" | IOSTANDARD=LVTTL;
NET "genio(39)"  LOC =  "J19" | IOSTANDARD=LVTTL;
NET "genio(38)"  LOC =  "K22" | IOSTANDARD=LVTTL;
NET "genio(37)"  LOC =  "K21" | IOSTANDARD=LVTTL;
NET "genio(36)"  LOC =  "E26" | IOSTANDARD=LVTTL;
NET "genio(35)"  LOC =  "F25" | IOSTANDARD=LVTTL;
NET "genio(34)"  LOC =  "E27" | IOSTANDARD=LVTTL;
NET "genio(33)"  LOC =  "N24" | IOSTANDARD=LVTTL;
NET "genio(32)"  LOC =  "L24" | IOSTANDARD=LVTTL;
NET "genio(31)"  LOC =  "R24" | IOSTANDARD=LVTTL;
NET "genio(30)"  LOC =  "P25" | IOSTANDARD=LVTTL;
NET "genio(29)"  LOC =  "H25" | IOSTANDARD=LVTTL;
NET "genio(28)"  LOC =  "M26" | IOSTANDARD=LVTTL;
NET "genio(27)"  LOC =  "G26" | IOSTANDARD=LVTTL;
NET "genio(26)"  LOC =  "M27" | IOSTANDARD=LVTTL;
NET "genio(25)"  LOC =  "K28" | IOSTANDARD=LVTTL;
NET "genio(24)"  LOC =  "K24" | IOSTANDARD=LVTTL;
NET "genio(23)"  LOC =  "P26" | IOSTANDARD=LVTTL;
NET "genio(22)"  LOC =  "H24" | IOSTANDARD=LVTTL;
NET "genio(21)"  LOC =  "J22" | IOSTANDARD=LVTTL;
NET "genio(20)"  LOC =  "L25" | IOSTANDARD=LVTTL;
NET "genio(19)"  LOC =  "J24" | IOSTANDARD=LVTTL;
NET "genio(18)"  LOC =  "G25" | IOSTANDARD=LVTTL;
NET "genio(17)"  LOC =  "J10" | IOSTANDARD=LVTTL;
NET "genio(16)"  LOC =  "J25" | IOSTANDARD=LVTTL;
NET "genio(15)"  LOC =  "P27" | IOSTANDARD=LVTTL;
NET "genio(14)"  LOC =  "N25" | IOSTANDARD=LVTTL;
NET "genio(13)"  LOC =  "F26" | IOSTANDARD=LVTTL;
NET "genio(12)"  LOC =  "F28" | IOSTANDARD=LVTTL;
NET "genio(11)"  LOC =  "J26" | IOSTANDARD=LVTTL;
NET "genio(10)"  LOC =  "M25" | IOSTANDARD=LVTTL;
NET "genio(9)"  LOC =  "E28" | IOSTANDARD=LVTTL;
NET "genio(8)"  LOC =  "K26" | IOSTANDARD=LVTTL;
NET "genio(7)"  LOC =  "U10" | IOSTANDARD=LVTTL;
NET "genio(6)"  LOC =  "L19" | IOSTANDARD=LVTTL;
NET "genio(5)"  LOC =  "L20" | IOSTANDARD=LVTTL;
NET "genio(4)"  LOC =  "T24" | IOSTANDARD=LVTTL;
NET "genio(3)"  LOC =  "G27" | IOSTANDARD=LVTTL;
NET "genio(2)"  LOC =  "P24" | IOSTANDARD=LVTTL;
NET "genio(1)"  LOC =  "H27" | IOSTANDARD=LVTTL;
NET "genio(0)"  LOC =  "K23" | IOSTANDARD=LVTTL;
#NET "lvdsn(31)"  LOC =  "" | IOSTANDARD = LVDS_25;
#NET "lvdsn(30)"  LOC =  "" | IOSTANDARD = LVDS_25;
#NET "lvdsn(29)"  LOC =  "" | IOSTANDARD = LVDS_25;
#NET "lvdsn(28)"  LOC =  "" | IOSTANDARD = LVDS_25;
NET "lvdsn(27)"  LOC =  "AM1" | IOSTANDARD = LVDS_25;
NET "lvdsn(26)"  LOC =  "AD2" | IOSTANDARD = LVDS_25;
NET "lvdsn(25)"  LOC =  "AJ2" | IOSTANDARD = LVDS_25;
NET "lvdsn(24)"  LOC =  "AB2" | IOSTANDARD = LVDS_25;
NET "lvdsn(23)"  LOC =  "AG2" | IOSTANDARD = LVDS_25;
NET "lvdsn(22)"  LOC =  "AA3" | IOSTANDARD = LVDS_25;
NET "lvdsn(21)"  LOC =  "AE3" | IOSTANDARD = LVDS_25;
NET "lvdsn(20)"  LOC =  "Y2" | IOSTANDARD = LVDS_25;
NET "lvdsn(19)"  LOC =  "AD1" | IOSTANDARD = LVDS_25;
NET "lvdsn(18)"  LOC =  "V3" | IOSTANDARD = LVDS_25;
NET "lvdsn(17)"  LOC =  "Y1" | IOSTANDARD = LVDS_25;
NET "lvdsn(16)"  LOC =  "T3" | IOSTANDARD = LVDS_25;
NET "lvdsn(15)"  LOC =  "U2" | IOSTANDARD = LVDS_25;
NET "lvdsn(14)"  LOC =  "R3" | IOSTANDARD = LVDS_25;
NET "lvdsn(13)"  LOC =  "R1" | IOSTANDARD = LVDS_25;
NET "lvdsn(12)"  LOC =  "N3" | IOSTANDARD = LVDS_25;
NET "lvdsn(11)"  LOC =  "R2" | IOSTANDARD = LVDS_25;
NET "lvdsn(10)"  LOC =  "L3" | IOSTANDARD = LVDS_25;
NET "lvdsn(9)"  LOC =  "G1" | IOSTANDARD = LVDS_25;
NET "lvdsn(8)"  LOC =  "K2" | IOSTANDARD = LVDS_25;
NET "lvdsn(7)"  LOC =  "E1" | IOSTANDARD = LVDS_25;
NET "lvdsn(6)"  LOC =  "H3" | IOSTANDARD = LVDS_25;
NET "lvdsn(5)"  LOC =  "D1" | IOSTANDARD = LVDS_25;
NET "lvdsn(4)"  LOC =  "G2" | IOSTANDARD = LVDS_25;
NET "lvdsn(3)"  LOC =  "B1" | IOSTANDARD = LVDS_25;
NET "lvdsn(2)"  LOC =  "F3" | IOSTANDARD = LVDS_25;
NET "lvdsn(1)"  LOC =  "B3" | IOSTANDARD = LVDS_25;
NET "lvdsn(0)"  LOC =  "B2" | IOSTANDARD = LVDS_25;
#NET "lvdsp(31)"  LOC =  "" | IOSTANDARD = LVDS_25;
#NET "lvdsp(30)"  LOC =  "" | IOSTANDARD = LVDS_25;
#NET "lvdsp(29)"  LOC =  "" | IOSTANDARD = LVDS_25;
#NET "lvdsp(28)"  LOC =  "" | IOSTANDARD = LVDS_25;
NET "lvdsp(27)"  LOC =  "AL1" | IOSTANDARD = LVDS_25;
NET "lvdsp(26)"  LOC =  "AE2" | IOSTANDARD = LVDS_25;
NET "lvdsp(25)"  LOC =  "AH2" | IOSTANDARD = LVDS_25;
NET "lvdsp(24)"  LOC =  "AC3" | IOSTANDARD = LVDS_25;
NET "lvdsp(23)"  LOC =  "AG1" | IOSTANDARD = LVDS_25;
NET "lvdsp(22)"  LOC =  "AB3" | IOSTANDARD = LVDS_25;
NET "lvdsp(21)"  LOC =  "AF3" | IOSTANDARD = LVDS_25;
NET "lvdsp(20)"  LOC =  "Y3" | IOSTANDARD = LVDS_25;
NET "lvdsp(19)"  LOC =  "AC2" | IOSTANDARD = LVDS_25;
NET "lvdsp(18)"  LOC =  "V4" | IOSTANDARD = LVDS_25;
NET "lvdsp(17)"  LOC =  "W2" | IOSTANDARD = LVDS_25;
NET "lvdsp(16)"  LOC =  "U3" | IOSTANDARD = LVDS_25;
NET "lvdsp(15)"  LOC =  "U1" | IOSTANDARD = LVDS_25;
NET "lvdsp(14)"  LOC =  "P2" | IOSTANDARD = LVDS_25;
NET "lvdsp(13)"  LOC =  "T1" | IOSTANDARD = LVDS_25;
NET "lvdsp(12)"  LOC =  "M3" | IOSTANDARD = LVDS_25;
NET "lvdsp(11)"  LOC =  "P1" | IOSTANDARD = LVDS_25;
NET "lvdsp(10)"  LOC =  "K3" | IOSTANDARD = LVDS_25;
NET "lvdsp(9)"  LOC =  "F1" | IOSTANDARD = LVDS_25;
NET "lvdsp(8)"  LOC =  "J2" | IOSTANDARD = LVDS_25;
NET "lvdsp(7)"  LOC =  "E2" | IOSTANDARD = LVDS_25;
NET "lvdsp(6)"  LOC =  "H2" | IOSTANDARD = LVDS_25;
NET "lvdsp(5)"  LOC =  "D2" | IOSTANDARD = LVDS_25;
NET "lvdsp(4)"  LOC =  "G3" | IOSTANDARD = LVDS_25;
NET "lvdsp(3)"  LOC =  "C2" | IOSTANDARD = LVDS_25;
NET "lvdsp(2)"  LOC =  "E3" | IOSTANDARD = LVDS_25;
NET "lvdsp(1)"  LOC =  "A3" | IOSTANDARD = LVDS_25;
NET "lvdsp(0)"  LOC =  "C3" | IOSTANDARD = LVDS_25;
NET "pci_ad(31)"  LOC =  "AD4" | IOSTANDARD=PCI33_3;
NET "pci_ad(30)"  LOC =  "AD6" | IOSTANDARD=PCI33_3;
NET "pci_ad(29)"  LOC =  "AK4" | IOSTANDARD=PCI33_3;
NET "pci_ad(28)"  LOC =  "AA6" | IOSTANDARD=PCI33_3;
NET "pci_ad(27)"  LOC =  "AE6" | IOSTANDARD=PCI33_3;
NET "pci_ad(26)"  LOC =  "AC4" | IOSTANDARD=PCI33_3;
NET "pci_ad(25)"  LOC =  "AA5" | IOSTANDARD=PCI33_3;
NET "pci_ad(24)"  LOC =  "AC5" | IOSTANDARD=PCI33_3;
NET "pci_ad(23)"  LOC =  "AB6" | IOSTANDARD=PCI33_3;
NET "pci_ad(22)"  LOC =  "AC9" | IOSTANDARD=PCI33_3;
NET "pci_ad(21)"  LOC =  "AB5" | IOSTANDARD=PCI33_3;
NET "pci_ad(20)"  LOC =  "AA4" | IOSTANDARD=PCI33_3;
NET "pci_ad(19)"  LOC =  "AB7" | IOSTANDARD=PCI33_3;
NET "pci_ad(18)"  LOC =  "AJ4" | IOSTANDARD=PCI33_3;
NET "pci_ad(17)"  LOC =  "AD5" | IOSTANDARD=PCI33_3;
NET "pci_ad(16)"  LOC =  "Y7" | IOSTANDARD=PCI33_3;
NET "pci_ad(15)"  LOC =  "AH7" | IOSTANDARD=PCI33_3;
NET "pci_ad(14)"  LOC =  "AJ6" | IOSTANDARD=PCI33_3;
NET "pci_ad(13)"  LOC =  "AF8" | IOSTANDARD=PCI33_3;
NET "pci_ad(12)"  LOC =  "AJ7" | IOSTANDARD=PCI33_3;
NET "pci_ad(11)"  LOC =  "AK9" | IOSTANDARD=PCI33_3;
NET "pci_ad(10)"  LOC =  "AF9" | IOSTANDARD=PCI33_3;
NET "pci_ad(9)"  LOC =  "AE9" | IOSTANDARD=PCI33_3;
NET "pci_ad(8)"  LOC =  "Y8" | IOSTANDARD=PCI33_3;
NET "pci_ad(7)"  LOC =  "AC8" | IOSTANDARD=PCI33_3;
NET "pci_ad(6)"  LOC =  "AH9" | IOSTANDARD=PCI33_3;
NET "pci_ad(5)"  LOC =  "AH10" | IOSTANDARD=PCI33_3;
NET "pci_ad(4)"  LOC =  "AJ10" | IOSTANDARD=PCI33_3;
NET "pci_ad(3)"  LOC =  "AB10" | IOSTANDARD=PCI33_3;
NET "pci_ad(2)"  LOC =  "AF10" | IOSTANDARD=PCI33_3;
NET "pci_ad(1)"  LOC =  "Y9" | IOSTANDARD=PCI33_3;
NET "pci_ad(0)"  LOC =  "AE11" | IOSTANDARD=PCI33_3;
NET "pci_cbe(3)"  LOC =  "AF6" | IOSTANDARD=PCI33_3;
NET "pci_cbe(2)"  LOC =  "AG7" | IOSTANDARD=PCI33_3;
NET "pci_cbe(1)"  LOC =  "AE7" | IOSTANDARD=PCI33_3;
NET "pci_cbe(0)"  LOC =  "AK8" | IOSTANDARD=PCI33_3;
NET "pci_arb_gnt(3)"  LOC =  "AB8" | IOSTANDARD=PCI33_3;
NET "pci_arb_gnt(2)"  LOC =  "AJ9" | IOSTANDARD=PCI33_3;
NET "pci_arb_gnt(1)"  LOC =  "W5" | IOSTANDARD=PCI33_3;
NET "pci_arb_gnt(0)"  LOC =  "AD9" | IOSTANDARD=PCI33_3;
NET "pci_arb_req(3)"  LOC =  "AH8" | IOSTANDARD=PCI33_3;
NET "pci_arb_req(2)"  LOC =  "Y4" | IOSTANDARD=PCI33_3;
NET "pci_arb_req(1)"  LOC =  "AG8" | IOSTANDARD=PCI33_3;
NET "pci_arb_req(0)"  LOC =  "AA9" | IOSTANDARD=PCI33_3;
NET "ramoen(4)"  LOC =  "AG11" | IOSTANDARD=LVTTL;
NET "ramoen(3)"  LOC =  "AC10" | IOSTANDARD=LVTTL;
NET "ramoen(2)"  LOC =  "AD11" | IOSTANDARD=LVTTL;
NET "ramoen(1)"  LOC =  "W11" | IOSTANDARD=LVTTL;
NET "ramoen(0)"  LOC =  "AD20" | IOSTANDARD=LVTTL;
NET "ramsn(4)"  LOC =  "AK26" | IOSTANDARD=LVTTL;
NET "ramsn(3)"  LOC =  "AF25" | IOSTANDARD=LVTTL;
NET "ramsn(2)"  LOC =  "AF26" | IOSTANDARD=LVTTL;
NET "ramsn(1)"  LOC =  "AJ26" | IOSTANDARD=LVTTL;
NET "ramsn(0)"  LOC =  "AG26" | IOSTANDARD=LVTTL;
NET "romsn(1)"  LOC =  "AA11" | IOSTANDARD=LVTTL;
NET "romsn(0)"  LOC =  "AA8" | IOSTANDARD=LVTTL;
NET "rwen(3)"  LOC =  "AH25" | IOSTANDARD=LVTTL;
NET "rwen(2)"  LOC =  "AD26" | IOSTANDARD=LVTTL;
NET "rwen(1)"  LOC =  "AJ27" | IOSTANDARD=LVTTL;
NET "rwen(0)"  LOC =  "AA26" | IOSTANDARD=LVTTL;

NET "sa(14)" LOC = "P31" | IOSTANDARD=LVTTL; # aka sba(1)
NET "sa(13)" LOC = "R31" | IOSTANDARD=LVTTL; # aka sba(0)

#NET "sa(15)"  LOC =  "P31" | IOSTANDARD=LVTTL;
#NET "sa(14)"  LOC =  "R31" | IOSTANDARD=LVTTL;
#NET "sa(13)"  LOC =  "G30" | IOSTANDARD=LVTTL;
NET "sa(12)"  LOC =  "G32" | IOSTANDARD=LVTTL;
NET "sa(11)"  LOC =  "L31" | IOSTANDARD=LVTTL;
NET "sa(10)"  LOC =  "J20" | IOSTANDARD=LVTTL;
NET "sa(9)"  LOC =  "G20" | IOSTANDARD=LVTTL;
NET "sa(8)"  LOC =  "K31" | IOSTANDARD=LVTTL;
NET "sa(7)"  LOC =  "E32" | IOSTANDARD=LVTTL;
NET "sa(6)"  LOC =  "J30" | IOSTANDARD=LVTTL;
NET "sa(5)"  LOC =  "T33" | IOSTANDARD=LVTTL;
NET "sa(4)"  LOC =  "T34" | IOSTANDARD=LVTTL;
NET "sa(3)"  LOC =  "U33" | IOSTANDARD=LVTTL;
NET "sa(2)"  LOC =  "J15" | IOSTANDARD=LVTTL;
NET "sa(1)"  LOC =  "G21" | IOSTANDARD=LVTTL;
NET "sa(0)"  LOC =  "T25" | IOSTANDARD=LVTTL;

NET "sd(63)"  LOC =  "E34" | IOSTANDARD=LVTTL;
NET "sd(62)"  LOC =  "F33" | IOSTANDARD=LVTTL;
NET "sd(61)"  LOC =  "F34" | IOSTANDARD=LVTTL;
NET "sd(60)"  LOC =  "G33" | IOSTANDARD=LVTTL;
NET "sd(59)"  LOC =  "H33" | IOSTANDARD=LVTTL;
NET "sd(58)"  LOC =  "H34" | IOSTANDARD=LVTTL;
NET "sd(57)"  LOC =  "J34" | IOSTANDARD=LVTTL;
NET "sd(56)"  LOC =  "K33" | IOSTANDARD=LVTTL;
NET "sd(55)"  LOC =  "F31" | IOSTANDARD=LVTTL;
NET "sd(54)"  LOC =  "N30" | IOSTANDARD=LVTTL;
NET "sd(53)"  LOC =  "M31" | IOSTANDARD=LVTTL;
NET "sd(52)"  LOC =  "U31" | IOSTANDARD=LVTTL;
NET "sd(51)"  LOC =  "U32" | IOSTANDARD=LVTTL;
NET "sd(50)"  LOC =  "G31" | IOSTANDARD=LVTTL;
NET "sd(49)"  LOC =  "J31" | IOSTANDARD=LVTTL;
NET "sd(48)"  LOC =  "U25" | IOSTANDARD=LVTTL;
NET "sd(47)"  LOC =  "H32" | IOSTANDARD=LVTTL;
NET "sd(46)"  LOC =  "L34" | IOSTANDARD=LVTTL;
NET "sd(45)"  LOC =  "M33" | IOSTANDARD=LVTTL;
NET "sd(44)"  LOC =  "N33" | IOSTANDARD=LVTTL;
NET "sd(43)"  LOC =  "N34" | IOSTANDARD=LVTTL;
NET "sd(42)"  LOC =  "P34" | IOSTANDARD=LVTTL;
NET "sd(41)"  LOC =  "R33" | IOSTANDARD=LVTTL;
NET "sd(40)"  LOC =  "R34" | IOSTANDARD=LVTTL;
NET "sd(39)"  LOC =  "N32" | IOSTANDARD=LVTTL;
NET "sd(38)"  LOC =  "P30" | IOSTANDARD=LVTTL;
NET "sd(37)"  LOC =  "R27" | IOSTANDARD=LVTTL;
NET "sd(36)"  LOC =  "P32" | IOSTANDARD=LVTTL;
NET "sd(35)"  LOC =  "T29" | IOSTANDARD=LVTTL;
NET "sd(34)"  LOC =  "T30" | IOSTANDARD=LVTTL;
NET "sd(33)"  LOC =  "U28" | IOSTANDARD=LVTTL;
NET "sd(32)"  LOC =  "U30" | IOSTANDARD=LVTTL;
NET "sd(31)"  LOC =  "H23" | IOSTANDARD=LVTTL;
NET "sd(30)"  LOC =  "G22" | IOSTANDARD=LVTTL;
NET "sd(29)"  LOC =  "C32" | IOSTANDARD=LVTTL;
NET "sd(28)"  LOC =  "H22" | IOSTANDARD=LVTTL;
NET "sd(27)"  LOC =  "B32" | IOSTANDARD=LVTTL;
NET "sd(26)"  LOC =  "A33" | IOSTANDARD=LVTTL;
NET "sd(25)"  LOC =  "B33" | IOSTANDARD=LVTTL;
NET "sd(24)"  LOC =  "D32" | IOSTANDARD=LVTTL;
NET "sd(23)"  LOC =  "K29" | IOSTANDARD=LVTTL;
NET "sd(22)"  LOC =  "L29" | IOSTANDARD=LVTTL;
NET "sd(21)"  LOC =  "L30" | IOSTANDARD=LVTTL;
NET "sd(20)"  LOC =  "M30" | IOSTANDARD=LVTTL;
NET "sd(19)"  LOC =  "N29" | IOSTANDARD=LVTTL;
NET "sd(18)"  LOC =  "P29" | IOSTANDARD=LVTTL;
NET "sd(17)"  LOC =  "R32" | IOSTANDARD=LVTTL;
NET "sd(16)"  LOC =  "E31" | IOSTANDARD=LVTTL;
NET "sd(15)"  LOC =  "F20" | IOSTANDARD=LVTTL;
NET "sd(14)"  LOC =  "J14" | IOSTANDARD=LVTTL;
NET "sd(13)"  LOC =  "J17" | IOSTANDARD=LVTTL;
NET "sd(12)"  LOC =  "H15" | IOSTANDARD=LVTTL;
NET "sd(11)"  LOC =  "H14" | IOSTANDARD=LVTTL;
NET "sd(10)"  LOC =  "G13" | IOSTANDARD=LVTTL;
NET "sd(9)"  LOC =  "H12" | IOSTANDARD=LVTTL;
NET "sd(8)"  LOC =  "H13" | IOSTANDARD=LVTTL;
NET "sd(7)"  LOC =  "R26" | IOSTANDARD=LVTTL;
NET "sd(6)"  LOC =  "C33" | IOSTANDARD=LVTTL;
NET "sd(5)"  LOC =  "C34" | IOSTANDARD=LVTTL;
NET "sd(4)"  LOC =  "D34" | IOSTANDARD=LVTTL;
NET "sd(3)"  LOC =  "E33" | IOSTANDARD=LVTTL;
NET "sd(2)"  LOC =  "H30" | IOSTANDARD=LVTTL;
NET "sd(1)"  LOC =  "J29" | IOSTANDARD=LVTTL;
NET "sd(0)"  LOC =  "J32" | IOSTANDARD=LVTTL;
#NET "sdcke(3)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "sdcke(2)"  LOC =  "" | IOSTANDARD=LVTTL;
NET "sdcke(1)"  LOC =  "H29" | IOSTANDARD=LVTTL;
NET "sdcke(0)"  LOC =  "F29" | IOSTANDARD=LVTTL;
#NET "sdcsn(3)"  LOC =  "" | IOSTANDARD=LVTTL;
#NET "sdcsn(2)"  LOC =  "" | IOSTANDARD=LVTTL;
NET "sdcsn(1)"  LOC =  "T31" | IOSTANDARD=LVTTL;
NET "sdcsn(0)"  LOC =  "T28" | IOSTANDARD=LVTTL;
NET "sddqm(7)"  LOC =  "K34" | IOSTANDARD=LVTTL;
NET "sddqm(6)"  LOC =  "L33" | IOSTANDARD=LVTTL;
NET "sddqm(5)"  LOC =  "K32" | IOSTANDARD=LVTTL;
NET "sddqm(4)"  LOC =  "M32" | IOSTANDARD=LVTTL;
NET "sddqm(3)"  LOC =  "J21" | IOSTANDARD=LVTTL;
NET "sddqm(2)"  LOC =  "H20" | IOSTANDARD=LVTTL;
NET "sddqm(1)"  LOC =  "E29" | IOSTANDARD=LVTTL;
NET "sddqm(0)"  LOC =  "T26" | IOSTANDARD=LVTTL;
NET "usb_d(7)"  LOC =  "E7" | IOSTANDARD=LVCMOS33;
NET "usb_d(6)"  LOC =  "F8" | IOSTANDARD=LVCMOS33;
NET "usb_d(5)"  LOC =  "H7" | IOSTANDARD=LVCMOS33;
NET "usb_d(4)"  LOC =  "F9" | IOSTANDARD=LVCMOS33;
NET "usb_d(3)"  LOC =  "E9" | IOSTANDARD=LVCMOS33;
NET "usb_d(2)"  LOC =  "H9" | IOSTANDARD=LVCMOS33;
NET "usb_d(1)"  LOC =  "G8" | IOSTANDARD=LVCMOS33;
NET "usb_d(0)"  LOC =  "E8" | IOSTANDARD=LVCMOS33;
#NET "xd(7)"  LOC =  "AE16" | IOSTANDARD=LVTTL;
#NET "xd(6)"  LOC =  "AF16" | IOSTANDARD=LVTTL;
#NET "xd(5)"  LOC =  "AD19" | IOSTANDARD=LVTTL;
#NET "xd(4)"  LOC =  "AE19" | IOSTANDARD=LVTTL;
#NET "xd(3)"  LOC =  "AD16" | IOSTANDARD=LVTTL;
#NET "xd(2)"  LOC =  "AE17" | IOSTANDARD=LVTTL;
#NET "xd(1)"  LOC =  "AC19" | IOSTANDARD=LVTTL;
#NET "xd(0)"  LOC =  "AC20" | IOSTANDARD=LVTTL;
NET "pci_gnt"  LOC =  "AG5" | IOSTANDARD=PCI33_3  | BYPASS;
NET "pci_devsel"  LOC =  "AF4" | IOSTANDARD=PCI33_3  | BYPASS; # the PCI spec calls this devseln
NET "pci_frame"  LOC =  "AE4" | IOSTANDARD=PCI33_3  | BYPASS; # the PCI spec calls this framen
NET "pci_host"  LOC =  "V5" | IOSTANDARD=PCI33_3;
NET "pci_irdy"  LOC =  "AC7" | IOSTANDARD=PCI33_3 | BYPASS; # the PCI spec calls this" irdyn
NET "pci_idsel"  LOC =  "AE8" | IOSTANDARD=PCI33_3 | BYPASS;
NET "dsuact"  LOC =  "V10" | IOSTANDARD=LVTTL;
NET "pci_req"  LOC =  "AG6" | IOSTANDARD=PCI33_3  | BYPASS;
NET "dsubre"  LOC =  "AD10" | IOSTANDARD=LVTTL;
NET "pci_perr"  LOC =  "AJ5" | IOSTANDARD=PCI33_3 | BYPASS; # the PCI spec calls this perrn
NET "pci_stop"  LOC =  "AH5" | IOSTANDARD=PCI33_3  | BYPASS; # the PCI spec calls this stopn
NET "dsutx"  LOC =  "V8" | IOSTANDARD=LVTTL;
NET "writen"  LOC =  "AC15" | IOSTANDARD=LVTTL;
NET "pci_trdy"  LOC =  "AF5" | IOSTANDARD=PCI33_3 | BYPASS; # the PCI spec calls this trdyn
NET "errorn"  LOC =  "W6" | IOSTANDARD=LVTTL;
NET "iosn"  LOC =  "AB11" | IOSTANDARD=LVTTL;
NET "read"  LOC =  "AA10" | IOSTANDARD=LVTTL;
NET "pci_rst"  LOC =  "W4" | IOSTANDARD=PCI33_3 | BYPASS;  # the PCI spec calls this rstn
NET "bexcn"  LOC =  "AF11" | IOSTANDARD=LVTTL;
NET "pci_serr"  LOC =  "AK6" | IOSTANDARD=PCI33_3 | BYPASS; # the PCI spec calls this serrn
NET "resetn"  LOC =  "V7" | IOSTANDARD=LVTTL;
NET "pci_par"  LOC =  "AD7" | IOSTANDARD=PCI33_3;
NET "pci_lock"  LOC =  "AH4" | IOSTANDARD=PCI33_3  | BYPASS; # the PCI spec calls this lockn
NET "wdogn"  LOC =  "Y6" | IOSTANDARD=LVTTL;
NET "dsuen"  LOC =  "W7" | IOSTANDARD=LVTTL;
NET "dsurx"  LOC =  "V9" | IOSTANDARD=LVTTL;
NET "oen"  LOC =  "Y11" | IOSTANDARD=LVTTL;
NET "brdyn"  LOC =  "AG10" | IOSTANDARD=LVTTL;
NET "emdio"  LOC =  "F4" | IOSTANDARD=LVTTL;
NET "usb_dir"  LOC =  "L8" | IOSTANDARD=LVCMOS33;
NET "eth_macclk"  LOC =  "AG21" | IOSTANDARD=LVTTL;
NET "usb_id"  LOC =  "M7" | IOSTANDARD=LVCMOS33;
NET "usb_faultn"  LOC =  "J9" | IOSTANDARD=LVCMOS33;
NET "eth_gtxclk"  LOC =  "E4" | IOSTANDARD=LVTTL;
NET "usb_vbus"  LOC =  "K8" | IOSTANDARD=LVCMOS33;
NET "sdrasn"  LOC =  "U26" | IOSTANDARD=LVTTL;
NET "eth_mdintn"  LOC =  "G5" | IOSTANDARD=LVTTL;
NET "usb_stp"  LOC =  "H8" | IOSTANDARD=LVCMOS33;
NET "usb_csn"  LOC =  "F6" | IOSTANDARD=LVCMOS33;
NET "sdcasn"  LOC =  "F30" | IOSTANDARD=LVTTL;
NET "sdwen"  LOC =  "U27" | IOSTANDARD=LVTTL;
NET "emdc"  LOC =  "H5" | IOSTANDARD=LVTTL;
NET "erx_col"  LOC =  "K6" | IOSTANDARD=LVTTL;
NET "usb_clock"  LOC =  "K7" | IOSTANDARD=LVCMOS33;
NET "erx_crs"  LOC =  "J5" | IOSTANDARD=LVTTL;
NET "usb_nxt"  LOC =  "N7" | IOSTANDARD=LVCMOS33;
NET "usb_clkout"  LOC =  "AG22" | IOSTANDARD=LVCMOS33;
NET "erx_dv"  LOC =  "U5" | IOSTANDARD=LVTTL;
NET "usb_resetn"  LOC =  "J7" | IOSTANDARD=LVCMOS33;
NET "usb_fault"  LOC =  "G6" | IOSTANDARD=LVCMOS33;
NET "usb_enablen"  LOC =  "G7" | IOSTANDARD=LVCMOS33;
NET "erx_er"  LOC =  "T5" | IOSTANDARD=LVTTL;
NET "spw_clk"  LOC =  "J16" | IOSTANDARD=LVTTL;
NET "erx_clk"  LOC =  "AG13" | IOSTANDARD=LVTTL;
NET "etx_en"  LOC =  "T4" | IOSTANDARD=LVTTL;
NET "clk"  LOC =  "H18" | IOSTANDARD=LVTTL;
NET "pci_clk"  LOC =  "AG15" | IOSTANDARD=LVTTL;
NET "sdclk"  LOC =  "L15" | IOSTANDARD=LVTTL;
NET "etx_er"  LOC =  "J6" | IOSTANDARD=LVTTL;
NET "etx_clk"  LOC =  "AH12" | IOSTANDARD=LVTTL;
NET "pllref"  LOC =  "H19" | IOSTANDARD=LVTTL;
NET "pci_66"  LOC =  "AK7" | IOSTANDARD=LVTTL;

NET "spw_txsn(7)"  LOC =  "W27" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(7)"  LOC =  "Y29" | IOSTANDARD = LVDS_25;
NET "spw_txdn(7)"  LOC =  "W30" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(7)"  LOC =  "W25" | IOSTANDARD = LVDS_25;
NET "spw_txsn(6)"  LOC =  "AM1" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(6)"  LOC =  "AD2" | IOSTANDARD = LVDS_25;
NET "spw_txdn(6)"  LOC =  "AJ2" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(6)"  LOC =  "AB2" | IOSTANDARD = LVDS_25;
NET "spw_txsn(5)"  LOC =  "AG2" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(5)"  LOC =  "AA3" | IOSTANDARD = LVDS_25;
NET "spw_txdn(5)"  LOC =  "AE3" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(5)"  LOC =  "Y2" | IOSTANDARD = LVDS_25;
NET "spw_txsn(4)"  LOC =  "AD1" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(4)"  LOC =  "V3" | IOSTANDARD = LVDS_25;
NET "spw_txdn(4)"  LOC =  "Y1" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(4)"  LOC =  "T3" | IOSTANDARD = LVDS_25;
NET "spw_txsn(3)"  LOC =  "U2" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(3)"  LOC =  "R3" | IOSTANDARD = LVDS_25;
NET "spw_txdn(3)"  LOC =  "R1" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(3)"  LOC =  "N3" | IOSTANDARD = LVDS_25;
NET "spw_txsn(2)"  LOC =  "R2" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(2)"  LOC =  "L3" | IOSTANDARD = LVDS_25;
NET "spw_txdn(2)"  LOC =  "G1" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(2)"  LOC =  "K2" | IOSTANDARD = LVDS_25;
NET "spw_txsn(1)"  LOC =  "E1" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(1)"  LOC =  "H3" | IOSTANDARD = LVDS_25;
NET "spw_txdn(1)"  LOC =  "D1" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(1)"  LOC =  "G2" | IOSTANDARD = LVDS_25;
NET "spw_txsn(0)"  LOC =  "B1" | IOSTANDARD = LVDS_25;
NET "spw_rxsn(0)"  LOC =  "F3" | IOSTANDARD = LVDS_25;
NET "spw_txdn(0)"  LOC =  "B3" | IOSTANDARD = LVDS_25;
NET "spw_rxdn(0)"  LOC =  "B2" | IOSTANDARD = LVDS_25;
NET "spw_txsp(7)"  LOC =  "Y27" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(7)"  LOC =  "Y28" | IOSTANDARD = LVDS_25;
NET "spw_txdp(7)"  LOC =  "V30" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(7)"  LOC =  "V25" | IOSTANDARD = LVDS_25;
NET "spw_txsp(6)"  LOC =  "AL1" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(6)"  LOC =  "AE2" | IOSTANDARD = LVDS_25;
NET "spw_txdp(6)"  LOC =  "AH2" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(6)"  LOC =  "AC3" | IOSTANDARD = LVDS_25;
NET "spw_txsp(5)"  LOC =  "AG1" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(5)"  LOC =  "AB3" | IOSTANDARD = LVDS_25;
NET "spw_txdp(5)"  LOC =  "AF3" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(5)"  LOC =  "Y3" | IOSTANDARD = LVDS_25;
NET "spw_txsp(4)"  LOC =  "AC2" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(4)"  LOC =  "V4" | IOSTANDARD = LVDS_25;
NET "spw_txdp(4)"  LOC =  "W2" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(4)"  LOC =  "U3" | IOSTANDARD = LVDS_25;
NET "spw_txsp(3)"  LOC =  "U1" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(3)"  LOC =  "P2" | IOSTANDARD = LVDS_25;
NET "spw_txdp(3)"  LOC =  "T1" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(3)"  LOC =  "M3" | IOSTANDARD = LVDS_25;
NET "spw_txsp(2)"  LOC =  "P1" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(2)"  LOC =  "K3" | IOSTANDARD = LVDS_25;
NET "spw_txdp(2)"  LOC =  "F1" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(2)"  LOC =  "J2" | IOSTANDARD = LVDS_25;
NET "spw_txsp(1)"  LOC =  "E2" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(1)"  LOC =  "H2" | IOSTANDARD = LVDS_25;
NET "spw_txdp(1)"  LOC =  "D2" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(1)"  LOC =  "G3" | IOSTANDARD = LVDS_25;
NET "spw_txsp(0)"  LOC =  "C2" | IOSTANDARD = LVDS_25;
NET "spw_rxsp(0)"  LOC =  "E3" | IOSTANDARD = LVDS_25;
NET "spw_txdp(0)"  LOC =  "A3" | IOSTANDARD = LVDS_25;
NET "spw_rxdp(0)"  LOC =  "C3" | IOSTANDARD = LVDS_25;

NET "txd1"  LOC =  "T11" | IOSTANDARD=LVTTL; #aka gpio(15)
NET "rxd1"  LOC =  "N8" | IOSTANDARD=LVTTL;  #aka gpio(14)

NET "txd2"  LOC =  "R11" | IOSTANDARD=LVTTL; #aka gpio(11)
NET "rxd2"  LOC =  "T8" | IOSTANDARD=LVTTL;  #aka gpio(10)

#NET "gpio(15)"  LOC =  "T11" | IOSTANDARD=LVTTL;
#NET "gpio(14)"  LOC =  "N8" | IOSTANDARD=LVTTL;
NET "gpio(13)"  LOC =  "P10" | IOSTANDARD=LVTTL;
NET "gpio(12)"  LOC =  "N10" | IOSTANDARD=LVTTL;
#NET "gpio(11)"  LOC =  "R11" | IOSTANDARD=LVTTL;
#NET "gpio(10)"  LOC =  "T8" | IOSTANDARD=LVTTL;
NET "gpio(9)"  LOC =  "U8" | IOSTANDARD=LVTTL;
NET "gpio(8)"  LOC =  "T6" | IOSTANDARD=LVTTL;
NET "gpio(7)"  LOC =  "R7" | IOSTANDARD=LVTTL;
NET "gpio(6)"  LOC =  "P5" | IOSTANDARD=LVTTL;
NET "gpio(5)"  LOC =  "F5" | IOSTANDARD=LVTTL;
NET "gpio(4)"  LOC =  "N9" | IOSTANDARD=LVTTL;
NET "gpio(3)"  LOC =  "M8" | IOSTANDARD=LVTTL;
NET "gpio(2)"  LOC =  "P9" | IOSTANDARD=LVTTL;
NET "gpio(1)"  LOC =  "K9" | IOSTANDARD=LVTTL;
NET "gpio(0)"  LOC =  "G10" | IOSTANDARD=LVTTL;
