CONFIG STEPPING="0";

NET clk PERIOD = 25.000 ;
OFFSET = OUT : 10.000 : AFTER clk ;
OFFSET = IN : 8.000 : BEFORE clk ;

#NET pci_clk PERIOD = 30.000 ;
#OFFSET = OUT : 11.000 : AFTER pci_clk ;
#OFFSET = IN : 7.000 : BEFORE pci_clk ;
#NET pci_gnt OFFSET = IN : 10.000 : BEFORE pci_clk ;
#NET pci_req OFFSET = OUT : 12.000 : AFTER pci_clk ;
#NET pci_rst TIG ;

#NET erx_clk PERIOD = 40.000 ;
#OFFSET = IN : 8.000 : BEFORE erx_clk ;
#NET etx_clk PERIOD = 40.000 ;
#OFFSET = OUT : 15.000 : AFTER etx_clk ;
#OFFSET = IN : 8.000 : BEFORE etx_clk ;

NET "clk"  LOC = "H15"  ;
NET "pllref"  LOC = "F19" ;# SDCLKFB

NET "clkm"  TNM_NET = "clkm";
NET "clk"  TNM_NET = "clk";
#NET "spw_lclk"  TNM_NET = "spw_lclk";

#TIMESPEC "TS_CLKM_SPW" = FROM "clkm" TO "spw_lclk" TIG;
#TIMESPEC "TS_SPW_CLKM" = FROM "spw_lclk" TO "clkm" TIG;

#NET "spw.swloop.0.sw0/rxclki"  TNM_NET = "spw0rxclki";

#TIMESPEC "TSPLB_TFT02" = FROM "clkm" TO "spw0rxclki" TIG;
#TIMESPEC "TSPLB_TFT03" = FROM "spw0rxclki" TO "clkm" TIG;

INST "clkgen0_v_dll0" LOC = DCM_X2Y1;
INST "clkgen0_v_dll1" LOC = DCM_X1Y1;
INST "clkgen0/v/dll0" LOC = DCM_X2Y1;
INST "clkgen0/v/dll1" LOC = DCM_X1Y1;
INST "clkgen0/xc2v.v/dll0" LOC = DCM_X2Y1;
INST "clkgen0/xc2v.v/sd0.dll1" LOC = DCM_X1Y1;

NET "address(0)"  LOC = "R4"  ;
NET "address(10)"  LOC = "R6"  ;
NET "address(11)"  LOC = "Y5"  ;
NET "address(12)"  LOC = "W6"  ;
NET "address(13)"  LOC = "F1"  ;
NET "address(14)"  LOC = "AA10"  ;
NET "address(15)"  LOC = "Y10"  ;
NET "address(16)"  LOC = "W10"  ;
NET "address(17)"  LOC = "F2"  ;
NET "address(18)"  LOC = "T6"  ;
NET "address(19)"  LOC = "V9"  ;
NET "address(1)"  LOC = "K1"  ;
NET "address(20)"  LOC = "T5"  ;
NET "address(21)"  LOC = "P10"  ;
NET "address(22)"  LOC = "R5"  ;
NET "address(23)"  LOC = "N10"  ;
NET "address(24)"  LOC = "N6"  ;
NET "address(25)"  LOC = "L9"  ;
NET "address(26)"  LOC = "M9"  ;
NET "address(27)"  LOC = "K10"  ;
NET "address(2)"  LOC = "N3"  ;
NET "address(3)"  LOC = "K2"  ;
NET "address(4)"  LOC = "R3"  ;
NET "address(5)"  LOC = "J1"  ;
NET "address(6)"  LOC = "P4"  ;
NET "address(7)"  LOC = "H1"  ;
NET "address(8)"  LOC = "P6"  ;
NET "address(9)"  LOC = "G1"  ;
NET "bexcn"  LOC = "P2"  ;
NET "brdyn"  LOC = "U2"  ;

NET "data(0)"  LOC = "U5"  ;
NET "data(10)"  LOC = "AE5"  ;
NET "data(11)"  LOC = "AF5"  ;
NET "data(12)"  LOC = "Y4"  ;
NET "data(13)"  LOC = "T9"  ;
NET "data(14)"  LOC = "L3"  ;
NET "data(15)"  LOC = "J5"  ;
NET "data(16)"  LOC = "AA7"  ;
NET "data(17)"  LOC = "W4"  ;
NET "data(18)"  LOC = "Y7"  ;
NET "data(19)"  LOC = "W8"  ;
NET "data(1)"  LOC = "R8"  ;
NET "data(20)"  LOC = "U8"  ;
NET "data(21)"  LOC = "P9"  ;
NET "data(22)"  LOC = "L7"  ;
NET "data(23)"  LOC = "J4"  ;
NET "data(24)"  LOC = "AB5"  ;
NET "data(25)"  LOC = "AC6"  ;
NET "data(26)"  LOC = "AA3"  ;
NET "data(27)"  LOC = "V7"  ;
NET "data(28)"  LOC = "T8"  ;
NET "data(29)"  LOC = "N9"  ;
NET "data(2)"  LOC = "R9"  ;
NET "data(30)"  LOC = "K5"  ;
NET "data(31)"  LOC = "H4"  ;
NET "data(3)"  LOC = "AA6"  ;
NET "data(4)"  LOC = "U6"  ;
NET "data(5)"  LOC = "U7"  ;
NET "data(6)"  LOC = "N5"  ;
NET "data(7)"  LOC = "K3"  ;
NET "data(8)"  LOC = "AD4"  ;
NET "data(9)"  LOC = "AE4"  ;

NET "dsuact"  LOC = "E3"  ;
NET "dsubre"  LOC = "E1"  ;
NET "dsuen"  LOC = "G5"  ;
NET "dsurx"  LOC = "F4"  ;
NET "dsutx"  LOC = "F3"  ;

NET "emdc"  LOC = "H12"  ;
NET "emdio"  LOC = "H13"  ;
NET "errorn"  LOC = "D1"  ;
NET "erx_clk"  LOC = "E16"  ;
NET "erx_col"  LOC = "D11"  ;
NET "erx_crs"  LOC = "G14"  ;
NET "erx_dv"  LOC = "E13"  ;
NET "erx_er"  LOC = "J13"  ;
NET "erxd(0)"  LOC = "C11"  ;
NET "erxd(1)"  LOC = "E9"  ;
NET "erxd(2)"  LOC = "E10"  ;
NET "erxd(3)"  LOC = "C10"  ;
NET "etx_clk"  LOC = "E17"  ;
NET "etx_en"  LOC = "F9"  ;
NET "etx_er"  LOC = "D13"  ;
NET "etxd(0)"  LOC = "D12"  ;
NET "etxd(1)"  LOC = "C13"  ;
NET "etxd(2)"  LOC = "E12"  ;
NET "etxd(3)"  LOC = "C12"  ;

NET "iosn"  LOC = "G2"  ;
NET "oen"  LOC = "M5"  ;

NET "pci_ack64"  LOC = "AL17"  ;
NET "pci_ad(0)"  LOC = "AG16"  ;
NET "pci_ad(10)"  LOC = "AL12"  ;
NET "pci_ad(11)"  LOC = "AB12"  ;
NET "pci_ad(12)"  LOC = "AG12"  ;
NET "pci_ad(13)"  LOC = "AC13"  ;
NET "pci_ad(14)"  LOC = "AK11"  ;
NET "pci_ad(15)"  LOC = "AH11"  ;
NET "pci_ad(16)"  LOC = "AK7"  ;
NET "pci_ad(17)"  LOC = "AL7"  ;
NET "pci_ad(18)"  LOC = "AJ8"  ;
NET "pci_ad(19)"  LOC = "AJ6"  ;
NET "pci_ad(1)"  LOC = "AL15"  ;
NET "pci_ad(20)"  LOC = "AL6"  ;
NET "pci_ad(21)"  LOC = "AE10"  ;
NET "pci_ad(22)"  LOC = "AK6"  ;
NET "pci_ad(23)"  LOC = "AG10"  ;
NET "pci_ad(24)"  LOC = "AE9"  ;
NET "pci_ad(25)"  LOC = "AJ5"  ;
NET "pci_ad(26)"  LOC = "AE8"  ;
NET "pci_ad(27)"  LOC = "AH7"  ;
NET "pci_ad(28)"  LOC = "AH6"  ;
NET "pci_ad(29)"  LOC = "AL5"  ;
NET "pci_ad(2)"  LOC = "AK15"  ;
NET "pci_ad(30)"  LOC = "AK5"  ;
NET "pci_ad(31)"  LOC = "AF8"  ;

NET "pci_ad(32)"  LOC = "AD22"  ;
NET "pci_ad(33)"  LOC = "AF24"  ;
NET "pci_ad(34)"  LOC = "AF23"  ;
NET "pci_ad(35)"  LOC = "AL28"  ;
NET "pci_ad(36)"  LOC = "AH26"  ;
NET "pci_ad(37)"  LOC = "AG25"  ;
NET "pci_ad(38)"  LOC = "AC22"  ;
NET "pci_ad(39)"  LOC = "AE24"  ;
NET "pci_ad(3)"  LOC = "AK14"  ;
NET "pci_ad(40)"  LOC = "AK27"  ;
NET "pci_ad(41)"  LOC = "AL26"  ;
NET "pci_ad(42)"  LOC = "AK26"  ;
NET "pci_ad(43)"  LOC = "AL27"  ;
NET "pci_ad(44)"  LOC = "AJ26"  ;
NET "pci_ad(45)"  LOC = "AH25"  ;
NET "pci_ad(46)"  LOC = "AJ27"  ;
NET "pci_ad(47)"  LOC = "AG23"  ;
NET "pci_ad(48)"  LOC = "AD23"  ;
NET "pci_ad(49)"  LOC = "AK23"  ;
NET "pci_ad(4)"  LOC = "AG14"  ;
NET "pci_ad(50)"  LOC = "AL23"  ;
NET "pci_ad(51)"  LOC = "AK21"  ;
NET "pci_ad(52)"  LOC = "AF25"  ;
NET "pci_ad(53)"  LOC = "AJ24"  ;
NET "pci_ad(54)"  LOC = "AG24"  ;
NET "pci_ad(55)"  LOC = "AJ23"  ;
NET "pci_ad(56)"  LOC = "AF21"  ;
NET "pci_ad(57)"  LOC = "AG21"  ;
NET "pci_ad(58)"  LOC = "AJ21"  ;
NET "pci_ad(59)"  LOC = "AH24"  ;
NET "pci_ad(5)"  LOC = "AG15"  ;
NET "pci_ad(60)"  LOC = "AH23"  ;
NET "pci_ad(61)"  LOC = "AE21"  ;
NET "pci_ad(62)"  LOC = "AG22"  ;
NET "pci_ad(63)"  LOC = "AJ22"  ;
NET "pci_ad(6)"  LOC = "AC16"  ;
NET "pci_ad(7)"  LOC = "AD13"  ;
NET "pci_ad(8)"  LOC = "AJ13"  ;
NET "pci_ad(9)"  LOC = "AK13"  ;
NET "pci_arb_gnt(0)"  LOC = "AH19"  ;
NET "pci_arb_gnt(1)"  LOC = "AL19"  ;
NET "pci_arb_gnt(2)"  LOC = "AL20"  ;
NET "pci_arb_gnt(3)"  LOC = "AJ19"  ;
NET "pci_arb_gnt(4)"  LOC = "AG19"  ;
NET "pci_arb_gnt(5)"  LOC = "AF18"  ;
NET "pci_arb_gnt(6)"  LOC = "AF19"  ;
NET "pci_arb_gnt(7)"  LOC = "AC18"  ;
NET "pci_arb_req(0)"  LOC = "AB19"  ;
NET "pci_arb_req(1)"  LOC = "AE18"  ;
NET "pci_arb_req(2)"  LOC = "AD19"  ;
NET "pci_arb_req(3)"  LOC = "AD20"  ;
NET "pci_arb_req(4)"  LOC = "AG20"  ;
NET "pci_arb_req(5)"  LOC = "AE20"  ;
NET "pci_arb_req(6)"  LOC = "AG18"  ;
NET "pci_arb_req(7)"  LOC = "AH17"  ;
NET "pci_cbe(0)"  LOC = "AG13"  ;
NET "pci_cbe(1)"  LOC = "AK12"  ;
NET "pci_cbe(2)"  LOC = "AG9"  ;
NET "pci_cbe(3)"  LOC = "AG7"  ;
NET "pci_cbe(4)"  LOC = "AE23"  ;
NET "pci_cbe(5)"  LOC = "AE22"  ;
NET "pci_cbe(6)"  LOC = "AC21"  ;
NET "pci_cbe(7)"  LOC = "AC20"  ;
NET "pci_clk"  LOC = "AJ15"  ;
NET "pci_devsel"  LOC = "AH8"  ;
NET "pci_frame"  LOC = "AJ11"  ;
NET "pci_gnt"  LOC = "AG17"  ;
NET "pci_idsel"  LOC = "AC11"  ;
NET "pci_irdy"  LOC = "AH9"  ;
NET "pci_lock"  LOC = "AF9"  ;
NET "pci_par"  LOC = "AE15"  ;
NET "pci_par64"  LOC = "AJ20"  ;
NET "pci_perr"  LOC = "AK9"  ;
NET "pci_req64"  LOC = "AL18"  ;
NET "pci_req"  LOC = "AF17"  ;
NET "pci_rst"  LOC = "AK3"  ;
NET "pci_serr"  LOC = "AF14"  ;
NET "pci_stop"  LOC = "AD11"  ;
NET "pci_trdy"  LOC = "AD12"  ;
NET "pci_host" LOC = "AC10" ;
NET "pci_int(0)" LOC =   "AG3" ;   #  pci_inta
NET "pci_int(1)" LOC =   "AF4" ;   #  pci_intb
NET "pci_int(2)" LOC =   "AD7" ;   #  pci_intc
NET "pci_int(3)" LOC =   "AC8" ;   #  pci_intd

# Only for PCI hosts!
#NET "pci_devsel" PULLUP  ;
#NET "pci_frame"  PULLUP  ;
#NET "pci_irdy"   PULLUP  ;
#NET "pci_lock"   PULLUP  ;
#NET "pci_perr"   PULLUP  ;
#NET "pci_serr"   PULLUP  ;
#NET "pci_stop"   PULLUP  ;
#NET "pci_trdy"   PULLUP  ;
#NET "pci_int(0)" PULLUP;
#NET "pci_int(1)" PULLUP;
#NET "pci_int(2)" PULLUP;
#NET "pci_int(3)" PULLUP;
#NET "pci_gnt"   PULLUP  ;
#NET "pci_idsel" PULLUP  ;
#NET "pci_par"   PULLUP  ;
#NET "pci_rst"   PULLUP  ;
#NET "pci_arb_req(0)"  PULLUP  ;
#NET "pci_arb_req(1)"  PULLUP  ;
#NET "pci_arb_req(2)"  PULLUP  ;
#NET "pci_arb_req(3)"  PULLUP  ;
#NET "pci_arb_req(4)"  PULLUP  ;
#NET "pci_arb_req(5)"  PULLUP  ;
#NET "pci_arb_req(6)"  PULLUP  ;
#NET "pci_arb_req(7)"  PULLUP  ;

NET "pio(0)"  LOC = "B20"  ;
#NET "pio(10)"  LOC = "G18"  ;
NET "rxd2" LOC = "G18"  ;
#NET "pio(11)"  LOC = "F17"  ;
NET "txd2" LOC = "F17"  ;
NET "pio(12)"  LOC = "G17"  ;
NET "pio(13)"  LOC = "H16"  ;
#NET "pio(14)"  LOC = "F15"  ;
NET "rxd1"  LOC = "F15"  ;
#NET "pio(15)"  LOC = "E15"  ;
NET "txd1" LOC = "E15"  ;
NET "pio(1)"  LOC = "C20"  ;
NET "pio(2)"  LOC = "E20"  ;
NET "pio(3)"  LOC = "C19"  ;
NET "pio(4)"  LOC = "B18"  ;
NET "pio(5)"  LOC = "E18"  ;
NET "pio(6)"  LOC = "D17"  ;
NET "pio(7)"  LOC = "H19"  ;
NET "pio(8)"  LOC = "H17"  ;
NET "pio(9)"  LOC = "J17"  ;

NET "gpio(0)"  LOC = "B20"  ;
NET "gpio(1)"  LOC = "C20"  ;
NET "gpio(2)"  LOC = "E20"  ;
NET "gpio(3)"  LOC = "C19"  ;
NET "gpio(4)"  LOC = "B18"  ;
NET "gpio(5)"  LOC = "E18"  ;
NET "gpio(6)"  LOC = "D17"  ;
NET "gpio(7)"  LOC = "H19"  ;

NET "ramoen(0)"  LOC = "N1"  ;
NET "ramoen(1)"  LOC = "N2"  ;
NET "ramoen(2)"  LOC = "M1"  ;
NET "ramoen(3)"  LOC = "M2"  ;
NET "ramoen(4)"  LOC = "L1"  ;
NET "ramsn(0)"  LOC = "M3"  ;
NET "ramsn(1)"  LOC = "T3"  ;
NET "ramsn(2)"  LOC = "M4"  ;
NET "ramsn(3)"  LOC = "R1"  ;
NET "ramsn(4)"  LOC = "L4"  ;
NET "read"  LOC = "J2"  ;
NET "resetn"  LOC = "H5"  ;
NET "romsn(0)"  LOC = "L5"  ;
NET "romsn(1)"  LOC = "H3"  ;
NET "rwen(0)"  LOC = "N4"  ;
NET "rwen(1)"  LOC = "P1"  ;
NET "rwen(2)"  LOC = "U1"  ;
NET "rwen(3)"  LOC = "R2"  ;
NET "sa(0)"  LOC = "A8"  ;

NET "sa(10)"  LOC = "A27"  ;
NET "sa(11)"  LOC = "E25"  ;
NET "sa(12)"  LOC = "A11"  ;
NET "sa(13)"  LOC = "A26"  ; # SBA0
NET "sa(14)"  LOC = "E24"  ; # SBA1
NET "sa(15)"  LOC = "B12"  ;
#NET "sa(16)"  LOC = ""  ;
#NET "sa(17)"  LOC = ""  ;
NET "sa(1)"  LOC = "A9"  ;
NET "sa(2)"  LOC = "H9"  ;
NET "sa(3)"  LOC = "E7"  ;
NET "sa(4)"  LOC = "E8"  ;
NET "sa(5)"  LOC = "C6"  ;
NET "sa(6)"  LOC = "A23"  ;
NET "sa(7)"  LOC = "E23"  ;
NET "sa(8)"  LOC = "B26"  ;
NET "sa(9)"  LOC = "C27"  ;
NET "sd(0)"  LOC = "A4"  ;
NET "sd(10)"  LOC = "K13"  ;
NET "sd(11)"  LOC = "F14"  ;
NET "sd(12)"  LOC = "K14"  ;
NET "sd(13)"  LOC = "J15"  ;
NET "sd(14)"  LOC = "K18"  ;
NET "sd(15)"  LOC = "J18"  ;
NET "sd(16)"  LOC = "B14"  ;
NET "sd(17)"  LOC = "A17"  ;
NET "sd(18)"  LOC = "A18"  ;
NET "sd(19)"  LOC = "A19"  ;
NET "sd(1)"  LOC = "A5"  ;
NET "sd(20)"  LOC = "A20"  ;
NET "sd(21)"  LOC = "A21"  ;
NET "sd(22)"  LOC = "A22"  ;
NET "sd(23)"  LOC = "B22"  ;
NET "sd(24)"  LOC = "C23"  ;
NET "sd(25)"  LOC = "C24"  ;
NET "sd(26)"  LOC = "A25"  ;
NET "sd(27)"  LOC = "C26"  ;
NET "sd(28)"  LOC = "J22"  ;
NET "sd(29)"  LOC = "J21"  ;
NET "sd(2)"  LOC = "K7"  ;
NET "sd(30)"  LOC = "G22"  ;
NET "sd(31)"  LOC = "G23"  ;

NET "sd(32)"  LOC = "H6"  ;
NET "sd(33)"  LOC = "G6"  ;
NET "sd(34)"  LOC = "B3"  ;
NET "sd(35)"  LOC = "E4"  ;
NET "sd(36)"  LOC = "J6"  ;
NET "sd(37)"  LOC = "F5"  ;
NET "sd(38)"  LOC = "F7"  ;
NET "sd(39)"  LOC = "C5"  ;

NET "scb(0)"  LOC = "H6"  ;
NET "scb(1)"  LOC = "G6"  ;
NET "scb(2)"  LOC = "B3"  ;
NET "scb(3)"  LOC = "E4"  ;
NET "scb(4)"  LOC = "J6"  ;
NET "scb(5)"  LOC = "F5"  ;
NET "scb(6)"  LOC = "F7"  ;
NET "scb(7)"  LOC = "C5"  ;

NET "sd(3)"  LOC = "K9"  ;
NET "sd(40)"  LOC = "B5"  ;
NET "sd(41)"  LOC = "D6"  ;
NET "sd(42)"  LOC = "B7"  ;
NET "sd(43)"  LOC = "E6"  ;
NET "sd(44)"  LOC = "D7"  ;
NET "sd(45)"  LOC = "C8"  ;
NET "sd(46)"  LOC = "B9"  ;
NET "sd(47)"  LOC = "C9"  ;
NET "sd(48)"  LOC = "B19"  ;
NET "sd(49)"  LOC = "E19"  ;
NET "sd(4)"  LOC = "J7"  ;
NET "sd(50)"  LOC = "H21"  ;
NET "sd(51)"  LOC = "E22"  ;
NET "sd(52)"  LOC = "F23"  ;
NET "sd(53)"  LOC = "B23"  ;
NET "sd(54)"  LOC = "D23"  ;
NET "sd(55)"  LOC = "D24"  ;
NET "sd(56)"  LOC = "H22"  ;
NET "sd(57)"  LOC = "C22"  ;
NET "sd(58)"  LOC = "H23"  ;
NET "sd(59)"  LOC = "D25"  ;
NET "sd(5)"  LOC = "H7"  ;
NET "sd(60)"  LOC = "D26"  ;
NET "sd(61)"  LOC = "F24"  ;
NET "sd(62)"  LOC = "B29"  ;
NET "sd(63)"  LOC = "G24"  ;
NET "sd(6)"  LOC = "A6"  ;
NET "sd(7)"  LOC = "A7"  ;
NET "sd(8)"  LOC = "K12"  ;
NET "sd(9)"  LOC = "F13"  ;
NET "sdcasn"  LOC = "K20"  ;
NET "sdcke(0)"  LOC = "A10"  ;
NET "sdcke(1)"  LOC = "B11"  ;
NET "sdcke(2)"  LOC = "B17"  ;
NET "sdcke(3)"  LOC = "F18"  ;
NET "sdclk"  LOC = "B25"  ;
NET "sdcsn(0)"  LOC = "D20"  ;
NET "sdcsn(1)"  LOC = "A12"  ;
NET "sdcsn(2)"  LOC = "F21"  ;
NET "sdcsn(3)"  LOC = "E21"  ;
NET "sddqm(0)"  LOC = "J8"  ;
NET "sddqm(1)"  LOC = "G8"  ;
NET "sddqm(2)"  LOC = "B27"  ;
NET "sddqm(3)"  LOC = "A28"  ;
NET "sddqm(4)"  LOC = "B6"  ;
NET "sddqm(5)"  LOC = "F8"  ;
NET "sddqm(6)"  LOC = "F20"  ;
NET "sddqm(7)"  LOC = "G21"  ;
NET "sdrasn"  LOC = "A13"  ;
NET "sdwen"  LOC = "B13"  ;
NET "wdogn"  LOC = "G4"  ;
NET "writen"  LOC = "J3"  ;


## pin mappings for GR-4M-CAN2-SPW3 mezzanine

NET "spw_clk"        LOC = "AJ15" | IOSTANDARD=LVTTL;  #  PCI_CLK => pin AJ15

NET "spw_rxdp(0)"    LOC = "AB1"  | IOSTANDARD = LVDS_25;  #  GENIO71 => pin AB1
NET "spw_rxdn(0)"    LOC = "AA1"  | IOSTANDARD = LVDS_25;  #  GENIO67 => pin AA1
NET "spw_txdp(0)"    LOC = "AD1"  | IOSTANDARD = LVDS_25;  #  GENIO77 => pin AD1
NET "spw_txdn(0)"    LOC = "AC1"  | IOSTANDARD = LVDS_25;  #  GENIO75 => pin AC1
NET "spw_rxsp(0)"    LOC = "AB2"  | IOSTANDARD = LVDS_25;  #  GENIO73 => pin AB2
NET "spw_rxsn(0)"    LOC = "AA2"  | IOSTANDARD = LVDS_25;  #  GENIO69 => pin AA2
NET "spw_txsp(0)"    LOC = "AA8"  | IOSTANDARD = LVDS_25;  #  GENIO74 => pin AA8
NET "spw_txsn(0)"    LOC = "Y8"   | IOSTANDARD = LVDS_25;  #  GENIO70 => pin Y8
NET "spw_rxdp(1)"    LOC = "AC4"  | IOSTANDARD = LVDS_25;  #  GENIO80 => pin AC4
NET "spw_rxdn(1)"    LOC = "AA4"  | IOSTANDARD = LVDS_25;  #  GENIO76 => pin AA4
NET "spw_txdp(1)"    LOC = "AF1"  | IOSTANDARD = LVDS_25;  #  GENIO81 => pin AF1
NET "spw_txdn(1)"    LOC = "AE1"  | IOSTANDARD = LVDS_25;  #  GENIO79 => pin AE1
NET "spw_rxsp(1)"    LOC = "AD3"  | IOSTANDARD = LVDS_25;  #  GENIO84 => pin AD3
NET "spw_rxsn(1)"    LOC = "AC3"  | IOSTANDARD = LVDS_25;  #  GENIO82 => pin AC3
NET "spw_txsp(1)"    LOC = "AG2"  | IOSTANDARD = LVDS_25;  #  GENIO89 => pin AG2
NET "spw_txsn(1)"    LOC = "AF2"  | IOSTANDARD = LVDS_25;  #  GENIO83 => pin AF2
NET "spw_rxdp(2)"    LOC = "AG3"  | IOSTANDARD = LVDS_25;  #  PCIIO24 => pin AG3
NET "spw_rxdn(2)"    LOC = "AF3"  | IOSTANDARD = LVDS_25;  #  GENIO91 => pin AF3
NET "spw_txdp(2)"    LOC = "AE2"  | IOSTANDARD = LVDS_25;  #  GENIO90 => pin AE2
NET "spw_txdn(2)"    LOC = "AC2"  | IOSTANDARD = LVDS_25;  #  GENIO87 => pin AC2
NET "spw_rxsp(2)"    LOC = "AH1"  | IOSTANDARD = LVDS_25;  #  PCIIO25 => pin AH1
NET "spw_rxsn(2)"    LOC = "AG1"  | IOSTANDARD = LVDS_25;  #  GENIO85 => pin AG1
NET "spw_txsp(2)"    LOC = "AG4"  | IOSTANDARD = LVDS_25;  #  PCIIO29 => pin AG4
NET "spw_txsn(2)"    LOC = "AF4"  | IOSTANDARD = LVDS_25;  #  PCIIO26 => pin AF4

NET "can_rxd(0)"     LOC = "H25" ;  #  GENIO50 => pin H25
NET "can_txd(0)"     LOC = "H28" ;  #  GENIO51 => pin H28
NET "can_en(0)"      LOC = "E28" ;  #  GENIO52 => pin E28
NET "can_rxd(1)"     LOC = "H27" ;  #  GENIO53 => pin H27
NET "can_txd(1)"     LOC = "F28" ;  #  GENIO54 => pin F28
NET "can_en(1)"      LOC = "J27" ;  #  GENIO55 => pin J27

NET "dipswitch(1)"   LOC = "AH3";   #  PCIIO31 => pin AH3
NET "dipswitch(2)"   LOC = "AC8";   #  PCIIO30 => pin AC8
NET "dipswitch(3)"   LOC = "AD7";   #  PCIIO28 => pin AD7
NET "dipswitch(4)"   LOC = "AH2";   #  PCIIO27 => pin AH2
NET "dipswitch(5)"   LOC = "AB10";  #  GENIO116 => pin AB10
NET "dipswitch(6)"   LOC = "AK4" ;  #  GENIO117 => pin AK4
NET "dipswitch(7)"   LOC = "AB11";  #  GENIO118 => pin AB11
NET "dipswitch(8)"   LOC = "AL4" ;  #  GENIO119 => pin AL4

NET "cb(0)"          LOC = "U4"  ;
NET "cb(1)"          LOC = "Y2"  ;
NET "cb(2)"          LOC = "AB7"  ;
NET "cb(3)"          LOC = "W1"  ;
NET "cb(4)"          LOC = "AB8"  ;
NET "cb(5)"          LOC = "V2"  ;
NET "cb(6)"          LOC = "AC7"  ;
NET "cb(7)"          LOC = "V1"  ;

NET "TimeTrig(1)"    LOC = "H26" ;  #  GENIO47 => pin H26
NET "TimeTrig(2)"    LOC = "E29" ;  #  GENIO48 => pin E29
NET "GP_ExtClk"      LOC = "P27" ;  #  GENIO49 => pin P27

NET "FifoD(0)"       LOC = "Y22" ;  #  GENIO92 => pin Y22
NET "FifoD(1)"       LOC = "U28" ;  #  GENIO93 => pin U28
NET "FifoD(2)"       LOC = "AA22";  #  GENIO94 => pin AA22
NET "FifoD(3)"       LOC = "U29" ;  #  GENIO95 => pin U29
NET "FifoD(4)"       LOC = "Y23" ;  #  GENIO96 => pin Y23
NET "FifoD(5)"       LOC = "V28" ;  #  GENIO97 => pin V28
NET "FifoD(6)"       LOC = "AA23";  #  GENIO98 => pin AA23
NET "FifoD(7)"       LOC = "W28" ;  #  GENIO99 => pin W28
NET "FifoD(8)"       LOC = "AB25";  #  GENIO100 => pin AB25
NET "FifoD(9)"       LOC = "W29" ;  #  GENIO101 => pin W29
NET "FifoD(10)"      LOC = "AC25";  #  GENIO102 => pin AC25
NET "FifoD(11)"      LOC = "Y28" ;  #  GENIO103 => pin Y28
NET "FifoD(12)"      LOC = "AC27";  #  GENIO104 => pin AC27
NET "FifoD(13)"      LOC = "Y30" ;  #  GENIO105 => pin Y30
NET "FifoD(14)"      LOC = "AD27";  #  GENIO106 => pin AD27
NET "FifoD(15)"      LOC = "W30" ;  #  GENIO107 => pin W30
NET "FifoP(0)"       LOC = "AE31";  #  GENIO108 => pin AE31
NET "FifoP(1)"       LOC = "Y31" ;  #  GENIO109 => pin Y31
NET "FifoRdN"        LOC = "AF31";  #  GENIO110 => pin AF31
NET "FifoWrN"        LOC = "W31" ;  #  GENIO111 => pin W31
NET "FifoFullN"      LOC = "AF30";  #  GENIO112 => pin AF30
NET "FifoEmpN"       LOC = "AA31";  #  GENIO113 => pin AA31
NET "FifoHalfN"      LOC = "AG30";  #  GENIO114 => pin AG30

NET "Gpio24(0)"      LOC = "AC31";  #  PCIIO0 => pin AC31
NET "Gpio24(1)"      LOC = "AA24";  #  PCIIO1 => pin AA24
NET "Gpio24(2)"      LOC = "AD31";  #  PCIIO2 => pin AD31
NET "Gpio24(3)"      LOC = "AB24";  #  PCIIO3 => pin AB24
NET "Gpio24(4)"      LOC = "AA27";  #  PCIIO4 => pin AA27
NET "Gpio24(5)"      LOC = "AC26";  #  PCIIO5 => pin AC26
NET "Gpio24(6)"      LOC = "AB27";  #  PCIIO6 => pin AB27
NET "Gpio24(7)"      LOC = "AD26";  #  PCIIO7 => pin AD26
NET "Gpio24(8)"      LOC = "Y25" ;  #  PCIIO8 => pin Y25
NET "Gpio24(9)"      LOC = "AF27";  #  PCIIO9 => pin AF27
NET "Gpio24(10)"     LOC = "AA25";  #  PCIIO10 => pin AA25
NET "Gpio24(11)"     LOC = "AF28";  #  PCIIO11 => pin AF28
NET "Gpio24(12)"     LOC = "Y29" ;  #  PCIIO12 => pin Y29
NET "Gpio24(13)"     LOC = "AG29";  #  PCIIO13 => pin AG29
NET "Gpio24(14)"     LOC = "AA29";  #  PCIIO14 => pin AA29
NET "Gpio24(15)"     LOC = "AG28";  #  PCIIO15 => pin AG28
NET "Gpio24(16)"     LOC = "AB29";  #  PCIIO16 => pin AB29
NET "Gpio24(17)"     LOC = "AD29";  #  PCIIO17 => pin AD29
NET "Gpio24(18)"     LOC = "AC29";  #  PCIIO18 => pin AC29
NET "Gpio24(19)"     LOC = "AE27";  #  PCIIO19 => pin AE27
NET "Gpio24(20)"     LOC = "AC30";  #  PCIIO20 => pin AC30
NET "Gpio24(21)"     LOC = "AF29";  #  PCIIO21 => pin AF29
NET "Gpio24(22)"     LOC = "AE30";  #  PCIIO22 => pin AE30
NET "Gpio24(23)"     LOC = "AE26";  #  PCIIO23 => pin AE26

NET "ADData(15)"     LOC = "M22" ;  #  GENIO0 => pin M22
NET "ADData(14)"     LOC = "U23" ;  #  GENIO1 => pin U23
NET "ADData(13)"     LOC = "P23" ;  #  GENIO2 => pin P23
NET "ADData(12)"     LOC = "R23" ;  #  GENIO3 => pin R23
NET "ADData(11)"     LOC = "M26" ;  #  GENIO4 => pin M26
NET "ADData(10)"     LOC = "T23" ;  #  GENIO5 => pin T23
NET "ADData(9)"      LOC = "P22" ;  #  GENIO6 => pin P22
NET "ADData(8)"      LOC = "T27" ;  #  GENIO7 => pin T27
NET "ADData(7)"      LOC = "K27" ;  #  GENIO8 => pin K27
NET "ADData(6)"      LOC = "N26" ;  #  GENIO9 => pin N26
NET "ADData(5)"      LOC = "K31" ;  #  GENIO10 => pin K31
NET "ADData(4)"      LOC = "L31" ;  #  GENIO11 => pin L31
NET "ADData(3)"      LOC = "K25" ;  #  GENIO12 => pin K25
NET "ADData(2)"      LOC = "M30" ;  #  GENIO13 => pin M30
NET "ADData(1)"      LOC = "L23" ;  #  GENIO14 => pin L23
NET "ADData(0)"      LOC = "L27" ;  #  GENIO15 => pin L27
NET "ADAddr(7)"      LOC = "J24" ;  #  GENIO16 => pin J24
NET "ADAddr(6)"      LOC = "J29" ;  #  GENIO17 => pin J29
NET "ADAddr(5)"      LOC = "J25" ;  #  GENIO18 => pin J25
NET "ADAddr(4)"      LOC = "K23" ;  #  GENIO19 => pin K23
NET "ADAddr(3)"      LOC = "F27" ;  #  GENIO20 => pin F27
NET "ADAddr(2)"      LOC = "K22" ;  #  GENIO21 => pin K22
NET "ADAddr(1)"      LOC = "F31" ;  #  GENIO22 => pin F31
NET "ADAddr(0)"      LOC = "N29" ;  #  GENIO23 => pin N29
NET "ADTrig"         LOC = "F30" ;  #  GENIO24 => pin F30
NET "ADRdy"          LOC = "R26" ;  #  GENIO25 => pin R26
NET "ADCs"           LOC = "E31" ;  #  GENIO26 => pin E31
NET "ADRc"           LOC = "N27" ;  #  GENIO27 => pin N27
NET "ADWr"           LOC = "K29" ;  #  GENIO28 => pin K29

CONFIG PROHIBIT = AD9;  # DOUT
CONFIG PROHIBIT = AD10; # INIT_B
CONFIG PROHIBIT = AF7;  # D0
CONFIG PROHIBIT = G15;  #