CONFIG STEPPING="0";

NET "clk" PERIOD = 20.000 ;
OFFSET = out : 37.000 : AFTER clk ;
OFFSET = in : 8.000 : BEFORE clk ;

NET "pci_clk" PERIOD = 30.000 ;
OFFSET = OUT : 11.000 : AFTER pci_clk ;
OFFSET = IN : 7.000 : BEFORE pci_clk ;

NET "erx_clk" PERIOD = 40.000 ;
OFFSET = IN : 8.000 : BEFORE erx_clk ;
NET "etx_clk" PERIOD = 40.000 ;
OFFSET = OUT : 15.000 : AFTER etx_clk ;
OFFSET = IN : 8.000 : BEFORE etx_clk ;


NET "clk"     LOC = "P20"  | IOSTANDARD=LVTTL;
NET "pci_clk" LOC = "AK19" | IOSTANDARD=LVTTL;
NET "spw_clk" LOC = "L21"  | IOSTANDARD=LVTTL;
NET "sdclk"   LOC = "J21"  | IOSTANDARD=LVTTL;
NET "pllref"  LOC = "J20"  | IOSTANDARD=LVTTL;

# precision
INST "clkgen0_xc2v_v_dll0" LOC = DCM_ADV_X0Y8;
INST "clkgen0_xc2v_v_sd0_dll1" LOC = DCM_ADV_X0Y6;
INST "clkgen0/xc2v_v_clk2xgen_dll2x" LOC = DCM_ADV_X0Y7;

# synplify
INST "clkgen0/xc2v.v/dll0" LOC = DCM_ADV_X0Y8;
INST "clkgen0/xc2v.v/sd0.dll1" LOC = DCM_ADV_X0Y6;
INST "clkgen0/xc2v.v/clk2xgen.dll2x" LOC = DCM_ADV_X0Y7;


NET "address(0)"  LOC = "W5" | IOSTANDARD=LVTTL;
NET "address(1)"  LOC = "N5" | IOSTANDARD=LVTTL;
NET "address(2)"  LOC = "T4" | IOSTANDARD=LVTTL;
NET "address(3)"  LOC = "P6" | IOSTANDARD=LVTTL;
NET "address(4)"  LOC = "W6" | IOSTANDARD=LVTTL;
NET "address(5)"  LOC = "N3" | IOSTANDARD=LVTTL;
NET "address(6)"  LOC = "K1" | IOSTANDARD=LVTTL;
NET "address(7)"  LOC = "T3" | IOSTANDARD=LVTTL;
NET "address(8)"  LOC = "V5" | IOSTANDARD=LVTTL;
NET "address(9)"  LOC = "P5" | IOSTANDARD=LVTTL;
NET "address(10)" LOC = "U3" | IOSTANDARD=LVTTL;
NET "address(11)" LOC = "T5" | IOSTANDARD=LVTTL;
NET "address(12)" LOC = "T6" | IOSTANDARD=LVTTL;
NET "address(13)" LOC = "N4" | IOSTANDARD=LVTTL;
NET "address(14)" LOC = "U5" | IOSTANDARD=LVTTL;
NET "address(15)" LOC = "R3" | IOSTANDARD=LVTTL;
NET "address(16)" LOC = "R4" | IOSTANDARD=LVTTL;
NET "address(17)" LOC = "N2" | IOSTANDARD=LVTTL;
NET "address(18)" LOC = "P4" | IOSTANDARD=LVTTL;
NET "address(19)" LOC = "P1" | IOSTANDARD=LVTTL;
NET "address(20)" LOC = "M5" | IOSTANDARD=LVTTL;
NET "address(21)" LOC = "L5" | IOSTANDARD=LVTTL;
NET "address(22)" LOC = "M3" | IOSTANDARD=LVTTL;
NET "address(23)" LOC = "L3" | IOSTANDARD=LVTTL;
NET "address(24)" LOC = "L4" | IOSTANDARD=LVTTL;
NET "address(25)" LOC = "H4" | IOSTANDARD=LVTTL;
NET "address(26)" LOC = "K3" | IOSTANDARD=LVTTL;
NET "address(27)" LOC = "H3" | IOSTANDARD=LVTTL;

NET "data(0)"  LOC = "M8" | IOSTANDARD=LVTTL;
NET "data(1)"  LOC = "M7" | IOSTANDARD=LVTTL;
NET "data(2)"  LOC = "M6" | IOSTANDARD=LVTTL;
NET "data(3)"  LOC = "E2" | IOSTANDARD=LVTTL;
NET "data(4)"  LOC = "K4" | IOSTANDARD=LVTTL;
NET "data(5)"  LOC = "C3" | IOSTANDARD=LVTTL;
NET "data(6)"  LOC = "D6" | IOSTANDARD=LVTTL;
NET "data(7)"  LOC = "A4" | IOSTANDARD=LVTTL;
NET "data(8)"  LOC = "E1" | IOSTANDARD=LVTTL;
NET "data(9)"  LOC = "F1" | IOSTANDARD=LVTTL;
NET "data(10)" LOC = "G1" | IOSTANDARD=LVTTL;
NET "data(11)" LOC = "G2" | IOSTANDARD=LVTTL;
NET "data(12)" LOC = "D1" | IOSTANDARD=LVTTL;
NET "data(13)" LOC = "C4" | IOSTANDARD=LVTTL;
NET "data(14)" LOC = "C2" | IOSTANDARD=LVTTL;
NET "data(15)" LOC = "A5" | IOSTANDARD=LVTTL;
NET "data(16)" LOC = "F4" | IOSTANDARD=LVTTL;
NET "data(17)" LOC = "G3" | IOSTANDARD=LVTTL;
NET "data(18)" LOC = "F3" | IOSTANDARD=LVTTL;
NET "data(19)" LOC = "F6" | IOSTANDARD=LVTTL;
NET "data(20)" LOC = "E3" | IOSTANDARD=LVTTL;
NET "data(21)" LOC = "D5" | IOSTANDARD=LVTTL;
NET "data(22)" LOC = "B3" | IOSTANDARD=LVTTL;
NET "data(23)" LOC = "B5" | IOSTANDARD=LVTTL;
NET "data(24)" LOC = "J4" | IOSTANDARD=LVTTL;
NET "data(25)" LOC = "J5" | IOSTANDARD=LVTTL;
NET "data(26)" LOC = "G5" | IOSTANDARD=LVTTL;
NET "data(27)" LOC = "E6" | IOSTANDARD=LVTTL;
NET "data(28)" LOC = "D4" | IOSTANDARD=LVTTL;
NET "data(29)" LOC = "C5" | IOSTANDARD=LVTTL;
NET "data(30)" LOC = "A3" | IOSTANDARD=LVTTL;
NET "data(31)" LOC = "D2" | IOSTANDARD=LVTTL;

NET "cb(0)" LOC = "AG2" | IOSTANDARD=LVTTL; #aka GENIO168
NET "cb(1)" LOC = "AG1" | IOSTANDARD=LVTTL; #aka GENIO169
NET "cb(2)" LOC = "AG3" | IOSTANDARD=LVTTL; #aka GENIO170
NET "cb(3)" LOC = "AF1" | IOSTANDARD=LVTTL; #aka GENIO171
NET "cb(4)" LOC = "AF4" | IOSTANDARD=LVTTL; #aka GENIO172
NET "cb(5)" LOC = "AE2" | IOSTANDARD=LVTTL; #aka GENIO173
NET "cb(6)" LOC = "AF3" | IOSTANDARD=LVTTL; #aka GENIO174
NET "cb(7)" LOC = "AE1" | IOSTANDARD=LVTTL; #aka GENIO175

NET "ramoen(0)" LOC = "W1" | IOSTANDARD=LVTTL;
NET "ramoen(1)" LOC = "W2" | IOSTANDARD=LVTTL;
NET "ramoen(2)" LOC = "V2" | IOSTANDARD=LVTTL;
NET "ramoen(3)" LOC = "Y6" | IOSTANDARD=LVTTL;
NET "ramoen(4)" LOC = "Y3" | IOSTANDARD=LVTTL;

NET "ramsn(0)" LOC = "AB2" | IOSTANDARD=LVTTL;
NET "ramsn(1)" LOC = "AB1" | IOSTANDARD=LVTTL;
NET "ramsn(2)" LOC = "AA3" | IOSTANDARD=LVTTL;
NET "ramsn(3)" LOC = "AA1" | IOSTANDARD=LVTTL;
NET "ramsn(4)" LOC = "AA5" | IOSTANDARD=LVTTL;

NET "rwen(0)" LOC = "AD1" | IOSTANDARD=LVTTL;
NET "rwen(1)" LOC = "Y1"  | IOSTANDARD=LVTTL;
NET "rwen(2)" LOC = "AC2" | IOSTANDARD=LVTTL;
NET "rwen(3)" LOC = "Y2"  | IOSTANDARD=LVTTL;

NET "romsn(0)" LOC = "AB3" | IOSTANDARD=LVTTL;
NET "romsn(1)" LOC = "AA4" | IOSTANDARD=LVTTL;

NET "read"   LOC = "AC4" | IOSTANDARD=LVTTL;
NET "resetn" LOC = "G38" | IOSTANDARD=LVTTL;
NET "writen" LOC = "AC3" | IOSTANDARD=LVTTL;
NET "iosn"   LOC = "Y7"  | IOSTANDARD=LVTTL;
NET "oen"    LOC = "Y4"  | IOSTANDARD=LVTTL;
NET "bexcn"  LOC = "W4"  | IOSTANDARD=LVTTL;
NET "brdyn"  LOC = "AD2" | IOSTANDARD=LVTTL;
NET "errorn" LOC = "D39" | IOSTANDARD=LVTTL;
NET "wdogn"  LOC = "J36" | IOSTANDARD=LVTTL;

NET "sa(0)"  LOC = "B11" | IOSTANDARD=LVTTL;
NET "sa(1)"  LOC = "A11" | IOSTANDARD=LVTTL;
NET "sa(2)"  LOC = "B12" | IOSTANDARD=LVTTL;
NET "sa(3)"  LOC = "D12" | IOSTANDARD=LVTTL;
NET "sa(4)"  LOC = "C12" | IOSTANDARD=LVTTL;
NET "sa(5)"  LOC = "E13" | IOSTANDARD=LVTTL;
NET "sa(6)"  LOC = "H27" | IOSTANDARD=LVTTL;
NET "sa(7)"  LOC = "D26" | IOSTANDARD=LVTTL;
NET "sa(8)"  LOC = "H29" | IOSTANDARD=LVTTL;
NET "sa(9)"  LOC = "F31" | IOSTANDARD=LVTTL;
NET "sa(10)" LOC = "A33" | IOSTANDARD=LVTTL;
NET "sa(11)" LOC = "G32" | IOSTANDARD=LVTTL;
NET "sa(12)" LOC = "A23" | IOSTANDARD=LVTTL;
#NET "sa(13)" LOC = "B23" | IOSTANDARD=LVTTL;

NET "sa(13)" LOC = "C27" | IOSTANDARD=LVTTL; # aka sba(0)
NET "sa(14)" LOC = "H30" | IOSTANDARD=LVTTL; # aka sba(1)

NET "sd(0)"  LOC = "B6"  | IOSTANDARD=LVTTL;
NET "sd(1)"  LOC = "A6"  | IOSTANDARD=LVTTL;
NET "sd(2)"  LOC = "B7"  | IOSTANDARD=LVTTL;
NET "sd(3)"  LOC = "B8"  | IOSTANDARD=LVTTL;
NET "sd(4)"  LOC = "A8"  | IOSTANDARD=LVTTL;
NET "sd(5)"  LOC = "A9"  | IOSTANDARD=LVTTL;
NET "sd(6)"  LOC = "B10" | IOSTANDARD=LVTTL;
NET "sd(7)"  LOC = "A10" | IOSTANDARD=LVTTL;
NET "sd(8)"  LOC = "B13" | IOSTANDARD=LVTTL;
NET "sd(9)"  LOC = "A13" | IOSTANDARD=LVTTL;
NET "sd(10)" LOC = "A14" | IOSTANDARD=LVTTL;
NET "sd(11)" LOC = "B15" | IOSTANDARD=LVTTL;
NET "sd(12)" LOC = "A15" | IOSTANDARD=LVTTL;
NET "sd(13)" LOC = "B16" | IOSTANDARD=LVTTL;
NET "sd(14)" LOC = "A16" | IOSTANDARD=LVTTL;
NET "sd(15)" LOC = "B17" | IOSTANDARD=LVTTL;
NET "sd(16)" LOC = "A30" | IOSTANDARD=LVTTL;
NET "sd(17)" LOC = "A31" | IOSTANDARD=LVTTL;
NET "sd(18)" LOC = "B33" | IOSTANDARD=LVTTL;
NET "sd(19)" LOC = "A34" | IOSTANDARD=LVTTL;
NET "sd(20)" LOC = "A35" | IOSTANDARD=LVTTL;
NET "sd(21)" LOC = "B35" | IOSTANDARD=LVTTL;
NET "sd(22)" LOC = "A36" | IOSTANDARD=LVTTL;
NET "sd(23)" LOC = "B37" | IOSTANDARD=LVTTL;
NET "sd(24)" LOC = "B30" | IOSTANDARD=LVTTL;
NET "sd(25)" LOC = "G31" | IOSTANDARD=LVTTL;
NET "sd(26)" LOC = "B32" | IOSTANDARD=LVTTL;
NET "sd(27)" LOC = "C32" | IOSTANDARD=LVTTL;
NET "sd(28)" LOC = "C33" | IOSTANDARD=LVTTL;
NET "sd(29)" LOC = "D32" | IOSTANDARD=LVTTL;
NET "sd(30)" LOC = "C34" | IOSTANDARD=LVTTL;
NET "sd(31)" LOC = "E33" | IOSTANDARD=LVTTL;
NET "sd(32)" LOC = "E7"  | IOSTANDARD=LVTTL;
NET "sd(33)" LOC = "D7"  | IOSTANDARD=LVTTL;
NET "sd(34)" LOC = "C7"  | IOSTANDARD=LVTTL;
NET "sd(35)" LOC = "F8"  | IOSTANDARD=LVTTL;
NET "sd(36)" LOC = "C8"  | IOSTANDARD=LVTTL;
NET "sd(37)" LOC = "E8"  | IOSTANDARD=LVTTL;
NET "sd(38)" LOC = "C9"  | IOSTANDARD=LVTTL;
NET "sd(39)" LOC = "D10" | IOSTANDARD=LVTTL;
NET "sd(40)" LOC = "H15" | IOSTANDARD=LVTTL;
NET "sd(41)" LOC = "G15" | IOSTANDARD=LVTTL;
NET "sd(42)" LOC = "G16" | IOSTANDARD=LVTTL;
NET "sd(43)" LOC = "D17" | IOSTANDARD=LVTTL;
NET "sd(44)" LOC = "C17" | IOSTANDARD=LVTTL;
NET "sd(45)" LOC = "E18" | IOSTANDARD=LVTTL;
NET "sd(46)" LOC = "C18" | IOSTANDARD=LVTTL;
NET "sd(47)" LOC = "D19" | IOSTANDARD=LVTTL;
NET "sd(48)" LOC = "C22" | IOSTANDARD=LVTTL;
NET "sd(49)" LOC = "H22" | IOSTANDARD=LVTTL;
NET "sd(50)" LOC = "C23" | IOSTANDARD=LVTTL;
NET "sd(51)" LOC = "F23" | IOSTANDARD=LVTTL;
NET "sd(52)" LOC = "C24" | IOSTANDARD=LVTTL;
NET "sd(53)" LOC = "D24" | IOSTANDARD=LVTTL;
NET "sd(54)" LOC = "C25" | IOSTANDARD=LVTTL;
NET "sd(55)" LOC = "G23" | IOSTANDARD=LVTTL;
NET "sd(56)" LOC = "F25" | IOSTANDARD=LVTTL;
NET "sd(57)" LOC = "F24" | IOSTANDARD=LVTTL;
NET "sd(58)" LOC = "D25" | IOSTANDARD=LVTTL;
NET "sd(59)" LOC = "E24" | IOSTANDARD=LVTTL;
NET "sd(60)" LOC = "K23" | IOSTANDARD=LVTTL;
NET "sd(61)" LOC = "C29" | IOSTANDARD=LVTTL;
NET "sd(62)" LOC = "J22" | IOSTANDARD=LVTTL;
NET "sd(63)" LOC = "G30" | IOSTANDARD=LVTTL;

NET "sdcke(0)" LOC = "A18"  | IOSTANDARD=LVTTL;
NET "sdcke(1)" LOC = "B18"  | IOSTANDARD=LVTTL;
NET "sdcke(2)" LOC = "D22"  | IOSTANDARD=LVTTL;
NET "sdcke(3)" LOC = "F29"  | IOSTANDARD=LVTTL;

NET "sdcsn(0)" LOC = "D21"  | IOSTANDARD=LVTTL;
NET "sdcsn(1)" LOC = "A24"  | IOSTANDARD=LVTTL;
NET "sdcsn(2)" LOC = "E21"  | IOSTANDARD=LVTTL;
NET "sdcsn(3)" LOC = "E22"  | IOSTANDARD=LVTTL;

NET "sddqm(0)" LOC = "E11" | IOSTANDARD=LVTTL;
NET "sddqm(1)" LOC = "D11" | IOSTANDARD=LVTTL;
NET "sddqm(2)" LOC = "B31" | IOSTANDARD=LVTTL;
NET "sddqm(3)" LOC = "C30" | IOSTANDARD=LVTTL;
NET "sddqm(4)" LOC = "C10" | IOSTANDARD=LVTTL;
NET "sddqm(5)" LOC = "E12" | IOSTANDARD=LVTTL;
NET "sddqm(6)" LOC = "G28" | IOSTANDARD=LVTTL;
NET "sddqm(7)" LOC = "C28" | IOSTANDARD=LVTTL;

NET "sdcasn" LOC = "G22" | IOSTANDARD=LVTTL;
NET "sdrasn" LOC = "B25" | IOSTANDARD=LVTTL;
NET "sdwen"  LOC = "A25" | IOSTANDARD=LVTTL;

NET "sdscl"    LOC = "B36" | IOSTANDARD=LVTTL;
NET "sdsda(0)" LOC = "B37" | IOSTANDARD=LVTTL;
NET "sdsda(1)" LOC = "G33" | IOSTANDARD=LVTTL;


NET "dsuact" LOC = "D34" | IOSTANDARD=LVTTL;
NET "dsubre" LOC = "D36" | IOSTANDARD=LVTTL;
NET "dsuen"  LOC = "D37" | IOSTANDARD=LVTTL;
NET "dsurx"  LOC = "F33" | IOSTANDARD=LVTTL;
NET "dsutx"  LOC = "G33" | IOSTANDARD=LVTTL;


NET "erxd(0)" LOC = "E9"  | IOSTANDARD=LVTTL;
NET "erxd(1)" LOC = "G8"  | IOSTANDARD=LVTTL;
NET "erxd(2)" LOC = "D9"  | IOSTANDARD=LVTTL;
NET "erxd(3)" LOC = "F9"  | IOSTANDARD=LVTTL;
NET "etxd(0)" LOC = "C15" | IOSTANDARD=LVTTL;
NET "etxd(1)" LOC = "E16" | IOSTANDARD=LVTTL;
NET "etxd(2)" LOC = "D15" | IOSTANDARD=LVTTL;
NET "etxd(3)" LOC = "D16" | IOSTANDARD=LVTTL;

NET "erx_col" LOC = "D14" | IOSTANDARD=LVTTL;
NET "erx_crs" LOC = "F16" | IOSTANDARD=LVTTL;
NET "emdc"    LOC = "F11" | IOSTANDARD=LVTTL;
NET "emdint"  LOC = "F15" | IOSTANDARD=LVTTL;
NET "emdio"   LOC = "G12" | IOSTANDARD=LVTTL;
NET "erx_clk" LOC = "L20" | IOSTANDARD=LVTTL;
NET "erx_dv"  LOC = "C13" | IOSTANDARD=LVTTL;
NET "erx_er"  LOC = "E14" | IOSTANDARD=LVTTL;
NET "etx_clk" LOC = "P22" | IOSTANDARD=LVTTL;
NET "etx_en"  LOC = "C14" | IOSTANDARD=LVTTL;
NET "etx_er"  LOC = "G13" | IOSTANDARD=LVTTL;


NET "pci_ad(0)"  LOC = "AW16" | IOSTANDARD=PCI33_3;
NET "pci_ad(1)"  LOC = "AV17" | IOSTANDARD=PCI33_3;
NET "pci_ad(2)"  LOC = "AW15" | IOSTANDARD=PCI33_3;
NET "pci_ad(3)"  LOC = "AV15" | IOSTANDARD=PCI33_3;
NET "pci_ad(4)"  LOC = "AU18" | IOSTANDARD=PCI33_3;
NET "pci_ad(5)"  LOC = "AW17" | IOSTANDARD=PCI33_3;
NET "pci_ad(6)"  LOC = "AT18" | IOSTANDARD=PCI33_3;
NET "pci_ad(7)"  LOC = "AP16" | IOSTANDARD=PCI33_3;
NET "pci_ad(8)"  LOC = "AU17" | IOSTANDARD=PCI33_3;
NET "pci_ad(9)"  LOC = "AT16" | IOSTANDARD=PCI33_3;
NET "pci_ad(10)" LOC = "AU16" | IOSTANDARD=PCI33_3;
NET "pci_ad(11)" LOC = "AT15" | IOSTANDARD=PCI33_3;
NET "pci_ad(12)" LOC = "AU15" | IOSTANDARD=PCI33_3;
NET "pci_ad(13)" LOC = "AR14" | IOSTANDARD=PCI33_3;
NET "pci_ad(14)" LOC = "AT14" | IOSTANDARD=PCI33_3;
NET "pci_ad(15)" LOC = "AU13" | IOSTANDARD=PCI33_3;
NET "pci_ad(16)" LOC = "AT8"  | IOSTANDARD=PCI33_3;
NET "pci_ad(17)" LOC = "AU8"  | IOSTANDARD=PCI33_3;
NET "pci_ad(18)" LOC = "AT9"  | IOSTANDARD=PCI33_3;
NET "pci_ad(19)" LOC = "AU6"  | IOSTANDARD=PCI33_3;
NET "pci_ad(20)" LOC = "AR8"  | IOSTANDARD=PCI33_3;
NET "pci_ad(21)" LOC = "AU7"  | IOSTANDARD=PCI33_3;
NET "pci_ad(22)" LOC = "AU5"  | IOSTANDARD=PCI33_3;
NET "pci_ad(23)" LOC = "AR7"  | IOSTANDARD=PCI33_3;
NET "pci_ad(24)" LOC = "AW7"  | IOSTANDARD=PCI33_3;
NET "pci_ad(25)" LOC = "AV7"  | IOSTANDARD=PCI33_3;
NET "pci_ad(26)" LOC = "AW6"  | IOSTANDARD=PCI33_3;
NET "pci_ad(27)" LOC = "AW5"  | IOSTANDARD=PCI33_3;
NET "pci_ad(28)" LOC = "AV5"  | IOSTANDARD=PCI33_3;
NET "pci_ad(29)" LOC = "AW4"  | IOSTANDARD=PCI33_3;
NET "pci_ad(30)" LOC = "AV4"  | IOSTANDARD=PCI33_3;
NET "pci_ad(31)" LOC = "AV3"  | IOSTANDARD=PCI33_3;
NET "pci_ad(32)" LOC = "AN39" | IOSTANDARD=PCI33_3;
NET "pci_ad(33)" LOC = "AR39" | IOSTANDARD=PCI33_3;
NET "pci_ad(34)" LOC = "AN38" | IOSTANDARD=PCI33_3;
NET "pci_ad(35)" LOC = "AP39" | IOSTANDARD=PCI33_3;
NET "pci_ad(36)" LOC = "AN37" | IOSTANDARD=PCI33_3;
NET "pci_ad(37)" LOC = "AN35" | IOSTANDARD=PCI33_3;
NET "pci_ad(38)" LOC = "AP37" | IOSTANDARD=PCI33_3;
NET "pci_ad(39)" LOC = "AR37" | IOSTANDARD=PCI33_3;
NET "pci_ad(40)" LOC = "AR38" | IOSTANDARD=PCI33_3;
NET "pci_ad(41)" LOC = "AP36" | IOSTANDARD=PCI33_3;
NET "pci_ad(42)" LOC = "AR36" | IOSTANDARD=PCI33_3;
NET "pci_ad(43)" LOC = "AT36" | IOSTANDARD=PCI33_3;
NET "pci_ad(44)" LOC = "AN33" | IOSTANDARD=PCI33_3;
NET "pci_ad(45)" LOC = "AR34" | IOSTANDARD=PCI33_3;
NET "pci_ad(46)" LOC = "AU36" | IOSTANDARD=PCI33_3;
NET "pci_ad(47)" LOC = "AT35" | IOSTANDARD=PCI33_3;
NET "pci_ad(48)" LOC = "AT39" | IOSTANDARD=PCI33_3;
NET "pci_ad(49)" LOC = "AT38" | IOSTANDARD=PCI33_3;
NET "pci_ad(50)" LOC = "AU38" | IOSTANDARD=PCI33_3;
NET "pci_ad(51)" LOC = "AU37" | IOSTANDARD=PCI33_3;
NET "pci_ad(52)" LOC = "AP35" | IOSTANDARD=PCI33_3;
NET "pci_ad(53)" LOC = "AT34" | IOSTANDARD=PCI33_3;
NET "pci_ad(54)" LOC = "AU33" | IOSTANDARD=PCI33_3;
NET "pci_ad(55)" LOC = "AU35" | IOSTANDARD=PCI33_3;
NET "pci_ad(56)" LOC = "AV37" | IOSTANDARD=PCI33_3;
NET "pci_ad(57)" LOC = "AW37" | IOSTANDARD=PCI33_3;
NET "pci_ad(58)" LOC = "AM35" | IOSTANDARD=PCI33_3;
NET "pci_ad(59)" LOC = "AW35" | IOSTANDARD=PCI33_3;
NET "pci_ad(60)" LOC = "AW36" | IOSTANDARD=PCI33_3;
NET "pci_ad(61)" LOC = "AV35" | IOSTANDARD=PCI33_3;
NET "pci_ad(62)" LOC = "AT33" | IOSTANDARD=PCI33_3;
NET "pci_ad(63)" LOC = "AP34" | IOSTANDARD=PCI33_3;
NET "pci_cbe(0)" LOC = "AT13" | IOSTANDARD=PCI33_3;
NET "pci_cbe(1)" LOC = "AU12" | IOSTANDARD=PCI33_3;
NET "pci_cbe(2)" LOC = "AR13" | IOSTANDARD=PCI33_3;
NET "pci_cbe(3)" LOC = "AR12" | IOSTANDARD=PCI33_3;
NET "pci_cbe(4)" LOC = "AR31" | IOSTANDARD=PCI33_3;
NET "pci_cbe(5)" LOC = "AT31" | IOSTANDARD=PCI33_3;
NET "pci_cbe(6)" LOC = "AU31" | IOSTANDARD=PCI33_3;
NET "pci_cbe(7)" LOC = "AT30" | IOSTANDARD=PCI33_3;


NET "pci_66"      LOC = "AW14" | IOSTANDARD=LVTTL;
NET "pci64en"     LOC = "AV34" | IOSTANDARD=LVTTL;
NET "pci_host"    LOC = "AV14" | IOSTANDARD=LVTTL;
NET "pci_ack64n"  LOC = "AV32" | IOSTANDARD=LVTTL;
NET "pci_devsel"  LOC = "AV10" | IOSTANDARD=LVTTL; # the PCI spec calls this devseln
NET "pci_frame"   LOC = "AR9"  | IOSTANDARD=LVTTL; # the PCI spec calls this framen
NET "pci_gnt"     LOC = "AV13" | IOSTANDARD=LVTTL; # the PCI spec calls this gntn
NET "pci_req"     LOC = "AW12" | IOSTANDARD=LVTTL; # the PCI spec calls this reqn

NET "pci_arb_gnt(0)" LOC = "AT23" | IOSTANDARD=PCI33_3; #pci_gntn(0)
NET "pci_arb_gnt(1)" LOC = "AT21" | IOSTANDARD=PCI33_3; #pci_gntn(1)
NET "pci_arb_gnt(2)" LOC = "AU22" | IOSTANDARD=PCI33_3; #pci_gntn(2)
NET "pci_arb_gnt(3)" LOC = "AR22" | IOSTANDARD=PCI33_3; #pci_gntn(3)
NET "pci_arb_gnt(4)" LOC = "AU25" | IOSTANDARD=PCI33_3; #pci_gntn(4)
NET "pci_arb_gnt(5)" LOC = "AT24" | IOSTANDARD=PCI33_3; #pci_gntn(5)
NET "pci_arb_gnt(6)" LOC = "AT25" | IOSTANDARD=PCI33_3; #pci_gntn(6)
NET "pci_arb_gnt(7)" LOC = "AU21" | IOSTANDARD=PCI33_3; #pci_gntn(7)

NET "pci_arb_req(0)" LOC = "AV22" | IOSTANDARD=PCI33_3; #pci_reqn(0)
NET "pci_arb_req(1)" LOC = "AW24" | IOSTANDARD=PCI33_3; #pci_reqn(1)
NET "pci_arb_req(2)" LOC = "AW26" | IOSTANDARD=PCI33_3; #pci_reqn(2)
NET "pci_arb_req(3)" LOC = "AV24" | IOSTANDARD=PCI33_3; #pci_reqn(3)
NET "pci_arb_req(4)" LOC = "AV25" | IOSTANDARD=PCI33_3; #pci_reqn(4)
NET "pci_arb_req(5)" LOC = "AV23" | IOSTANDARD=PCI33_3; #pci_reqn(5)
NET "pci_arb_req(6)" LOC = "AW25" | IOSTANDARD=PCI33_3; #pci_reqn(6)
NET "pci_arb_req(7)" LOC = "AW22" | IOSTANDARD=PCI33_3; #pci_reqn(7)

NET "pci_idsel"   LOC = "AV9"  | IOSTANDARD=LVTTL;
NET "pci_irdy"    LOC = "AW9"  | IOSTANDARD=LVTTL; # the PCI spec calls this" irdyn
NET "pci_lock"    LOC = "AU11" | IOSTANDARD=LVTTL; # the PCI spec calls this" lockn
NET "pci_par"     LOC = "AW11" | IOSTANDARD=LVTTL;
NET "pci_par64"   LOC = "AW34" | IOSTANDARD=LVTTL;
NET "pci_perr"    LOC = "AW10" | IOSTANDARD=LVTTL; # the PCI spec calls this perrn
NET "pci_req64n"  LOC = "AV33" | IOSTANDARD=LVTTL;
NET "pci_arb_req" LOC = "AW12" | IOSTANDARD=LVTTL;
NET "pci_rst"     LOC = "AV8"  | IOSTANDARD=LVTTL; # the PCI spec calls this rstn
NET "pci_serr"    LOC = "AT11" | IOSTANDARD=LVTTL; # the PCI spec calls this serrn
NET "pci_stop"    LOC = "AV12" | IOSTANDARD=LVTTL; # the PCI spec calls this stopn
NET "pci_trdy"    LOC = "AU10" | IOSTANDARD=LVTTL; # the PCI spec calls this trdyn


NET "led(1)" LOC = "E34" | IOSTANDARD=LVTTL;
NET "led(2)" LOC = "D35" | IOSTANDARD=LVTTL;
NET "led(3)" LOC = "C35" | IOSTANDARD=LVTTL;


NET "xd(0)" LOC = "AG16" | IOSTANDARD=LVTTL; # reserved for Master Parallel mode
NET "xd(1)" LOC = "AH15" | IOSTANDARD=LVTTL; # reserved for Master Parallel mode
NET "xd(2)" LOC = "AK24" | IOSTANDARD=LVTTL; # reserved for Master Parallel mode
NET "xd(3)" LOC = "AJ24" | IOSTANDARD=LVTTL; # reserved for Master Parallel mode
NET "xd(4)" LOC = "AP14" | IOSTANDARD=LVTTL; # reserved for Master Parallel mode
NET "xd(5)" LOC = "AP15" | IOSTANDARD=LVTTL; # reserved for Master Parallel mode
NET "xd(6)" LOC = "AM25" | IOSTANDARD=LVTTL; # reserved for Master Parallel mode
NET "xd(7)" LOC = "AL24" | IOSTANDARD=LVTTL; # reserved for Master Parallel mode



#NET "can_stb(2)" LOC = "K39" | IOSTANDARD = LVTTL; #aka gpio(0)
#NET "can_rxd(2)" LOC = "L38" | IOSTANDARD = LVTTL; #aka gpio(1)
#NET "can_txd(2)" LOC = "L39" | IOSTANDARD = LVTTL; #aka gpio(2)
#NET "can_stb(1)" LOC = "N38" | IOSTANDARD = LVTTL; #aka gpio(3)
#NET "can_rxd(1)" LOC = "R38" | IOSTANDARD = LVTTL; #aka gpio(4)
#NET "can_txd(1)" LOC = "K38" | IOSTANDARD = LVTTL; #aka gpio(5)

#NET "can_stb" LOC = "N38" | IOSTANDARD = LVTTL; #aka gpio(3)
#NET "can_rxd" LOC = "R38" | IOSTANDARD = LVTTL; #aka gpio(4)
#NET "can_txd" LOC = "K38" | IOSTANDARD = LVTTL; #aka gpio(5)

NET "spw_rxdp(0)" LOC = "AA34" | IOSTANDARD = LVDS; #lvdsp(0)
NET "spw_rxdn(0)" LOC = "AA35" | IOSTANDARD = LVDS; #lvdsn(0)

NET "spw_txsp(0)" LOC = "AA31" | IOSTANDARD = LVDS; #lvdsp(1)
NET "spw_txsn(0)" LOC = "Y31"  | IOSTANDARD = LVDS; #lvdsn(1)

NET "spw_rxsp(0)" LOC = "AC35" | IOSTANDARD = LVDS; #lvdsp(2)
NET "spw_rxsn(0)" LOC = "AB35" | IOSTANDARD = LVDS; #lvdsn(2)

NET "spw_txdp(0)" LOC = "Y29"  | IOSTANDARD = LVDS; #lvdsp(3)
NET "spw_txdn(0)" LOC = "AA30" | IOSTANDARD = LVDS; #lvdsn(3)

NET "spw_rxdp(1)" LOC = "AC38" | IOSTANDARD = LVDS; #lvdsp(4)
NET "spw_rxdn(1)" LOC = "AC39" | IOSTANDARD = LVDS; #lvdsn(4)

NET "spw_txsp(1)" LOC = "AE34" | IOSTANDARD = LVDS; #lvdsp(5)
NET "spw_txsn(1)" LOC = "AD34" | IOSTANDARD = LVDS; #lvdsn(5)

NET "spw_rxsp(1)" LOC = "AE39" | IOSTANDARD = LVDS; #lvdsp(6)
NET "spw_rxsn(1)" LOC = "AD39" | IOSTANDARD = LVDS; #lvdsn(6)

NET "spw_txdp(1)" LOC = "AD31" | IOSTANDARD = LVDS; #lvdsp(7)
NET "spw_txdn(1)" LOC = "AD32" | IOSTANDARD = LVDS; #lvdsn(7)

NET "spw_rxdp(2)" LOC = "AF38" | IOSTANDARD = LVDS; #lvdsp(8)
NET "spw_rxdn(2)" LOC = "AF39" | IOSTANDARD = LVDS; #lvdsn(8)

NET "spw_rxsp(2)" LOC = "AG37" | IOSTANDARD = LVDS; #lvdsp(9)
NET "spw_rxsn(2)" LOC = "AG38" | IOSTANDARD = LVDS; #lvdsn(9)

NET "spw_txsp(2)" LOC = "AJ39" | IOSTANDARD = LVDS; #lvdsp(10)
NET "spw_txsn(2)" LOC = "AH39" | IOSTANDARD = LVDS; #lvdsn(10)

NET "spw_txdp(2)" LOC = "AB27" | IOSTANDARD = LVDS; #lvdsp(11)
NET "spw_txdn(2)" LOC = "AB28" | IOSTANDARD = LVDS; #lvdsn(11)

NET "spw_rxdp(3)" LOC = "AK38" | IOSTANDARD = LVDS; #lvdsp(12)
NET "spw_rxdn(3)" LOC = "AK39" | IOSTANDARD = LVDS; #lvdsn(12)

NET "spw_rxsp(3)" LOC = "AK36" | IOSTANDARD = LVDS; #lvdsp(13)
NET "spw_rxsn(3)" LOC = "AK37" | IOSTANDARD = LVDS; #lvdsn(13)

NET "spw_txsp(3)" LOC = "AJ35" | IOSTANDARD = LVDS; #lvdsp(14)
NET "spw_txsn(3)" LOC = "AH35" | IOSTANDARD = LVDS; #lvdsn(14)

NET "spw_txdp(3)" LOC = "AM36" | IOSTANDARD = LVDS; #lvdsp(15)
NET "spw_txdn(3)" LOC = "AL36" | IOSTANDARD = LVDS; #lvdsn(15)

NET "spw_rxdp(4)" LOC = "AL38" | IOSTANDARD = LVDS; #lvdsp(16)
NET "spw_rxdn(4)" LOC = "AL39" | IOSTANDARD = LVDS; #lvdsn(16)

NET "spw_txdp(4)" LOC = "AD37" | IOSTANDARD = LVDS; #lvdsp(17)
NET "spw_txdn(4)" LOC = "AC37" | IOSTANDARD = LVDS; #lvdsn(17)

NET "spw_rxsp(4)" LOC = "AM37" | IOSTANDARD = LVDS; #lvdsp(18)
NET "spw_rxsn(4)" LOC = "AM38" | IOSTANDARD = LVDS; #lvdsn(18)

NET "spw_txsp(4)" LOC = "AD35" | IOSTANDARD = LVDS; #lvdsp(19)
NET "spw_txsn(4)" LOC = "AD36" | IOSTANDARD = LVDS; #lvdsn(19)

NET "spw_rxdp(5)" LOC = "AC32" | IOSTANDARD = LVDS; #lvdsp(20)
NET "spw_rxdn(5)" LOC = "AB31" | IOSTANDARD = LVDS; #lvdsn(20)

NET "spw_txdp(5)" LOC = "AF36" | IOSTANDARD = LVDS; #lvdsp(21)
NET "spw_txdn(5)" LOC = "AE36" | IOSTANDARD = LVDS; #lvdsn(21)

NET "spw_rxsp(5)" LOC = "AC30" | IOSTANDARD = LVDS; #lvdsp(22)
NET "spw_rxsn(5)" LOC = "AB30" | IOSTANDARD = LVDS; #lvdsn(22)

NET "spw_txsp(5)" LOC = "AG35" | IOSTANDARD = LVDS; #lvdsp(23)
NET "spw_txsn(5)" LOC = "AG36" | IOSTANDARD = LVDS; #lvdsn(23)


NET "gpio(0)"  LOC = "K39" | IOSTANDARD=LVTTL;
NET "gpio(1)"  LOC = "L38" | IOSTANDARD=LVTTL;
NET "gpio(2)"  LOC = "L39" | IOSTANDARD=LVTTL;
NET "gpio(3)"  LOC = "N38" | IOSTANDARD=LVTTL;
NET "gpio(4)"  LOC = "R38" | IOSTANDARD=LVTTL;
NET "gpio(5)"  LOC = "K38" | IOSTANDARD=LVTTL;
NET "gpio(6)"  LOC = "H39" | IOSTANDARD=LVTTL;
NET "gpio(7)"  LOC = "J39" | IOSTANDARD=LVTTL;
NET "gpio(8)"  LOC = "R39" | IOSTANDARD=LVTTL;
NET "gpio(9)"  LOC = "P39" | IOSTANDARD=LVTTL;
NET "gpio(10)" LOC = "M38" | IOSTANDARD=LVTTL;
NET "gpio(11)" LOC = "N39" | IOSTANDARD=LVTTL;
NET "gpio(12)" LOC = "W36" | IOSTANDARD=LVTTL;
NET "gpio(13)" LOC = "W35" | IOSTANDARD=LVTTL;
NET "gpio(14)" LOC = "T38" | IOSTANDARD=LVTTL;
NET "gpio(15)" LOC = "U38" | IOSTANDARD=LVTTL;

NET "cts2"  LOC = "R39"    | IOSTANDARD=LVTTL; #aka gpio(8)
NET "rts2"  LOC = "P39"    | IOSTANDARD=LVTTL; #aka gpio(9)
NET "rxd2"  LOC = "M38"    | IOSTANDARD=LVTTL; #aka gpio(10)
NET "txd2"  LOC = "N39"    | IOSTANDARD=LVTTL; #aka gpio(11)
NET "cts1"  LOC = "W36"    | IOSTANDARD=LVTTL; #aka gpio(12)
NET "rts1"  LOC = "W35"    | IOSTANDARD=LVTTL; #aka gpio(13)
NET "rxd1"  LOC = "T38"    | IOSTANDARD=LVTTL; #aka gpio(14)
NET "txd1"  LOC = "U38"    | IOSTANDARD=LVTTL; #aka gpio(15)


NET "adcn(0)" LOC = "A20" | IOSTANDARD=LVTTL; # aka GENIO62
NET "adcn(1)" LOC = "D31" | IOSTANDARD=LVTTL; # aka GENIO63
NET "adcn(2)" LOC = "A29" | IOSTANDARD=LVTTL; # aka GENIO58
NET "adcn(3)" LOC = "E29" | IOSTANDARD=LVTTL; # aka GENIO59
NET "adcn(4)" LOC = "G26" | IOSTANDARD=LVTTL; # aka GENIO54
NET "adcn(5)" LOC = "D27" | IOSTANDARD=LVTTL; # aka GENIO55
NET "adcn(6)" LOC = "F28" | IOSTANDARD=LVTTL; # aka GENIO50
NET "adcn(7)" LOC = "A26" | IOSTANDARD=LVTTL; # aka GENIO51

NET "adcp(0)" LOC = "A21" | IOSTANDARD=LVTTL; # aka GENIO60
NET "adcp(1)" LOC = "D30" | IOSTANDARD=LVTTL; # aka GENIO61
NET "adcp(2)" LOC = "A28" | IOSTANDARD=LVTTL; # aka GENIO56
NET "adcp(3)" LOC = "D29" | IOSTANDARD=LVTTL; # aka GENIO57
NET "adcp(4)" LOC = "G25" | IOSTANDARD=LVTTL; # aka GENIO52
NET "adcp(5)" LOC = "E27" | IOSTANDARD=LVTTL; # aka GENIO53
NET "adcp(6)" LOC = "E28" | IOSTANDARD=LVTTL; # aka GENIO48
NET "adcp(7)" LOC = "B26" | IOSTANDARD=LVTTL; # aka GENIO49

NET "smn(0)" LOC = "AW19" | IOSTANDARD=LVTTL; # aka GENIO15
NET "smn(1)" LOC = "AR28" | IOSTANDARD=LVTTL; # aka GENIO14
NET "smn(2)" LOC = "AU27" | IOSTANDARD=LVTTL; # aka GENIO11
NET "smn(3)" LOC = "AR29" | IOSTANDARD=LVTTL; # aka GENIO10
NET "smn(4)" LOC = "AW27" | IOSTANDARD=LVTTL; # aka GENIO7
NET "smn(5)" LOC = "AT26" | IOSTANDARD=LVTTL; # aka GENIO6
NET "smn(6)" LOC = "AU30" | IOSTANDARD=LVTTL; # aka GENIO3
NET "smn(7)" LOC = "AR27" | IOSTANDARD=LVTTL; # aka GENIO2

NET "smp(0)" LOC = "AW20" | IOSTANDARD=LVTTL; # aka GENIO13
NET "smp(1)" LOC = "AT28" | IOSTANDARD=LVTTL; # aka GENIO12
NET "smp(2)" LOC = "AU26" | IOSTANDARD=LVTTL; # aka GENIO9
NET "smp(3)" LOC = "AT29" | IOSTANDARD=LVTTL; # aka GENIO8
NET "smp(4)" LOC = "AV27" | IOSTANDARD=LVTTL; # aka GENIO5
NET "smp(5)" LOC = "AR26" | IOSTANDARD=LVTTL; # aka GENIO4
NET "smp(6)" LOC = "AV30" | IOSTANDARD=LVTTL; # aka GENIO1
NET "smp(7)" LOC = "AP27" | IOSTANDARD=LVTTL; # aka GENIO0


NET "genio(0)"  LOC = "AP27" | IOSTANDARD=LVTTL; # aka smp7
NET "genio(1)"  LOC = "AV30" | IOSTANDARD=LVTTL; # aka smp6
NET "genio(2)"  LOC = "AR27" | IOSTANDARD=LVTTL; # aka smn7
NET "genio(3)"  LOC = "AU30" | IOSTANDARD=LVTTL; # aka smn6
NET "genio(4)"  LOC = "AR26" | IOSTANDARD=LVTTL; # aka smp5
NET "genio(5)"  LOC = "AV27" | IOSTANDARD=LVTTL; # aka smp4
NET "genio(6)"  LOC = "AT26" | IOSTANDARD=LVTTL; # aka smn5
NET "genio(7)"  LOC = "AW27" | IOSTANDARD=LVTTL; # aka smn4
NET "genio(8)"  LOC = "AT29" | IOSTANDARD=LVTTL; # aka smp3
NET "genio(9)"  LOC = "AU26" | IOSTANDARD=LVTTL; # aka smp2
NET "genio(10)" LOC = "AR29" | IOSTANDARD=LVTTL; # aka smn3
NET "genio(11)" LOC = "AU27" | IOSTANDARD=LVTTL; # aka smn2
NET "genio(12)" LOC = "AT28" | IOSTANDARD=LVTTL; # aka smp1
#NET "genio(13)" LOC = "AW20" | IOSTANDARD=LVTTL; # aka smp0
NET "genio(14)" LOC = "AR28" | IOSTANDARD=LVTTL; # aka smn1
#NET "genio(15)" LOC = "AW19" | IOSTANDARD=LVTTL; # aka smn0

NET "genio(16)" LOC = "U35" | IOSTANDARD=LVTTL;
NET "genio(17)" LOC = "V35" | IOSTANDARD=LVTTL;
NET "genio(18)" LOC = "T35" | IOSTANDARD=LVTTL;
NET "genio(19)" LOC = "W37" | IOSTANDARD=LVTTL;
NET "genio(20)" LOC = "R34" | IOSTANDARD=LVTTL;
NET "genio(21)" LOC = "V34" | IOSTANDARD=LVTTL;
NET "genio(22)" LOC = "P34" | IOSTANDARD=LVTTL;
NET "genio(23)" LOC = "T34" | IOSTANDARD=LVTTL;
NET "genio(24)" LOC = "N34" | IOSTANDARD=LVTTL;
NET "genio(25)" LOC = "P35" | IOSTANDARD=LVTTL;
NET "genio(26)" LOC = "M35" | IOSTANDARD=LVTTL;
NET "genio(27)" LOC = "N33" | IOSTANDARD=LVTTL;
NET "genio(28)" LOC = "L34" | IOSTANDARD=LVTTL;
NET "genio(29)" LOC = "M33" | IOSTANDARD=LVTTL;
NET "genio(30)" LOC = "L33" | IOSTANDARD=LVTTL;
NET "genio(31)" LOC = "V37" | IOSTANDARD=LVTTL;
NET "genio(32)" LOC = "K33" | IOSTANDARD=LVTTL;
NET "genio(33)" LOC = "U36" | IOSTANDARD=LVTTL;
NET "genio(34)" LOC = "K32" | IOSTANDARD=LVTTL;
NET "genio(35)" LOC = "U37" | IOSTANDARD=LVTTL;
NET "genio(36)" LOC = "N35" | IOSTANDARD=LVTTL;
NET "genio(37)" LOC = "T36" | IOSTANDARD=LVTTL;
NET "genio(38)" LOC = "M37" | IOSTANDARD=LVTTL;
NET "genio(39)" LOC = "R36" | IOSTANDARD=LVTTL;
NET "genio(40)" LOC = "M36" | IOSTANDARD=LVTTL;
NET "genio(41)" LOC = "R37" | IOSTANDARD=LVTTL;
NET "genio(42)" LOC = "L36" | IOSTANDARD=LVTTL;
NET "genio(43)" LOC = "P36" | IOSTANDARD=LVTTL;
NET "genio(44)" LOC = "K36" | IOSTANDARD=LVTTL;
NET "genio(45)" LOC = "P37" | IOSTANDARD=LVTTL;
NET "genio(46)" LOC = "J37" | IOSTANDARD=LVTTL;
NET "genio(47)" LOC = "N37" | IOSTANDARD=LVTTL;

NET "genio(48)" LOC = "E28" | IOSTANDARD=LVTTL; # aka adcp(6)
NET "genio(49)" LOC = "B26" | IOSTANDARD=LVTTL; # aka adcp(7)
NET "genio(50)" LOC = "F28" | IOSTANDARD=LVTTL; # aka adcn(6)
NET "genio(51)" LOC = "A26" | IOSTANDARD=LVTTL; # aka adcn(7)
NET "genio(52)" LOC = "G25" | IOSTANDARD=LVTTL; # aka adcp(4)
NET "genio(53)" LOC = "E27" | IOSTANDARD=LVTTL; # aka adcp(5)
NET "genio(54)" LOC = "G26" | IOSTANDARD=LVTTL; # aka adcn(4)
NET "genio(55)" LOC = "D27" | IOSTANDARD=LVTTL; # aka adcn(5)
NET "genio(56)" LOC = "A28" | IOSTANDARD=LVTTL; # aka adcp(2)
NET "genio(57)" LOC = "D29" | IOSTANDARD=LVTTL; # aka adcp(3)
NET "genio(58)" LOC = "A29" | IOSTANDARD=LVTTL; # aka adcn(2)
NET "genio(59)" LOC = "E29" | IOSTANDARD=LVTTL; # aka adcn(3)
#NET "genio(60)" LOC = "A21" | IOSTANDARD=LVTTL; # aka adcp(0)
NET "genio(61)" LOC = "D30" | IOSTANDARD=LVTTL; # aka adcp(1)
#NET "genio(62)" LOC = "A20" | IOSTANDARD=LVTTL; # aka adcn(0)
NET "genio(63)" LOC = "D31" | IOSTANDARD=LVTTL; # aka adcn(1)

NET "genio(64)"  LOC = "H33" | IOSTANDARD=LVTTL;
NET "genio(65)"  LOC = "H34" | IOSTANDARD=LVTTL;
NET "genio(66)"  LOC = "F38" | IOSTANDARD=LVTTL;
NET "genio(67)"  LOC = "H35" | IOSTANDARD=LVTTL;
NET "genio(68)"  LOC = "F39" | IOSTANDARD=LVTTL;
NET "genio(69)"  LOC = "G35" | IOSTANDARD=LVTTL;
NET "genio(70)"  LOC = "E38" | IOSTANDARD=LVTTL;
NET "genio(71)"  LOC = "E39" | IOSTANDARD=LVTTL;
NET "genio(72)"  LOC = "G36" | IOSTANDARD=LVTTL;
NET "genio(73)"  LOC = "H37" | IOSTANDARD=LVTTL;
NET "genio(74)"  LOC = "F34" | IOSTANDARD=LVTTL;
NET "genio(75)"  LOC = "G37" | IOSTANDARD=LVTTL;
NET "genio(76)"  LOC = "F36" | IOSTANDARD=LVTTL;
NET "genio(77)"  LOC = "E36" | IOSTANDARD=LVTTL;
NET "genio(78)"  LOC = "E37" | IOSTANDARD=LVTTL;
NET "genio(79)"  LOC = "F35" | IOSTANDARD=LVTTL;

NET "genio(80)" LOC = "AC30"  | IOSTANDARD = LVDS; #lvdsp(22)
NET "genio(81)" LOC = "AG35"  | IOSTANDARD = LVDS; #lvdsp(23)
NET "genio(82)" LOC = "AB30"  | IOSTANDARD = LVDS; #lvdsn(22)
NET "genio(83)" LOC = "AG36"  | IOSTANDARD = LVDS; #lvdsn(23)
NET "genio(84)" LOC = "AB31"  | IOSTANDARD = LVDS; #lvdsn(20)
NET "genio(85)" LOC = "AE36"  | IOSTANDARD = LVDS; #lvdsn(21)
NET "genio(86)" LOC = "AC32"  | IOSTANDARD = LVDS; #lvdsp(20)
NET "genio(87)" LOC = "AF36"  | IOSTANDARD = LVDS; #lvdsp(21)
NET "genio(88)" LOC = "AM37"  | IOSTANDARD = LVDS; #lvdsp(18)
NET "genio(89)" LOC = "AD35"  | IOSTANDARD = LVDS; #lvdsp(19)
NET "genio(90)" LOC = "AM38"  | IOSTANDARD = LVDS; #lvdsn(18)
NET "genio(91)" LOC = "AD36"  | IOSTANDARD = LVDS; #lvdsn(19)
NET "genio(92)" LOC = "AL39"  | IOSTANDARD = LVDS; #lvdsn(16)
NET "genio(93)" LOC = "AC37"  | IOSTANDARD = LVDS; #lvdsn(17)
NET "genio(94)" LOC = "AL38"  | IOSTANDARD = LVDS; #lvdsp(16)
NET "genio(95)" LOC = "AD37"  | IOSTANDARD = LVDS; #lvdsp(17)
NET "genio(96)" LOC = "AJ35"  | IOSTANDARD = LVDS; #lvdsp(14)
NET "genio(97)" LOC = "AM36"  | IOSTANDARD = LVDS; #lvdsp(15)
NET "genio(98)" LOC = "AH35"  | IOSTANDARD = LVDS; #lvdsn(14)
NET "genio(99)" LOC = "AL36"  | IOSTANDARD = LVDS; #lvdsn(15)
NET "genio(100)" LOC = "AK39" | IOSTANDARD = LVDS; #lvdsn(12)
NET "genio(101)" LOC = "AK37" | IOSTANDARD = LVDS; #lvdsn(13)
NET "genio(102)" LOC = "AK38" | IOSTANDARD = LVDS; #lvdsp(12)
NET "genio(103)" LOC = "AK36" | IOSTANDARD = LVDS; #lvdsp(13)
NET "genio(104)" LOC = "AJ39" | IOSTANDARD = LVDS; #lvdsp(10)
NET "genio(105)" LOC = "AB27" | IOSTANDARD = LVDS; #lvdsp(11)
NET "genio(106)" LOC = "AH39" | IOSTANDARD = LVDS; #lvdsn(10)
NET "genio(107)" LOC = "AB28" | IOSTANDARD = LVDS; #lvdsn(11)
NET "genio(108)" LOC = "AF39" | IOSTANDARD = LVDS; #lvdsn(8)
NET "genio(109)" LOC = "AG38" | IOSTANDARD = LVDS; #lvdsn(9)
NET "genio(110)" LOC = "AF38" | IOSTANDARD = LVDS; #lvdsp(8)
NET "genio(111)" LOC = "AG37" | IOSTANDARD = LVDS; #lvdsp(9)
NET "genio(112)" LOC = "AE39" | IOSTANDARD = LVDS; #lvdsp(6)
NET "genio(113)" LOC = "AD31" | IOSTANDARD = LVDS; #lvdsp(7)
NET "genio(114)" LOC = "AD39" | IOSTANDARD = LVDS; #lvdsn(6)
NET "genio(115)" LOC = "AD32" | IOSTANDARD = LVDS; #lvdsn(7)
NET "genio(116)" LOC = "AC39" | IOSTANDARD = LVDS; #lvdsn(4)
NET "genio(117)" LOC = "AD34" | IOSTANDARD = LVDS; #lvdsn(5)
NET "genio(118)" LOC = "AC38" | IOSTANDARD = LVDS; #lvdsp(4)
NET "genio(119)" LOC = "AE34" | IOSTANDARD = LVDS; #lvdsp(5)
NET "genio(120)" LOC = "AC35" | IOSTANDARD = LVDS; #lvdsp(2)
NET "genio(121)" LOC = "Y29"  | IOSTANDARD = LVDS; #lvdsp(3)
NET "genio(122)" LOC = "AB35" | IOSTANDARD = LVDS; #lvdsn(2)
NET "genio(123)" LOC = "AA30" | IOSTANDARD = LVDS; #lvdsn(3)
NET "genio(124)" LOC = "AA35" | IOSTANDARD = LVDS; #lvdsn(0)
NET "genio(125)" LOC = "Y31"  | IOSTANDARD = LVDS; #lvdsn(1)
NET "genio(126)" LOC = "AA34" | IOSTANDARD = LVDS; #lvdsp(0)
NET "genio(127)" LOC = "AA31" | IOSTANDARD = LVDS; #lvdsp(1)

NET "genio(128)" LOC = "AR3"  | IOSTANDARD=LVCMOS25;
NET "genio(129)" LOC = "AU3"  | IOSTANDARD=LVCMOS25;
NET "genio(130)" LOC = "AR2"  | IOSTANDARD=LVCMOS25;
NET "genio(131)" LOC = "AT3"  | IOSTANDARD=LVCMOS25;

NET "genio(132)" LOC = "AR1" | IOSTANDARD=LVCMOS25;
NET "genio(133)" LOC = "AP5" | IOSTANDARD=LVCMOS25;
NET "genio(134)" LOC = "AT1" | IOSTANDARD=LVCMOS25;
NET "genio(135)" LOC = "AN5" | IOSTANDARD=LVCMOS25;
NET "genio(136)" LOC = "AN4" | IOSTANDARD=LVCMOS25;
NET "genio(137)" LOC = "AP4" | IOSTANDARD=LVCMOS25;
NET "genio(138)" LOC = "AN3" | IOSTANDARD=LVCMOS25;
NET "genio(139)" LOC = "AM5" | IOSTANDARD=LVCMOS25;
NET "genio(140)" LOC = "AL6" | IOSTANDARD=LVCMOS25;
NET "genio(141)" LOC = "AN2" | IOSTANDARD=LVCMOS25;
NET "genio(142)" LOC = "AL3" | IOSTANDARD=LVCMOS25;
NET "genio(143)" LOC = "AP2" | IOSTANDARD=LVCMOS25;
NET "genio(144)" LOC = "AM3" | IOSTANDARD=LVCMOS25;
NET "genio(145)" LOC = "AK6" | IOSTANDARD=LVCMOS25;
NET "genio(146)" LOC = "AL4" | IOSTANDARD=LVCMOS25;
NET "genio(147)" LOC = "AL5" | IOSTANDARD=LVCMOS25;
NET "genio(148)" LOC = "AK4" | IOSTANDARD=LVCMOS25;
NET "genio(149)" LOC = "AP1" | IOSTANDARD=LVCMOS25;
NET "genio(150)" LOC = "AJ5" | IOSTANDARD=LVCMOS25;
NET "genio(151)" LOC = "AM2" | IOSTANDARD=LVCMOS25;
NET "genio(152)" LOC = "AK2" | IOSTANDARD=LVCMOS25;
NET "genio(153)" LOC = "AM1" | IOSTANDARD=LVCMOS25;
NET "genio(154)" LOC = "AH7" | IOSTANDARD=LVCMOS25;
NET "genio(155)" LOC = "AL1" | IOSTANDARD=LVCMOS25;
NET "genio(156)" LOC = "AH3" | IOSTANDARD=LVCMOS25;
NET "genio(157)" LOC = "AK1" | IOSTANDARD=LVCMOS25;
NET "genio(158)" LOC = "AK3" | IOSTANDARD=LVCMOS25;
NET "genio(159)" LOC = "AG7" | IOSTANDARD=LVCMOS25;

NET "genio(160)" LOC = "AH2" | IOSTANDARD=LVCMOS25;
NET "genio(161)" LOC = "AJ2" | IOSTANDARD=LVCMOS25;
NET "genio(162)" LOC = "AF9" | IOSTANDARD=LVCMOS25;
NET "genio(163)" LOC = "AG6" | IOSTANDARD=LVCMOS25;
NET "genio(164)" LOC = "AF8" | IOSTANDARD=LVCMOS25;
NET "genio(165)" LOC = "AJ1" | IOSTANDARD=LVCMOS25;
NET "genio(166)" LOC = "AH5" | IOSTANDARD=LVCMOS25;
NET "genio(167)" LOC = "AG5" | IOSTANDARD=LVCMOS25;

NET "genio(168)" LOC = "AG2" | IOSTANDARD=LVTTL;
NET "genio(169)" LOC = "AG1" | IOSTANDARD=LVTTL;
NET "genio(170)" LOC = "AG3" | IOSTANDARD=LVTTL;
NET "genio(171)" LOC = "AF1" | IOSTANDARD=LVTTL;
NET "genio(172)" LOC = "AF4" | IOSTANDARD=LVTTL;
NET "genio(173)" LOC = "AE2" | IOSTANDARD=LVTTL;
NET "genio(174)" LOC = "AF3" | IOSTANDARD=LVTTL;
NET "genio(175)" LOC = "AE1" | IOSTANDARD=LVTTL;

NET "pciga(0)" LOC = "V38" | IOSTANDARD=LVTTL;
NET "pciga(1)" LOC = "V39" | IOSTANDARD=LVTTL;
NET "pciga(2)" LOC = "W39" | IOSTANDARD=LVTTL;
NET "pciga(3)" LOC = "Y38" | IOSTANDARD=LVTTL;
NET "pciga(4)" LOC = "Y39" | IOSTANDARD=LVTTL;
